[2022-02-23 14:32] jeffeland commented on #1182
Would the following scenario be acceptable:
A developer get a namespace attributed to him with an SA that has the right to create pods but also buckets or dynamodb tables via the respective controllers but no IAM objects via the controller. This is where the RBAC from Kubernetes plays its role.
Then the S3 and DynamoDB controllers would have rights (but limited) to create IAM roles dedicated to th

[2022-02-23 14:32] jeffeland commented on #1182
I don't see an easy way to abuse the S3 and DynamoDB controllers to gain IAM access to other resources.

[2022-02-23 17:24] jaypipes commented on #1184
@brycahta spot on. let's do this!

[2022-02-23 17:39] vijtrip2 opened #1186 "[Runtime] Call `ensureConditions` method before invoking `handleRequeues` method"
1. Currently inside `reconciler.go`, the `handleRequeues` method is called *before* the `ensureConditions` method. Since `handleRequeues` logic relies on `ACK.ResourceSynced` condition the `handleRequeues` method should get called *after* the `ensureConditions` method .
2. `ensureConditions` method should use `AWSResourceManager.IsSynced()` method to determine the `ACK.ResourceSynced` condition st

[2022-02-23 18:18] vijtrip2 opened #1187 "[Runtime] Resolved references missing from desired Spec during rm.Create call"
Currently inside `reconciler.go`, the sequence of operations during resource creation is

The resolved references are important for building *ReadOne* and *Create* requests and the problem with above sequence is that the `kc.Patch` call from `setResourceManaged`(step 4) method restores the desired Spec from etcd and the resolved references(step 1) get reset.

The solution should make sure that res

[2022-02-23 19:58] vijtrip2 commented on #1187
There are multiple solution for this problem.

I propose the solution to be performing reference resolution again before the Create call. This is a simple solution without any side-effects. This solution introduces a very simple logic, reuses existing function code, and very low probability of introducing new bugs. The only disadvantage with this approach is the extra calls to API-server for resol

[2022-02-24 00:30] #1091 closed

[2022-02-24 19:30] #1150 closed

[2022-02-24 19:31] #1110 closed

[2022-02-24 19:43] RedbackThomson commented on #1187
I'm happy with that proposed solution. Copy around metadata and specs between various versions of the resources is not obvious or particularly understandable. I think if we can justify why we need to resolve the references within a comment on the line above it then that's the simplest solution. No one way doors here, so happy to make a move and see how it turns out.

[2022-02-24 23:26] vijtrip2 commented on #1156
I was able to reproduce the issue locally.

When the first update is made, i.e. multiAZ "true" -> "false", the update code path returns success, cluster goes into modifying state but the reconciler does not keep requeueing to sync the state.
When the parameter is changed again from "false" -> "true", which previous update is still being applied on RDS side, the Read API call still returns multiAZ

[2022-02-25 17:39] RedbackThomson commented on #1065
@brycahta Is there work left to do for this?

[2022-02-25 17:40] RedbackThomson commented on #1180
https://github.com/aws-controllers-k8s/code-generator/pull/294 Makes this possible now.

[2022-02-25 17:40] #1180 closed

[2022-02-25 17:48] brycahta commented on #1065
@RedbackThomson No work left.

I was going to resolve once we cut a release with these changes/fixes. If y'all have a different process feel free to resolve.

[2022-02-25 17:49] #1065 closed

[2022-02-25 18:08] #1167 closed

[2022-02-25 22:43] #1186 closed

[2022-02-28 16:47] vijtrip2 commented on #741
/lifecycle frozen

[2022-02-28 16:48] vijtrip2 commented on #657
Please reopen if the issue still exists.

[2022-02-28 16:48] #657 closed

[2022-02-28 16:49] vijtrip2 commented on #125
/lifecycle frozen

[2022-02-28 16:49] vijtrip2 commented on #921
/lifecycle frozen

[2022-02-28 16:49] vijtrip2 commented on #919
/lifecycle frozen

[2022-02-28 18:26] ack-bot opened #1189 "Errors while generating `sagemaker-controller` for ACK runtime `v0.17.1`"
### Errors while generating `sagemaker-controller` for ACK runtime `v0.17.1`

#### stdout for `make build-controller`:
[code]

#### stderr for `make build-controller`:
[code]

#### Steps for closing this issue:
1. Update sagemaker-controller `go.mod` file to update `aws-controllers-k8s/runtime` to v0.17.1
2. Run `go mod tidy` for sagemaker-controller
3. Successfully generate the service controller

[2022-02-28 18:58] vijtrip2 commented on #1189
/close

[2022-02-28 18:58] #1189 closed

[2022-02-28 22:06] RedbackThomson opened #1190 "Generate code for individual field update pattern"
**Is your feature request related to a problem?**
For both the S3 and RDS controllers, multiple properties on a resource can only be added, updated and deleted through calling individual requests. For example, the `Logging` property on an S3 bucket requires [`PutBucketLogging`](https://docs.aws.amazon.com/sdk-for-go/api/service/s3/#S3.PutBucketLogging) for create and update and [`GetBucketLogging`

[2022-03-01 14:01] A-Hilaly commented on #924
/lifecycle frozen

[2022-03-01 14:03] A-Hilaly commented on #949
/reopen
/lifecycle frozen

[2022-03-01 19:29] RedbackThomson opened #1191 "Deleting EKS cluster throws errors when nodegroups are still attached"
**Describe the bug**
When attempting to delete an EKS cluster which has nodegroups attached to it, the operation will reconcile (falling off exponentially) and return an [AWS 409 error](https://docs.aws.amazon.com/eks/latest/APIReference/API_DeleteCluster.html#API_DeleteCluster_Errors) corresponding to `ResourceInUseException`.

**Steps to reproduce**
1. Create an EKS cluster resource
2. Create an

[2022-03-01 20:09] RedbackThomson opened #1192 "EKS controller returns a `ResourceInUseException` after some update calls"
**Describe the bug**
When running the soak tests for the EKS controller, I found that the `UpdateClusterConfig` is returning [a 409 `ResourceInUseException`](https://docs.aws.amazon.com/eks/latest/APIReference/API_UpdateClusterConfig.html#API_UpdateClusterConfig_Errors) after we update `Spec.ResourcesVPCConfig.EndpointPublicAccess`, sometimes. The error looks like:
[code]

The controller hook code

[2022-03-02 16:15] brycahta opened #1193 "Re-encapsulate APIs and helpers in `generate/code` package"
### Summary
The `generate/code` package contains a significant amount of logic unrelated to generating code. Helpers like [FindIdentifiersForShape](https://github.com/aws-controllers-k8s/code-generator/blob/d9d3390a4d5d39ccd4cab4fbdb5cef356211b01a/pkg/generate/code/common.go#L33) and [getSortedLateInitFields](https://github.com/aws-controllers-k8s/code-generator/blob/d9d3390a4d5d39ccd4cab4fbdb5cef

[2022-03-02 16:23] #1191 closed

[2022-03-02 16:25] brycahta opened #1194 "Replace hard-coded use cases with templates in code-generator"
### Summary
Logic for ACK's use case is hard-coded in functions related to Go code generation. For example, `ack prefix` is used in [late_initialize.go](https://github.com/aws-controllers-k8s/code-generator/blob/d9d3390a4d5d39ccd4cab4fbdb5cef356211b01a/pkg/generate/code/late_initialize.go#L175) and `ackerrors` are used in [set_resource.go](https://github.com/aws-controllers-k8s/code-generator/blob

[2022-03-02 18:47] brycahta opened #1195 "Iterate over CRD Fields instead of operation shapes for code generation"
### Summary
`set_resource.go` and `set_sdk.go` iterate over an operation input/output shape's fields to generate Go code. However, when an operation shape's field does not align with a field in the CRD (i.e. different name), then additional processing such as checking `ackgenconfig` needs to be performed to reconcile the differences. There are 2 problems with the current approach:
* additional pro

[2022-03-02 19:33] brycahta opened #1196 "Launching an instance using `ec2-controller` service controller"
### Summary
Users should be able to launch and manage an EC2 Instance using `ec2-controller` service controller. The solution should be functional, align with the k8s experience, and _pragmatic_. For example, launching an instance should be possible with a single yaml file not requiring users to build up dependencies/infrastructure on their own.

### Context
This is the parent issue to track and i

[2022-03-02 19:36] ack-bot opened #1197 "Errors while generating `sagemaker-controller` for ACK runtime `v0.17.2`"
### Errors while generating `sagemaker-controller` for ACK runtime `v0.17.2`

#### stdout for `make build-controller`:
[code]

#### stderr for `make build-controller`:
[code]

#### Steps for closing this issue:
1. Update sagemaker-controller `go.mod` file to update `aws-controllers-k8s/runtime` to v0.17.2
2. Run `go mod tidy` for sagemaker-controller
3. Successfully generate the service controller

[2022-03-02 20:00] brycahta opened #1198 "Implement `update` functionality for `VPC` resource"
**Is your feature request related to a problem?**
[ec2-controller](https://github.com/aws-controllers-k8s/ec2-controller) supports Create/Delete functionality for `VPC` resource, but **not** [Update](https://github.com/aws-controllers-k8s/ec2-controller/blob/af432344f155be0761ed68724ff04c04b6e89bcf/pkg/resource/vpc/sdk.go#L427).

**Describe the solution you'd like**
I should be able to modify/upda

[2022-03-02 20:01] brycahta opened #1199 "Implement `update` functionality for `DHCPOptions` resource"
**Is your feature request related to a problem?**
[ec2-controller](https://github.com/aws-controllers-k8s/ec2-controller) supports Create/Delete functionality for `DHCPOptions` resource, but **not** [Update](https://github.com/aws-controllers-k8s/ec2-controller/blob/af432344f155be0761ed68724ff04c04b6e89bcf/pkg/resource/dhcp_options/sdk.go#L311).

**Describe the solution you'd like**
I should be ab

[2022-03-02 20:01] brycahta opened #1200 "Implement `update` functionality for `InternetGateway` resource"
**Is your feature request related to a problem?**
[ec2-controller](https://github.com/aws-controllers-k8s/ec2-controller) supports Create/Delete functionality for `InternetGateway` resource, but **not** [Update](https://github.com/aws-controllers-k8s/ec2-controller/blob/af432344f155be0761ed68724ff04c04b6e89bcf/pkg/resource/internet_gateway/sdk.go#L275).

**Describe the solution you'd like**
I shou

[2022-03-02 20:01] brycahta opened #1201 "Implement `update` functionality for `RouteTable` resource"
**Is your feature request related to a problem?**
[ec2-controller](https://github.com/aws-controllers-k8s/ec2-controller) supports Create/Delete functionality for `RouteTable` resource, but **not** [Update](https://github.com/aws-controllers-k8s/ec2-controller/blob/af432344f155be0761ed68724ff04c04b6e89bcf/pkg/resource/route_table/sdk.go#L462). _Note: although a customUpdateRouteTable() method is d

[2022-03-02 20:01] brycahta opened #1202 "Implement `update` functionality for `SecurityGroup` resource"
**Is your feature request related to a problem?**
[ec2-controller](https://github.com/aws-controllers-k8s/ec2-controller) supports Create/Delete functionality for `SecurityGroup` resource, but **not** [Update](https://github.com/aws-controllers-k8s/ec2-controller/blob/af432344f155be0761ed68724ff04c04b6e89bcf/pkg/resource/security_group/sdk.go#L247).

**Describe the solution you'd like**
I should b

[2022-03-02 20:01] brycahta opened #1203 "Implement `update` functionality for `Subnet` resource"
**Is your feature request related to a problem?**
[ec2-controller](https://github.com/aws-controllers-k8s/ec2-controller) supports Create/Delete functionality for `Subnet` resource, but **not** [Update](https://github.com/aws-controllers-k8s/ec2-controller/blob/af432344f155be0761ed68724ff04c04b6e89bcf/pkg/resource/subnet/sdk.go#L447).

**Describe the solution you'd like**
I should be able to modif

[2022-03-02 20:01] brycahta opened #1204 "Implement `update` functionality for `TransitGateway` resource"
**Is your feature request related to a problem?**
[ec2-controller](https://github.com/aws-controllers-k8s/ec2-controller) supports Create/Delete functionality for `TransitGateway` resource, but **not** [Update](https://github.com/aws-controllers-k8s/ec2-controller/blob/af432344f155be0761ed68724ff04c04b6e89bcf/pkg/resource/transit_gateway/sdk.go#L396).

**Describe the solution you'd like**
I should

[2022-03-02 20:01] brycahta opened #1205 "Implement `update` functionality for `VPCEndpoint` resource"
**Is your feature request related to a problem?**
[ec2-controller](https://github.com/aws-controllers-k8s/ec2-controller) supports Create/Delete functionality for `VPCEndpoint` resource, but **not** [Update](https://github.com/aws-controllers-k8s/ec2-controller/blob/af432344f155be0761ed68724ff04c04b6e89bcf/pkg/resource/vpc_endpoint/sdk.go#L522).

**Describe the solution you'd like**
I should be ab

[2022-03-02 20:02] brycahta commented on #489
As of `v0.0.8`, [ec2-controller](https://github.com/aws-controllers-k8s/ec2-controller) supports Create/Delete functionality for the resources listed above. An issue to track implementing `update` functionality for each resource has been opened in [community issues](https://github.com/aws-controllers-k8s/community/issues?q=is%3Aissue+is%3Aopen+implement+update+in%3Atitle).

In the meantime, the se

[2022-03-02 21:11] #1197 closed

[2022-03-02 21:14] Ross-Duckworth-Pharos opened #1206 "`s3-controller` fails to sync buckets created in regions which do not support Transfer Acceleration"
**Describe the bug**
If you create an s3 bucket resource in a region such as `af-south-1`, then the `s3-controller` will fail to sync its specification because it is unconditionally calling the S3 API `GetBucketAccelerateConfiguration` which is not allowed for certain regions, as documented here: https://docs.aws.amazon.com/AmazonS3/latest/userguide/transfer-acceleration.html. This aborts the rest

[2022-03-04 08:01] vijtrip2 commented on #964
/lifecycle frozen

[2022-03-04 08:03] vijtrip2 commented on #966
/lifecycle frozen

[2022-03-04 08:05] vijtrip2 commented on #965
/lifecycle frozen

[2022-03-04 17:36] #1192 closed

[2022-03-04 17:39] #1187 closed

[2022-03-04 17:56] #1146 closed

[2022-03-07 16:55] vijtrip2 opened #1207 "Tutorial for apigatewayv2 controller using resource references"
**What is the URL of the document?**

https://aws-controllers-k8s.github.io/community/docs/tutorials/apigatewayv2-example/

**Which section(s) is the issue in?**

TUTORIALS

**What needs fixing?**

Nothing needs to be fixed. This new tutorial will guide the customers with creating API Gatewayv2 resources using the new reference fields in the CRDs.

[2022-03-07 19:09] A-Hilaly opened #1208 "`SetSDK` doesn't properly set renamed fields for `ReadMany` operation types"
**Describe the bug**
`SetSDK` doesn't properly set renamed fields for `ReadMany` operation types

**Steps to reproduce**

Rename `RepositoryName` field of the `Repository` CRD, and regenerate the ecr-controller:

The generated code of `newListRequestPayload` looks like
[code]

**Expected outcome**

[code]

**Environment**

* ack-generate `v0.17.2`

[2022-03-07 20:28] brycahta opened #1209 "Refactor to remove duplicate creation of `ackmodel` in pipeline"
### Summary
The code-generator takes [ackmodel](https://github.com/aws-controllers-k8s/code-generator/blob/02795c2056e23e1bb11dcc928ad0f0ba29790a8c/pkg/model/model.go#L37) as an input (i.e. CRDs), processes the data alongside config, and applies templates against the updated data to output Go code. Each command in the pipeline, `api` and `controller`, constructs `ackmodel` itself, which is ineffic

[2022-03-07 23:32] RedbackThomson commented on #1171
Probably this little guy: https://github.com/aws-controllers-k8s/code-generator/blob/main/templates/cmd/controller/main.go.tpl#L90

[2022-03-08 15:37] jaypipes commented on #869
@robertgates55 yes, you can definitely set parameters. The problem is when you try to update certain parameters...

[2022-03-10 15:39] AmirCuric opened #1211 "CognitoIdentityProvider service controller"
## New ACK Service Controller

Support for Cognito User Pool

### List of API resources

List the API resources in order of importance to you:

1) Cognito User Pool

[2022-03-10 19:47] RedbackThomson commented on #1211
/lifecycle frozen

[2022-03-11 00:35] RedbackThomson opened #1212 "Resource references don't support nested field paths"
**Describe the bug**
When trying to add a reference on a nested field path, the code generator simply ignores the field.

**Steps to reproduce**
From the EKS controller:
[code]

**Expected outcome**
The `ResourceVpcConfig` type should now contain a `SecurityGroupsRef` field with a slice of `SecurityGroup` references, as it would if it were a root spec field.

[2022-03-11 00:40] RedbackThomson opened #1213 "Resource references don't support ARNs"
**Describe the bug**
ACK stores ARNs in the `Status.ACKResourceMetadata.ARN` field. `ARN` is an `AWSResourceName` type, which is an alias of `string`, but Go code does not implicitly cast between these types:
[code]

This leads to a compilation error:
[code]

**Steps to reproduce**
From the EKS controller:
[code]

**Expected outcome**
The code-generator should cast the value appropriately. `Status

[2022-03-11 00:48] RedbackThomson opened #1214 "Resource references check for nil in an unsafe way"
**Describe the bug**
`references.go` contains a nil check to ensure a property exists on the referenced object before it is injected into the field. This looks like the following:
[code]

While this works for parent-level fields on `Spec` and `Status`, it incorrectly checks for nil on nested fields. For instance:
[code]

This code may panic if `ACKResourceMetadata` is a `nil` struct. The behaviour

[2022-03-11 01:39] RedbackThomson opened #1215 "Support VPC attributes"
**Is your feature request related to a problem?**
I need [`DnsSupport` and `DnsHostnames`](https://docs.aws.amazon.com/sdk-for-go/api/service/ec2/#DescribeVpcAttributeOutput.SetEnableDnsHostnames) on the EC2 `VPC` resource, to create nodegroups for an EKS cluster. These are supported through the [`ModifyVpcAttribute`](https://docs.aws.amazon.com/sdk-for-go/api/service/ec2/#EC2.ModifyVpcAttribute)

[2022-03-11 01:45] RedbackThomson opened #1216 "Support attachment of `InternetGateway` to `VPC`"
**Is your feature request related to a problem?**
The EC2 controller currently supports creating an `InternetGateway` resource, but does not support the `InternetGatewayAttachment` which means you can't mount it to a `VPC` without doing so manually. `InternetGatewayAttachment` does not warrant its own resource, since it does not have an identifier of its own. It would be more appropriate to put a

[2022-03-11 01:56] RedbackThomson opened #1217 "Support `NATGateway` in the ec2-controller"
**Is your feature request related to a problem?**
I need the `NATGateway` resource in order to create private routes for a private subnet.

**Describe the solution you'd like**
A new `NATGateway` resource that is as well supported as `InternetGateway`

[2022-03-11 02:00] RedbackThomson opened #1218 "Support Elastic IP in the ec2-controller"
**Is your feature request related to a problem?**
I need an Elastic IP to allocate for a `NATGateway` in my private subnets. This is supported in the AWS SDK for Go as [`AllocateAddress`](https://docs.aws.amazon.com/sdk-for-go/api/service/ec2/#EC2.AllocateAddress).

**Describe the solution you'd like**
A new `ElasticIP` or `EIP` resource

[2022-03-11 02:10] RedbackThomson opened #1219 "Support association of `RouteTable` to `Subnet` in ec2-controller"
**Is your feature request related to a problem?**
The EC2 controller currently supports creating a `Subnet` and a `RouteTable` resource, but does not support a way to associate the two. Since a `SubnetRouteTableAssociation` does not have a unique identifier, it does not warrant its own resource. It would be more appropriate to place a list of associated `RouteTable` as a field in the spec of `Subn

[2022-03-11 14:58] A-Hilaly opened #1220 "Add an AWS `Region` field to `ResourceMetadata` in CRDs status"
Currently, when a resource is created without setting a region in the annotations, the controller uses either the namespace `services.k8s.aws/default-region` annotation or the `--region` flag used to start the controller.

If a second controller is running using a different `--region` flag or running in a different namespace (configured with a different default-region), it will try to reconcile th

[2022-03-12 19:08] robertgates55 commented on #869
Hey, so I've definitely got an instance of this not working.

Helm version - `rds-chart`: `v0.0.19`

My object:
[code]

But, my resource via the console shows that none of the params have been set:
<img width="1215" alt="image" src="https://user-images.githubusercontent.com/7437497/158031506-5f9d1921-43d9-4b06-a169-b3b229fb3c4e.png">

Any advice on which of these might be causing my troubles? Is t

[2022-03-14 14:44] jaypipes commented on #869
@robertgates55 I will need to look further into this. I will create a new e2e test in the rds-controller with your example above and reproduce.

[2022-03-14 18:29] #1208 closed

[2022-03-14 23:20] RedbackThomson opened #1221 "Regenerate EC2 with all resource references"

[2022-03-14 23:21] #1221 closed

[2022-03-14 23:38] RedbackThomson opened #1222 "`ClientToken` included in ec2-controller types"
**Describe the bug**
The `ClientToken` field in an AWS request should not be exposed to users as it is only related to the SDK methods. I can see this in `VPCEndpoint.Spec`, as well as a number of structs in `types.go`. These should be included in the `ignore.field_paths` of the generator config.

**Environment**

* Kubernetes version
* Using EKS (yes/no), if so version?
* AWS service targeted (S3

[2022-03-15 03:25] #1105 closed

[2022-03-15 03:42] #1099 closed

[2022-03-15 14:54] robertgates55 commented on #869
Let me know if I can help in any way. Should I raise a specific ticket maybe?

[2022-03-15 15:03] jaypipes commented on #869
No need for separate ticket. I'll use this one :)

[2022-03-15 16:44] RedbackThomson opened #1223 "Support custom documentation for fields"
**Is your feature request related to a problem?**
A lot of the auto-generated field documentation is insufficient. Especially when using custom fields, the field documentation is related to the underlying type of the field rather than its purpose to the user. This is also evident on all of the `ACKResourceMetadata` fields, which even include example code blocks in their docs.

**Describe the solut

[2022-03-15 17:39] joshuamoreno1 opened #1224 "Environment variables missing in deployment Kustomization"
**Describe the bug**
When I deployed manually the controller using the kubernetes manifiest, when I created lambdas the controller did not react to those new resources.

**Steps to reproduce**
Deploy the controller using the config folder

**Expected outcome**
I expect the lambdas were created.

**Environment**
Development

* Kubernetes version
* Using EKS (yes/no), if so version?
* AWS service ta

[2022-03-15 17:55] joshuamoreno1 opened #1225 "Error: Code signing is not supported for functions created with container images. but I'm not setting codeSigningConfigARN"
**Describe the bug**
I'm trying to create a lambda function using a container image but i'm getting an error:

[code]
xxxxx values is just for security reasons.

 The problem is that controller creates the lambda function rightly in AWS but the resource in kubernetes is getting a state pending and in controller's logs, it prints the next error:

[code]

The status:

[code]

**Steps to reproduce**

[2022-03-15 18:54] RedbackThomson commented on #1224
The `ACK_RESOURCE_TAGS` do not have anything to do with a controller detecting the resource. I would be more interested in seeing the manifests you applied to the cluster and the methods you used to deploy the controller using the Kustomization manifests.

[2022-03-15 19:13] jaypipes commented on #1225
@joshuamoreno1 Hi! Can you let us know what version of the lambda-controller you are using? Thanks!

[2022-03-15 19:22] joshuamoreno1 commented on #1225
Hi, v0.0.11.

[2022-03-15 21:48] RedbackThomson commented on #1224
Ah yes, I see now. Our [Helm charts](https://github.com/aws-controllers-k8s/lambda-controller/blob/main/helm/templates/deployment.yaml#L66-L82) include these environment variables with default values, but we have not extended these same options into the Kustomization files.

Great catch!

[2022-03-16 09:21] oleg-yudovich opened #1228 "ElastiCache controller unable to sync resources"
**Describe the bug**
When creating the ElastiCache cluster, we apply CRs in this order:
1. User
2. UserGroup
3. CacheSubnetGroup
4. ReplicationGroup

When applying for the first time, ReplicationGroup status has an error:
`CacheSubnetGroupNotFoundFault: Cache Subnet Group xxx does not exist.\n\tstatus code: 400, request id: yyy`

CacheSubnet group was created successfully. As expected, I can see t

[2022-03-16 12:00] A-Hilaly commented on #1225
Hi @joshuamoreno1 ! Thanks for reporting this issue, I'll send a fix in within the upcoming days.
Duplicate of #1117

[2022-03-16 14:59] joshuamoreno1 commented on #1224
Thanks a lot!!

[2022-03-16 20:45] RedbackThomson commented on #1228
Hey @oleg-yudovich , thanks for reaching out.

I see `CacheSubnetGroupNotFoundFault` is listed as a [`terminal_code`](https://github.com/aws-controllers-k8s/elasticache-controller/blob/main/generator.yaml#L29) in your controller. This means that our controllers have been told not to retry when we see that error.

You're right that this is a bug, because we want to keep retrying until the `CacheSub

[2022-03-17 14:57] #1224 closed

[2022-03-18 15:59] A-Hilaly opened #1230 "Metadata and Spec are not patched when `rm.ReadOne` call fails"
**Describe the bug**
Currently, the `resourceReconciler.createResource` function calls both of [`rm.Create` and `rm.ReadOne` functions sequentially](https://github.com/aws-controllers-k8s/runtime/blob/main/pkg/runtime/reconciler.go#L366-L378). In some APIs like the ECR one calling a `DescribeRepository` right after a `CreateRepository` can fail and return a `NotFound` error, which causes the contr

[2022-03-18 17:40] erhudy commented on #482
I too am interested in this. I think it's worth distinguishing between the IssueCertificate and RequestCertificate API calls, because they do different things. The cert-manager plugin for ACMPCA seems to only do IssueCertificate, which is an ACMPCA-exclusive call - this requires you to generate a key and CSR and submit it to the PCA, and then you get a certificate back. It does not seem to support

[2022-03-21 16:51] vijtrip2 opened #1231 "Nil check missing inside rm.IsSynced method"
The current [auto-generated code](https://github.com/aws-controllers-k8s/apigatewayv2-controller/blob/main/pkg/resource/vpc_link/manager.go#L260) for IsSynced method is not performing nil check on fields before dereferencing them. This lead to panic during resource reconciliation for apigatewayv2 VPCLink resource.

While determining the Synced condition, Adding a nil check before dereferencing the

[2022-03-21 20:28] vijtrip2 commented on #1230
My 2 cents:

Why not lateInitialize `RegistryID` field ? I think that will solve the problem.

I think ignoring the `NotFoundError` from *ReadOne*(after *Create*) can introduce a rare status patching edge case and adding custom exponential retries on sdk *ReadOne* call seems an overkill here.

*Rare Status Patching EdgeCase*: If the `NotFoundError` is ignored from ReadOne(after Create), the `lates

[2022-03-21 23:26] vijtrip2 commented on #859
/lifecycle frozen

[2022-03-22 12:58] A-Hilaly commented on #1230
I run the soak tests with multiple new versions of the controller one of them added late initialization to the `RegistryID` field, still saw the same issue during the soak tests. I will re-run another one today and publish the findings here.

That exactly the problem, that was causing the ecr-controller to panic on startup for multiple hours. Triggering the `Update` code block causes the controlle

[2022-03-22 16:41] vijtrip2 commented on #1230
👍

Wouldn't a nil check for `RegistryID` handle this case? Just curious?

👍

[2022-03-22 18:17] RedbackThomson commented on #740
Done! https://github.com/aws-controllers-k8s/runtime/pull/75

[2022-03-22 18:17] #740 closed

[2022-03-22 18:18] RedbackThomson commented on #292
`FieldExport` was designed to fix this problem. Check out the pull request for it here:
https://github.com/aws-controllers-k8s/runtime/pull/75

And the documentation for it here:
https://aws-controllers-k8s.github.io/community/reference/common/v1alpha1/fieldexport/

[2022-03-22 20:35] ack-bot opened #1233 "Errors while generating `sagemaker-controller` for ACK runtime `v0.18.0`"
### Errors while generating `sagemaker-controller` for ACK runtime `v0.18.0`

#### stdout for `make build-controller`:
[code]

#### stderr for `make build-controller`:
[code]

#### Steps for closing this issue:
1. Update sagemaker-controller `go.mod` file to update `aws-controllers-k8s/runtime` to v0.18.0
2. Run `go mod tidy` for sagemaker-controller
3. Successfully generate the service controller

[2022-03-22 21:03] #1231 closed

[2022-03-22 21:04] #1063 closed

[2022-03-22 21:06] #935 closed

[2022-03-22 21:56] RedbackThomson commented on #1218
Added in https://github.com/aws-controllers-k8s/ec2-controller/pull/39

[2022-03-22 21:56] #1218 closed

[2022-03-22 21:57] RedbackThomson commented on #1215
Added in https://github.com/aws-controllers-k8s/ec2-controller/pull/38

[2022-03-22 21:57] #1215 closed

[2022-03-22 22:51] RedbackThomson commented on #1206
I searched through as much documentation as I could find for each S3 property, and this seems to be the only one that has different requirements for opt-in regions. Please lmk if there are other services that have special needs for af-south-1! This is a big thing I hadn't considered.

[2022-03-22 23:25] RedbackThomson commented on #1206
Fixed with https://github.com/aws-controllers-k8s/s3-controller/pull/72

Unfortunately this fix didn't make it into `v0.0.16` of the s3-controller. Let me know if you urgently need this and I can cut a `v0.0.17` for it.

[2022-03-22 23:25] #1206 closed

[2022-03-23 00:40] RedbackThomson opened #1234 "Early resolve references returns a false positive error"
**Describe the bug**
When using a resolved reference, the reconciler will throw a false positive just before it attempts to create the resource, due to the initial `ResolveReferences` setting the Spec fields.

The initial [`ResolveReferences`](https://github.com/aws-controllers-k8s/runtime/blob/main/pkg/runtime/reconciler.go#L223) (called before `ReadOne`) resolves the `*Ref` fields on the object

[2022-03-23 05:45] vijtrip2 commented on #1234
This is the happy case and it is supported. APIGWv2 e2e tests validate this. However I did miss handling a common failure scenario(explained below). I will fix it ASAP. Sorry for the churn.

---

The second reference resolution should only happen once during the resource creation because when the finalizer is added and resource is patched, the resolved references get omitted. However if the resour

[2022-03-23 06:16] vijtrip2 commented on #1156
The latest release v0.0.20 should have fix for this issue.

[2022-03-23 06:16] #1156 closed

[2022-03-23 14:24] brycahta opened #1235 "Improve `ec2-controller` e2e tests by validating resource data"
### Summary
The initial resources for `ec2-controller` did not ship with a lot of functionality-- mostly create/delete. The e2e tests reflect this behavior and only check for resource *existence*. In other words, user-provided data in the Spec is **not** validated against AWS. As we continue adding functionality to `ec2-controller`, we should also improve the tests to validate **data** in addition

[2022-03-23 17:21] shopizer-ecommerce opened #1236 "apigatewayv2 v0.0.17 fails to run"
**Describe the bug**
apigatewayv2 v0.0.17 pods fail to run after installation was complete.

**Steps to reproduce**

Install from Helm as recommended here https://aws-controllers-k8s.github.io/community/docs/user-docs/install/
Installed serviceaccount and IAM policies as recommended here https://aws-controllers-k8s.github.io/community/docs/user-docs/irsa/

**Expected outcome**
A concise descriptio

[2022-03-23 20:44] brycahta commented on #1205
`ModifyVpcEndpoint` is an ignored operation in [generator.yaml](https://github.com/aws-controllers-k8s/ec2-controller/blob/350d55f14d2c083431ddceb58054d55c253eb5b5/generator.yaml#L4).

Note, resource will not be in `ACK.ResourceSynced` condition if users do not provide a `policyDocument` in the Spec because AWS will set a default `policyDocument` if not provided. The resulting diff will trigger _u

[2022-03-23 22:16] vijtrip2 commented on #1236
Hi @shopizer-ecommerce , Thanks for reporting the bug. This got fixed in release v0.0.18
Please upgrade to the apigateway-controller release v0.0.18 . Cheers!

[2022-03-23 22:16] #1236 closed

[2022-03-24 12:43] jaypipes commented on #1205
@brycahta sounds like `policyDocument` should be `lateInitiailized`?

[2022-03-24 16:24] vijtrip2 commented on #1234
PR merged now. This issue should be fixed with next controller release.

[2022-03-24 18:02] #1234 closed

[2022-03-24 18:34] RedbackThomson commented on #1217
Implemented with https://github.com/aws-controllers-k8s/ec2-controller/pull/43

[2022-03-24 18:34] #1217 closed

[2022-03-24 21:55] acornett21 opened #1238 "All newly release controllers fail to start on OpenShift"
**Describe the bug**
All new controllers with runtime of `v0.18.0` fail to start. This appears to be caused by a change in the `deployment.yaml.tpl` in the code generator, in this [PR](https://github.com/aws-controllers-k8s/code-generator/commit/0b5dc38297ec74d54da4dd326a3988dc3de68b78)

**Steps to reproduce**
1. Install any operator that was released as part of `v0.18.0` runtime in an OpenShift c

[2022-03-24 22:05] acornett21 commented on #1238
**Thoughts on fixes/approaches**
- We need to figure out why `""` is being dropped and by which tool, all of my thoughts after this assume this has been fixed.

**Approach One**

- Once defaults are in place and working properly
   - Change `user-env.yaml.tpl` to populate `env` instead of `envFrom`
   - Not sure if this will work properly since `kustomize` is overlaying this file after the fact, i

[2022-03-24 22:09] acornett21 commented on #1238
/assign

[2022-03-25 15:36] #1220 closed

[2022-03-25 15:47] a-hilaly opened #1239 "Delta code generation for field of type `SecretKeyReference`"
**Describe the bug**
`ack-generate` doesn't generate delta code that correctly compares two arrays of `SecretKeyReference`.

**Steps to reproduce**

Generate memorydb-controller with `ack-generate` v0.18.0 and lookup `pkg/resources/usesr/delta.go#L54`
The generated code looks like:
[code]

**Expected outcome**
Should generate code that correctly compares two arrays of `SecretKeyReference`

**Envir

[2022-03-25 18:49] ack-bot opened #1240 "Errors while generating `sagemaker-controller` for ACK runtime `v0.18.1`"
### Errors while generating `sagemaker-controller` for ACK runtime `v0.18.1`

#### stdout for `make build-controller`:
[code]

#### stderr for `make build-controller`:
[code]

#### Steps for closing this issue:
1. Update sagemaker-controller `go.mod` file to update `aws-controllers-k8s/runtime` to v0.18.1
2. Run `go mod tidy` for sagemaker-controller
3. Successfully generate the service controller

[2022-03-28 14:27] vijtrip2 commented on #920
/lifecycle frozen

[2022-03-28 16:07] jjtroberts opened #1241 "Twistlock CVE Findings"
**Describe the bug**
At [Platform One](https://software.af.mil/team/platformone/) we continuously scan hardened images using Twistlock, Anchore, and OpenSCAP. Our recent scans returned findings for go1.17.5 on a number of controller images:

- public.ecr.aws/aws-controllers-k8s/apigatewayv2-controller:v0.0.19
- public.ecr.aws/aws-controllers-k8s/dynamodb-controller:v0.0.18
- public.ecr.aws/aws-con

[2022-03-28 21:39] RedbackThomson commented on #1241
Thanks for reaching out, Joe!
We build the binaries for our controllers using [*this Dockerfile*](https://github.com/aws-controllers-k8s/code-generator/blob/main/Dockerfile#L6). We have it pinned to 1.17.5, as that was the latest 1.17.x released when we last updated it.

We would like to switch to using the golang image from https://github.com/aws/eks-distro-build-tooling as our base, but that [ha

[2022-03-29 02:25] jjtroberts commented on #1241
That would be helpful, thank you.

[2022-03-29 15:56] jaypipes commented on #1241
Yes, @RedbackThomson let's go ahead and do that please!

[2022-03-29 15:58] vijtrip2 commented on #1111
/lifecycle frozen

[2022-03-29 21:33] RedbackThomson commented on #1241
I've created pull requests with new releases for each of the controllers you've listed in this issue. All controllers will have updated Go versions when the next wave of runtime releases are made:

https://github.com/aws-controllers-k8s/elasticache-controller/pull/86
https://github.com/aws-controllers-k8s/apigatewayv2-controller/pull/35
https://github.com/aws-controllers-k8s/s3-controller/pull/74

[2022-03-30 13:43] jjtroberts commented on #1241
@RedbackThomson that is very gracious of you. Thanks for taking the time to update those repos. I should mention that we do have two other controllers we're tracking: `ecr` and `sns` in this [project](https://repo1.dso.mil/dsop/aws/aws-controllers-k8s).

https://github.com/aws-controllers-k8s/ecr-controller
https://github.com/aws-controllers-k8s/sns-controller

[2022-03-30 16:37] #1212 closed

[2022-03-30 16:37] #1213 closed

[2022-03-30 18:27] RedbackThomson commented on #1241
The SNS controller has not had an official release, so there is nothing for me to do there. But I can do `ecr` 👍🏼

[2022-03-30 19:04] RedbackThomson commented on #1241
Thanks @vijtrip2 for all of the fast reviews and merged. The newest ECR controller release should contain these changes now too.

Let me know if there is anything more that needs fixing! Otherwise, we should be good to go for now.

[2022-03-30 19:04] #1241 closed

[2022-03-30 20:08] #1219 closed

[2022-03-31 20:42] ack-bot opened #1244 "Errors while generating `sagemaker-controller` for ACK runtime `v0.18.1`, code-generator `v0.18.2`"
### Errors while generating `sagemaker-controller` for ACK runtime `v0.18.1`, code-generator `v0.18.2`

#### stdout for `make build-controller`:
[code]

#### stderr for `make build-controller`:
[code]

#### Steps for closing this issue:
1. Update sagemaker-controller `go.mod` file to update `aws-controllers-k8s/runtime` to v0.18.1
2. Run `go mod tidy` for sagemaker-controller
3. Successfully gener

[2022-04-01 16:35] vijtrip2 commented on #1240
duplicate of https://github.com/aws-controllers-k8s/community/issues/1244

[2022-04-01 16:35] #1240 closed

[2022-04-01 16:35] vijtrip2 commented on #1233
duplicate of https://github.com/aws-controllers-k8s/community/issues/1244

[2022-04-01 16:35] #1233 closed

[2022-04-01 16:41] vijtrip2 commented on #1244
waiting on https://github.com/aws-controllers-k8s/sagemaker-controller/pull/153

[2022-04-01 16:44] vijtrip2 commented on #1244
This in important to resolve since this controller generation will bring important security fixes.
cc @surajkota @ryansteakley

[2022-04-01 16:52] vijtrip2 commented on #1239
The key comparison for the SecretKeyReference will be implemented. However comparison of actual password will not be implemented in the solution because the observed state of resource does not return the password value.

[2022-04-04 09:48] robertgates55 commented on #869
@jaypipes Any update on this? Can we help in any way to reproduce etc?

[2022-04-04 14:18] awsandy opened #1246 "Use CARM for namespace based IAM policies"
HI,

Use case: With a cluster based installation of the ACK controllers - I want to still use namespace specific IAM roles in my multi-tenant cluster.

If possible? -  I'd like to propose being able to use CARM to pass a namespace name rather than an account ID and then use this to map to a specific namespace IAM role within a single account

I've tested this and it does currently work, but it's n

[2022-04-04 17:05] vijtrip2 commented on #879
/lifecycle frozen

[2022-04-05 10:46] oleg-yudovich opened #1250 "ReplicationGroup adoption bug"
**Describe the bug**
When trying to adapt the existing replication group by applying:

[code]
`ack-elasticache-controller` reconcile is failing:

"INFO	adoption.adopted-reconciler	starting adoption reconciliation	{"target_group": "elasticache.services.k8s.aws", "target_kind": "ReplicationGroup", "namespace": "***", "name": "***", "generation": 1} 1.6491549222661903e+09	ERROR	controller.adoptedreso

[2022-04-05 13:51] dspaxton opened #1251 "RDS `EnablePerformanceInsights` delta failing"
**Describe the bug**
Creation of an RDS instance using the controller results in the instance not stabilising to the point of being able to use it.
**Steps to reproduce**

Following steps outlined in https://aws.amazon.com/blogs/database/deploy-amazon-rds-databases-for-applications-in-kubernetes/ when I come to create the instance, it constantly seems to be either  resetting master credentials, co

[2022-04-05 21:17] dspaxton commented on #1251
Apologies, after re-running a 3rd time it appears to be working now.

[2022-04-05 22:15] ack-bot opened #1252 "Errors while generating `sagemaker-controller` for ACK runtime `v0.18.3`, code-generator `v0.18.3`"
### Errors while generating `sagemaker-controller` for ACK runtime `v0.18.3`, code-generator `v0.18.3`

#### stdout for `make build-controller`:
[code]

#### stderr for `make build-controller`:
[code]

#### Steps for closing this issue:
1. Update sagemaker-controller `go.mod` file to update `aws-controllers-k8s/runtime` to v0.18.3
2. Run `go mod tidy` for sagemaker-controller
3. Successfully gener

[2022-04-05 22:58] RedbackThomson commented on #1251
Oh. Was there anything we should update in the docs that would make it more clear?

[2022-04-05 23:00] dspaxton commented on #1251
Hmm I just had a thought. I did make a change to the type of deployment. I'll keep open and test again in the morning.

[2022-04-06 04:53] MengJueM commented on #222
@max-lobur Hi, per checking the documentation mentioned (https://docs.aws.amazon.com/eks/latest/userguide/iam-roles-for-service-accounts.html), the required step yet includes to create the oidc provider. As the iam-controller is yet released status, does that mean we can don't have to set up the oidc provider webhook at all and can be totally replaced by the iam controller? It would be appreciated

[2022-04-06 04:55] oleg-yudovich commented on #1250
Hi @RedbackThomson , thanks for the quick response.
When running `aws elasticache describe-replication-groups --replication-group-id ***`, I see the description in the JSON response body.

[2022-04-06 06:54] robertgates55 commented on #1086
/remove-lifecycle rotten

[2022-04-06 15:06] max-lobur commented on #222
With EKS, the OIDC provider is created automatically https://docs.aws.amazon.com/eks/latest/userguide/enable-iam-roles-for-service-accounts.html The manual shows how to fetch the existing provider URL

iam-controller proposed in this issue does not interfere with OIDC. The controller only creates the IAM role. Then the role is used via "IAM roles for service account" feature as usual

[2022-04-06 16:41] vijtrip2 commented on #1087
/lifecycle frozen

[2022-04-06 18:09] RedbackThomson commented on #1250
Hmm yeah okay I think we will need to dig into this one further, then. There may be a problem with translating the description back into a K8s object.

[2022-04-07 19:43] ack-bot opened #1253 "Missing `olmconfig.yaml` in `memorydb-controller`"
### Missing `olmconfig.yaml` in `memorydb-controller`

#### Steps for closing this issue:
1. Checkout [`memorydb-controller`](https://github.com/aws-controllers-k8s/memorydb-controller) repository
2. Add `olm/olmconfig.yaml` file in [`memorydb-controller`](https://github.com/aws-controllers-k8s/memorydb-controller) repository.
You can look at [`s3-controller`](https://github.com/aws-controllers-k8

[2022-04-07 19:55] RedbackThomson commented on #1253
Created https://github.com/aws-controllers-k8s/memorydb-controller/blob/main/olm/olmconfig.yaml

[2022-04-07 19:56] #1253 closed

[2022-04-07 20:00] ack-bot opened #1254 "Missing `olmconfig.yaml` in `memorydb-controller`"
### Missing `olmconfig.yaml` in `memorydb-controller`

#### Steps for closing this issue:
1. Checkout [`memorydb-controller`](https://github.com/aws-controllers-k8s/memorydb-controller) repository
2. Add `olm/olmconfig.yaml` file in [`memorydb-controller`](https://github.com/aws-controllers-k8s/memorydb-controller) repository.
You can look at [`s3-controller`](https://github.com/aws-controllers-k8

[2022-04-07 20:15] #1254 closed

[2022-04-07 20:18] #1244 closed

[2022-04-07 21:02] #1171 closed

[2022-04-07 21:04] RedbackThomson commented on #1132
Sorry, forgot to update this when we merged `FieldExport`. Check it out - https://aws-controllers-k8s.github.io/community/docs/user-docs/field-export/

[2022-04-07 21:04] #1132 closed

[2022-04-07 21:15] doctorpangloss commented on #1132
👏

[2022-04-08 16:29] #1214 closed

[2022-04-08 19:56] RedbackThomson opened #1256 "Resource references within a list of structs"
**Is your feature request related to a problem?**
Some controllers have lists of structs which containing references to other resources. These are currently not supported within the resource reference generator, nor are they supported by the runtime resource reconciler.

For example, the EC2 controller contains a list of `Routes` within the `RouteTable` CRD. Each of these is taken from the [`Creat

[2022-04-11 12:32] oleg-yudovich commented on #1250
Do you guys have the estimation on this one?
It is a blocker for us because we can't get around this issue. All the adoption logic happens on the controller side.
Many thanks for considering my request.

[2022-04-11 22:39] RedbackThomson commented on #1250
I'll look into it today and gauge how big the problem is. I'll get back to you on this

[2022-04-11 22:59] RedbackThomson commented on #1250
Okay I have figured out what's happening here. We have duplicated fields between the `Spec` and `Status` of the `ReplicationGroup` CRD. In the `Spec` we have `ReplicationGroupDescription` and in the `Status` we have `Description`. These are both referring to the same field on the object, but one is being used only for the `CreateReplicationGroup` request and the other is being returned by the `Des

[2022-04-12 22:50] RedbackThomson commented on #1250
@oleg-yudovich https://github.com/aws-controllers-k8s/elasticache-controller/releases/tag/v0.0.18 ! Should be all sorted, now. Please try it out and let me know.

[2022-04-12 22:50] #1250 closed

[2022-04-13 06:48] oleg-yudovich commented on #1250
@RedbackThomson validated replication group adoption with v0.0.18, all works just fine.
Thanks a lot for the quick fix.

[2022-04-13 12:50] ddmedvedev opened #1257 "Allow DBInstance to reference DBSubnet resources"
**Describe the bug**
This bug is very similar to [this one](https://github.com/aws-controllers-k8s/community/issues/1228) but relates to RDS.
When creating RDS instance I'm trying to create such resources:
- secret (`apiVersion: v1, kind: Secret`)
- db subnet group (`apiVersion: rds.services.k8s.aws/v1alpha1, kind: DBSubnetGroup`)
- db instance (`apiVersion: rds.services.k8s.aws/v1alpha1, kind: DB

[2022-04-13 15:31] robertgates55 opened #1258 "Ability to use reference KMS key with RDS via Name rather than ARN"
In RDS `crd`s, `kmsKeyId` expects an ARN (or alias).

I can create a KMS Key using the kmscontroller, but the ARN is obviously not available until the AWS resource is created.

Is there any way to use the `kmsKey*Name*` or similar to the RDS resource, just as we can with `dbClusterParameterGroupName` or `dbSubnetGroupName`?

[2022-04-13 16:10] vijtrip2 commented on #1258
ACK controllers now support [referencing resources across ACK controllers](https://github.com/aws-controllers-k8s/community/blob/main/docs/design/proposals/resource-reference/cross-api-group.md). So you would be able to reference a KMSKey by the kubernetes resource name inside RDS crd.

I will add this support inside rds controller and publish a new version of controller, that will have field for

[2022-04-14 08:25] robertgates55 commented on #1258
That'd be awesome. Happy to test & post an example here for posterity once you've released etc!

[2022-04-14 08:28] robertgates55 opened #1259 "Changing RDS instance type has no effect"
I've changed the instance type of a pair of DBInstances (from `db.t3.medium` to `db.t4g.medium`. The RDS controller sees this change, logs that the desired resource state has changed, but then does nothing. What am I missing?

[code]

[2022-04-14 16:09] vijtrip2 commented on #957
Please reopen if this still blocks you

[2022-04-14 16:09] #957 closed

[2022-04-14 16:16] vijtrip2 commented on #1259
I will test it out and report here what I found. Can you check in AWS console whether the instance type gets changed and only controller INFO logs are not printing the update calls?

It will be helpful to enable debug logging for the controller. https://github.com/aws-controllers-k8s/rds-controller/blob/main/helm/values.yaml#L55

[2022-04-14 17:28] jaypipes commented on #1259
We are definitely setting the `DbInstanceClass` field in the input shape for ModifyDBInstance:

https://github.com/aws-controllers-k8s/rds-controller/blob/3ef740f16368767d4a51b83af923eac64071a708/pkg/resource/db_instance/sdk.go#L2423-L2425

And we are setting the CR's `Spec.DBInstanceClass` to the response's field here:

https://github.com/aws-controllers-k8s/rds-controller/blob/3ef740f16368767d4a

[2022-04-14 17:29] jaypipes commented on #1259
@robertgates55 would you mind showing the results from `kubectl describe` for your DB instance please? In particular, we're looking for the `Status.Conditions` collection from the resources.

[2022-04-14 17:35] jaypipes commented on #1257
@vijtrip2 this can be solved by adding resource references to RDS controller's resources... for example, adding a `DBInstance.Spec.DBSubnetRefs` field in addition to `DBInstance.Spec.DBSubnetIDs`

[2022-04-14 20:41] #1072 closed

[2022-04-14 20:47] vijtrip2 commented on #1053
/lifecycle frozen

[2022-04-14 22:37] mikestef9 commented on #328
Is access point still a priority given EFS CSI driver supports dynamic provisioning of access points? There is also open issue on EFS CSI driver repo for dynamic provisioning of file systems https://github.com/kubernetes-sigs/aws-efs-csi-driver/issues/310

[2022-04-15 00:34] miseyu commented on #1117
/close

[2022-04-15 08:16] robertgates55 commented on #1259
[code]

[2022-04-15 09:06] robertgates55 commented on #1259
Yeah - so I'd guess it's because it's part of a `DBCluster`, the modify call is failing.

Crossplane had a similar bug https://github.com/crossplane/provider-aws/issues/895 (resolved by https://github.com/crossplane/provider-aws/pull/1197/files#diff-66c455e871b6c0c85f9cbb0b878f062942153e47df0a90fda16530a38369557bR201)

Is it possible to do a similar thing in https://github.com/aws-controllers-k8s/

[2022-04-15 15:37] vijtrip2 opened #1261 "Enable default resource tags for ACK controllers"
Problem:

ACK controllers have a set of default tags that should be present for all the resources managed using ACK. However this functionality does not exist in ACK runtime at the moment.

There is a [tags.go](https://github.com/aws-controllers-k8s/runtime/blob/main/pkg/runtime/tags.go#L25) file, which resolves the default tags using `GetDefaultTags` method but i could not find any usage of this

[2022-04-15 15:59] jaypipes commented on #1261
@vijtrip2 yeah, this is an important feature that we need to complete.

[2022-04-18 15:59] jackivanov commented on #582
@jaypipes Can you elaborate on why this is an IAM ACK task, please? Per the [docs](https://docs.aws.amazon.com/AmazonECR/latest/userguide/repository-policy-examples.html) it's an ECR feature, and the ECR API has [SetRepositoryPolicy](https://docs.aws.amazon.com/AmazonECR/latest/APIReference/API_SetRepositoryPolicy.html) action. It doesn't look like it needs to be separated from the ECR ACK from my

[2022-04-18 18:36] urton opened #1262 "RDS Create DBInstance From Snapshot"
Is there already a plan to allow creating a DBInstance resource from a snapshot similar to the restore-db-instance-from-db-snapshot via cli?

[2022-04-18 19:22] ack-bot opened #1263 "Missing ci.yaml file for `memorydb-controller` in `k8s-operatorhub/community-operators`"
### Missing ci.yaml file for `memorydb-controller` in `k8s-operatorhub/community-operators`

#### Steps for closing this issue:
1. Checkout [`community-operators`](https://github.com/k8s-operatorhub/community-operators) repository
2. Add `operators/ack-memorydb-controller/ci.yaml` file in [`community-operators`](https://github.com/k8s-operatorhub/community-operators) repository.
You can look at `o

[2022-04-18 19:53] vijtrip2 commented on #1263
cc: @acornett21

[2022-04-18 20:58] jaypipes commented on #1262
Hi @urton! No plan yet other than some randomish thoughts floating around in my head :) I will speak with the RDS team about this feature request and see how easily we can add it to the controller!

[2022-04-18 20:59] acornett21 commented on #1263
/assign

[2022-04-18 21:01] jaypipes commented on #582
@jackivanov you're absolutely correct. I was mistaken and did not realize there was an ECR repository-specific Policy attribute. Apologies!

[2022-04-18 21:04] jaypipes commented on #582
@A-Hilaly do you think we can add support for updating an ECR Repository's Policy to the [custom update code](https://github.com/aws-controllers-k8s/ecr-controller/blob/bcbba85774eaf5d06c9365c7434d9b19383555e2/pkg/resource/repository/custom_update_api.go)?

[2022-04-18 21:07] urton commented on #1262
Thanks for the quick response @jaypipes! Hopefully it is easy :) Same vein, what about managing pre-existing RDS instances via a DBInstance CR? Essentially, we want to start managing our RDS instances in K8s, but we want to avoid standing up instances/clusters from scratch and having to use DMS to migrate data.

[2022-04-18 22:43] jaypipes commented on #1262
@urton Well, for that second feature request, you're in luck, because we already support that :)

We have something called [`AdoptedResource`](https://aws-controllers-k8s.github.io/community/reference/common/v1alpha1/adoptedresource/). You can "ask" the ACK controller to take over management of an existing resource by calling `kubectl create` and passing in an ACK AdoptedResource CR, like so:

[co

[2022-04-19 03:48] urton commented on #1262
@jaypipes that is exactly what I was looking for. THANK YOU. I did have to add the spec.aws.nameOrID, but that was easy engouh to find and not I've adopted an instance or two.. This will help our immediate transition, but we do create instances from snapshots frequently, so that option would be pretty sweet to have as well sometime in the near future.

Separately, I think it would be really helpfu

[2022-04-19 15:04] acornett21 commented on #1263
PR's have been raised below:
- Relates: k8s-operatorhub/community-operators#1083
- Relates: redhat-openshift-ecosystem/community-operators-prod#1112

[2022-04-19 16:20] urton opened #1264 "AdoptedResource for DBParameterGroup Failing"
**Describe the bug**
Trying to adopt an existing RDS parameter group via AdoptedResource results in a reconciler error specifying a key that is not supported in the AdoptedResource CR.

**Steps to reproduce**
Apply the yaml below
[code]
Error
[code]

I tried adding spec.family in the yaml above but received the same error.

**Expected outcome**
The AdoptedResource should create a DBParamterGroup C

[2022-04-19 16:36] vijtrip2 commented on #1264
This may be similar to the issue recently solved for elasticache controller. https://github.com/aws-controllers-k8s/community/issues/1250

[2022-04-19 16:48] urton opened #1265 "DBInstance Major Version Upgrade"
**Is your feature request related to a problem?**
When trying to modify my DBInstance CR for a major version upgrade, the  CR status returns:
[code]

**Describe the solution you'd like**
Possibly a field in spec (or annotation) that would allow for major version upgrades (similar to the --allow-major-version-upgrade flag via cli)

**Describe alternatives you've considered**
Upgrade manually via th

[2022-04-19 16:49] urton commented on #1262
I'd definitely be interested in contributing @jaypipes. I'll definitely try to get to it this week.

I've got another "fun" one for you #1265 if you're bored...

[2022-04-19 17:22] vijtrip2 commented on #1259
similar to https://github.com/aws-controllers-k8s/community/issues/1028

[2022-04-19 21:40] vijtrip2 opened #1266 "Extend e2e testing framework to start multiple ACK controllers"
Currently the ACK testing infrastructure cannot test cross-controller resource references because it will require to build and install multiple service controllers inside the KinD cluster.

Possible solution can be to update the `kind-build-test.sh` script to be able to install and manage multiple ACK controllers.

[2022-04-19 23:54] acornett21 commented on #1263
@vijtrip2 Both PR's are merged so this issue can be close.

[2022-04-20 00:07] #1263 closed

[2022-04-20 13:44] dalbhanj opened #1267 "EMRContainers service controller"
## New ACK Service Controller

Support for EMR on EKS Service

### List of API resources

List the API resources in order of importance to you:

1) [CreateVirtualCluster](https://docs.aws.amazon.com/emr-on-eks/latest/APIReference/API_CreateVirtualCluster.html)
2) [StartJobRun](https://docs.aws.amazon.com/emr-on-eks/latest/APIReference/API_StartJobRun.html)
3) [ListVirtualClusters](https://docs.aws

[2022-04-20 15:16] A-Hilaly commented on #582
I just checked the `SetRepositoryPolicy` API Call. That is definitely possible. Working on it this sprint

[2022-04-20 21:21] A-Hilaly commented on #1028
/remove-lifecycle frozen

[2022-04-20 21:49] urton opened #1270 "RDS Create Replica DBInstance"
Would it be possible to add a field to the DBInstance spec like sourceDbInstanceIdentifier that will allow for read replica creation from an existing DB instance?

[2022-04-21 15:10] jaypipes commented on #1062
@A-Hilaly ping on this :) what's the latest?

[2022-04-21 16:25] vijtrip2 commented on #1267
/lifecycle frozen

[2022-04-21 16:27] vijtrip2 commented on #1139
/lifecycle frozen

[2022-04-21 16:28] vijtrip2 commented on #1138
/remove-lifecycle stale

[2022-04-21 17:45] urton opened #1271 "Add Additional Print Columns to DB Instance and DB Cluster CRDs"
@jaypipes here's what I've got so far working locally with the DBInstance CRD:
[code]
Here's the yaml insert for the v1alpha1 spec.version:
[code]
I'll need to get the ack generator working so I can test the syntax for the fields block and then I will pull. This look OK to you?

[2022-04-21 19:12] urton commented on #1270
Looks like this was already asked under #893. Closing this as duplicate.

[2022-04-21 19:12] #1270 closed

[2022-04-21 19:15] jaypipes commented on #869
@robertgates55 the ACK core team and the RDS team had a meeting about this issue yesterday evening. It's a top priority for us to address ASAP. Having wrapped up some planning docs I've been busy with, I'll be able to start work on this tomorrow and by end of day tomorrow should have a rough timeframe to give you.

We are going to be taking the following approach:

* Change the `Spec.Parameters` f

[2022-04-21 19:26] jaypipes commented on #1271
@urton Yeah, that looks slick to me, thank you! @RedbackThomson @vijtrip2 what do you think?

[2022-04-21 20:17] vijtrip2 commented on #1271
Looks good to me as well! Taking feedback from Bruce(SDE, RDS team) will be helpful too.

I couldn't help but notice some other fields which could be helpful to include as additional columns too,
* AllocatedStorage
* AvailabilityZone
* DBClusterIdentifier
* DBInstanceIdentifier

[2022-04-21 20:27] urton commented on #1271
@jaypipes  sounds good. @vijtrip2 I actually meant to add AllocatedStorage. Thanks for the reminder. Should I make those 4 additional fields priority 1?

[2022-04-21 20:46] RedbackThomson commented on #1271
[code]
Interesting, I've never seen the json path selectors used inside additional printer columns. This could be a good default addition to all of our resources ???

One nit I have is that we should use the full name for `ENGINE-VERSION`, rather than just `ENGINE-VER`.

One other naive suggestions, based on the what the console shows in condensed form, `Endpoint`?

[2022-04-21 20:51] urton commented on #1271
@RedbackThomson thanks for the feedback. I actually got the idea for the READY column from the Strimzi operator which we use extensively. All the CRs in that project have the READY column printed out along with other common configs.

[2022-04-21 21:03] urton commented on #1271
[code]
[code]

[2022-04-22 09:32] robertgates55 commented on #869
Awesome - Thanks - keep us posted on progress.

`---`

My _instinct_ is to reflect it on the parametergroup rather than the instance, but there's obviously a one-to-many paramgroup-to-instance relationship so that might get awkward if the paramgroup is reused extensively. Does AWS use the 'maintenance window' to automatically restart/apply param changes on instances? (am wondering whether this is

[2022-04-22 16:40] #1258 closed

[2022-04-22 16:42] vijtrip2 commented on #1258
@robertgates55 , please test the new kmsKeyRef field in the new v0.0.24 release for rds-controller.

[2022-04-22 16:50] #582 closed

[2022-04-22 16:54] #1176 closed

[2022-04-22 16:58] #1230 closed

[2022-04-22 16:58] RedbackThomson opened #1272 "Roadmap planning for Q3"
Draft a document, which will be made public, for the ACK core team's Q2 plans. In this document, we will outline the services and features we are actively working on (with flexibility) over the quarter. However, tasks in the document are not promises that they will be completed within that quarter.

[2022-04-22 16:58] RedbackThomson opened #1273 "Draft ACK product vision document"

[2022-04-22 17:08] #1124 closed

[2022-04-22 18:21] robertgates55 commented on #1258
When I upgrade the helm chart, do the latest CRDs get installed? I can see the pod has rolled to the new version, but the crds look the same....

[2022-04-22 18:44] vijtrip2 commented on #1258
I am not sure if the helm install handles upgrading the crds. I will try to find the answer.
But to unblock yourself, you can install the crds again. CRDs are present in [github.com/rds-controller/helm/crds/](https://github.com/aws-controllers-k8s/rds-controller/tree/main/helm/crds)

[2022-04-22 22:59] dalbhanj opened #1274 "Build controller fails with error: canot clone repository: context deadline exceeded"
**Describe the bug**
Build controller fails with error: canot clone repository: context deadline exceeded
make: *** [build-controller] Error 1

**Steps to reproduce**
Follow current [documentation](https://aws-controllers-k8s.github.io/community/docs/contributor-docs/building-controller/) to build existing controllers. I tried S3 and RDS and both report same issue

**Expected outcome**
Expect cont

[2022-04-23 08:24] robertgates55 opened #1275 "Ability to reference AWS_REGION, AWS_ACCOUNT_ID or CLUSTER_OIDC_PROVIDER_ID etc from within resources"
Not sure how niche this scenario is, but here's _two_ examples I've hit so far.

Example 1 - I'm creating a KMS Key. But one of the spec fields contains the `AWS_ACCOUNT_ID`. The controller obviously knows the `AWS_ACCOUNT_ID`, but I'd prefer my namespaced `Key` to not have to know it.
[code]

Example 2 - I'm creating an IAM Role, and the `AWS_ACCOUNT_ID` and  `CLUSTER_OIDC_PROVIDER_ID` are both r

[2022-04-23 08:28] robertgates55 commented on #1258
Cool. Have manually patched the CRDs to latest and tested - All working as expected!

[code]
👍

[2022-04-23 09:30] A-Hilaly commented on #1274
Hey @dalbhanj, `ack-generate` is currently set to timeout after [180 seconds](https://github.com/aws-controllers-k8s/code-generator/blob/main/cmd/ack-generate/command/common.go#L40) when trying to clone `aws/aws-sdk-go` repository.

To solve this issue you will have to either increase this value or manually run a `git clone https://github.com/aws/aws-sdk-go` in the ack cache directory which should

[2022-04-23 09:42] A-Hilaly commented on #1143
/lifecycle frozen

[2022-04-24 23:37] jaypipes opened #1276 "Support updating tags for all RDS resources"
Currently, all the RDS resources (`DBParameterGroup`, `DBSecurityGroup`, `DBSubnetGroup`, `DBInstance`, `DBCluster`, `DBClusterParameterGroup`) support tags on creation. However, there is no support for modifying those tags after creation.

Add support for the [`ListTagsForResource`](https://docs.aws.amazon.com/AmazonRDS/latest/APIReference/API_ListTagsForResource.html), [`AddTagsToResource`](http

[2022-04-25 15:53] A-Hilaly opened #1277 "Support ECR pull through cache rules"
**Is your feature request related to a problem?**

Currently, the ECR controller doesn't support registry replication configuration and pull-through cache rules.

**Describe the solution you'd like**

- [ ] Add a new CRD to allow users to [set pull-through cache rule](https://docs.aws.amazon.com/AmazonECR/latest/APIReference/API_CreatePullThroughCacheRule.html).

[2022-04-25 20:32] dalbhanj commented on #1274
Closing this issue as I was able to surpass after fixing my laptop's resource issue. Laptop was running out of resources and had unreliable internet connection. Rebooting fixed the problem : )

[2022-04-25 20:32] #1274 closed

[2022-04-25 20:38] dalbhanj opened #1278 "Outdated end-to-end test guidance"
**What is the URL of the document?** https://aws-controllers-k8s.github.io/community/docs/contributor-docs/testing/

 https://aws-controllers-k8s.github.io/community/docs/contributor-docs/testing/

**Which section(s) is the issue in?** https://aws-controllers-k8s.github.io/community/docs/contributor-docs/testing/#run-end-to-end-test

**What needs fixing?** Is there another way to run end-to-end te

[2022-04-26 16:12] a-hilaly opened #1279 "Add `int` and `float` support in `pkg/compare` utility functions"
**Is your feature request related to a problem?**
Currently `runtime/pkg/compare` exposes functions to compare `map[string]string` and `[]string` types. Ideally, we should also have functions to help comparing types like `map[string]*int`, `[]*float32`, `[]float32` ...

**Describe the solution you'd like**
Ability to use exported functions to compare float and integer types.

Also, bumping runtime

[2022-04-26 16:18] a-hilaly opened #1280 "Upgrade runtime version to use go1.18.x"

[2022-04-26 16:28] A-Hilaly opened #1281 "Ability to specify additional printer columns in `ack-generate` config file"
**Is your feature request related to a problem?**
Currently, `ack-generate` can produce go code with kubebuilder markers allowing CRDs to have additional print columns. However, CRDs can only have one print column per field. Ideally, we would like to have an option to specify extra print columns with something similar to:

[code]

**Describe the solution you'd like**
Ability to have multiple print

[2022-04-26 21:14] RedbackThomson commented on #1281
I'd propose we can go ahead with adding the `SYNCED` column to every CRD, anyway. Let's not even make it an option for resources, just do it for everything.

[2022-04-26 21:15] RedbackThomson commented on #1278
`make kind-test` is still a valid target in our testing: https://github.com/aws-controllers-k8s/test-infra/blob/main/Makefile#L18

When you are trying to run this, does the documentation make it clear that you should be within the `test-infra` repository?

[2022-04-26 21:17] #1278 closed

[2022-04-27 00:50] A-Hilaly commented on #1062
@jaypipes Once we merge https://github.com/aws-controllers-k8s/lambda-controller/pull/35 and https://github.com/aws-controllers-k8s/lambda-controller/pull/21 this should be closed :)

[2022-04-27 13:38] A-Hilaly commented on #1277
Since replication configurations are unique per registry it will not be possible to have a CRD. Editing the issue

[2022-04-28 13:05] zagr0 opened #1282 "S3 controller: handle bucket with objectOwnership=BucketOwnerEnforced"
**Describe the bug**
There is an error when you create a bucket with objectOwnership: BucketOwnerEnforced to disable ACL, our scenario requires this option to force objects owner.
I tried to remove `publicAccessBlock` but it does not help...

Logs:
[code]

**Steps to reproduce**
Create bucket with spec:
[code]

**Expected outcome**
there should not be any error, like: "Error syncing property 'ACLs

[2022-04-28 16:51] brycahta commented on #1184
### Initial Research on Config Cats 🐱

#### Inference/How to create CRD
- GetAllRenames()
- GetAPIVersions()
- OperationIsIgnored()
- GetResourcePrintOrderByName()
- GetResourceShortNames()
- GetResourceFieldByPath()
- ResourceIsIgnored()

#### Generate/How to generate Go code
- GetTerminalExceptionCodes()
- ListOpMatchFieldNames()
- GetOverrideValues()
- GetCustomCheckRequiredFieldsMissingMethod(

[2022-04-28 16:51] brycahta commented on #1184
Discussed with @jaypipes offline and putting the "splitting into categories" task on hold for now. After working on some of the code, I'm not convinced this abstraction makes the code any cleaner or more intuitive. I'll pivot to refactoring `generate` package and note any patterns with config use/access to see if a better pattern arises.

[2022-04-28 17:42] A-Hilaly commented on #1000
/lifecycle frozen

[2022-04-28 17:42] A-Hilaly commented on #911
/lifecycle frozen

[2022-04-28 23:56] RedbackThomson commented on #1282
I will have to look into this, but I don't think this error is actually coming from the `ownershipControls` properties. ACLs and Grant Headers have been a constant headache for the S3 controller and it's possible my latest changes have introduced this error. Does this error still exist if you remove the `ownershipControls`?

[2022-04-29 20:25] RedbackThomson commented on #1275
Hey @robertgates55 ! Thanks for this suggestion, I quite like this idea. Maybe my only concern with something like this is that it takes what are otherwise static manifests and makes them dynamic to the environment they're running in. This wouldn't necessarily be a problem, but it does make it more difficult to understand what is being declared. A similar problem already exists when we use resourc

[2022-05-01 09:37] IliaGe commented on #1158
I have the same issue, a bucket resource hold a property of 'deletionTimestamp'. Something is returning this property even after a deletion (with kubectl edit ...).
I have stopped the controller, and re-edited, still, the deletionTimestamp is getting back to the resource :0
Is there a mutatingWebHook or something like that implemented?

[2022-05-02 02:08] dlgordon commented on #205
Hello

I spent some time this weekend having a look at the SQS controller and made some progress - interested if a) I'm on the right track and b) this is useful effort. I know SQS is in progress as per the roadmap.

Anyway, I was able to upgrade the SQS Controller to the latest packages, update the generator yaml (https://github.com/dlgordon/sqs-controller/blob/update-sqs-controller/generator.yaml

[2022-05-02 13:25] jaypipes commented on #205
@dlgordon you rock. thank you for taking the initiative here and making some progresson the SQS controller. I'd be more than happy to review a PR from you and collaborate on improvements to the SQS controller.

[2022-05-02 14:23] acornett21 commented on #1149
/remove-lifecycle stale

[2022-05-02 16:05] RedbackThomson commented on #1158
No ... but this is strange and is going to be a big problem if it keeps happening. I don't see any reference to any code paths that delete CRs in any of our common code.

[2022-05-02 20:57] #1282 closed

[2022-05-03 01:12] dlgordon commented on #205
Thanks, I appreciate that - I have looked further and think I will approach the next steps like this -

- I'll add some e2e tests for Create and Delete of Queue's and then work through the PR process for the SQS controller at that stage

- To fix the sdkFind issue, instead of using a custom template, I think it would be best to fix up `SetResourceGetAttributes` in the Generator (`pkg/generate/code

[2022-05-03 09:05] yandooo opened #1283 "`aws-sdk-go` upgrade to at least `v1.42.28` for ACK repositories"
Update `aws-sdk-go` dependency to at least `v1.42.28` in ACK core libraries and controllers. At least to pick up IPv6 EKS network config support.

AWS SDK go release ref - https://github.com/aws/aws-sdk-go/pull/4229

[2022-05-03 09:26] yandooo commented on #1283
@vijtrip2 looking at https://github.com/aws-controllers-k8s/community/issues/1128, based on your experience is it going to be a time-consuming task? Thanks

[2022-05-03 15:46] vijtrip2 commented on #1155
/lifecycle frozen

[2022-05-03 15:48] jaypipes commented on #1155
@vijtrip2 @ddmedvedev I'm closing this one in favour of #1276 since this problem exists for all RDS resources (and I'm currently working on this)

[2022-05-03 15:48] #1155 closed

[2022-05-03 16:42] A-Hilaly opened #1284 "CloudTrail service controller"
## New ACK Service Controller

Support for AWS CloudTrail

### List of API resources

List the API resources in order of importance to you:

1) [Trail](https://docs.aws.amazon.com/awscloudtrail/latest/APIReference/API_CreateTrail.html)
2) [EventDataStore](https://docs.aws.amazon.com/awscloudtrail/latest/APIReference/API_CreateEventDataStore.html)

[2022-05-03 19:42] #1149 closed

[2022-05-03 19:58] yandooo commented on #1283
@vijtrip2 known issue for the controller code generation?

[code]

[2022-05-04 06:46] yandooo commented on #1283
@vijtrip2 does https://github.com/aws-controllers-k8s/eks-controller/pull/40 look reasonable?

[2022-05-04 15:43] vijtrip2 commented on #1283
@yandooo , replied on the PR.

[2022-05-05 18:47] #1283 closed

[2022-05-05 21:00] RedbackThomson commented on #1162
/remove-lifecycle stale

Even though #740 was closed, I have not closed this issue. Connection secrets, such as those from databases or EKS clusters, are not exposed as part of the `Describe*` for the resources. The logic can sometimes be simple to create these (such as interpolating a string), but often these requires additional custom code to be generated (such as an EKS Kubeconfig). I'm not sur

[2022-05-06 14:33] brycahta opened #1285 "Support type 'list' for `output_wrapper_field_path`"
**Is your feature request related to a problem?**
I am unable to generate Instance CRD for *ec2-controller* because code-generator cannot unwrap the list responses from `RunInstances` and `DescribeInstances`, the *Create* and *List* operations, respectively.

[RunInstances](https://docs.aws.amazon.com/AWSEC2/latest/APIReference/API_RunInstances.html) is a "create many" call in that a single reques

[2022-05-06 15:10] jaypipes commented on #1285
@brycahta for the List operation, we have a `ListOperationConfig.MatchNames`](https://github.com/aws-controllers-k8s/code-generator/blob/52584bbac484b4746c5c93dbad9d0cd90fd9d700/pkg/config/resource.go#L286) thing that is supposed to handle this kind of problem for scenarios where the list operation returns a list of structs. I agree with you that we have no facility to handle scenarios where the l

[2022-05-06 15:11] jaypipes commented on #1285
Basically, we want to make [this piece of code](https://github.com/aws-controllers-k8s/code-generator/blob/main/pkg/generate/code/set_resource.go#L442-L452) configurable...

[2022-05-06 16:37] #1277 closed

[2022-05-07 06:41] robertgates55 commented on #869
Any update here please?

[2022-05-08 16:50] jaypipes commented on #869
Still working on it, @robertgates55. Hoping to complete the resource tagging (#1276) and parlay that work into the parameter support (it's a related code path)

[2022-05-09 21:09] acornett21 opened #1286 "Update to Operator SDK Version 1.19.1"
**Is your feature request related to a problem?**
To make sure there are no issues when raising PR's to the `community` repos we should try to keep this version somewhat current (baring any breaking changes)

**Describe the solution you'd like**
Update the Below:
- code gen
- docker files used in the prow process

**Describe alternatives you've considered**
N/A

[2022-05-09 21:09] acornett21 commented on #1286
/assign

[2022-05-09 21:36] acornett21 opened #1287 "Runtime reconciles `FieldExport` even if CRD is not Present in Cluster"
**Describe the bug**
Even if the `FieldExport` is not applied to the cluster, the runtime still tries to reconcile it and throws an error. It seems like there are two reconsiders for this resource, which I do not fully understand. One that checks the presence of the CRD, and one that does not.

[code]

**Steps to reproduce**
1. Build a controller and install it into a cluster, but do not apply the

[2022-05-09 21:45] #1286 closed

[2022-05-09 21:54] RedbackThomson commented on #1287
That's weird ... we have code that checks whether the CRD was installed and conditionally starts the reconciler ... https://github.com/aws-controllers-k8s/runtime/blob/main/pkg/runtime/service_controller.go#L227-L239

[2022-05-09 22:18] #1287 closed

[2022-05-10 11:57] mandeepgoyat opened #1288 "Reconcillation issue in s3 controller"
**Describe the bug**
I noticed that reconciliation feature not working continuously in s3 controller(v0.1.0)
I am expecting that once s3 controller installed then it should detect the drift continuously and restore the resource back to its original state.
Reconciliation happens but only when I delete the controller's pod. Looks like not working continuously like Crossplane

**Steps to reproduce**

[2022-05-10 19:10] davirobin opened #1289 "Creating new status fields for RDS DBInstance CRD"
**What Is Your Question?**
Is it possible to create new `status` fields for the RDS DBInstance CRD through `ack-generate` code generation?

**What Is The Context For This Question?**
I am currently investigating the integration of [Redhat Service Binding Operator](https://github.com/redhat-developer/service-binding-operator) (SBO) with ACK RDS, more specifically the DBInstance CRD, to enhance nati

[2022-05-10 20:59] RedbackThomson commented on #1289
This issue we have from the Crossplane team asks something similar: https://github.com/aws-controllers-k8s/community/issues/881

The current answer I have for you is that we currently don't have a configuration for the code-generator to create an arbitrarily shaped field. We do support creating [custom lists or maps](https://github.com/aws-controllers-k8s/code-generator/pull/222) using existing AW

[2022-05-11 14:24] jaypipes commented on #1086
This is a duplicate of #869

[2022-05-11 14:24] #1086 closed

[2022-05-11 16:53] jkatz opened #1290 "Remove DBSecurityGroup CRD from rds-controller"
**Is your feature request related to a problem?**

The Amazon RDS `DBSecurityGroup` API supports a legacy behavior for controlling access to a Amazon RDS instance before VPC / VPC security groups ([docs](https://docs.aws.amazon.com/AmazonRDS/latest/UserGuide/Overview.RDSSecurityGroups.html)). While the API still supports `DBSecurityGroup`, this is only for legacy purposes.

ACK should not need to

[2022-05-11 18:51] davirobin commented on #1289
Yes, I am interested in maintaining the RDS CRDs which can integrate with SBO. I understand the cause for concern with adding the code as a new feature regarding the confusion for non-SBO users. This question was more about understanding how ack-generate creates its CR fields and being able to create custom fields locally or maintaining custom RDS CRDs and generator code.

[2022-05-12 17:41] RedbackThomson commented on #1289
Okay cool. In that case, we still don't currently support adding arbitrary structs to the either the spec or status. This is mainly because our code-gen relies on using the AWS SDK models to build methods, so we kind of need an SDK model associated with everything. The way we support creating custom lists or maps is by creating a new SDK shape and injecting it into the model set before generation

[2022-05-12 18:00] sadlerap commented on #1289
Something I think might be relevant to this conversation: `.status.binding.name` comes from [a specification](https://servicebinding.io/) upstream of SBO, so this wouldn't just be applicable to only SBO.  For instance, there's an implementation from VMWare for use with Tanzu (source [here](https://github.com/vmware-tanzu/servicebinding)), and there's also a work-in-progress [reference implementati

[2022-05-12 21:59] RedbackThomson opened #1291 "List of structs containing references are patched without references"
**Describe the bug**
After the controllers resolve resource references contained within a list of structs (such as EC2's `RouteTable.Routes`), they incorrectly patch the `spec`, adding the concrete field. I have narrowed this down to the [`patchResourceMetadataAndSpec` method](https://github.com/aws-controllers-k8s/runtime/blob/360e72a0753a389af29b054e4722d983bc435d21/pkg/runtime/reconciler.go#L57

[2022-05-12 22:02] RedbackThomson commented on #1130
/lifecycle frozen

[2022-05-13 02:01] dlgordon opened #1292 "ack-generate not working for GetAttributes based services"
**Describe the bug**
The current (0.18.4) generator doesn't set CR fields for fields marked as `is_attribute` - this primarily concerns SQS and SNS which have a `GetAttributes` API call to retrieve the attributes of a Topic or a Queue. Note the discussion about this on https://github.com/aws-controllers-k8s/sqs-controller/pull/7/

**Steps to reproduce**
- For an example, grab the current head of t

[2022-05-16 09:08] Preen commented on #138
Any updates on this?

[2022-05-16 16:25] vijtrip2 commented on #888
This issue relates to a very old version of code-generator.
Please reopen if this issue still exists in most recent code-generator release

[2022-05-16 16:25] #888 closed

[2022-05-17 11:27] #1288 closed

[2022-05-17 16:46] eminalemdar opened #1293 "Examples for every Service Controllers"
**What is the URL of the document?**
https://aws-controllers-k8s.github.io/community/docs/community/services/

**Which section(s) is the issue in?**

Service details

**What needs fixing?**
Documentation missing examples for every Service Controller in the list. Examples with default options (with required and optional parts defined) would be perfect. Being able to use those examples for every con

[2022-05-17 17:45] vijtrip2 commented on #1293
Agree. More examples will be very helpful.
Ideally, ACK team wants to place these example manifests inside https://github.com/aws-controllers-k8s/examples

[2022-05-17 18:16] RedbackThomson commented on #1293
Our [API Reference](https://aws-controllers-k8s.github.io/community/reference/) outlines which fields are optional and required in the spec. But I agree that we should provide some basic examples, so that people can take them and adapt them to their needs - rather than starting from scratch.

As @vijtrip2 said, we want to use the example manifests repository. We haven't nailed down what format tha

[2022-05-17 22:11] eminalemdar commented on #1293
Thanks for sharing the API Reference.

I think raw YAML files and Helm would be more ideal. Also, I believe having a guideline in the folders for each controller makes things easier for people.

[2022-05-18 10:30] Benedikt1992 opened #1294 "Code redeclarations happen if resource and shape names overlap"
**Is your feature request related to a problem?**
When generating crossplane controller code for a service it uses the scheme `Generate` + `shape name` to generate methods for preparing inputs and processing outputs. If some shapes have the same name as the resource itself it generates methods with overlapping names. (e.g. for  `cognitoidentity` we have the resource `IdentityPool` and the shape `I

[2022-05-18 10:36] Benedikt1992 commented on #1294
@muvaf @haarchri Do you have any ideas how to solve this issue?

[2022-05-18 23:47] dfarr opened #1295 "Generate unique name for training job resources"
If we create the following sagemaker resource it will silently fail if a training job with the name `test-training-job` already exists.
[code]

It would be nice if the controller had a generateName-like functionality to ensure a unique name. We create TrainingJobs through an Argo Workflow (the workflow submits the k8s manifest), on failure we will retry n times. However we cannot update `trainingJ

[2022-05-19 09:03] jaypipes commented on #138
@Preen we have on our roadmap the construction and testing of our controller images for different architectures. I would like to get to this before the end of this year, but unfortunately cannot give any firm timelines.

[2022-05-19 09:32] fcosta-td opened #1296 "IAM Controller permissions"
**Is your feature request related to a problem?**
IAM Controller **recommended-inline-policy** is missing **iam:ListPolicyTags** permission.

**Describe the solution you'd like**
Add **iam:ListPolicyTags** to [policy document](https://github.com/aws-controllers-k8s/iam-controller/blob/main/config/iam/recommended-inline-policy).

[2022-05-19 09:56] fcosta-td opened #1297 "IAM Controller - Status message error"
**Describe the bug**
Roles created with IAM controller despite being created successfully, always show the following status message when describing the object on Kubernetes:

[code]

**Steps to reproduce**
Create a role with IAM Controller, and run `kubectl describe`

**Expected outcome**
Status message without errors.

**Environment**
* Kubernetes version
* Using EKS:  yes (v1.21.9-eks-0d102a7)
*

[2022-05-19 17:49] RedbackThomson commented on #1297
I believe this error has been fixed as part of [`v0.0.14`](https://github.com/aws-controllers-k8s/iam-controller/releases/tag/v0.0.14). Please let me know if that doesn't work.

[2022-05-20 21:23] jkatz opened #1298 "Add support for RDS Proxy"
**Describe the solution you'd like**
Add support for [RDS Proxy](https://aws.amazon.com/rds/proxy/). RDS Proxy allows apps to connect to RDS database via a proxy to help with throughput management and availability.

[API Docs](https://docs.aws.amazon.com/AmazonRDS/latest/APIReference/API_DBProxy.html).

[2022-05-21 04:07] jaypipes commented on #1295
@dfarr The problem with controller-generated names is that they essentially make the resource impossible to manage using a fully declarative, GitOps-style configuration management system... Because the Spec for the resource with a generated name doesn't actually represent the desired state of the resource, but rather a *template* of a desired state of a resource (or multiple resources). So, for ex

[2022-05-21 04:12] jaypipes commented on #1294
Hi @Benedikt1992! The way we handle this in ACK's code-generator is to append the suffix `_SDK` to shapes that overlap with publicly-defined names in CRDs.

When I get back home from Spain (currently sitting in airport in Valencia...) I will generate the Cognito controller and advise you what you need to do in the generator.yaml file to get around your issue. Thanks for your patience!

[2022-05-21 04:14] jaypipes commented on #1293
@eminalemdar Agreed, more user-friendly examples in a single repository also exposed in our public documentation site would be ideal. You can find examples for the different controllers in the `/test/e2e/resources` directory of the individual ACK controller source repositories, just FYI...

[2022-05-21 04:16] jaypipes commented on #1292
@dlgordon thanks for putting this issue together. I will work on this starting next week (just heading back from KubeCon today...)

[2022-05-21 05:11] eminalemdar commented on #1293
Thank you @jaypipes I saw these examples.

[2022-05-21 19:25] jaypipes opened #1299 "Rethink the output of ACK's code generator"
The `ack-generate` tool currently consumes the API model definitions from `aws-sdk-go` for a particular AWS service and outputs generated code for:

- ACK-specific CRDs (i.e. CRDs in the `services.k8s.aws` APIGroup
- ACK controller implementation (i.e. `cmd/main.go`, all `pkg/resource/*` packages, Helm charts, static config files, etc)
- Crossplane CRDs and Crossplane's ManagedResource (XRD) inter

[2022-05-23 06:39] yuyuvn opened #1300 "WAFv2 service controller"
## New ACK Service Controller

Support for [WAFv2](https://docs.aws.amazon.com/waf/latest/APIReference/Welcome.html)

### List of API resources

List the API resources in order of importance to you:

1) WAF ACL
1) WAF ip set
1) WAF rules group

[2022-05-23 08:30] fcosta-td commented on #1297
Hi @RedbackThomson,

I've just tested with `v0.0.14` and still getting the same error.
Checking the logs in DEBUG i can see a couple of errors:

[code]

[2022-05-23 10:46] A-Hilaly commented on #1117
/remove-lifecycle rotten

[2022-05-23 15:17] A-Hilaly commented on #1293
It would be nice if we could also publish ACK examples that provide a demonstration of common service implementation and infrastructure patterns, similar to what [cdk-examples](https://github.com/aws-samples/aws-cdk-examples/tree/master/python) have

[2022-05-23 15:33] jaypipes commented on #1297
@fcosta-td Hi! Definitely there should never be ACK.ResourceSynced=TRUE and ACK.Terminal=TRUE appearing at the same time in a resource's `Status.Conditions` collection, so since that is the case, that's definitely a bug. I will look into that.

It would be super helpful if you provided us the exact YAML you are using for the Role resource, please. Go ahead and redact any sensitive information of c

[2022-05-23 16:07] a-hilaly opened #1301 "Document PR summary and git commit messages best practices"
We need to publish a document informing ACK developers on how to write clean and well-summarized git commit messages and PR summaries. This will help the process of code review and make the commit history less complicated to explore.

[2022-05-23 16:07] A-Hilaly commented on #1301
On the same hand, we should ideally switch to a non-squash merge method for [prow tide config](https://github.com/aws-controllers-k8s/test-infra/blob/56e5c892445f9f583de0ae033c47f8ce3472fced/prow/config/templates/config-ConfigMap.yaml#L89-L90).

[2022-05-23 20:27] RedbackThomson commented on #1300
/lifecycle frozen

[2022-05-24 10:38] fcosta-td commented on #1297
Hi @jaypipes, I get the same error on all roles created with IAM controller (even on the [repo's example](https://github.com/aws-controllers-k8s/iam-controller/blob/main/test/e2e/resources/role_simple.yaml) )

Here's the example reported in this issue:
[code]

[2022-05-24 18:20] jkatz opened #1303 "Provide example for AdoptedResource"
**What is the URL of the document?**

**Which section(s) is the issue in?**

Likely "Tutorials"

**What needs fixing?**

There is no example for how to use [`AdoptedResource`](https://aws-controllers-k8s.github.io/community/reference/common/v1alpha1/adoptedresource/) in the documentation, which may be affecting its adoption.

**Additional context**

Provide some examples with how it works with one

[2022-05-24 19:58] RedbackThomson commented on #1297
@fcosta-td I have released `v0.0.15` with the latest fix for tagging causing the invalid input terminal exception - https://github.com/aws-controllers-k8s/iam-controller/releases/tag/v0.0.15

[2022-05-25 08:12] fcosta-td commented on #1297
Hi @RedbackThomson this latest version fixes the issue.

Here's the output:
[code]
Thanks.

[2022-05-25 08:12] #1297 closed

[2022-05-25 17:54] brucegucode commented on #1138
@RedbackThomson is correct, the AvailabilityZone field is part of instance's field instead of cluster https://docs.aws.amazon.com/cli/latest/reference/rds/create-db-instance.html

Also when an instance is created , the AvailabilityZone is not able to be changed. If you're interested in changing it, you can recreate another instance in same cluster.

Regarding separate resources for unmodifiable an

[2022-05-25 19:11] jeesmon opened #1304 "Add current status or implementation history of proposals"
**What is the URL of the document?**

Each proposal doc at https://github.com/aws-controllers-k8s/community/tree/main/docs/design/proposals

**Which section(s) is the issue in?**

Missing section

**What needs fixing?**

Add current Status or Implementation History to each proposal

Ex: https://github.com/kubernetes/enhancements/tree/master/keps/provider-aws/629-alb-ingress-controller#implementati

[2022-05-25 19:14] jeesmon commented on #1303
Design proposal has some good examples at https://github.com/aws-controllers-k8s/community/blob/main/docs/design/proposals/adoption/resource-adoption.md

But not sure if it matches with implementation. Adding it in the official documentation will definitely help the adopters.

[2022-05-25 20:51] RedbackThomson commented on #1303
@jeesmon I have more examples, if anyone needs them. Thankfully the implementation does actually match the proposal, except that the `apiVersion` of the resource is not service specific - that is, the `apiVersion` is `services.k8s.aws/v1alpha1`

Here's one example with an S3 bucket
[code]

[2022-05-25 20:53] RedbackThomson commented on #1138
@brucegucode The code-generator supports the [`is_immutable` property](https://github.com/aws-controllers-k8s/code-generator/blob/main/pkg/config/field.go#L344-L346) on any field in the generator config. This sets an `ACK.Advisory` condition if the user updates the field.

[2022-05-27 16:49] vijtrip2 commented on #1298
/assign @brucegucode

[2022-05-27 18:05] #1262 closed

[2022-05-27 18:54] ack-bot opened #1305 "Missing `olmconfig.yaml` in `emrcontainers-controller`"
### Missing `olmconfig.yaml` in `emrcontainers-controller`

#### Steps for closing this issue:
1. Checkout [`emrcontainers-controller`](https://github.com/aws-controllers-k8s/emrcontainers-controller) repository
2. Add `olm/olmconfig.yaml` file in [`emrcontainers-controller`](https://github.com/aws-controllers-k8s/emrcontainers-controller) repository.
You can look at [`s3-controller`](https://gith

[2022-05-27 21:12] brucegucode commented on #1138
/close

[2022-05-31 16:21] #1138 closed

[2022-05-31 18:18] igorkaplan55 opened #1306 "Attempting to install the SQS controller, complains about missing docker image"
I am using the helm chart to install the SQS controller. I get the deployment with the following image repo url:
public.ecr.aws/aws-controllers-k8s/sqs-controller:v0.0.0-non-release-version

...
image: public.ecr.aws/aws-controllers-k8s/sqs-controller:v0.0.0-non-release-version
        imagePullPolicy: IfNotPresent
        name: controller
        ...

I Get an error about missing image. Looks lik

[2022-05-31 20:00] igorkaplan55 commented on #1306
Thanks Vijay.

I believe, I followed all instructions and configured everything correctly. However getting the following error when attempting to build:

$ pwd

/home/igorkaplan/git/sqs-controller/code-generator

$ echo $SERVICE

sqs

echo $SERVICE_CONTROLLER_SOURCE_PATH

/home/igorkaplan/git/sqs-controller

$ make build-controller-image sqs

building 'sqs' controller docker image with tag: aws-co

[2022-06-02 11:32] davirobin opened #1308 "`local-build-controller-image` builds a local image with no changes"
**What Is Your Question or Problem?**
I am using code-generator's `make local-build-controller-image` function for ACK RDS. The function builds the controller locally but none of the changes made are reflected.

**What Is The Context For This Question?**
I am currently using the code-generator to make local changes to the ACK RDS Controller & ACK RDS Controller Image. I have followed the instructi

[2022-06-02 12:02] A-Hilaly commented on #1308
Hi @davirobin, thank you for reporting this issue.

If you modify any auto-generated files like `cmd/main.go`, you can lose those changes whenever you re-run `make build-controller`.
On the other hand, `make local-build-controller-image` is used to build a controller using a local `github.com/aws-controllers-k8s/runtime` module, so the building script expects you to have a `go.local.mod` in the co

[2022-06-02 14:43] davirobin commented on #1308
Thanks for the response @A-Hilaly.

I am aware that rebuilding the controller with either `make build-controller` or `make local-build-controller` can overwrite local changes made. I do not run this command before building the Docker image for that reason.

I do have a `go.local.mod` for the controller that does exactly what the [S3 example](https://github.com/aws-controllers-k8s/s3-controller/blo

[2022-06-02 17:38] A-Hilaly commented on #1308
My initial guess is that it might be a problem with the deployment process/helm chart. Can you try to run your local changes using the go compiler:
[code]
If the logs show the changes you made, it's for sure a problem with the deployment process. Can you please share the commands you run to deploy the controller using helm?

[2022-06-02 18:59] RedbackThomson commented on #1308
`helm` is your custom helm chart directory with updated values? And are you loading the image into the cluster after its built? (Pushing the docker image into the K8s image cache) Lastly, did you change the tag to something unique, so you can be sure that it isn't using a cached version of the image?

[2022-06-02 20:02] jkatz opened #1311 "Add support for Aurora Serverless v2"
**Is your feature request related to a problem?**
Aurora Serverless v2 (ASV2) uses the `ServerlessV2ScalingConfiguration` in the [`CreateDBCluster`](https://docs.aws.amazon.com/AmazonRDS/latest/APIReference/API_CreateDBCluster.html) API. This needs to be accessible by ACK in order to use ASV2.

**Describe the solution you'd like**
Regenerate the controller to make the ASV2 fields visible.

[2022-06-02 21:31] RedbackThomson commented on #1293
Wow @eminalemdar . What a great start with the examples! I think this is a great start for people who want to try out ACK and wouldn't know where to start. I also really like your (well written) bash install scripts.

I understand where you are coming from with the Terraform example, too. The AWS integrations team has just released the [AWS EKS Blueprints for Terraform](https://github.com/aws-ia/t

[2022-06-02 23:42] #1296 closed

[2022-06-03 01:05] #1290 closed

[2022-06-03 06:59] eminalemdar commented on #1293
That's a great idea @RedbackThomson! Maybe I will update the Terraform codes in the repo with the EKS Blueprints.

[2022-06-03 16:34] #1256 closed

[2022-06-03 16:34] #1117 closed

[2022-06-03 16:44] vijtrip2 opened #1312 "IAM controller GA release"

[2022-06-03 16:45] vijtrip2 opened #1313 "KMS controller GA release"

[2022-06-03 16:46] vijtrip2 opened #1314 "Route53 controller GA release"
Determine exit criteria for Route53 controller GA release and implement them.

[2022-06-03 16:48] A-Hilaly opened #1315 "Lambda controller GA release"
Determine exit criteria for Lambda controller GA release and implement them.

[2022-06-03 16:48] A-Hilaly opened #1316 "Step Functions controller GA release"
Determine exit criteria for Step Functions controller GA release and implement them.

[2022-06-03 16:51] vijtrip2 opened #1317 "Publish design document for ACK template-controller"
Publish design document for ACK template-controller

[2022-06-03 17:13] RedbackThomson commented on #1139
@Samze I see that in our logic for retrieving fields from Secret, we will throw an error if the Secret is not found - https://github.com/aws-controllers-k8s/runtime/blob/main/pkg/runtime/reconciler.go#L121 . This should cause the reconciler to requeue (without any backoff) until it succeeds. Is this the scenario you've been facing? Or have you been supplying an empty or invalid value inside the Se

[2022-06-03 18:45] Samze commented on #1139
@RedbackThomson thanks for your response. Interesting, I'm not seeing any requeue and I see DBInstance get a " terminal condition" condition, which I assume means it won't retry. I'm using 0.0.24 of the RDS Operator.

This is what I'm doing:

1. Create DBInstance with reference to non-existing secret.
2. Check status, it shows.
[code]
3. Apply secret
4. Wait for changes. Nothing changes

Also didn

[2022-06-03 18:51] RedbackThomson commented on #1139
Oh yeah this should not be a terminal condition. We definitely want to retry when we see that. If you could please put this into a separate issue, this is no longer just an RDS bug - it's a bug with the general way we handle secrets (and errors). I see the problem in the code, though!

[2022-06-03 18:58] Samze opened #1318 "DBInstance (and other resources) do not retry when a spec defined Secret is missing."
**Describe the bug**

Follow up from https://github.com/aws-controllers-k8s/community/issues/1139#issuecomment-1146261676 it appears as though  Secrets referenced in spec that do not exist is being treated as a terminal error and therefore the ACK controller is not re-reconciling.

**Steps to reproduce**

1. Create DBInstance with reference to non-existing secret.
2. Check status, it shows.
[code]

[2022-06-03 18:58] Samze commented on #1139
Thanks, created https://github.com/aws-controllers-k8s/community/issues/1318

[2022-06-04 23:14] #1078 closed

[2022-06-06 18:34] brucegucode commented on #1251
I think we may need to reopen this issue. made a comment here
https://github.com/aws-controllers-k8s/rds-controller/pull/77#issuecomment-1147754387

[2022-06-08 01:19] #1251 closed

[2022-06-08 04:44] amosaini opened #1320 "EKS ACK - PANIC: runtime error: invalid memory address or nil pointer dereference"
**Describe the bug**
The EKS ACK pods fails after deploying a nodegroup.
<img width="720" alt="image" src="https://user-images.githubusercontent.com/95207359/172532242-ad3276f4-a405-4c9c-9a32-7acd9d496b6c.png">

**Steps to reproduce**
1. Install v0.1.1 of eks ack.
2. created iam Role using following iam policy.
[code]
4. Created Nodegroup using folowing.
[code]
**Expected outcome**
The Pods should

[2022-06-08 09:45] amosaini commented on #1320
https://github.com/aws-controllers-k8s/eks-controller/blob/dd817be7ec69579c4c28d655ee41beffea99e328/pkg/resource/nodegroup/hook.go#L336

The above code required
[code]
the above code define in the Nodegroup with i am not passing thats why it is thowing null pointer exception.

[2022-06-08 17:20] A-Hilaly opened #1321 "Use `envtest` instead of `fakeclient` in `runtime` unit tests"
Currently the `pkg/runtime/cache` is tested using a fake kubernetes client. Ideally we should extend all the unit tests around the reconciler and the runtime cache to use [envtest](https://github.com/kubernetes-sigs/controller-runtime/tree/master/pkg/envtest). `envtest` spins up a local instance of etcd and the kube-apiserver. This allows tests to be executed in an environment very similar to a re

[2022-06-08 19:12] dfarr commented on #1295
A `generateName` like name could be resolved before the resource hits the SageMaker ACK controller with a mutating webhook. Once the name has been set it will not change so the ACK controller would only ever be aware of the static `name` field.

Kubernetes itself does this with resources that support `metadata.generateName`. For example, if I create the following pod
[code]

And then do `kubectl g

[2022-06-08 20:15] #1265 closed

[2022-06-08 20:18] #1320 closed

[2022-06-08 21:07] JamesJHPark opened #1322 "Issue with import path of the Amazon Managed Service for Prometheus (AMP) package"
**Describe the bug**
In the process of generating the `amp` controller, we generate the import path as `github.com/aws/aws-sdk-go/service/amp`. However, the AMP package name in `aws-sdk-go/service` is `prometheusservice`, and there is no matching `ServiceID` of the service package name to import.

**Steps to reproduce**

- Run the latest version of the code-generator against the `amp` controller

[2022-06-08 21:42] RedbackThomson commented on #1322
Hey @JamesJHPark

Check out this pull request - where I tried to figure out how the AWS APIs and SDKs use different names, and what the overlap is - https://github.com/aws-controllers-k8s/code-generator/pull/213

If AMP introduces a 4th type of name, then that's good to know

[2022-06-08 22:46] A-Hilaly opened #1323 "Prometheusservice service controller"
## New ACK Service Controller

Support for [Amazon Managed Prometheus service](https://aws.amazon.com/prometheus/)

### List of API resources

List the API resources in order of importance to you:

1) [Workspace](https://docs.aws.amazon.com/prometheus/latest/userguide/AMP-APIReference.html#AMP-APIReference-CreateWorkspace)
2) [RuleGroupsNamespace](https://docs.aws.amazon.com/prometheus/latest/user

[2022-06-08 22:49] A-Hilaly commented on #1323
/lifecycle frozen

[2022-06-08 22:50] A-Hilaly commented on #1321
/priority important-longterm

[2022-06-08 23:18] JamesJHPark commented on #1322
As per discussion with @A-Hilaly , @RedbackThomson, the service package name of the Amazon Managed Service for Prometheus (AMP) is `prometheusservice`. Also, with the [service naming nomenclature](https://github.com/aws-controllers-k8s/code-generator/pull/213), we can distinguish the service id and names to code-generate the ACK controller. Accordingly, we generate the import path as `github.com/a

[2022-06-08 23:18] #1322 closed

[2022-06-09 06:24] teddyking opened #1324 "Updates to DBSubnetGroup resources don't take effect"
**Describe the bug**

Hi there, I've noticed a potential issue regarding updates to `.spec` and re-reconciliation of resources.
Specifically, I noticed this when trying to update the `.spec.subnetIDs` field for a `DBSunetResource`.

**Steps to reproduce**

1. Use `kubectl` to create a `DBSubnetGroup`, for example:

[code]

2. Use `kubectl` to update the `DBSubnetGroup`, for example:

[code]

3. Ex

[2022-06-09 18:56] brucegucode opened #1325 "Update rds controller test bootstrap framework"
**Is your feature request related to a problem?**
Currently rds controller is still using old bootstrap strategy which is creating dependent resources in rds controller itself.
https://github.com/aws-controllers-k8s/rds-controller/blob/main/test/e2e/bootstrap_resources.py
https://github.com/aws-controllers-k8s/rds-controller/blob/main/test/e2e/service_bootstrap.py
https://github.com/aws-controller

[2022-06-09 18:58] brucegucode commented on #1325
it's weird I can't make assignee or add tag/project even I created this issue

[2022-06-09 19:06] RedbackThomson opened #1326 "Add `SecurityGroupRules` to EC2 `SecurityGroup`"
**Is your feature request related to a problem?**
The EC2 `SecurityGroup` currently allows you to create and associate an EC2 Security Group with a VPC, but there is no way to add rules. The AWS SDK for Go supports adding rules through a separate method called [`ModifySecurityGroupRules`](https://docs.aws.amazon.com/sdk-for-go/api/service/ec2/#EC2.ModifySecurityGroupRules).

**Describe the solutio

[2022-06-09 19:13] ilovemysillybanana commented on #1182
/remove-lifecycle stale

[2022-06-09 19:31] ilovemysillybanana commented on #1182
The policy ref section mentioned above is really necessary for this to be useful imo

[code]

Without being able to do that, I'll have to intervene or associate the policy in another way but then what was the point of doing it in kubernetes at all?

[2022-06-09 20:33] RedbackThomson opened #1327 "Self-referential service structures cause stack overflow in the code-generator"
**Describe the bug**
Some AWS services have structures that are used within nested properties on themselves. One such example of this is the [`Configuration` structure in emrcontainers](https://docs.aws.amazon.com/sdk-for-go/api/service/emrcontainers/#Configuration), where the `Configurations` property is the same type as its parent. Our code-generator uses recursion to find and extract all struct

[2022-06-10 08:43] jaypipes opened #1328 "`EnsureTags` injecting erroneous tag values"
In generating latest RDS controller for ACK runtime v0.19.0, I am seeing the following errors in the controller logs during tests:

[code]

If I had to guess, what is happening is that the `%K8S_NAMESPACE%` and similar interpolation variables inside ensured tag values are not being properly interpolated or the `EnsureTags` is not ensuring that in the case of a missing environment variable or neede

[2022-06-10 08:52] jaypipes commented on #1328
It looks like we need to update the [`test-infra/scripts/kind-build-test.sh` script](https://github.com/aws-controllers-k8s/test-infra/blob/e022597e71d47f12f7e29faa8e48880fd4a103e0/scripts/kind-build-test.sh#L24) to use the [new different `AWS_RESOURCE_TAGS`](https://github.com/aws-controllers-k8s/code-generator/blob/fd09781cde8525e174a25464a99abd4bf98846a8/templates/helm/values.yaml.tpl#L67-L68)

[2022-06-10 16:43] vijtrip2 commented on #1326
@brycahta , Please take a look at this. It is an important part missing from SecurityGroup CRD.
If there is already an open issue that you are tracking, please close this one.

[2022-06-10 16:58] vijtrip2 commented on #1306
HI @igorkaplan55 , are you still facing this error? This looks like it's spawning from your local docker configuration.

[2022-06-10 16:59] vijtrip2 commented on #1305
cc: @acornett21 , Thanks!

[2022-06-10 17:26] brucegucode opened #1329 "Add timestamp in test framework and convert epoch to human time in runtime logs"
**Is your feature request related to a problem?**
I hope we can add timestamp in both runtime logs and e2e test logs.

Here is an example of test run:
https://prow.ack.aws.dev/view/s3/ack-prow-logs/pr-logs/pull/aws-controllers-k8s_rds-controller/85/rds-kind-e2e/1535299554197377024

1. The controller-runtime has epoch looks like , `1.654879082871827e+09`,  it would be great if we can convert it to

[2022-06-10 19:03] #1328 closed

[2022-06-11 18:07] juanrh opened #1330 "Add values settings for using a shared credentials file for RDS controller"
**Is your feature request related to a problem?**
In the [documentation on using a shared credentials file](https://aws-controllers-k8s.github.io/community/docs/user-docs/authentication/#use-a-shared-credentials-file) there are instructions for mounting a secret containing AWS credentials on the pod for an ACK controller, so it can use those credentials. However, for the RDS controller there is no

[2022-06-13 17:01] ack-bot opened #1331 "Errors while generating `lambda-controller` for ACK runtime `v0.19.0`, code-generator `v0.19.0`"
### Errors while generating `lambda-controller` for ACK runtime `v0.19.0`, code-generator `v0.19.0`

#### stdout for `make build-controller`:
[code]

#### stderr for `make build-controller`:
[code]

#### Steps for closing this issue:
1. Update lambda-controller `go.mod` file to update `aws-controllers-k8s/runtime` to v0.19.0
2. Run `go mod tidy` for lambda-controller
3. Successfully generate the s

[2022-06-13 17:10] ack-bot opened #1332 "Errors while generating `kms-controller` for ACK runtime `v0.19.0`, code-generator `v0.19.0`"
### Errors while generating `kms-controller` for ACK runtime `v0.19.0`, code-generator `v0.19.0`

#### stdout for `make build-controller`:
[code]

#### stderr for `make build-controller`:
[code]

#### Steps for closing this issue:
1. Update kms-controller `go.mod` file to update `aws-controllers-k8s/runtime` to v0.19.0
2. Run `go mod tidy` for kms-controller
3. Successfully generate the service co

[2022-06-13 17:10] ack-bot opened #1333 "Errors while generating `dynamodb-controller` for ACK runtime `v0.19.0`, code-generator `v0.19.0`"
### Errors while generating `dynamodb-controller` for ACK runtime `v0.19.0`, code-generator `v0.19.0`

#### stdout for `make build-controller`:
[code]

#### stderr for `make build-controller`:
[code]

#### Steps for closing this issue:
1. Update dynamodb-controller `go.mod` file to update `aws-controllers-k8s/runtime` to v0.19.0
2. Run `go mod tidy` for dynamodb-controller
3. Successfully generate

[2022-06-13 17:10] ack-bot opened #1334 "Errors while generating `ecr-controller` for ACK runtime `v0.19.0`, code-generator `v0.19.0`"
### Errors while generating `ecr-controller` for ACK runtime `v0.19.0`, code-generator `v0.19.0`

#### stdout for `make build-controller`:
[code]

#### stderr for `make build-controller`:
[code]

#### Steps for closing this issue:
1. Update ecr-controller `go.mod` file to update `aws-controllers-k8s/runtime` to v0.19.0
2. Run `go mod tidy` for ecr-controller
3. Successfully generate the service co

[2022-06-13 17:10] ack-bot opened #1335 "Errors while generating `sagemaker-controller` for ACK runtime `v0.19.0`, code-generator `v0.19.0`"
### Errors while generating `sagemaker-controller` for ACK runtime `v0.19.0`, code-generator `v0.19.0`

#### stdout for `make build-controller`:
[code]

#### stderr for `make build-controller`:
[code]

#### Steps for closing this issue:
1. Update sagemaker-controller `go.mod` file to update `aws-controllers-k8s/runtime` to v0.19.0
2. Run `go mod tidy` for sagemaker-controller
3. Successfully gener

[2022-06-13 17:11] ack-bot opened #1336 "Errors while generating `rds-controller` for ACK runtime `v0.19.0`, code-generator `v0.19.0`"
### Errors while generating `rds-controller` for ACK runtime `v0.19.0`, code-generator `v0.19.0`

#### stdout for `make build-controller`:
[code]

#### stderr for `make build-controller`:
[code]

#### Steps for closing this issue:
1. Update rds-controller `go.mod` file to update `aws-controllers-k8s/runtime` to v0.19.0
2. Run `go mod tidy` for rds-controller
3. Successfully generate the service co

[2022-06-13 17:11] ack-bot opened #1337 "Errors while generating `s3-controller` for ACK runtime `v0.19.0`, code-generator `v0.19.0`"
### Errors while generating `s3-controller` for ACK runtime `v0.19.0`, code-generator `v0.19.0`

#### stdout for `make build-controller`:
[code]

#### stderr for `make build-controller`:
[code]

#### Steps for closing this issue:
1. Update s3-controller `go.mod` file to update `aws-controllers-k8s/runtime` to v0.19.0
2. Run `go mod tidy` for s3-controller
3. Successfully generate the service contr

[2022-06-13 17:11] ack-bot opened #1338 "Errors while generating `applicationautoscaling-controller` for ACK runtime `v0.19.0`, code-generator `v0.19.0`"
### Errors while generating `applicationautoscaling-controller` for ACK runtime `v0.19.0`, code-generator `v0.19.0`

#### stdout for `make build-controller`:
[code]

#### stderr for `make build-controller`:
[code]

#### Steps for closing this issue:
1. Update applicationautoscaling-controller `go.mod` file to update `aws-controllers-k8s/runtime` to v0.19.0
2. Run `go mod tidy` for applicationautos

[2022-06-13 17:11] ack-bot opened #1339 "Errors while generating `apigatewayv2-controller` for ACK runtime `v0.19.0`, code-generator `v0.19.0`"
### Errors while generating `apigatewayv2-controller` for ACK runtime `v0.19.0`, code-generator `v0.19.0`

#### stdout for `make build-controller`:
[code]

#### stderr for `make build-controller`:
[code]

#### Steps for closing this issue:
1. Update apigatewayv2-controller `go.mod` file to update `aws-controllers-k8s/runtime` to v0.19.0
2. Run `go mod tidy` for apigatewayv2-controller
3. Successfu

[2022-06-13 17:11] ack-bot opened #1340 "Errors while generating `ec2-controller` for ACK runtime `v0.19.0`, code-generator `v0.19.0`"
### Errors while generating `ec2-controller` for ACK runtime `v0.19.0`, code-generator `v0.19.0`

#### stdout for `make build-controller`:
[code]

#### stderr for `make build-controller`:
[code]

#### Steps for closing this issue:
1. Update ec2-controller `go.mod` file to update `aws-controllers-k8s/runtime` to v0.19.0
2. Run `go mod tidy` for ec2-controller
3. Successfully generate the service co

[2022-06-13 17:14] ack-bot opened #1341 "Errors while generating `route53-controller` for ACK runtime `v0.19.0`, code-generator `v0.19.0`"
### Errors while generating `route53-controller` for ACK runtime `v0.19.0`, code-generator `v0.19.0`

#### stdout for `make build-controller`:
[code]

#### stderr for `make build-controller`:
[code]

#### Steps for closing this issue:
1. Update route53-controller `go.mod` file to update `aws-controllers-k8s/runtime` to v0.19.0
2. Run `go mod tidy` for route53-controller
3. Successfully generate th

[2022-06-14 17:04] brucegucode commented on #1257
Reading the description, I think it matches with existing expected behavior.

1. RDS controller DBInstance CRD take `DBSubnetGroupNotFoundFault` as terminal exception, hence creation with non-exist subnet group will be considered terminal state. This aligns with RDS api call, https://docs.aws.amazon.com/AmazonRDS/latest/APIReference/API_CreateDBInstance.html#API_CreateDBInstance_Errors , `DBSubnet

[2022-06-14 17:39] brucegucode commented on #1324
I tried with local setup and seems it's working as expected.
@teddyking  If you describe that DBSubnetGroup object in k8s, does it have some message/exception of sync status?

Previously I have
[code]

describe call has
[code]

then i updated subnet id in this CRD
[code]

after applying, the describe is returning:

[code]

[2022-06-14 18:31] RedbackThomson commented on #1293
Just saw your cool medium article, @eminalemdar . I still want to move forward with pushing some of this stuff into the `examples` repository. I have a lot more examples that I can add but I like your rough structure

[2022-06-14 18:51] eminalemdar commented on #1293
Thanks a lot @RedbackThomson ! Sharing is the best thing we can do for the greater community. I believe we can work on this together if you need any help from me.

[2022-06-14 21:41] RedbackThomson commented on #1293
@eminalemdar Please check out https://github.com/aws-controllers-k8s/examples/pull/1 . I didn't include the TF scripts, because they haven't been migrated to use AWS EKS blueprints. We should probably split `scripts` up into `terraform`, `cdk`, etc. too?

[2022-06-14 22:38] RedbackThomson commented on #1257
@brucegucode Yes, both `DBSubnetGroupNotFoundFault` and `DBParameterGroupNotFound` are treated as terminal conditions (see [here](https://github.com/aws-controllers-k8s/rds-controller/blob/main/generator.yaml#L169-L170)). I think that these should be removed (and any other `*NotFound`) errors within all other custom resources, should be as well.

In order to be compliant with [GitOps](https://open

[2022-06-15 04:44] brucegucode commented on #1257
@RedbackThomson  I see your point here, we should allow k8s to constantly retry sync and try create db instance until the resource of `DBSubnetGroup` is available in k8s. hence we need to remove those terminal exceptions, also apply to other resources can be created in k8s as well

[2022-06-15 05:12] vijtrip2 opened #1342 "Resolved Reference giving validation error"
**Describe the bug**
There was a recent change in ACK runtime, where k8s resource metadata and spec get patched on the reconciler error inside `HandleReconcilerError` method.

This means that when there was a reference resolution error for one of the many references present in a resource, the already resolved references were getting patched inside etcd, which will lead to validation error on next

[2022-06-15 07:27] eminalemdar commented on #1293
Brilliant! Thanks @RedbackThomson ! I will migrate the `terraform` scripts to AWS EKS blueprints as soon as I can. I will let you know when I complete that.

Having multiple options for EKS cluster deployment would be perfect for everybody if it is maintainable of course. But I think starting with Terraform is more convenient.

[2022-06-15 13:38] juanrh opened #1343 "Wrong ConfigMap and Secret names on Red Hat OpenShift pre-installation instructions"
**What is the URL of the document?**
https://aws-controllers-k8s.github.io/community/docs/user-docs/openshift/

**Which section(s) is the issue in?**

[Step 3: Create ack-$SERVICE-user-config and ack-$SERVICE-user-secrets for authentication](https://aws-controllers-k8s.github.io/community/docs/user-docs/openshift/#step-3-create-ack-service-user-config-and-ack-service-user-secrets-for-authenticatio

[2022-06-15 15:14] eminalemdar commented on #1293
Hey @RedbackThomson ! I've migrated the Terraform scripts to Amazon EKS Blueprints for Terraform. you can check it out from [here](https://github.com/eminalemdar/aws-controllers-for-kubernetes/tree/master/terraform-files)

[2022-06-15 16:39] fcosta-td commented on #1275
I also quite like this idea, as it reduces the chance of user input errors.

[2022-06-15 18:04] #1305 closed

[2022-06-15 18:30] RedbackThomson commented on #1343
Which controller and version are you attempting to use? We actually switched from `ack-user-config` to `ack-$SERVICE-user-config` a little while ago, so that you could have separate configmaps per service - giving more fine-grain control over permissions. It's possible that the controller you're trying to use has not been released since we made that change, and still looks for the older name.

[2022-06-15 20:56] acornett21 commented on #1343
@RedbackThomson Has a release happened since the `code-gen` PR went in?

[2022-06-15 21:02] acornett21 commented on #1343
I see a release that happened today (well merges into the appropriate controllers for v0.19.0), so we just need for those all to trickle through and should be in OperatorHub after that.

[2022-06-15 21:06] acornett21 opened #1344 "Onboard emrcontainers-controller to OperatorHub"
**Is your feature request related to a problem?**
emrcontainers-controller needs to be onboarded to OperatorHub

**Describe the solution you'd like**
N/A

**Describe alternatives you've considered**
N/A

[2022-06-15 21:06] acornett21 commented on #1344
/assign

[2022-06-15 21:08] acornett21 commented on #1344
- Relates: redhat-openshift-ecosystem/community-operators-prod#1304
- Relates: k8s-operatorhub/community-operators#1338

[2022-06-15 21:44] #1342 closed

[2022-06-15 21:51] jaypipes opened #1345 "Introduce a `Ready` Condition"
We currently have the `ACK.ResourceSynced` Condition that informs the Kubernetes user whether the desired state of a resource matches the latest observed state of the resource.

The `ACK.ResourceSynced` Condition is very much useful for both the ACK controllers as well as Kubernetes users, however this Condition does **NOT** represent the "readiness" of a particular AWS resource. By "readiness", I

[2022-06-15 22:34] brucegucode commented on #1257
commit https://github.com/aws-controllers-k8s/rds-controller/commit/712a5b9c01131f309f0e31f6dcbd2c3ffaaae599 is merged, I'm ok to close this issue if there is no concern

[2022-06-16 00:23] #1330 closed

[2022-06-16 07:33] juanrh commented on #1343
This was the RDS controller `ack-rds-controller.v0.0.24`

[code]

So that explains that. Certainly it's nicer to be able to have separate configurations and permissions per controller.

I'll wait for the update, thanks a lot for the prompt response!

[2022-06-16 14:13] jaypipes commented on #1257
Yup, thanks @brucegucode!

[2022-06-16 14:13] #1257 closed

[2022-06-16 15:42] brucegucode commented on #1082
/remove-lifecycle rotten

[2022-06-16 16:18] teddyking opened #1346 "Update to some .spec fields for DBInstance causes infinite restart loop"
**Describe the bug**

We have observed a condition in which an update to some `.spec` fields on a `DBInstance` resource can lead to the RDS instance entering an infinite restart loop.
Specifically it seems to be `.spec` fields for which the ack service controller attempts to set non-null defaults if values for the fields are not provided when the `DBInstance` is first created.
Although we have onl

[2022-06-16 16:28] brycahta commented on #297
@jaypipes yes

[2022-06-16 18:41] acmcelwee opened #1347 "Install docs can be simplified for helm 3.8+"
**What is the URL of the document?**

[](https://aws-controllers-k8s.github.io/community/docs/user-docs/install/#install-an-ack-service-controller-with-helm-recommended)

**Which section(s) is the issue in?**

Install an ACK service controller with Helm (Recommended)

**What needs fixing?**

[As of Helm 3.8+, the OCI support for charts is generally available](https://github.com/helm/helm/releases/

[2022-06-16 19:03] brucegucode commented on #1082
I was trying this similar spec file but not see this issue anymore. Probably you can try update the rds controller version and see whether issue still exist.

My spec file
[code]

Then the serverless cluster can be created without looping , note it's Resource synced now.

[code]

[2022-06-16 19:14] RedbackThomson commented on #1347
Oh awesome. I actually just changed this on our `examples` repository, yesterday. I will copy over the changes :)

[2022-06-16 21:09] RedbackThomson commented on #1345
What would be the readiness for a static resource like an S3 bucket? Also for something stateful, like an RDS DBInstance, would `ACK.Ready` just imply the resource is in an accessible state (like `Active`) or something more?

[2022-06-16 21:10] RedbackThomson commented on #1343
@juanrh No problem, Juan. We're just cleaning up some bugs with the new `v0.19.0` runtime, but hope to get those out *soon*. I can update you when they are ready

[2022-06-16 21:15] RedbackThomson commented on #1346
I actually think this is a very good idea. Relying on returning an error to requeue has become a bit of a pain point in the `runtime` logic. Let me give that a shot and see if that can be a solution for unblocking the latest runtime updates.

[2022-06-17 01:19] jaypipes commented on #1345
For those kinds of resources, ResourceSynced and Ready would essentially be the same thing.

Precisely. When a `DBInstance` is in `available` state it would be `Ready=True`.

[2022-06-17 06:18] teddyking commented on #1324
Interesting, I'm not seeing that behaviour. After running through the steps to reproduce the issue and then describing the `DBSubnetGroup` object in k8s I see the following:

[code]

This suggests that the resource has synced successfully, however the Subnet IDs in the spec do not match the subnet IDs in the status.

I also took a look at the debug logs for the ack controller and they don't sugges

[2022-06-17 15:59] #1341 closed, assigned to vijtrip2

[2022-06-17 16:01] #1339 closed

[2022-06-17 16:02] #1338 closed

[2022-06-17 16:02] #1337 closed

[2022-06-17 16:03] #1334 closed

[2022-06-17 16:03] #1333 closed

[2022-06-17 16:04] #1332 closed

[2022-06-17 16:29] #1261 closed

[2022-06-17 16:42] brucegucode commented on #1324
that's interesting to see, spec and status files have diff but controller doesn't complain about it
there are some ongoing runtime/code-generator changes which might impact the behavior here, we can wait for them settle down and revalidate this behavior

[2022-06-17 16:52] RedbackThomson commented on #1308
Closing this. Let me know if this is still an issue

[2022-06-17 16:54] vijtrip2 commented on #1306
Closing this issue. Please reopen if you are still facing these errors.

[2022-06-17 16:54] #1306 closed

[2022-06-17 17:35] vijtrip2 commented on #1336
closing in favor of upcoming v0.19.1 release

[2022-06-17 17:35] #1336 closed

[2022-06-17 17:36] vijtrip2 commented on #1340
closing in favor of coming v0.19.1 release

[2022-06-17 17:36] #1340 closed

[2022-06-17 17:36] vijtrip2 commented on #1335
closing in favor of coming v0.19.1 release

[2022-06-17 17:36] #1335 closed

[2022-06-17 17:36] #1331 closed

[2022-06-17 17:46] ack-bot opened #1350 "Errors while generating `rds-controller` for ACK runtime `v0.19.1`, code-generator `v0.19.1`"
### Errors while generating `rds-controller` for ACK runtime `v0.19.1`, code-generator `v0.19.1`

#### stdout for `make build-controller`:
[code]

#### stderr for `make build-controller`:
[code]

#### Steps for closing this issue:
1. Update rds-controller `go.mod` file to update `aws-controllers-k8s/runtime` to v0.19.1
2. Run `go mod tidy` for rds-controller
3. Successfully generate the service co

[2022-06-17 17:53] ack-bot opened #1351 "Errors while generating `sagemaker-controller` for ACK runtime `v0.19.1`, code-generator `v0.19.1`"
### Errors while generating `sagemaker-controller` for ACK runtime `v0.19.1`, code-generator `v0.19.1`

#### stdout for `make build-controller`:
[code]

#### stderr for `make build-controller`:
[code]

#### Steps for closing this issue:
1. Update sagemaker-controller `go.mod` file to update `aws-controllers-k8s/runtime` to v0.19.1
2. Run `go mod tidy` for sagemaker-controller
3. Successfully gener

[2022-06-17 17:53] ack-bot opened #1352 "Errors while generating `ec2-controller` for ACK runtime `v0.19.1`, code-generator `v0.19.1`"
### Errors while generating `ec2-controller` for ACK runtime `v0.19.1`, code-generator `v0.19.1`

#### stdout for `make build-controller`:
[code]

#### stderr for `make build-controller`:
[code]

#### Steps for closing this issue:
1. Update ec2-controller `go.mod` file to update `aws-controllers-k8s/runtime` to v0.19.1
2. Run `go mod tidy` for ec2-controller
3. Successfully generate the service co

[2022-06-17 18:12] ack-bot opened #1353 "Errors while generating `lambda-controller` for ACK runtime `v0.19.1`, code-generator `v0.19.1`"
### Errors while generating `lambda-controller` for ACK runtime `v0.19.1`, code-generator `v0.19.1`

#### stdout for `make build-controller`:
[code]

#### stderr for `make build-controller`:
[code]

#### Steps for closing this issue:
1. Update lambda-controller `go.mod` file to update `aws-controllers-k8s/runtime` to v0.19.1
2. Run `go mod tidy` for lambda-controller
3. Successfully generate the s

[2022-06-17 21:44] #1350 closed

[2022-06-17 23:14] brucegucode commented on #1264
/close

[2022-06-18 00:08] #1311 closed

[2022-06-18 00:10] #1264 closed

[2022-06-19 14:48] ShacharMalachi opened #1355 "Question/Clarification/Bug - ACK-Controllers reconciliation after getting to desired state"
**Describe the bug**
ACK-Controllers don't override manual changes (e.g aws-console) after resource is getting to the desired state, even after few days of waiting.

There was a similar issue here: https://github.com/aws-controllers-k8s/community/issues/1288
The answer says that ACK-Controllers are using K8s API server default requeue time (described as 8 hours in this answer), but when I tested i

[2022-06-20 16:26] vijtrip2 opened #1356 "Build grafana dashboard for ACK controllers"
It will be helpful for ACK customers to visualize ACK controller metrics using Grafana dashboards. ACK service controllers already emit prometheus metrics which can be used for building Grafana dashboards.

ACK team already has a [Grafana dashboard inside test-infra](https://github.com/aws-controllers-k8s/test-infra/tree/main/soak/monitoring/grafana) repository, which is used to visualize and vali

[2022-06-20 17:05] #1347 closed

[2022-06-20 18:49] RedbackThomson commented on #1324
@brucegucode This is a similar error to https://github.com/aws-controllers-k8s/community/issues/1251

In the spec we have `SubnetIDs` and in the status we have `Subnets`. Our code tries to find a difference by comparing the output of `DescribeDBSubnetGroups` to the spec, except `DescribeDBSubnetGroups` does not contain a list of strings that match `SubnetIDs` - it only contains a list of `Subnet`

[2022-06-20 21:06] vijtrip2 commented on #1355
@ShacharMalachi , thanks for bringing this to our attention. I will reproduce this and report back on this issue. I will try to validate that requeue happens at 8 hour interval.

This code should not be overriding the k8s controller runtime requeue behavior.

[2022-06-20 21:17] vijtrip2 commented on #1163
This feature is available now. See https://aws-controllers-k8s.github.io/community/docs/tutorials/apigatewayv2-reference-example/

[2022-06-20 21:17] #1163 closed

[2022-06-21 23:57] vijtrip2 opened #1358 "controller-bootstrap implementation"
- [x] Create a cobra CLI for controller-bootstrap tool
- [x] create commands, input arguments, and include dummy implementation
- [x] create Makefile for executing the controller-bootstrap CLI in more user-friendly manner
- [x] Add various go template files which will be used to bootstrap a controller
- [x] Implement bootstrapping a new controller repository from scratch
- [x] Implement updating a

[2022-06-22 06:26] ShacharMalachi commented on #1355
Hi @vijtrip2

Any news regarding trying to reproduce this issue?

Thanks,
Shachar.

[2022-06-22 16:01] vijtrip2 commented on #1355
Hi @ShacharMalachi , I was able to reproduce the issue. We will be working on fixing this bug ASAP.

[2022-06-22 16:58] #893 closed

[2022-06-22 19:14] #1327 closed

[2022-06-22 19:20] RedbackThomson opened #1359 "Upgraded integration tests to support common ACK features"
**Is your feature request related to a problem?**
Our existing integration test framework cannot facilitate some of the latest common features of ACK. Namely:
- [AdoptedResource](https://aws-controllers-k8s.github.io/community/reference/common/v1alpha1/adoptedresource/)
- [FieldExport](https://aws-controllers-k8s.github.io/community/reference/common/v1alpha1/fieldexport/)
- [DeletionPolicy](https:

[2022-06-22 19:24] RedbackThomson opened #1360 "ACK multi-controller Helm chart"
**Is your feature request related to a problem?**
In order for users to install multiple ACK controllers, they must install each of them using the individual Helm charts - managing the version upgrades of each separately. A lot of the configuration of these Helm charts is shared (namely account ID, region, logging, etc.) and could easily be reused between all of them.

**Describe the solution you'

[2022-06-22 19:33] RedbackThomson opened #1361 "Code-generator requires `apis/v1alpha1` directory"
**Describe the bug**
When running the code-generator for the first time, on an empty repository, it fails with an error about not being able to find the `apis/v1alpha1` directory. I believe this is a latent error from the initial attempt at multi-version support - where it looks for any previously generated versions to compare against eachother. This should not be a required directory, it should b

[2022-06-22 19:52] brycahta opened #1362 "Add Exceptions to Terminal Code mappings to `ec2-controller`"
**Is your feature request related to a problem?**
The resources in `ec2-controller` are missing these mappings completely or only handle a small subset of exceptions.

**Describe the solution you'd like**
Resources should have handling for the majority of exceptions (focus on practical use cases).

**Describe alternatives you've considered**
N/A

[2022-06-22 19:54] vijtrip2 commented on #1355
Hi @ShacharMalachi , I found the issue and submitted a fix. I will let you know when new release of the s3 controller is out, and you can validate the fix too. Thanks!

[2022-06-22 20:57] #1351 closed

[2022-06-22 22:32] ack-bot opened #1363 "Errors while generating `ec2-controller` for ACK runtime `v0.19.2`, code-generator `v0.19.2`"
### Errors while generating `ec2-controller` for ACK runtime `v0.19.2`, code-generator `v0.19.2`

#### stdout for `make build-controller`:
[code]

#### stderr for `make build-controller`:
[code]

#### Steps for closing this issue:
1. Update ec2-controller `go.mod` file to update `aws-controllers-k8s/runtime` to v0.19.2
2. Run `go mod tidy` for ec2-controller
3. Successfully generate the service co

[2022-06-22 22:35] ack-bot opened #1364 "Errors while generating `lambda-controller` for ACK runtime `v0.19.2`, code-generator `v0.19.2`"
### Errors while generating `lambda-controller` for ACK runtime `v0.19.2`, code-generator `v0.19.2`

#### stdout for `make build-controller`:
[code]

#### stderr for `make build-controller`:
[code]

#### Steps for closing this issue:
1. Update lambda-controller `go.mod` file to update `aws-controllers-k8s/runtime` to v0.19.2
2. Run `go mod tidy` for lambda-controller
3. Successfully generate the s

[2022-06-23 05:02] ShacharMalachi commented on #1355
Hi @vijtrip2, Thank you very much for the quick fix, I truly appreciate it!

[2022-06-23 06:09] vijtrip2 commented on #1355
Hi @ShacharMalachi , you are welcome!

The new controller image and helm chart are published, and they should perform periodic drift detection every 10 hours to reconcile the desired state. https://gallery.ecr.aws/aws-controllers-k8s/s3-chart

We chose 10 hours because that is the default for upstream controller-runtime as well.

[2022-06-23 06:09] #1355 closed

[2022-06-23 13:11] A-Hilaly commented on #1185
/lifecycle frozen

[2022-06-23 22:29] RedbackThomson commented on #1314
For GA I propose we release the following CRDs:
- `HostedZone`
- `TrafficPolicy`
- `RecordSet`

This should allow Route53 users to create and manage their domain, DNS records and traffic flow through that domain.

[2022-06-24 16:33] #1353 closed

[2022-06-24 16:39] vijtrip2 opened #1366 "[EKS] POC for skip version upgrades"
The EKS service mandates that each version upgrade can only increment the cluster by 1 minor version - such as `1.17.` to `1.18`. If you try to upgrade by more than that, it will return an error. The EKS controller should support being able to declare the desired version and make the incremental minor version updates on the user's behalf. That is, if the current version is `1.17` and the desired i

[2022-06-24 16:44] vijtrip2 commented on #1345
/lifecycle frozen

[2022-06-24 16:45] RedbackThomson commented on #1343
@juanrh Try out https://github.com/aws-controllers-k8s/rds-controller/releases/tag/v0.0.27 and let me know

[2022-06-24 16:47] vijtrip2 commented on #1329
PR https://github.com/aws-controllers-k8s/runtime/pull/98 updates the controller logs to use more human friendly timestamps.

[2022-06-24 16:50] #1317 closed

[2022-06-24 18:24] vijtrip2 opened #1367 "Drift Remediation For ACK Resources"
**Is your feature request related to a problem?**
When an AWS resource managed by an ACK controller gets modified outside of the controller scope, through AWS console or AWS CLI, the controller should perform drift remediation and update the resource back to it's desired state.

**Describe the solution you'd like**

- [ ] ACK controller should be able to perform periodic drift remediation for AWS

[2022-06-24 18:28] RedbackThomson commented on #1346
I have re-opened this. Even though the fix was pushed into the RDS controller repository, we haven't made a new release for it yet. I'll come in and close this when we have.

[2022-06-24 18:41] jaypipes commented on #1367
I think we are likely to want different drift remediation seconds values per resource. I think a CLI option structured like so would probably work:

[code]

would apply to all resources without an override that the controller manages.

[code]

would allow overriding specific resources with the following serialized JSON representation:

[code]

so, image the RDS controller started with the followin

[2022-06-24 19:09] RedbackThomson commented on #1329
While it would be nice to have structured logging output in the tests as well (I'll take note of this when working on the refactor stuff as part of #1359), I think the controller logs should suffice for the moment. We ship controller logs in the Prow e2e test runs if you want to see them for PRs, otherwise you can now look at your controller to get accurate timestamps as the tests run.

[2022-06-24 19:09] #1329 closed

[2022-06-24 20:47] #1346 closed

[2022-06-25 18:24] #1361 closed

[2022-06-26 20:23] haarchri commented on #63
any updates here ?

[2022-06-27 14:20] jaypipes commented on #63
Hi @haarchri! Yes, we're making progress in this effort. The first part of the progress is here:

https://github.com/aws-controllers-k8s/runtime/pull/91
https://github.com/aws-controllers-k8s/runtime/pull/90
https://github.com/aws-controllers-k8s/runtime/pull/89
https://github.com/aws-controllers-k8s/runtime/pull/88
https://github.com/aws-controllers-k8s/runtime/pull/87
https://github.com/aws-cont

[2022-06-27 16:43] vijtrip2 commented on #1367
In this case, IPv6CIDRBlock should get late initialized into the Subnet, correct? And then the resync will not override it.

[2022-06-27 16:47] vijtrip2 commented on #1343
Closing the issue based on @acornett21's  comment.

[2022-06-27 16:47] #1343 closed

[2022-06-27 16:58] brycahta commented on #1326
Working on this now

[2022-06-27 21:48] vijtrip2 opened #1368 "Reusable Tag Assertion Methods"
Since adding the ACK system tags as default tags for ACK resources, the existing e2e tests ignore the ACK system tags rather than asserting their presence. And there is a lot of duplicate tag assertion logic inside every service controller.

There should be reusable methods inside ACK test-infra that should be used to verify ACK system tags. In addition there should also be more helpful functions

[2022-06-27 21:49] vijtrip2 commented on #1368
@RedbackThomson already added one such method inside test-infra , but this issue will track extending that work to cover the edge cases and other tag assertions.

[2022-06-27 22:09] brycahta opened #1369 "Add updateTags functionality for all ec2 resources"
**Is your feature request related to a problem?**
N/A

**Describe the solution you'd like**
update code paths for resources' `Tags` field

**Describe alternatives you've considered**
N/A

[2022-06-27 22:10] brycahta opened #1370 "Add e2e tests for tags in ec2-controller"
**Is your feature request related to a problem?**
N/A

**Describe the solution you'd like**
Create, delete, update tags should be tested

**Describe alternatives you've considered**
N/A

[2022-06-28 10:07] teddyking commented on #1324
I just upgraded my operator to the latest version (`v0.0.27`) and tried to reproduce this issue, however it appears as though it has now been fixed 😄 I'm now seeing the expected behaviour when I update my `DBSunetnetGroup` resources. Thanks! I guess we can close this one off?

[2022-06-28 10:57] wotolom opened #1372 "Missing package metav1 in zz_conversions.go"
**Describe the bug**
The package `metav1 "k8s.io/apimachinery/pkg/apis/meta/v1"` is not imported in zz_conversions.go, when the dependent fields are manually added through the generator-config.yaml.
This concerns the fields with the struct `time.Time` (in AWS SKD) that are converted to the struct `metav1.Time`.

I came across this behavior while working on crossplane controllers for the `Glue` API

[2022-06-28 16:49] juanrh commented on #1343
@RedbackThomson thanks for the heads up. I just tested it on a cluster. The version 0.0.27 of "AWS Controllers for Kubernetes - Amazon RDS" was available in Operator Hub without any additional configuration. With that an a ConfigMap ack-rds-user-config and a secret ack-rds-user-secrets now the pod for the Deployment ack-rds-controller is launching fine and accessing the AWS credentials.

So I conf

[2022-06-28 18:16] brucegucode commented on #1324
/close

[2022-06-28 18:36] jkatz commented on #1324
/close

[2022-06-28 18:37] #1324 closed

[2022-06-28 18:43] vijtrip2 commented on #1259
@jkatz , @A-Hilaly will have the latest info on this.

[2022-06-28 19:38] cdaveaws opened #1373 "serverlessV2ScalingConfiguration state not changing"
**Describe the bug**
any changes to serverlessV2ScalingConfiguration is not applied to the cluster.

**Steps to reproduce**

[code]

**Expected outcome**
After changing max/min capacity for serverlessV2ScalingConfiguration, it is not reflected on the cluster on a console.

[code]

logs:

**Environment**
[code]
* Kubernetes version:
* Using EKS (yes/no), yes:
* AWS service targeted : RDS

[2022-06-28 21:43] brucegucode commented on #1373
I'm not very familiar with aurora serverless v2 mode, so i'm asking some questions to internal rds team.
At the same time, if you try describe-db-cluster api https://docs.aws.amazon.com/cli/latest/reference/rds/describe-db-clusters.html for your cluster `tfc-db`. is it showing it's serverless v2 cluster ?

[2022-06-28 22:05] cdaveaws commented on #1373
Yes, Aurora cluster and Serverless instance get created just fine. It is when I try to change serverlessV2ScalingConfiguration ( min/max ACU) it doesn't get applied

[2022-06-28 22:26] vijtrip2 opened #1374 "Handling Immutable field changes"
The code-generator implementation for handling changes to immutable field(s) currently,

a) does not use correct field path to determine immutable field delta. It uses `delta.DifferentAt("FieldName")` instead of correct value `delta.DifferentAt("Spec.FieldName")`
b) continues with the update operation, even when the desired state contains the delta for an immutable field. I believe reconciler shou

[2022-06-29 10:26] x4d3 opened #1375 "FieldExport does not export field in configmap"
**Describe the bug**
Following [this tutorial](https://aws-controllers-k8s.github.io/community/docs/tutorials/rds-example/) we are trying to export the endpoint of a RDS database to a configmap in order to provide it to our pods as an env variable.

However the configmap does not contain the value after applying the configuration.

**Steps to reproduce**

- Apply this configuration
[code]
and Run

[2022-06-29 14:18] x4d3 commented on #1375
Added more logs from the rds controller
[code]

[2022-06-29 18:49] #1374 closed

[2022-06-29 19:10] RedbackThomson commented on #1375
The `Synced` you're seeing here indicates that ArgoCD has successfully synced the object from Git. We need the ACK condition on the object to be synced before the `FieldExport` will work.

As discussed over Slack:
The RDS `DBInstance` resource has been faulty lately, struggling to reach `ACK.ResourceSynced = true` because of looping calls to `ModifyDBInstance`. The RDS maintainers and the ACK core

[2022-06-29 20:14] RedbackThomson commented on #1375
Alright. I've messed around with it a bit to see what's happening and I have some updates. The RDS controller has issues reconciling `DBInstance` resources with `multiAZ: true` because of strange interactions from the RDS APIs - they're asynchronous sometimes, synchronous other times. We have already been looking into this, but we are still trying to figure out how to handle the mix of these two r

[2022-06-29 21:16] brucegucode opened #1376 "RDS Instance stuck in loop of changing multiAZ state if multiAZ flag is flipped in Spec file"
**Describe the bug**
A concise description of what the bug is.

**Steps to reproduce**

I'm still seeing this issue with latest rds controller. If customer create rds instance CRD, and then try to flip multiAZ flag to opposite value , controller will stuck in a loop of updating dbinstance between multiAZ true and false state.

It looks like it only applies to multiAZ state not the other flags like

[2022-06-29 21:44] vijtrip2 commented on #1376
taking a look. I will get rid of resync showing up as an error, which is red herring in this case.
`requeue needed after error	{"account": "316992738638", "role": "", "region": "us-west-2", "kind": "DBInstance", "namespace": "default", "name": "brucegu-test-maz-0", "is_adopted": false, "generation": 3, "error": null, "after": "10h0m0s"}`

And regarding Synced state, there may be a need to explicit

[2022-06-29 21:47] vijtrip2 commented on #1376
@brucegucode , the logs show only one update log which actually had no diff. And in the end controller requeued the resource for 10 hours(expected).

Were there more reconciliation cycles or this was it? If this was it then only issue is with setting Synced to True instead of Unknown.

[2022-06-29 22:03] vijtrip2 commented on #1376
Also surprised to see that Synced condition was Unknown(not True) because resync only happens when Synced condition is true. https://github.com/aws-controllers-k8s/runtime/blob/main/pkg/runtime/reconciler.go#L904

[2022-06-29 22:37] brucegucode commented on #1376
That's all the logs at that time, so that was it

[2022-06-29 22:38] brucegucode commented on #1376
that's all the log at that time, so that was it. i think one issue is it's in Unknown state, one issue is controller continue making modify db instance call

[2022-06-30 17:24] vijtrip2 commented on #1194
/lifecycle frozen

[2022-07-01 00:48] jkatz opened #1378 "Resource References for RDS CRDs"
**Is your feature request related to a problem?**

To support GitOps workflows, we need to add resource references to the RDS CRDs. This will allow for resources to be reconciled at the correct time when other resources are available.

**Describe the solution you'd like**

We should create the following resource references on each CRD. (The non-referenced field is listed in parentheses).

* `DBClu

[2022-07-01 16:34] #1363 closed

[2022-07-01 16:48] A-Hilaly commented on #1028
/assign @brucegucode

[2022-07-01 17:02] #1368 closed, assigned to vijtrip2

[2022-07-01 20:21] EdgeJ opened #1380 "Allow configuration of `SetManyOutputNotFoundErrReturn` per Operation"
**Is your feature request related to a problem?**
Now that the `setResourceReadMany` function has been set to pull double duty when passed a `Create` operation with a list element as the output (in https://github.com/aws-controllers-k8s/code-generator/pull/337) there can arise problems from the return value within the loop. Create and Describe operations can be used in different places in Go code

[2022-07-04 08:40] liger1978 opened #1381 "Transparent resource adoption"
**Is your feature request related to a problem?**

It seems that with `AdoptedResources`, I must know ahead of time if the resource within AWS already exists and make a choice based on this:

1. if the resource does already exists within AWS, I must specify an `AdoptedResource` to adopt it;
2. but if the resource does not exist within AWS, I must specify a new ack resource (e.g. an IAM policy reso

[2022-07-05 17:22] vijtrip2 commented on #1381
Original Problem

How are you performing the cleanup? Manually deleting resources from AWS or deleting the K8s resource manifests.
If it's the later and there is a bug in ACK resource deletion do let us know.

And during teardown wouldn't you wanna make sure that all the resources were successfully deleted before recreating the stack. Why reuse old resources that were meant to be deleted?

----
Ov

[2022-07-05 17:36] brucegucode commented on #1373
I'm able to reproduce this issue now.
I changed the minCapacity from 2 to 1, and here is runtime log, it find the diff `["Spec","ServerlessV2ScalingConfiguration","MinCapacity"]},"A":1,"B":2}]}` but there is no actual update on `ServerlessV2ScalingConfiguration` made. And then runtime thinks it's in sync again, while RDS actual MinCapacity is still 2 and k8s object thinks it's 1
[code]

[code]

[2022-07-05 18:02] liger1978 commented on #1381
In some cases the managing EKS cluster is destroyed and rebuilt. This is typically the situation that causes the ack-managed resources in AWS to be orphaned in our case. When the cluster is rebuilt and processes its GitOps repo, the reinstalled ack controllers attempts to recreate the orphaned resources and fail as they already exist. There is no bug AFAIK.

Not when we tear down the managing clus

[2022-07-05 18:18] liger1978 commented on #1275
This would be great. We're having to use Helm templating to achieve this currently.

[2022-07-05 18:20] vijtrip2 commented on #1381
@liger1978 , gotcha! Thanks for providing more context.

[2022-07-05 18:45] liger1978 commented on #1381
@vijtrip2 No problem. Another scenario, this time during production instead of development, is geographic failover of our EKS management cluster.

Management cluster cluster1 in us-east-1 goes down due to a regional outage, so we quickly spin up cluster2 in us-west-1 pointed at the same GitOps repo. We would like all the existing ack resources defined in the repo to be automatically adopted when t

[2022-07-05 21:19] brucegucode commented on #1373
I'm now able to find the root cause, created pr here https://github.com/aws-controllers-k8s/rds-controller/pull/96

[2022-07-05 22:13] RedbackThomson commented on #1381
@liger1978
Thanks for bringing this use-case to our attention. This annotation strategy was discussed during the design of the `AdoptedResource`. We haven't entirely written it off, but there are some other issues with it that I wanted to let you know.

Not all resources can be defined using the properties in their spec. Many AWS resources use an auto-generated name (such as the EC2 instance ID),

[2022-07-06 08:03] liger1978 commented on #1381
@RedbackThomson No problem!

For clarity, I am henceforth going to refer to my proposed process of managing existing AWS resources as "absorption" to make it distinct from your existing adoption process.

OK, a couple options for absorption here:

1. Only successfully absorb by `spec.name` where the name **is** a unique identifier of an existing AWS resource. If the name does not resolve to an exi

[2022-07-06 17:48] vijtrip2 opened #1383 "Generated sdkFindReadMany"
**Describe the bug**
A concise description of what the bug is.

**Steps to reproduce**

**Expected outcome**
A concise description of what you expected to happen.

**Environment**

* Kubernetes version
* Using EKS (yes/no), if so version?
* AWS service targeted (S3, RDS, etc.)

[2022-07-06 19:28] RedbackThomson commented on #1381
Actually I have been mincing this over for a while and I'm starting to come back around on this idea.

I'd say the main use-case for the `AdoptedResource` custom resource was to support users who were previously using other tools (CloudFormation, Terraform) without requiring them to rewrite all of their definitions with ACK. They would not be able to use your annotation-based solution - they would

[2022-07-06 20:13] brucegucode commented on #1082
going to close this one as not see the issue again

[2022-07-06 20:13] brucegucode commented on #1082
/close

[2022-07-06 20:14] brucegucode commented on #1139
issue-1318 is closed, we can close this one too.
https://github.com/aws-controllers-k8s/community/issues/1318

[2022-07-06 20:23] #1082 closed

[2022-07-06 23:21] brucegucode commented on #1373
feel free to try with latest commit of rds controller for this setting, should be fixed

[2022-07-06 23:21] brucegucode commented on #1139
/close

[2022-07-06 23:22] brucegucode commented on #1028
I believe this issue should be fixed , i tried changing instance type and it's working as expected.

[2022-07-06 23:23] brucegucode commented on #1259
I believe this issue should be fixed , i tried changing instance type and it's working as expected.

[2022-07-06 23:27] brucegucode commented on #1378
if i understand it correctly, it's to allow RDS CRD like DBCluster or DBInstance to refer RDS other CRD like DBParamGroup/ DBClusterParamGroup or EC2 CRD like SecurityGroup ?
similar to https://github.com/aws-controllers-k8s/eks-controller/blob/main/generator.yaml#L5

[2022-07-07 14:53] jkatz commented on #1139
/close

[2022-07-07 14:54] #1139 closed

[2022-07-07 18:19] brucegucode commented on #1378
I'm thinking about this change https://github.com/brucegucode/rds-controller/blob/issue-1378/generator.yaml#L110-L122 , but I'm not sure how to test it. The test process I'm thinking is like
1. create db instance with a specified db param group reference which point to a non-existing db param group.
2. create db param group from Spec , so it's available in k8s and then created in rds
3. verify db

[2022-07-07 18:36] RedbackThomson commented on #1378
We have created tests for other resources that use references. See https://github.com/aws-controllers-k8s/apigatewayv2-controller/blob/main/test/e2e/tests/test_references.py

Essentially, we apply a number of resources in the opposite order of their dependencies (that is we create the one that has no references to anything else at the end) and check that, after they've all been applied, they reach

[2022-07-07 21:38] vijtrip2 commented on #1381
Similar disaster recovery use case from EBS CSI driver: https://github.com/kubernetes-sigs/aws-ebs-csi-driver/issues/1160

[2022-07-08 16:01] A-Hilaly opened #1384 "Support Lambda `FunctionUrlConfig` resource"
**Describe the solution you'd like**
Support the newly added Lambda resource `FunctionUrlConfig` https://docs.aws.amazon.com/lambda/latest/dg/API_CreateFunctionUrlConfig.html

[2022-07-08 16:49] RedbackThomson commented on #964
We are fine with the comments we have inline in the Helm chart values files

[2022-07-08 16:49] #964 closed

[2022-07-08 16:51] RedbackThomson commented on #949
Considering how many runtime changes have been made since this issue was opened, this issue isn't relevant anymore. A new issue can be created if we find this problem persists with the latest version

[2022-07-08 16:51] #949 closed

[2022-07-08 17:04] RedbackThomson commented on #911
@fbozic Looking into it in this sprint. If it is straightforward I should have something out soon

[2022-07-08 17:20] brucegucode commented on #1378
code merged, going to close this one. i plan to add e2e test for it, but need do https://github.com/aws-controllers-k8s/community/issues/1325 first

[2022-07-08 17:20] #1378 closed

[2022-07-08 17:21] #1373 closed

[2022-07-09 00:42] jkatz commented on #1378
🎉

[2022-07-10 04:56] tomellis91 opened #1385 "Bootstrapping a new controller"
Good afternoon,

I am after some advice on how I can proceed with bootstrapping a new controller for ACM. I am hoping there may be some documentation floating around or if there is any advice I can be provided with to help me proceed.

**What is the URL of the document?**
N/A

**Which section(s) is the issue in?**

**controller-bootstrap** and **code-generator**

**What needs fixing?**

I am tryin

[2022-07-10 07:14] tomellis91 commented on #1385
Closing the issue as I can see this existing one open: https://github.com/aws-controllers-k8s/community/issues/482

[2022-07-10 07:14] #1385 closed

[2022-07-11 13:10] jaypipes commented on #1380
@EdgeJ As I noted in comments in the https://github.com/aws-controllers-k8s/code-generator/pull/337 review, the code for `SetResourceReadyMany` is getting really ugly and messy. I think the longer-term solution there is to have two separate Go code-generating functions, one for the "find-a-specific-resource-in-a-list-of-resources" problem and another function that actually *sets* values on the res

[2022-07-11 13:13] bwhaley commented on #41
Is there any documentation for importing/adopting resources?

[2022-07-11 13:36] jaypipes commented on #41
Hi @bwhaley! @RedbackThomson is actually working on documentation of AdoptedResource in this sprint. Expect to see some docs shortly. Thanks for your patience!

[2022-07-11 13:41] cdaveaws commented on #1378
👍

[2022-07-11 22:35] angadkalra opened #1388 "TrainingJob has no logs or events after applying"
**Describe the bug**
I setup my k8s cluster, roles, and policies using terraform. I followed the machine learning sagemaker ACK tutorial for deploying training jobs to sagemaker. The pods seem to be running fine but whenever I submit a job, the job has no status or events. The job doesn't seem to be hitting the pod because when I output the pod logs there is nothing new. Please see images below. A

[2022-07-11 22:38] RedbackThomson commented on #205
@bwhaley That documentation page is automatically generated based on the status of the Github issue, the repository release numbers and the existence of the `stable` Helm chart. Since a Github issue exists, but no release has been created for that repository, the SQS controller is still considered `Planned`. Once we publish the first release, it should update into `Released` status

[2022-07-11 22:39] jaypipes commented on #205
Yeah... it actually should be in `IN PROGRESS` project stage. That listing is generated with code here:

https://github.com/aws-controllers-k8s/test-infra/blob/a69375ed29089c5bd48c2ae99e12b9ee93d11fbb/tools/ackdiscover/controller.py#L211

Where is looks for whether the service's GH issue is in the `Planned` column of the [service controller project](https://github.com/aws-controllers-k8s/community

[2022-07-11 22:41] surajkota commented on #1388
Hi @angadkalra, thanks for reporting the issue. What did you set the value of [installScope](https://github.com/aws-controllers-k8s/sagemaker-controller/blob/main/helm/values.yaml#L69) in the helm chart?

If you changed it to `namespace`, you will need to create the TrainingJob CR in the `ack-system` namespace since your controller is only watching for jobs in the same namespce

[2022-07-11 22:42] bwhaley commented on #205
Thanks for the explanation, folks! I just wanted to get a pulse on it. Looking forward to this one.

[2022-07-11 22:43] surajkota commented on #1388
Can you paste the controller pod logs as well?
`kubectl logs  ack-system-controller-sagemaker-chart-86b77d98c5-kjz8x -n ack-system`

[2022-07-11 22:43] angadkalra commented on #1388
Hi @surajkota , installScope is set to "cluster".

[2022-07-11 22:46] angadkalra commented on #1388
This is the logs from pod:

[code]

[2022-07-11 23:07] #965 closed

[2022-07-11 23:25] surajkota commented on #1388
Interesting . . .

Can you re-install the chart with `enable_development_logging: true` and `level: debug` https://github.com/aws-controllers-k8s/sagemaker-controller/blob/main/helm/values.yaml#L63-L64 and then check the logs for the controller again?

Can you also paste the ClusterRole(named sagemaker-controller) and ClusterRoleBinding(name starts with sagemaker-chart) describe output? based on c

[2022-07-12 04:25] angadkalra commented on #1388
okay reinstalled and this is logs:

[code]

[code]

[code]

Regarding TrainingJob being created in same cluster, I only have one cluster running. Then I run kubectl apply. Is there a way to set the cluster to a desired cluster or make kubectl apply specific to a cluster?

[2022-07-12 05:36] surajkota commented on #1388
You can run `kubectl config current-context` to check the current cluster config points to

`kubectl config get-contexts` to list

[2022-07-12 06:07] surajkota commented on #1388
@angadkalra Your configuration looks correct to me.

I suspect something is going on with the `ACK_WATCH_NAMESPACE`, can you edit the `ack-system-controller-sagemaker-chart` deployment and set the `ACK_WATCH_NAMESPACE` environment variable value to `default`?

`kubectl set env -n ack-system deployment/ack-system-controller-sagemaker-chart ACK_SYSTEM_NAMESPACE=default`

The controller pod should re

[2022-07-12 15:21] cogren1 opened #1389 "DBSubnetGroup manifest created from AdoptedResource missing subnetIDs"
**Describe the bug**
One of our DBSubnetGroup manifests became detached from its AWS resource during a namespace migration. I created an AdoptedResource manifest to regenerate the manifest, but I received the following condition:
```'DBSubnetGroup.rds.services.k8s.aws "default-subnet-group" is invalid: spec.subnetIDs: Required value'```
This suggests to me that the DBSubnetGroup manifest that the

[2022-07-12 16:02] angadkalra commented on #1388
Okay I did that. One thing to note is that my deployment was called "ack-sagemaker-controller-sagemaker-chart" instead of "ack-system-controller-sagemaker-chart". Is that okay?

The pod restarted. I tried running the training job and got same result...no events.

This is my job:

[code]

Below is output for describing new pod. I have one question: You wanted to set the ACK_WATCH_NAMESPACE but the

[2022-07-12 16:12] #911 closed

[2022-07-12 16:23] surajkota commented on #1388
My bad and good catch, typo on my end, it should be ACK_WATCH_NAMESPACE not ACK_SYSTEM_NAMESPACE

[2022-07-12 16:25] surajkota commented on #1388
Yes, please use the deployment name you see for the controller

[2022-07-12 16:39] angadkalra commented on #1388
Okay tried all that and still nothing :(

[2022-07-12 16:40] angadkalra commented on #1388
Would you like to see my terraform setup file?

[2022-07-12 18:25] cogren1 commented on #1389
Looks like it's the same kind of problem as [this issue](https://github.com/aws-controllers-k8s/community/issues/1264).

[2022-07-12 20:52] brucegucode commented on #1028
code is merged, this issue can be resolved

[2022-07-12 20:52] #1028 closed

[2022-07-12 21:01] ryansteakley commented on #1388
Are the logs still empty for the sagemaker-controller after enabling debug mode?

[2022-07-12 22:31] angadkalra commented on #1388
These are the logs after I submitted trainingjob:

[code]

[2022-07-12 22:35] brucegucode commented on #1389
i've tested with all CRD supported in RDS, `dbClusterParamGroup` & `dbSubnetGroup` are the only left ones that will have issues when using adopted resources.  dbClusterParamGroup is easy to fix. dbSubnetGroup needs this subnetIDs renamed, but subnetIDs I think should also be a reference to EC2 service subnet group which I'm not sure how to deal with it yet.

[2022-07-12 22:41] ryansteakley commented on #1388
Does the training-job show up on the sagemaker ui? Can you try creating a new training job with a different name instead of "osic-test-run"

[2022-07-12 23:17] angadkalra commented on #1388
Tried renaming job, didn't show up in UI.

[2022-07-12 23:17] ryansteakley commented on #1388
Are the logs also the same as the ones shared previously?

[2022-07-12 23:18] ryansteakley commented on #1388
What do you get when describing the training-job ? Still no events?

[2022-07-12 23:21] angadkalra commented on #1388
Nevermind, you are correct, renaming the job worked! I am getting legit error messages now and statuses! How did you know it was the job name? Do I have to delete old jobs with the same name in order to use a job name multiple times?

[2022-07-12 23:22] angadkalra commented on #1388
Sorry, what I mean is, I've been deleting jobs from the cmd line using `kubectl delete trainingjob osic-test-run`, but they still show up in sagemaker UI. Is that okay?

[2022-07-12 23:28] surajkota commented on #1388
Yes, it is expected because the Job type of resources do not have a delete on SageMaker. They only support Stop. So if a job has already Completed or Stopped the controller just removes the finalizer from the resource so it can be deleted

If the an InProgress Job is deleted from K8s, the controller attempts to Stop the job and removes the finalizer only after the job has reached Stopped Status

L

[2022-07-12 23:31] angadkalra commented on #1388
So what is the correct procedure for naming and deleting jobs?

[2022-07-12 23:34] surajkota commented on #1388
w.r.t the controller's Deployment terraform template:
- you can skip specifying the `--watch-namespace ` in args for the controller since it is optional or
- try not including the `ACK_WATCH_NAMESPACE` environment variable.

The controller should start listening to resources all namespaces. I suspect that specifying "" as value for `ACK_WATCH_NAMESPACE` env variable is causing the issue you origin

[2022-07-12 23:40] surajkota commented on #1388
Naming - always use a new name for `spec.trainingJobName`. You will see an error under status if job already exists

Deleting - Nothing special, I was explaining the behaviour of the controller. If the an `InProgress` TrainingJob resource is deleted from K8s, the controller attempts to Stop the Job on SageMaker and removes the finalizer from the resource only after the job has reached `Stopped` St

[2022-07-12 23:57] angadkalra commented on #1388
Okay thanks so much!

[2022-07-12 23:57] #1388 closed

[2022-07-13 10:00] fbozic commented on #911
@RedbackThomson thank you very much, this was fast 😄

[2022-07-13 16:34] brucegucode commented on #1389
The fix is merged, please try with latest code and let us know if it's still broken

[2022-07-14 16:38] #1389 closed

[2022-07-14 16:59] cogren1 opened #1390 "RDS Create DBCluster From Snapshot"
**Is your feature request related to a problem?**
More or less. The ACK RDS controller can now create a DBInstance from a snapshot, but it still cannot create a DBCluster from a cluster snapshot. We were looking forward to not needing to using AdoptedResource for this.

**Describe the solution you'd like**
Just like [RDS Create DBInstance From Snapshot](https://github.com/aws-controllers-k8s/commu

[2022-07-14 20:35] cogren1 commented on #1389
Sorry for the delay. I had to figure out how to build the Docker image. I can say that all the fixes work though!

[2022-07-14 21:03] brucegucode commented on #1389
Thanks for verifying it!

[2022-07-15 13:54] eminalemdar commented on #1293
Hello @RedbackThomson ! I've added some more examples to the original repository. You can check out the PR and the examples from [here](https://github.com/eminalemdar/aws-controllers-for-kubernetes/pull/24)

[2022-07-15 18:34] RedbackThomson commented on #1293
@eminalemdar Would you be open to rebasing your repository from our `examples` repository? That way, we can easily cut PRs if you want to add more examples. Otherwise someone will have to copy between the different repository layouts each time, which is going to get annoying fairly quickly.

[2022-07-15 19:10] eminalemdar commented on #1293
@RedbackThomson I can add this repository as a remote to my repository and push changes/new examples or I can create PRs to this repository directly too with forking this repository.

[2022-07-16 11:46] haarchri commented on #1069
/remove-lifecycle stale

[2022-07-16 11:46] haarchri commented on #1069
/reopen

[2022-07-18 13:15] elyzov opened #1393 "Allow force delete S3 buckets"
**Is your feature request related to a problem?**
I'm frustrated when I try to delete the bucket with files which I had deployed for feature stand, but the controller failed with the following reason:

[code]
And there is no any chances to delete it except of manually cleaning up the files in the bucket.

**Describe the solution you'd like**
There should some ability to force delete the bucket wit

[2022-07-18 18:44] jkatz opened #1394 "Resources references for Lambda controller"
**Is your feature request related to a problem?**

Pieces of the Lambda controller can have resources that it may need to reference. For example, Lambda functions can be stored in S3 buckets and therefore depend on that buckets creation.

**Describe the solution you'd like**

Here are a list of refs that can be added in each of the CRD specs. Note that names may be changed if I'm not matching conv

[2022-07-18 21:47] RedbackThomson commented on #1393
I don't see a `ForceDelete` property on the [`DeleteBucketInput`](https://docs.aws.amazon.com/sdk-for-go/api/service/s3/#DeleteBucketInput) type. So this isn't something that is supported out of the box by the AWS SDK for Go.

With ACK, we try to stay away from what we consider "data plane operations" - that is, systems that interact with the data contained within an AWS resource. Example of this

[2022-07-19 18:18] brucegucode commented on #1390
Since the above code is merged, you can try latest code with `SnapshotIdentifier`. I will also write a tutorial for it. Note: updating the `SnapshotIdentifier` after it's set won't have effect for now which is a limitation currently

[2022-07-19 21:24] brucegucode commented on #1390
I'm adding the tutorial here https://github.com/aws-controllers-k8s/community/pull/1396

[2022-07-19 21:36] karmingc opened #1397 "error validating data: ValidationError(Table.spec): unknown field "timeToLive" in aws.k8s.services.dynamodb.v1alpha1.Table.spec"
**Describe the bug**
Tried to declare a timeToLive field but receiving an unknown field error.

**Steps to reproduce**
[code]

**Expected outcome**
It should not error out given that it is an available field https://aws-controllers-k8s.github.io/community/reference/dynamodb/v1alpha1/table/

**Environment**

* Kubernetes version
* Using EKS (yes/no), if so version? 1.22.5
* AWS service targeted (S3

[2022-07-20 09:27] ShacharMalachi opened #1398 "Upgrade go version for aws-controllers: Opensearch, S3, Elasticache, IAM"
**Describe the bug**
Hi,

Opensearch-Controller, S3-Controller, ElastiCache-Controller and IAM-Controller (latest release) go version is go1.17.5.

* Opensearch-controller: https://github.com/aws-controllers-k8s/opensearchservice-controller/blob/main/apis/v1alpha1/ack-generate-metadata.yaml#L4
* S3-Controller: https://github.com/aws-controllers-k8s/s3-controller/blob/b57a4e897b561a508f434f51412940

[2022-07-20 17:00] brucegucode commented on #1271
That's pretty cool and would be very useful to get a quick big picture!
One small question is suppose instance is doing some updating(like changing engine version/instance class etc). will this show the last known state or showing maybe waiting/unsynced ?

[2022-07-20 20:50] RedbackThomson commented on #1398
The version number you are referring to in the `ack-generate-metadata.yaml` file is the Go version that built the `ack-generate` binary (our code generator). The Go version we use to compile the released version of the controllers is defined in our [`Dockerfile`](https://github.com/aws-controllers-k8s/code-generator/blob/main/Dockerfile). We base this image off `public.ecr.aws/bitnami/golang:1.17`

[2022-07-20 20:52] RedbackThomson commented on #1397
`TimeToLive` was added in the most recent version of the dynamodb-controller ([`v0.1.3`](https://github.com/aws-controllers-k8s/dynamodb-controller/releases/tag/v0.1.3)). Please double check you are using that version, and you have installed the CRDs corresponding with that release.

[2022-07-20 21:29] karmingc commented on #1397
Ah, thanks @RedbackThomson!

Closing for now as we update to `0.1.3`.

[2022-07-20 21:29] #1397 closed

[2022-07-21 03:57] baijum commented on #1289
The FieldExport API provides native bindings for all kinds of developers. Both application development and infrastructure code can use FieldExport. However, it is a cumbersome solution for application development. Contrary to DevOps engineers who work with infrastructure code, application developers only require a minimal set of fields that is part of an AWS service. The application needs to conne

[2022-07-21 05:21] ShacharMalachi commented on #1398
Hi @RedbackThomson
Thanks for the answer and sorry for the confusion. I'll make sure to update our aws-controllers instances to the latest versions.

BTW, do you know why this PR wasn't merged yet? Do you plan to merge it in the near future? https://github.com/aws-controllers-k8s/opensearchservice-controller/pull/31

Thank you very much again,
Shachar.

[2022-07-21 17:41] brucegucode commented on #1390
the tutorial is also merged, going to close this issue. feel free to reopen if any issue is found

[2022-07-21 17:41] #1390 closed

[2022-07-21 19:03] A-Hilaly commented on #1239
/remove-lifecycle stale

[2022-07-22 16:39] jaypipes commented on #1393
@elyzov Hi! I have to agree with @RedbackThomson on this one. The ACK controller for S3 does not perform any S3 object-related API calls (the data plane). We only make calls to the control plane operations, which includes S3 Buckets only.

You will need to delete all the objects in the bucket before deleting it via the ACK controller.

[2022-07-22 16:44] jaypipes commented on #1398
@ShacharMalachi neither of the listed CVEs are relevant for ACK controllers built with Go 1.17. No ACK controller uses the `rat.SetString` function nor do the binaries themselves call the `go` CLI tool itself.

Going to close out this issue accordingly. We will be updating all the controllers over time to use more modern Go libraries, but those particular CVEs are not applicable to ACK controllers

[2022-07-22 16:44] #1398 closed

[2022-07-22 16:56] A-Hilaly commented on #966
We could also automate the generation of these documents - since we already have a lot of comments wriitten in `aws-controllers-k8s/runtime/apis/core`

[2022-07-22 16:59] A-Hilaly commented on #921
One solution would to remove the Go version from `ack-metadata.yaml` to avoid merge/rebase conflicts

[2022-07-22 20:28] ack-bot opened #1401 "Errors while generating `lambda-controller` for ACK runtime `v0.19.3`, code-generator `v0.19.3`"
### Errors while generating `lambda-controller` for ACK runtime `v0.19.3`, code-generator `v0.19.3`

#### stdout for `make build-controller`:
[code]

#### stderr for `make build-controller`:
[code]

#### Steps for closing this issue:
1. Update lambda-controller `go.mod` file to update `aws-controllers-k8s/runtime` to v0.19.3
2. Run `go mod tidy` for lambda-controller
3. Successfully generate the s

[2022-07-25 21:20] A-Hilaly commented on #1279
/lifecycle frozen

[2022-07-25 23:47] bjoernw opened #1402 "Lambda controller removing `code:` block"
**Describe the bug**
I have a single `Function` resource defined (see below). The problem I'm having is that after the function is successfully created the `code:` block gets removed from the `Function` object and ArgoCD will show this resource as out-of-sync again. What's the recommended way of indicating there is a new version available? At first I was embedding the gitsha in the zip file name b

[2022-07-26 09:22] transadm312 opened #1403 "ACK IAM :: Blue Green deployment"
**Describe the bug**
I have a requirement to deploy ACK IAM resources in secondary cluster / Blue Green deployment of EKS

**Steps to reproduce**
Install ACK Resources in Primary Cluster
Create EKS Secondary Cluster
Install ACK Resources in Secondary Cluster

**Expected outcome**
Role should be created / Updated
but getting "Resource already exists" exception

**Environment**

* Kubernetes version

[2022-07-26 13:43] A-Hilaly commented on #1403
Hey @transadm312 , having two clusters managing the same resource is not different from having two controllers in the same cluster. I think that ideally you should use a different AWS account for the secondary cluster (Second controller), or try to use a different AWS region in the secondary cluster.

[2022-07-26 13:54] a-hilaly opened #1404 "Upgrade `acktest` framework version in all ACK controllers"
Some off the controllers are still using old version of acktest framework. To make easier to support new sdk versions and add new CRDs we should ideally update all the controllers to use [latest acktest version ](https://github.com/aws-controllers-k8s/test-infra/commit/0bf619e4653b31346a8f39de7b6ad8a1d1317ef2)

A list to keep track of the controllers using the latest version of acktest:

- [ ] acm

[2022-07-26 16:46] bjoernw commented on #1402
Forgot to add details on the version im using:
[code]

[2022-07-26 17:02] karmingc opened #1405 "[Lambda] provisioning resource-based policies?"
Reference: https://docs.aws.amazon.com/lambda/latest/dg/access-control-resource-based.html

Is this currently possible? If not, is there a way to see a roadmap of the available AWS controllers?

Thank you!

[2022-07-26 17:21] vijtrip2 commented on #1126
I have started generating the initial resources for this service controller.

[2022-07-26 17:41] vijtrip2 commented on #1405
Hi @karmingc , you can see all the issues for a specific service controller using the label for that service name. Ex: https://github.com/aws-controllers-k8s/community/issues?q=is%3Aissue+is%3Aopen+label%3ALambda+

The main issues being "Lambda Service Controller" and "Lambda Service Controller GA release" . Similar pattern is followed for all service controllers.

[2022-07-26 17:44] vijtrip2 commented on #1405
Looking at the supported [resources](https://github.com/aws-controllers-k8s/lambda-controller/tree/main/apis/v1alpha1) and the spec of the Function resource, i do not think it is possible right now. @A-Hilaly, thoughts?

[2022-07-26 17:49] vijtrip2 commented on #1403
Hi @transadm312, this looks similar to https://github.com/aws-controllers-k8s/community/issues/1381 . It is on our radar.

[2022-07-27 13:57] A-Hilaly commented on #1405
We can add a `Permission` field to the lambda CRD, the same way we did for the function `CodeSigningConfig` field. I'll try to add this feature before lambda is released for GA

[2022-07-27 14:57] acornett21 opened #1406 "Document FieldExport and AdoptedResource in OpenShift docs"
**What is the URL of the document?**
[Red Hat OpenShift](https://aws-controllers-k8s.github.io/community/docs/user-docs/openshift/)

**Which section(s) is the issue in?**
N/A

**What needs fixing?**
Section 4 should become section 5 and section 4 should be optional if users want to use  FieldExport and AdoptedResource in their cluster. This will ensure that the controller starts up reconciling the

[2022-07-27 21:06] stanenbaum-va opened #1407 "S3 ACK - Unsupported Argument"
**Describe the bug**
After applying a bucket resource, the controller logs show the following error
[code]
K8s bucket status:
[code]
The bucket does get created, but deletion of the bucket, or any additional spec configurations that are added, do not actually get applied to the resource. To be noted, we are working on implementing S3 ACK in us-gov-west-1 via an AWS GovCloud account.

**Steps to re

[2022-07-28 08:37] akesser opened #1408 "VPC FlowLogs can't be generated"
**Describe the bug**
VPC FlowLogs exist in the aws sdk for go
[https://docs.aws.amazon.com/sdk-for-go/api/service/ec2/#EC2.CreateFlowLogs](https://docs.aws.amazon.com/sdk-for-go/api/service/ec2/#EC2.CreateFlowLogs), but do not exist in the ec2 generator-config.yaml, therefore we cannot activate them for creation

**Steps to reproduce**

**Expected outcome**
We should be able to generate the code f

[2022-07-28 09:36] A-Hilaly commented on #1408
Hey @akesser, did you try to bump `aws-sdk-go` version in ec2-controller `go.mod` file? this might solve your issue

[2022-07-28 09:42] A-Hilaly commented on #1184
/lifecycle frozen

[2022-07-28 09:51] haarchri commented on #1408
we trying to implement this in crossplane  but it looks like it is not possible - because this resource is not in ignore_list
https://github.com/crossplane-contrib/provider-aws/blob/master/apis/ec2/generator-config.yaml#L2
and the resource is not implemented

[2022-07-28 09:59] A-Hilaly commented on #1408
I just tried with our ec2-controller repository and i am not able to generate the `FlowLog` crd - this might be a bug in our code-generator. Investigating the root cause very soon

[2022-07-28 10:10] haarchri commented on #1408
Thanks

[2022-07-28 11:07] xoanmi commented on #1408
Related slack 🧵: https://crossplane.slack.com/archives/C01718T2476/p1659004740260759

[2022-07-28 11:53] A-Hilaly commented on #1408
The code-generator consider `CreateFlowLogs` a CreateBatch operation. Adding the following block to the generator configuration file should solve the issue:
[code]

[2022-07-28 12:12] offbynull opened #1409 "RDS binding to wrong VPC by default"
**Describe the bug**
Our AWS account has two VPCs, one created for general use and another created by `eksctl` for the k8s cluster we're using. When the RDS manifest is applied, it binds to the wrong VPC.

**Steps to reproduce**

1. ensure you have a "default network" VPC setup already

2. stand up a basic EKS cluster using `eksctl` defaults, it should create a VPC for the new cluster.

3. `kubect

[2022-07-28 13:23] A-Hilaly commented on #1409
Hi @offbynull, ACK controllers are designed to run on any Kubernetes clusters (can be a kind, GKE..) and are not related to EKS clusters or eksctl. In this case, it's the RDS control plane that defaults the VPC to the default one you have in your AWS account.

[2022-07-28 13:25] #1408 closed

[2022-07-28 13:38] offbynull commented on #1409
I understand that it might not be the responsibility of the ACK controller(s), but what's happening here feels deeply incorrect. I don't think many people using this would want to standup an RDS instance just to have none of their nodes / pods be able to talk to it. So my question is: who's responsibility is this? I don't think its the user's responsibility as it doesn't make sense to hardcode a V

[2022-07-28 14:10] baijum opened #1410 "Add optional key name for the FieldExport target"
**Is your feature request related to a problem?**

FieldExport generates the key name with an output structure like `<namespace>.<FieldExport-resource-name>`. This default naming structure creates non-conflicting names as the keys. However, many applications expect short names as keys. This is important, especially when the Secret/ConfigMap is mounted as files; the file names are nothing but the k

[2022-07-28 17:49] ilangofman opened #1411 "Renaming a Controller"
**Is your feature request related to a problem?**
Currently, I am working on the Amazon Managed Service for Prometheus (AMP) controller. Right now, the name of the controller is `prometheusservice-controller`. I was wondering if it would be possible to rename a controller repository to something more fitting such as `amp-controller`.

**Describe the solution you'd like**

I understand right now th

[2022-07-28 19:28] RedbackThomson commented on #1410
Agree - we should support something like this. As for conflicting output names, our controller does not check the existence of the key within the secret/configmap. We simply patch the key in that output path regardless of who owns it or the last known value.

[2022-07-28 19:33] RedbackThomson commented on #1407
Yeah unfortunately I don't know the S3 service well enough to comment on what could be missing/extra here. All ACK controllers are built on the latest version of the models in the `aws-sdk-go` repository. That means any regions that do not support the latest version of those models may raise exceptions like this one. Without releasing separate versions for every region, I don't really know if ther

[2022-07-28 19:35] RedbackThomson commented on #1411
Sorry but all of our tooling and documentation lines up with the current naming scheme. I opened [a PR](https://github.com/aws-controllers-k8s/code-generator/pull/213) a while ago clarifying what each service uses as their identifiers and where they are used in ACK. It would be a pretty monumental effort for us to refactor this, even just for a single repository.

[2022-07-28 19:43] RedbackThomson commented on #1409
Unfortunately I disagree. It is not the role of an ACK controller to make decisions about how your infrastructure resources should be created, much like CDK or Terraform don't infer configurations for their respective contexts. ACK should take the default action for a given service unless specified otherwise so that it is consistent across all services and with other AWS tooling.

If ACK started t

[2022-07-29 08:12] dgibbard-cisco commented on #1093
/remove-lifecycle stale

[2022-07-29 12:08] offbynull commented on #1409
Okay. I guess this ticket can be closed.

[2022-07-29 17:17] #1358 closed

[2022-07-29 18:26] #1409 closed

[2022-07-29 22:40] Project0 commented on #1093
/remove-lifecycle stale

[2022-07-30 15:26] A-Hilaly commented on #1093
/remove-lifecycle stale

[2022-07-30 15:27] A-Hilaly commented on #1093
/lifecycle frozen

[2022-07-30 17:45] #1193 closed

[2022-07-30 23:45] #1195 closed

[2022-07-30 23:45] #1196 closed

[2022-07-31 04:13] brucegucode commented on #1325
/close

[2022-07-31 04:13] #1325 closed

[2022-08-01 17:11] acornett21 commented on #1406
/assign

[2022-08-01 19:18] Benedikt1992 commented on #1294
No, we generated the code, disabled the generator and made manual changes to the code

[2022-08-01 23:45] #1190 closed

[2022-08-02 17:03] bjoernw commented on #1402
I'm trying to figure out whether to continue with my proof-of-concept. Did I misconfigure something? My understanding was that operators should not mutate anything in the `spec` and only edit the `status` section. Any idea what could be going on here @A-Hilaly ?

[2022-08-02 18:59] #1298 closed

[2022-08-02 19:05] brucegucode commented on #1376
Will circle back to this issue this week, looks like only multi-az is impacted

[2022-08-02 19:46] A-Hilaly commented on #1402
Hi @bjoernw, so most of the lambda controllers create/delete code paths are fully generated and the reason why the fields don't stay in sync is that the Lambda API returns different `code.s3bucket` and `code.s3key` fields than the ones originally submitted. We will have to add some custom code to keep the original code.s3bucket` and `code.s3key` content.

[2022-08-03 07:36] baijum opened #1412 "Test dependency on uuidgen not mentioned in the documentation"
**What is the URL of the document?**

https://aws-controllers-k8s.github.io/community/docs/contributor-docs/testing/

**Which section(s) is the issue in?**

Prerequisites

**What needs fixing?**

The command [uuidgen](https://github.com/util-linux/util-linux) is a dependency for running the tests. But that's not mentioned in the prerequisites section.

**Additional context**

When I tried to run t

[2022-08-04 18:39] A-Hilaly commented on #1285
/lifecycle frozen

[2022-08-04 18:40] A-Hilaly commented on #1276
/remove-lifeycle stale

[2022-08-04 18:40] A-Hilaly commented on #1276
/remove-lifecycle stale

[2022-08-04 23:12] brucegucode commented on #1376
when i updated multiAZ flag and apply spec file, controller immediately knows to update the multiAZ spec.
[code]

however controller describe status is still showing Resource in Sync for some time.
[code]
At next loop of controller, it updated ACK.ResourceSynced= false.

[2022-08-05 00:11] A-Hilaly commented on #1209
/lifecycle frozen

[2022-08-05 13:17] karmingc opened #1413 "Question: Lambda controller not updating configuration"
**Describe the bug**
I'm not sure if this is exactly a bug, but I noticed that whenever I try to update a field, for example, `timeout`, it does not update on the lambda function.

I looked in CloudTrail and saw the `UpdateFunctionConfiguration` event and noticed that it was not in the `RequestParameters`. However, the ECR image URI that I provide on the new deploy is included.

**Steps to reprodu

[2022-08-05 13:34] A-Hilaly commented on #1413
HI @karmingc thank you for reporting this issue. I'm currently refactoring lambda-controller e2e tests and will take a look a this very soon.

[2022-08-05 13:36] A-Hilaly commented on #1413
Could you please provide the version of the controller, and some logs related this event?

[2022-08-05 16:47] #1364 closed

[2022-08-05 16:48] #1401 closed

[2022-08-05 20:06] mjlumetta commented on #1407
A follow-up on this issue (I'm a teammate of @stanenbaum-va): we forked the s3-controller repo and did some debugging on it. It appears that the [call to `GetBucketAccelerateConfigurationWithContext`](https://github.com/aws-controllers-k8s/s3-controller/blob/v0.1.4/pkg/resource/bucket/hook.go#L297) in `addPutFieldsToSpec` was the SDK call that caused the error.

We actually noticed that [a very si

[2022-08-08 12:18] Preen opened #1414 "rds-controller support for Arm?"
Is there support or plans to support arm64 for the rds-controller? Getting this error after switching to arm64 arch.

[code]

[2022-08-08 13:54] A-Hilaly commented on #1414
Hey @Preen we're tracking ARM support in this issue https://github.com/aws-controllers-k8s/community/issues/138. One of our engineers is working on a proof of concept. Unfortunately, we cannot give any precise timelines now, hopefully, we get this supported before the end of the year.

[2022-08-08 13:54] #1414 closed

[2022-08-08 16:09] karmingc commented on #1413
hi @A-Hilaly, we are currently using `v0.0.16`

I wasn't able to get much informative logs through Helm, but can provide the ones from cloudtrail. Let me know if you have specific ones in mind.

resource template
[code]

CreateFunction event through cloudtrail:
[code]

UpdateFunction
[code]

[2022-08-08 16:11] A-Hilaly commented on #1413
Hi @karmingc, i have been able to reproduce the issue, it looks like it's a bug in the update code path. I'm actively working on a fix, I will ping you here once we make a new release.

[2022-08-08 19:05] jkatz commented on #1276
Does https://github.com/aws-controllers-k8s/rds-controller/pull/106 resolve this issue?

[2022-08-09 16:17] ack-bot opened #1416 "Missing `olmconfig.yaml` in `prometheusservice-controller`"
### Missing `olmconfig.yaml` in `prometheusservice-controller`

#### Steps for closing this issue:
1. Checkout [`prometheusservice-controller`](https://github.com/aws-controllers-k8s/prometheusservice-controller) repository
2. Add `olm/olmconfig.yaml` file in [`prometheusservice-controller`](https://github.com/aws-controllers-k8s/prometheusservice-controller) repository.
You can look at [`s3-contr

[2022-08-09 16:44] jaypipes commented on #1293
@eminalemdar I think we're good to close this issue out, yes? The examples repo contains examples for all the ACK controllers I believe?

[2022-08-09 19:30] jaypipes commented on #1276
yessir.

[2022-08-09 19:30] #1276 closed

[2022-08-09 20:59] tis-rpage opened #1417 "Expand FieldExport to support json `path` to target arbitrary fields of matching GNKV resources"
**Is your feature request related to a problem?**
Kustomize replacements/patches provide a means to modify specific attributes in a k8s resource via a json path. Field Exports enhanced with this capability could provide new functionality beyond targeting configMap/secrets.

For example, services of type `externalName` create a local DNS entry for connecting to services by a short name within the c

[2022-08-09 21:29] A-Hilaly commented on #138
cc @SantyAMZN

[2022-08-10 11:28] eminalemdar commented on #1293
Hello @jaypipes! I think we can close this issue. I can create new ones if needed in the examples repo. They are not quite complete but I will try to add more by creating PRs and relevant issues from there. Thank you!

[2022-08-10 12:59] ShacharMalachi opened #1419 "Question/Bug: CRDs are not getting upgraded when using helm upgrade to upgrade aws-controller version"
**Describe the bug**

Hi,

When using "helm upgrade" to upgrade an aws-controller chart, helm does not upgrade CRDs that are in '/crds' folder, even if there were changes.
https://helm.sh/docs/topics/charts/#limitations-on-crds

I'm aware that upgrading a client's CRDs is a difficult task because of existing resources that are dependent on the old CRD, but what should be the expected behavior of a

[2022-08-10 15:15] jaypipes commented on #1293
Sounds good @eminalemdar thank you! :)

[2022-08-10 15:15] #1293 closed

[2022-08-11 16:13] acornett21 commented on #763
/assign

[2022-08-11 17:54] grameshtwilio opened #1421 "Bypassing the CallerIdentity validation for running tests"
**Is your feature request related to a problem?**
I would like to test some of the ACK controllers with my `localstack` environment where I pass test credentials to the controller as environment variables. However, the controller errors at this [line](https://github.com/aws-controllers-k8s/runtime/blob/v0.19.3/pkg/config/config.go#L155)

**Describe the solution you'd like**
If a config variable su

[2022-08-11 18:15] A-Hilaly commented on #1421
We used to have a `--aws-acount-id` flag before. I'm not against bringing it back and using it if `GetCallerIdentity` fails somehow. @aws-controllers-k8s/runtime-maintainer thoughts?

[2022-08-11 23:07] acornett21 opened #1422 "Onboard `prometheusservice-controller` to OLM/OperatorHub"
**Is your feature request related to a problem?**
This controller is missing the `olm` file, so that needs to be added so that the code generation during releases kicks off.

**Describe the solution you'd like**
Add the file with the proper information

**Describe alternatives you've considered**
N/A

Additionally create the folders in the OperatorHub repos as well.

[2022-08-11 23:07] acornett21 commented on #1422
/assign

[2022-08-12 00:24] grameshtwilio commented on #1421
I found the [PR](https://github.com/aws-controllers-k8s/runtime/pull/54) that removed the `--aws-account-id` flag. It would be great to get it back or enabling something along the lines  of a`--local-run` flag that skips the validation check

[2022-08-12 07:24] krijan-devops commented on #1026
Service Catalog Provisioning Controller would be awesome. This would enable to provision sc products.

Ideally entire lifecycle management of product portfolio and share can be outside tge ACK as it involves hub and spoke model.

[2022-08-12 10:35] A-Hilaly commented on #1222
I still see that `VPCEndpoint` has a `ClientToken` field https://github.com/aws-controllers-k8s/ec2-controller/blob/main/apis/v1alpha1/vpc_endpoint.go#L29

[2022-08-12 10:38] A-Hilaly commented on #1421
I don't think it's safe to add flag that skips all validation checks on a binary that will be running on production.. however i don't see a problem with using `--aws-account-id` to override/default a value. In the mean time you can use a custom runtime library for your tests. Most of the controllers have a local go.mod file that replaces the upstream runtime module with your local one https://gith

[2022-08-12 11:58] ramnamy opened #1423 "How to pull the charts via Terraform Helm Provider?"
**Describe the bug**
How to pull the charts via Terraform Helm Provider

**Steps to reproduce**

**Expected outcome**
I would like to deploy the ACK controllers via Terraform Helm Chart

**Environment**

* Kubernetes version: 1.23
* Using EKS (yes/no), if so version?  Yes
* AWS service targeted (S3, RDS, etc.) S3

[2022-08-12 20:09] A-Hilaly opened #1424 "Prow `community-docs-release` jobs are failing"
**Describe the bug**
The Prow `community-docs-release` jobs [are failing since the 9th of August](https://prow.ack.aws.dev/?repo=aws-controllers-k8s%2Fcommunity), due to some errors return by `ack-discover` tool.

**Steps to reproduce**
The error is reproducible running the `ack-discover` tool
[code]

[2022-08-13 04:49] #1424 closed

[2022-08-13 04:53] A-Hilaly commented on #1416
Will be fixed in https://github.com/aws-controllers-k8s/community/issues/1422
/duplicate

[2022-08-13 04:54] #1416 closed

[2022-08-13 18:56] A-Hilaly commented on #1423
That's a good idea, we could definitely add an example for that in https://github.com/aws-controllers-k8s/examples

[2022-08-13 19:06] A-Hilaly commented on #1419
Hi @ShacharMalachi

I believe that cluster admins/maintainers should deal with this issue manually, and choose their way of upgrading/updating the CRDs.
Quoting: Operators who want to upgrade or delete CRDs are encouraged to do this manually and with great care.

Changing CRD yes. Changing CRs should ideally be automated via mutating webhooks. Tracking the progress of this one in #835 .

[2022-08-13 20:20] A-Hilaly opened #1426 "Move tags comparison utility functions to `runtime` repository."
**Is your feature request related to a problem?**
Currently, multiple controllers reuse the same code that compares two tag arrays ( `[]*Struct{Key, Value string}` )  or tag maps ( `map[string]string` )

**Describe the solution you'd like**
Move the tag comparison and equality check functions to the `ackcompare` package in https://github.com/aws-controllers-k8s/runtime

[2022-08-14 08:17] ShacharMalachi commented on #1419
Hi @A-Hilaly,

Thanks for the answer! I get your point, but see for example what cert-manager is doing:
https://github.com/cert-manager/cert-manager/blob/6947696b12428a1f9e5823c2e69de84b8dd08c1c/make/manifests.mk#L95

From what I understand, in release time they're copying CRDs from "crd/" folder to "templates" folder, and let the user choose (with a flag in values.yaml) if they want to upgrade CR

[2022-08-14 23:11] #1402 closed

[2022-08-15 17:41] faganihajizada commented on #1181
/remove-lifecycle stale

[2022-08-15 21:55] A-Hilaly commented on #1384
Released in `v0.0.17`

[2022-08-15 21:55] #1384 closed

[2022-08-15 21:56] A-Hilaly commented on #1413
We just release `v0.0.17` with a fix. Can you give it shot @karmingc ?