[2021-09-14 21:39] RedbackThomson opened #956 "Helm release tests did not catch fatal error in `applicationautoscaling`"
**Describe the bug**
Prior to [this pull request](https://github.com/aws-controllers-k8s/applicationautoscaling-controller/pull/48), the applicationautoscaling Helm charts contained an outdated file called "service.yaml". The file that replaced it, in the code-generator, was added ("metrics-service.yaml"), but this file was never deleted.
"service.yaml" references a ".Values.service.type" field, w

[2021-09-15 06:59] haarchri opened #957 "ec2 transitgateway code-gen problem zz_conversions.go"
faced some problem in ec2 transitgateway during code-gen in crossplane project crossplane/provider-aws#831 in func GenerateModifyTransitGatewayInput

https://github.com/haarchri/provider-aws/blob/ec2-transitgateway/pkg/controller/ec2/transitgateway/zz_conversions.go#L209-L272

wrong:
cr.Spec.ForProvider.Options.AddTransitGatewayCIDRBlocks
cr.Spec.ForProvider.Options.AssociationDefaultRouteTableID

[2021-09-15 12:38] paulcarlton-ww commented on #461
This issue is closed but it doesn't seem that the helm repo has yet been setup?

[2021-09-15 13:05] paulcarlton-ww opened #958 "Want to deploy ACK controllers from helm repository"
**Is your feature request related to a problem?**
Although #461 and #550 are closed I still can't work out how to access the helm repository that the ACK controller helm charts are deployed to.

**Describe the solution you'd like**
Be able to do helm repo add <url> to get access to helm charts. My actual preferred approach is to create a 'helmrepositories.source.toolkit.fluxcd.io' custom resource

[2021-09-15 16:15] vijtrip2 commented on #461
Helm repo is setup and functional. Are you exporting following variable? `export HELM_EXPERIMENTAL_OCI=1`

Please see [this](https://aws-controllers-k8s.github.io/community/docs/user-docs/install/) doc which installs ACK controllers using Helm.

[2021-09-15 16:22] vijtrip2 commented on #958
Helm repo is setup and functional. Are you exporting following variable before pulling chart? `export HELM_EXPERIMENTAL_OCI=1`

Please see [this](https://aws-controllers-k8s.github.io/community/docs/user-docs/install/) doc which installs ACK controllers using Helm.

And looks like the support for OCI charts is yet not present in fluxcd, but the issue is open.
https://github.com/fluxcd/source-contr

[2021-09-15 18:41] RedbackThomson commented on #838
All of these fields are available when hooking as part of `sdk_end`.

[2021-09-15 18:41] #838 closed

[2021-09-15 18:52] RedbackThomson commented on #955
This is the same issue as https://github.com/aws-controllers-k8s/community/issues/918 .

The nil dereference bug was fixed in https://github.com/aws-controllers-k8s/s3-controller/pull/41 , but we have not yet pushed a release which includes that new commit. If this is something you are blocked on, I am happy to cut a new one.

[2021-09-15 18:52] #955 closed

[2021-09-15 20:37] stunthamster commented on #955
Hi @RedbackThomson if you could cut a new release that'd be super useful from my POV as I'm also seeing these issues a fair bit; would make things a bit easier vs maintaining my own version of the image and amending the helm chart.

[2021-09-15 20:48] RedbackThomson commented on #955
Not a problem! Happy to do that now.

[2021-09-15 21:05] stunthamster commented on #955
That's great, cheers!

Also, I _may_ have found another issue. I'm getting seg fault issuing a bucket confirmation. The details are below - happy to raise another issue if this is separate. Quickly glancing, it seems to have some issues with a CORS policy. It probably is invalid, but looks like its not being handled well. I've hit this one a fair bit with policies.

Steps to reproduce
Create a buc

[2021-09-15 21:18] RedbackThomson commented on #955
It appears you have an extra dash in your configuration:

[code]
should be

[code]

[2021-09-15 21:41] stunthamster commented on #955
That'll be it! Again, thanks for the help.

[2021-09-15 22:20] RedbackThomson commented on #955
@stunthamster S3 v0.0.4 released which contains the bug fix for the nil dereference panics - https://github.com/aws-controllers-k8s/s3-controller/releases/tag/v0.0.4

[2021-09-16 08:50] stunthamster commented on #955
@RedbackThomson that release looks like it's resolved the issues I'm having, and formatting problems with policy etc look like they are being handled gracefully. Many thanks for the prompt release, its a big help!

[2021-09-16 12:23] dervos commented on #958
I worked around this by using the GitRepository source kind instead of HelmRepository:
[code]

And referencing the chart location in the helm release:
[code]

Keep in mind that you're now relying on the referenced repositories versioning instead of referencing the helm version in your HelmRelease, which can have unexpected side-effects.

[2021-09-16 13:28] twz123 opened #959 "s3-controller helm chart: include CRDs"
**Is your feature request related to a problem?**
As far as I can see, the S3 controller's Helm chart doesn't have an option to include the CRDs. So, installing the Helm chart isn't enough, but requires the out-of-band install of the CRDs via some other mechanism.

**Describe the solution you'd like**
CRDs can be deployed as  part of the chart, e.g. via `crds.enabled` in values.yaml or similar. Ma

[2021-09-16 16:15] vijtrip2 commented on #958
@dervos , very good suggestion.
Also, If in the url, you can specify the exact source release like `https://github.com/aws-controllers-k8s/s3-controller/tree/v0.0.3` , that will be identical to pulling the helm OCI chart from public ecr repo.

[2021-09-16 16:55] vijtrip2 commented on #959
* Hi @twz123 , I can see the `crds` directory present [here](https://github.com/aws-controllers-k8s/s3-controller/tree/main/helm)
* I also validated that if i perform helm install, crds do get installed.
* I also validated that public ecr helm charts also include `crds` directory.
* If crds directory is present, helm will automatically install crds during helm install command. If you wish to skip

[2021-09-16 17:12] RedbackThomson commented on #956
Solved! Thanks @vijtrip2

[2021-09-16 17:12] #956 closed

[2021-09-16 17:16] RedbackThomson commented on #908
Now up and running!

[2021-09-16 17:16] #908 closed

[2021-09-16 20:05] twz123 commented on #959
Hey @vijtrip2, thanks for your kind reply, Indeed, this was my bad, I was using helm template and completely overlooked the crd/ folder.

[2021-09-16 20:05] #959 closed

[2021-09-17 07:19] twz123 opened #960 "docs: broken links to contributor documentation"
**Describe the bug**
I noticed that the CONTRIBUTING pages in at least s3 and sagemaker controller point to outdated URLs and return 404 pages.

**Steps to reproduce**
They use `https://aws.github.io/aws-controllers-k8s/dev-docs/overview/`, whereas I reckon this changed to `https://aws-controllers-k8s.github.io/community/docs/community/overview/`.

**Expected outcome**
Up to date docs. Not sure if

[2021-09-17 17:37] vijtrip2 commented on #960
Thank you pointing out the inconsistency.
In this [PR](https://github.com/aws-controllers-k8s/code-generator/pull/199), I have updated the `build-controller.sh` to keep the files in all service controllers consistent with the files in `code-generator` repository.

On the next release of `code-generator`, all the service controller will be automatically build and will have the updated/correct files

[2021-09-17 20:24] acornett21 commented on #777
/remove-lifecycle stale

[2021-09-20 07:47] dervos commented on #958
@vijtrip2: I would recommend against referencing the specific version using the URL. `GitRepository` references the specific version using `spec.ref.tag` for git tags. Documentation: https://fluxcd.io/docs/components/source/api/#source.toolkit.fluxcd.io/v1beta1.GitRepositoryRef

[2021-09-20 16:02] acornett21 opened #963 "Migrate `kustomize` to code generator repo"
**Describe the bug**
Previously `install-kustomize.sh` was in the `community` repo,  this also needs to be migrated to the `code-generator` repo for `olm` generators to work properly.

**Steps to reproduce**
In the `generate-code` repo run `./scripts/olm-create-bundle.sh $SERVICE $RELEASE_VERSION`. This will give the below error:

[code]

However, the `sh` file mentioned is not in that directory,

[2021-09-20 16:02] acornett21 commented on #963
/assign

[2021-09-20 16:14] RedbackThomson commented on #953
/assign @aws-controllers-k8s/s3-maintainer

[2021-09-20 18:57] #963 closed

[2021-09-20 22:31] surajkota commented on #960
In addition to fixing this, can we set up a redirection from old links?

e.g. links in this blog are broken: https://aws.amazon.com/blogs/containers/aws-controllers-for-kubernetes-ack/

[2021-09-20 22:42] surajkota commented on #867
@phanimullapudi Please try out the latest 0.1.0 release of the application autoscaling controller. @mbaijal has added support for updating ScalableTarget and ScalingPolicy.

In case the resource is created successfully, `status.creationTime` and `status.lastModifiedTime` fields will be set. In case of a successful update, `status.lastModifiedTime` will be updated.

In case of failure, check for th

[2021-09-20 22:42] #867 closed

[2021-09-20 23:03] surajkota opened #964 "docs explaining various configurations in helm charts"
https://aws-controllers-k8s.github.io/community/docs/user-docs/install/ to include details about
the values that are required before installing any helm chart like `aws.account_id`. Talk about various configurations and possibly include samples on how to:

- instal the controller in cluster scope and namespace scope
- use private link
- setting log levels etc.

[2021-09-20 23:05] surajkota opened #965 "docs for adopted resource"
docs explaining what is an adopted resource and how to use it. talk about adopting by nameorId vs ARN and additional keys requirement for some resources

Started a sample here - https://github.com/aws-controllers-k8s/sagemaker-controller#80-adopt-resources

[2021-09-20 23:16] surajkota opened #966 "docs for conditions"
doc to explain the [common conditions ACK controller sets](https://github.com/aws-controllers-k8s/runtime/blob/main/apis/core/v1alpha1/conditions.go#L25-L55) and what each of those mean. Best to autogenerate this doc similar to the API reference

An extension of this issue can be a troubleshooting guide which can talk about:
1. Issues with a resource: When a customer sees a condition is set, what

[2021-09-21 13:51] komish opened #967 "generated ClusterServiceVersion base `annotations.containerImage` needs to use the new image repository format"
**Describe the bug**
When using code-generator to generator OLM assets, there is a templated value for `annotations.containerImage` in the ClusterServiceVersion that gets generated, and it uses the old format.

[code]

containerImage should match the new format, seen here: https://github.com/aws-controllers-k8s/elasticache-controller/blob/main/helm/values.yaml#L6

**Steps to reproduce**
[code]

**

[2021-09-21 14:12] #948 closed

[2021-09-21 16:28] vijtrip2 commented on #958
Please reopen if the suggestion from @dervos does not fix your problem.

[2021-09-21 16:28] #958 closed

[2021-09-21 16:34] vijtrip2 commented on #960
I would rather have us just update the blog post content if it is possible than setting up some redirection.

[2021-09-21 16:50] surajkota commented on #960
@vijtrip2 Blog post is just a sample. We dont know how many other blogs, medium posts readmes etc. might be broken. Is it complicated to setup?

[2021-09-21 18:58] surajkota opened #969 "Major changes to OCI feature in helm v3.7.0"
**Describe the bug**
Major changes introduced to OCI feature in helm v3.7.0 which breaks current docs and helm charts. See release notes: https://github.com/helm/helm/releases/tag/v3.7.0.

- Chart argument has been removed
- a change to the experimental OCI manifest format was introduced, preventing Helm 3.7 from fetching charts built with older versions of the experimental OCI feature. Users will

[2021-09-21 19:26] komish opened #970 "Default container image for olm-create-bundle.sh points to images at the old format"
Somewhat related: #967

**Describe the bug**
In [code-generator/scripts/olm-create-bundle.sh](https://github.com/aws-controllers-k8s/code-generator/blob/main/scripts/olm-create-bundle.sh), which fully renders an OLM bundle, we have a default image value that uses the old format for service controller images in this repository. This needs to be updated.

**Steps to reproduce**
Run the following aft

[2021-09-21 19:38] #953 closed

[2021-09-21 19:38] #954 closed

[2021-09-21 21:51] #960 closed

[2021-09-21 21:52] vijtrip2 commented on #960
PR for doc links fix is merged now. For the new release of every controller, the docs link will be correct.

[2021-09-22 15:44] komish opened #972 "`build-controller-release.sh` should also optionally create the OLM bundle on disk to be committed"
### Is your feature request related to a problem?
No

### Describe the solution you'd like
When build-controller-release.sh is called, the logic should go ahead and build all OLM assets. It's currently building most of them, but not actually building the bundle to commit to a repository.

The OLM workflow that already exists is conditional: https://github.com/aws-controllers-k8s/code-generator/blo

[2021-09-22 18:11] vijtrip2 commented on #843
/remove-lifecycle stale

[2021-09-22 18:12] vijtrip2 commented on #843
/lifecycle frozen

[2021-09-22 18:37] rbranche opened #973 "Support for GlobalCluster object/api in rds-controller"
**Is your feature request related to a problem?**
Support for GlobalCluster object in rds-controller

**Describe the solution you'd like**
Support added for GlobalCluster object/api (CreateGlobalCluster, DescribeGlobalClusters, ModifyGlobalCluster, DeleteGlobalCluster, etc.)

**Describe alternatives you've considered**
Currently, the only way to create a GlobalCluster object is to use the `globalC

[2021-09-22 21:41] #967 closed

[2021-09-22 21:41] acornett21 commented on #970
/assign

[2021-09-22 22:11] vijtrip2 opened #974 "Make apigatewayv2 resource name fields consistent with other ACK controllers"
apigatewayv2 resources have fields like 'DomainName', 'APIId', which ideally should be renamed to 'Name' and 'Id'

This is the standard across other service controllers, ex: 'BucketName' is renamed to 'Name' in s3-controller

[2021-09-22 22:48] vijtrip2 opened #975 "Support for granular key-level delta when comparing Maps"
ACK generated delta code supports field wise granular delta output for the structs ex: `Spec.ImageScanningConfiguration.ScanOnPush` but while comparing Maps there is no distinctions between which two keys are different in the Maps.

It can be useful to ACK users if delta comparison can be enhanced for Map comparison to include which keys are different between two objects, which keys were removed/a

[2021-09-23 14:15] trgeiger commented on #972
/assign

[2021-09-23 15:50] jaypipes commented on #923
aws-controllers-k8s/rds-controller#29 was never merged which is the fix for this issue.

[2021-09-23 16:16] ack-bot opened #976 "Errors while generating `rds-controller` for ACK runtime `v0.14.1`"
### Errors while generating `rds-controller` for ACK runtime `v0.14.1`

#### stdout for `make build-controller`:
[code]

#### stderr for `make build-controller`:
[code]

#### Steps for closing this issue:
1. Update `go.mod` file to update `aws-controllers-k8s/runtime` to v0.14.1
2. Successfully generate the service controller locally using latest release of
`aws-controllers-k8s/code-generator`
3.

[2021-09-23 16:18] ack-bot opened #977 "Errors while generating `sagemaker-controller` for ACK runtime `v0.14.1`"
### Errors while generating `sagemaker-controller` for ACK runtime `v0.14.1`

#### stdout for `make build-controller`:
[code]

#### stderr for `make build-controller`:
[code]

#### Steps for closing this issue:
1. Update `go.mod` file to update `aws-controllers-k8s/runtime` to v0.14.1
2. Successfully generate the service controller locally using latest release of
`aws-controllers-k8s/code-generato

[2021-09-23 16:18] ack-bot opened #978 "Errors while generating `elasticsearchservice-controller` for ACK runtime `v0.14.1`"
### Errors while generating `elasticsearchservice-controller` for ACK runtime `v0.14.1`

#### stdout for `make build-controller`:
[code]

#### stderr for `make build-controller`:
[code]

#### Steps for closing this issue:
1. Update `go.mod` file to update `aws-controllers-k8s/runtime` to v0.14.1
2. Successfully generate the service controller locally using latest release of
`aws-controllers-k8s/co

[2021-09-23 16:19] ack-bot opened #979 "Errors while generating `apigatewayv2-controller` for ACK runtime `v0.14.1`"
### Errors while generating `apigatewayv2-controller` for ACK runtime `v0.14.1`

#### stdout for `make build-controller`:
[code]

#### stderr for `make build-controller`:
[code]

#### Steps for closing this issue:
1. Update `go.mod` file to update `aws-controllers-k8s/runtime` to v0.14.1
2. Successfully generate the service controller locally using latest release of
`aws-controllers-k8s/code-gener

[2021-09-23 16:22] vijtrip2 commented on #979
/assign @aws-controllers-k8s/apigatewayv2-maintainer

[2021-09-23 16:28] vijtrip2 opened #980 "auto-generate-controllers script exits without generating all controllers"
go mod file update failures are not captured and it caused whole job to exit when kms controller did not have runtime dependency in go.mod file.

Solution:
Handle the command failure by checking it's exit code and continue with next controller.

Prow job logs: https://prow.ack.aws.dev/log?job=auto-generate-controllers&id=1441070643914215424

[2021-09-23 16:41] vijtrip2 commented on #237
/remove-lifecycle stale

[2021-09-23 16:41] vijtrip2 commented on #237
/lifecycle frozen

[2021-09-23 16:51] #970 closed

[2021-09-23 17:59] vijtrip2 commented on #951
apigatewayv2 controller now updated to v1.37.10
https://github.com/aws-controllers-k8s/apigatewayv2-controller/blob/main/apis/v1alpha1/ack-generate-metadata.yaml#L8

[2021-09-23 17:59] #951 closed

[2021-09-23 18:00] #980 closed

[2021-09-23 18:04] vijtrip2 commented on #979
apigatewayv2 controller is upto date with ACK runtime v0.14.1 now

[2021-09-23 18:04] #979 closed

[2021-09-23 18:08] vijtrip2 opened #981 "Update ACK runtime for kms-controller to `v0.14.1`"
Failure in autogenerating kms-controller with ACK runtime v0.14.1

Prow logs: https://prow.ack.aws.dev/log?job=auto-generate-controllers&id=1441098804676792320
Rootcause: MIssing `github.com/aws-controllers-k8s/runtime` dependency in `go.mod` file

[2021-09-23 18:09] vijtrip2 opened #982 "Update ACK runtime for sfn-controller to `v0.14.1`"
Failure in autogenerating sfn-controller with ACK runtime v0.14.1

Prow logs: https://prow.ack.aws.dev/log?job=auto-generate-controllers&id=1441098804676792320
Rootcause: MIssing `github.com/aws-controllers-k8s/runtime` dependency in `go.mod` file

[2021-09-23 18:09] vijtrip2 opened #983 "Update ACK runtime for sns-controller to `v0.15.2`"
Failure in autogenerating sns-controller with ACK runtime v0.14.1

Prow logs: https://prow.ack.aws.dev/log?job=auto-generate-controllers&id=1441098804676792320
Rootcause: MIssing `github.com/aws-controllers-k8s/runtime` dependency in `go.mod` file

[2021-09-23 23:37] #981 closed

[2021-09-23 23:47] RedbackThomson commented on #845
Fixed within https://github.com/aws-controllers-k8s/test-infra/pull/63

[2021-09-23 23:47] #845 closed

[2021-09-24 18:20] #972 closed

[2021-09-24 19:11] haarchri opened #985 "elasticloadbalancingv2 unable to generate"
**Describe the bug**
in crossplane we are unable to generate elasticloadbalancingv2
looks like naming issues between elasticloadbalancingv2 and elbv2
also we see issues regarding go sdk version 1.37.10 - did we have trick to generate it ?

https://github.com/crossplane/provider-aws/issues/841

[2021-09-24 19:14] haarchri opened #986 "Inconsistent tagging syntax"
**Describe the bug**
 tagging syntax are not consistent between controllers

list:
` tagList = append(tagList, v1beta1.Tag{Key: k, Value: v}) `

map:
` tags[k] = v `

think it wouldn’t ld be great to have consistent tagging syntax for all controllers - what you think guys ?
https://github.com/crossplane/provider-aws/issues/827

[2021-09-24 19:16] #986 closed

[2021-09-24 22:28] #982 closed

[2021-09-24 22:36] vijtrip2 opened #987 "Fallback for `aws_account_id` when installing controller"
**Describe the bug**
Currently while following [installation](https://aws-controllers-k8s.github.io/community/docs/user-docs/install/) instructions, the ACK controller fails to start for latest version of service controllers. The following error message is shown in controller logs

[code]

**Steps to reproduce**
Follow the [installation instructions](https://aws-controllers-k8s.github.io/community

[2021-09-25 09:47] alphamichael opened #988 "Documentation regarding helm 3.7 is incorrect"
**Describe the bug**
The installation docs prescribe using a version of helm greater than or equal to 3.7 due to a breaking change introduced in helm 3.7.

This appears to be incorrect and should instead say use a version of helm **less than** 3.7?

**Steps to reproduce**
Using helm 3.7

[code]

Using 3.6.3:

[code]

**Expected outcome**
Documentation regarding helm 3.7 to be accurate.

[2021-09-25 12:37] vijtrip2 commented on #988
Thank you for bringing it to our attention.
In this case, v0.0.4(released 10 days ago) was generated using helm 3.6

Coming week, we will generate the new release of all ACK controllers, which will be compatible with helm 3.7, and also consistent with our documentation.

[2021-09-27 16:41] vijtrip2 commented on #988
Please reopen if you still see concerns.
ACK team released new controllers which are compatible with Helm-3.7 and consistent with documentation.

[2021-09-27 16:41] #988 closed

[2021-09-28 15:48] vijtrip2 commented on #710
/close

[2021-09-28 15:48] #710 closed

[2021-09-28 15:53] vijtrip2 commented on #296
/close

[2021-09-28 15:53] #296 closed

[2021-09-28 15:56] vijtrip2 commented on #268
/close

[2021-09-28 15:56] #268 closed

[2021-09-28 15:57] vijtrip2 commented on #481
/close

[2021-09-28 15:57] #481 closed

[2021-09-28 15:59] vijtrip2 commented on #590
/remove-lifecycle rotten

[2021-09-28 16:00] vijtrip2 commented on #679
/close

[2021-09-28 17:53] estebancatano opened #990 "apigatewayv2 controller v0.0.6 has problems for to run the pods"
**Describe the bug**
I'm try install the version v0.0.6 (This was release yesterday) for apigatewayv2 controller, but it is'not working for me.

helm install works fine, but the pods never starts, and the pod describe command (kubectl describe pod $POD_NAME -n $NAMESPACE) show an error.
![Captura de Pantalla 2021-09-28 a la(s) 12 41 11 p  m](https://user-images.githubusercontent.com/9955458/135138

[2021-09-28 17:56] jaypipes commented on #990
Hi @estebancatano! Would you mind pasting any log output from the failed controller Pod please? Thank you!

[2021-09-28 17:56] RedbackThomson opened #991 "Regenerate opensearchservice controller in new repository"
Use the generator and metadata files from the existing `elasticsearchservice-controller` to migrate over to the new `opensearchservice-controller` repository.

- Upgrade all references of the existing service and API name to the new one
- Change documentation to reflect new service name and acronym

[2021-09-28 17:57] RedbackThomson opened #992 "Retag and release latest version for `opensearchservice`"
Use the latest configuration of the `opensearchservice-controller` repository to produce a new version, and publish it to a brand new ECR public repository

[2021-09-28 17:58] RedbackThomson opened #993 "Mark `elasticsearchservice` as deprecated in GH and ECR"
Place warning notices about the deprecation of the `elasticsearchservice` controller and charts in:
- The Github controller repository
- The community repository releases page
- The ECR public repositories (both chart and controller)

[2021-09-28 18:20] vijtrip2 commented on #990
Hi @estebancatano , Thanks for reaching out.

We have PR out for updating the install doc which shall be merged soon, But I can recommend you two updates that will make the controller install successfully for you.
1. Please use `--set aws.account_id` flag during helm install
2. Please also remove `serviceAccount.create=False` unless your default user has permission to read/write on APIGatewayv2 CR

[2021-09-28 20:03] jaypipes commented on #930
Hi @chlunde! This is a great feature request and something I think we should be able to accommodate fairly easily. I'll see what I can do about getting this into our next sprint or two.

[2021-09-28 21:54] estebancatano commented on #990
Hi @vijtrip2 thanks for your answer, the problem was resolved with the flag `--set aws.account_id`

Thanks!

[2021-09-28 21:54] #990 closed

[2021-09-28 22:39] CarlosDomingues commented on #222
That's a much needed component for folks trying to implement GitOpsish, self-service pipelines for EKS.

[2021-09-28 23:07] RedbackThomson opened #994 "`aws-sdk-go` package name doesn't match service ID"
**Describe the bug**
Each service has a `ServiceID` which identifies the model package directory (under `aws-sdk-go/models/apis/`). Each service also has a service package name used for importing the `aws-sdk-go` types and methods. The code currently assumes that these two are identical, as they have been for each of the controllers so far. This assumption breaks when generating the `opensearchser

[2021-09-28 23:59] RedbackThomson commented on #991
Fix for https://github.com/aws-controllers-k8s/community/issues/994 is required for this service.

[2021-09-29 15:17] vijtrip2 opened #996 "Update installation documentation to latest version compatibility"
* Follow ACK installation instruction from https://aws-controllers-k8s.github.io/community/docs/user-docs/install/ and update the instructions if some commands are out of date
* Include s3 Bucket creation and deletion as validation of controller installation

[2021-09-29 15:36] vijtrip2 commented on #978
closing in favor of https://github.com/aws-controllers-k8s/community/issues/991

[2021-09-29 15:36] #978 closed

[2021-09-29 15:37] oxeye-schmil opened #997 "add apigatewayv2 controller via `Chart.yaml` dependecies"
Hi,

I would like to add the apigatewayv2 controller by deploying a helm chart with the following dependencies

apiVersion: v2
name: aws-resources
appVersion: "0.0.1"
version: 0.0.1
description: AWS Resources
dependencies:
  - name: aws-load-balancer-controller
    version: "1.2.7"
    enable: true
    repository: "https://aws.github.io/eks-charts"
  - name: apigatewayv2-chart
    version: "0.0.6"

[2021-09-29 16:23] vijtrip2 commented on #997
Why does it have two '/' between `aws-controllers-k8s` and `apigatewayv2-chart` ? That does not seem right.

Also look at the trailing '/' here for apigatewayv2-chart
[code]

[2021-09-29 17:08] oxeye-schmil commented on #997
There was a typo in my Chart.yaml when I ran it
this is the current error
[code]

[2021-09-29 17:09] oxeye-schmil commented on #997
Prorbably the repo url is wrong but couldn't find the right one

[2021-09-29 17:12] vijtrip2 commented on #997
Found the issue. The version is v0.0.6 and not 0.0.6

It worked for me.
[code]

[2021-09-29 17:39] RedbackThomson commented on #590
/lifecycle frozen

[2021-09-29 17:39] RedbackThomson commented on #747
/lifecycle frozen

[2021-09-29 17:41] RedbackThomson commented on #996
Would you mind updating the title of this issue to be more specific? Perhaps "Update installation documentation to latest version compatibility"?

[2021-09-29 21:38] oxeye-schmil commented on #997
Thanks
But you are still getting
[code]

[2021-09-29 21:51] RedbackThomson commented on #997
You may need to append the chart name to the repository?

For example, `repository: "oci://public.ecr.aws/aws-controllers-k8s/apigatewayv2-chart"`

[2021-09-29 21:52] RedbackThomson commented on #997
Have you upgraded your Helm CLI version to 3.7?

[2021-09-29 21:59] vijtrip2 commented on #997
Yes.
[code]

[2021-09-29 22:12] vijtrip2 commented on #997
@oxeye-schmil , I asked the question on similar issue in helm repository.
https://github.com/helm/helm/issues/10128#issuecomment-930582803

[2021-09-30 03:18] vijtrip2 commented on #642
/close

[2021-09-30 03:18] #642 closed

[2021-09-30 03:18] vijtrip2 commented on #892
/close

[2021-09-30 03:18] #892 closed

[2021-09-30 11:09] #994 closed

[2021-09-30 15:24] jicowan opened #998 "Automatically generate a dynamic client or a fargateprofiles client with a runtime scheme"
**Is your feature request related to a problem?**
I want to be able to create a CRD object programmatically.

**Describe the solution you'd like**
I had to create a dynamic client in Go to create an instance of the CRD. I could have used runtime scheme too. I'd like for these clients to be included in the package so I don't have to create them.

Example 1:
[code]

Example 2:
[code]

Example 3:
[co

[2021-09-30 16:25] brycahta opened #999 "Heuristic to guess resource name and operation does not support resources where the default form is plural"
**Describe the bug**
* Code-generator ignores resources when the default form of the resource is plural. Ex: DhcpOptions, FlowLogs
* **root cause:** Resource generation is driven by a resource's *Create* operation. `DhcpOptions` does not have a *Create* operation bound to it after heuristic processing because [GetOpTypeAndResourceNameFromOpID](https://github.com/aws-controllers-k8s/code-generator/

[2021-09-30 16:26] brycahta commented on #999
### Proposal to Fix
* Add a resource-level override to indicate the plural-ness of a resource. This will signal to code-generator to **not** bind `Batch` operations with a plural resource.

**Interface**
* *EC2-Controller::generator.yaml*:

[code]

**Implementation**
* Add `cfg *ackgenconfig.Config` parameter to [GetOpTypeAndResourceNameFromOpID](https://github.com/aws-controllers-k8s/code-generat

[2021-09-30 16:35] vijtrip2 commented on #999
The approach looks decent to me! 🚀

[2021-09-30 16:50] vijtrip2 commented on #998
If I understand correctly, you created a `fargateprofile` resource dynamically and wondering why ACK does not provide this CRD?

I think the short answer is that ACK does not support Fargate controller yet. Here is the list of services currently supported/proposed for ACK. https://aws-controllers-k8s.github.io/community/docs/community/services/

Please let me know if I did not understand your conc

[2021-09-30 17:30] jicowan commented on #998
@vijtrip2 I want to use the CRDs that ACK creates to programmatically create instances of those CRDs. In this particular instance, I am writing an admission controller to automatically create a Fargate profile when a namespace with a specific annotation is created. I want to use the FargateProfile from the eks-controller to create the profile. I am asking that ACK bundle a client with the controll

[2021-09-30 17:36] RedbackThomson commented on #998
I've tried to do lots of digging through documentation to find best practices for creating custom resources. Some documentation still references typed client sets, which I believe is an outdated idea (lmk if I'm wrong?). However, for the dynamic client sets, the use of the `UnstructuredConverter` seems a little scary to me. Do you have a preferred method - perhaps a link to some existing code samp

[2021-09-30 18:08] jicowan commented on #998
See https://stackoverflow.com/questions/53341727/how-to-submit-generic-runtime-object-to-kubernetes-api-using-client-go/53359468#53359468. What don't you like about the `UnstructedConverter`?

[2021-09-30 18:59] RedbackThomson commented on #999
I don't see any particular value in the `contains_plural_suffix` resource configuration. I'd assume this to be true for all resources, and then any that don't match should be placed into the ignore list. For instance, [`CreateFlowLogs`](https://docs.aws.amazon.com/sdk-for-go/api/service/ec2/#EC2.CreateFlowLogs) seems like a data plane operation, and should be ignored.

I'm concerned about using a

[2021-09-30 19:15] brycahta commented on #999
In other words you're thinking this kind of scenario is the exception and shouldn't occur throughout the APIs frequently? I was trying to get data for this and grep'd for all `Create` operations that end in 's' in `aws-sdk-go/models/apis` folder as a starting point. Results:

[code]

I'm not familiar with a lot of these so I deferred to a config for now, but I'll take more time to see which seem l

[2021-09-30 20:18] RedbackThomson commented on #998
Okay. I've just done a bit of messing with it myself to see if I could find a cleaner way, but I think your 3 examples are a comprehensive set of methods. It appears the `k8s.io/client-go/dynamic` is the current best-practice way to support programmatic CRUD of custom resources. [This article](https://caiorcferreira.github.io/post/the-kubernetes-dynamic-client/) gives a really good overview of how

[2021-09-30 21:07] jicowan commented on #998
Yes, I think adding `GroupVersionRresouce` will simplify things @RedbackThomson. Thanks for looking into this.

[2021-09-30 21:34] bwagner5 commented on #999
Looks like there is precedent for plural kinds, most notably `Endpoints` in corev1: https://github.com/kubernetes/kubernetes/issues/8115  so shouldn't be any core k8s components that assume Kind != Plural.

I'd disagree that CreateFlowLogs is a data plane API. CreateFlowLogs is used to setup network traffic flows on a VPC, not to actually publish a flow log entry.

[2021-09-30 23:41] RedbackThomson commented on #998
@jicowan Take a look at https://github.com/aws-controllers-k8s/code-generator/pull/212 . Let me know if that works for you.

[2021-09-30 23:50] RedbackThomson commented on #999
Removing all of the non-plural words that end with `s` in that list, I honestly don't think that's too bad. Given just how many freakin' AWS services there are, this averages out to only a few per service. So for things like `CreateTableRows`, we'd need to add an ignore, but most of these looks like valid CRDs.

My apologies, I misunderstood this API. Valid point.

[2021-10-01 00:34] eddiezane commented on #998
My expectation when working with a CRD backed by a Go type/controller is that there is a generated client (and usually informers + listers). [code-generator/client-gen/kubebuilder](https://github.com/kubernetes/code-generator) would normally do this for free but it looks like we're using a different approach for code gen. I haven't dug in but It should still be possible to generate once the type e

[2021-10-01 02:47] acunabit opened #1000 "Error enabling DynamoDB table stream"
**Describe the bug**

The table gets created successfully with streams enabled, however I'm seeing this error in the controller logs:

[code]

**Steps to reproduce**

[code]

Then I see this error in the dynamodb controller logs:

[code]

**Expected outcome**
Table gets created successfully with streams enabled without seeing any errors in the logs.

**Environment**

* Kubernetes version
1.19
* Us

[2021-10-01 13:29] #998 closed

[2021-10-01 13:34] jaypipes commented on #998
The typed clientsets are merely a porcelain API versus the plumbing API that the dynamic client represents. In other words, they are just syntactic sugar.

I didn't generate typed clientsets for our ACK controller CRDs originally because I wanted to keep things simple (since we were generating a ton of controller implementations). I still don't think it's *necessary* to generate typed clientsets f

[2021-10-01 13:49] jaypipes commented on #1000
@A-Hilaly please look into this one.

Couple things immediately stand out for me:

* There should not be stacktraces in the log output. a ValidationException is a "normal" error/fault code and should be dealt with in the normal flow of code (not make an ERROR log...). ValidationException perhaps should be listed in terminal conditions for the Table resource?
* This looks to be a situation where th

[2021-10-01 14:13] jicowan commented on #998
I think users will eventually want to develop automation that makes use of the ACK CRDs. We should make this as easy as possible.

[2021-10-01 14:57] jaypipes opened #1001 "Log messages no longer show Kind, still have duplicated Values"
ACK runtime v0.14.1, here is an example log message:

[code]

As you can see, the Kind is now `""` and the Values are still being doubled up :(. #344 was supposed to fix the multiplication of Values but clearly has not.

[2021-10-01 16:23] eddiezane commented on #998
For sure but the dynamic client can be pretty confusing and I imagine customers would prefer to `import .../client` over fumbling with it.

Thanks for the context, @jaypipes! Sounds like a plan. Will be interesting to see what customers do in this space.

I'll sync with @jicowan and get something added to the docs about using the dynamic client for now.

I'm curious, does controller-runtime handle

[2021-10-01 16:42] RedbackThomson commented on #998
@eddiezane
https://github.com/aws-controllers-k8s/runtime/blob/main/pkg/runtime/reconciler.go#L83-L89

This is where in the code we set up a `controller-runtime` controller object. We pass it an empty K8s object, and it acts as an informer for that type. We can also set "predicates" to filter out certain events.

[2021-10-01 16:43] RedbackThomson commented on #1001
I think we are also seeing a lot more levels of nesting. That is, I see `>>>>>>>` in some parts. It seems we never go back out a level.

[2021-10-01 17:08] eddiezane commented on #998
@RedbackThomson Ahhh very cool. Thank you!

[2021-10-01 20:47] RedbackThomson opened #1002 "Creating an existing resource does not set terminal condition"
**Describe the bug**
If the user creates a resource that already has a corresponding AWS resource (that is, not created with ACK), the resource should have a terminal condition and stop reconciling. The terminal status is not being applied because we have a condition checking for `IsManaged` before we apply the patch - https://github.com/aws-controllers-k8s/runtime/blob/8e4dc5ecc41f9370e413c3be4ee

[2021-10-01 22:26] vijtrip2 opened #1003 "Automate service controller release"
Even after auto-generation of service controllers(on new code-gen/runtime release) , It is still needed to

1. explicitly generate release artifacts with next patch release and
2. publish tag on service controller repository

for releasing a service controller to public ECR.

-----------------------

Both of above mentioned task can be automated using the prow jobs during auto-generation of servic

[2021-10-02 15:55] #996 closed

[2021-10-02 15:55] #987 closed

[2021-10-02 15:57] #969 closed

[2021-10-02 15:59] #939 closed

[2021-10-02 16:03] #907 closed

[2021-10-02 16:03] #905 closed

[2021-10-02 16:09] vijtrip2 commented on #902
Since this is the recommendation in our docs, I will add a test in service controllers which can very the presence of this file and non empty content.

The test can be more enhanced in the future by actual creation of role using recommended policy but testing the presence will be a good start.

[2021-10-02 16:16] #836 closed

[2021-10-04 06:20] cesarafterpay opened #1004 "Resource deleted before finalizer is removed"
**Describe the bug**

I added a finalizer to the DynamoDb table resource definition to prevent accidental deletion of the table. However, the DynamoDB table is deleted before the finalizer is removed. The controller does wait for the finalizer to be removed though.

**Steps to reproduce**

1.  Create resource with custom finalizer
cat  <<EOF | kubectl apply -f -
apiVersion: dynamodb.services.k8s.a

[2021-10-04 09:04] oxeye-schmil opened #1005 "setting uri using service external IP"
Hi

According to https://aws.amazon.com/blogs/containers/integrate-amazon-api-gateway-with-amazon-eks/
we should aws cli to set the apigateway uri
In my helm chart I define a service that uses aws lb
I also define an apigateway and would like to use the service fqdn (erternal-ip) to set the uri
Any idea how to do it in the same chart?

### service definition

`kind: Service
metadata:
  name: {{.Re

[2021-10-04 16:44] acornett21 opened #1006 "OLM Fails to Install 2nd Controller if Any Other Controller is Present within a Cluster"
**Describe the bug**
We have been testing both the S3 and Elasticache controllers in an OpenShift Cluster
and we ran into an issue where if one controller is installed, and we try to install a second controller, OLM fails to install the second controller.
If we only install one controller at a time S3 or Elasticache OLM installs the controller successfully. And then the controller is able to
manag

[2021-10-04 18:29] RedbackThomson commented on #1006
As per our conversation on Slack:

[2021-10-04 18:31] RedbackThomson commented on #1006
Since OLM generates a separate bundle, using the Kustomize files we generate for the normal installer, it is possible to leave out the `crds/common` directory, which contains the `AdoptedResource` CRD. What are the capabilities of the OLM post-install scripts? Is it capable of applying a K8s manifest to the cluster?

[2021-10-04 18:37] RedbackThomson commented on #1004
From my understanding of the [K8s finalizer documentation](https://kubernetes.io/docs/concepts/overview/working-with-objects/finalizers/), this is an expected behaviour. That is, a finalizer is meant to signal to the K8s API that the resource should remain in etcd, and to signal to its respective custom controller that the resource is still being managed.

Each ACK controller only understands its

[2021-10-04 18:47] RedbackThomson commented on #1005
Hey @oxeye-schmil,
This seems like an interesting proposition, and I can totally see value in a dynamic interaction between the two controllers. From what I understand, you would essentially like to inject the URI created by the ELB controller into the body of the APIGW `API` object within the same chart?

ACK controllers don't currently support something like that. I imagine this would be support

[2021-10-04 21:43] #976 closed

[2021-10-04 21:46] acornett21 commented on #1006
@RedbackThomson Since our script is downstream of the main build scripts, and the OLM generations works off of a `temp` directory we will probably end up taking a similar approach to leaving out that `crd/common` director, so kustomize does not pick up that file.

[2021-10-04 21:46] seocam commented on #997
I'm having the same issue using GCP Artefact Registry. I'm able to download the chart but I get the following:

[code]

[2021-10-04 21:47] acornett21 commented on #1006
/assign

[2021-10-04 23:40] acunabit commented on #1004
Thank you @RedbackThomson  for your quick reply and explanation.

[2021-10-05 00:53] acunabit commented on #1004
@RedbackThomson last question. Is there a means to prevent ACK from deleting the AWS infra when a CR is deleted in k8s?

[2021-10-05 00:53] samruthr commented on #988
@vijtrip2 I am still encountering this issue with the SageMaker chart v0.1.0:
[code]

[2021-10-05 02:39] vijtrip2 commented on #988
Yes because sagemaker controller haven't been built and released with helm3.7 .
Sorry for the inconsistency among helm version compatibility but sagemaker team handle release of their own controller. I will reach out to them to make a new release. Current release should work well with helm 3.6

[2021-10-05 07:33] oxeye-schmil commented on #1005
I did separate the charts for the moment
but it causes dependency between charts that causes devops issues
Can we tag it as a feature request?

[2021-10-05 16:13] brycahta commented on #999
Gotcha. My thoughts for approach were either:
* New config value
* A static collection of these plural names that **should not be** ignored
  * this collection would be referenced in a similar way as checking the config override above

Are you good with moving forward with the 2nd option given the data or did you have a different implementation in mind?

Could you expand on this a bit? What do you

[2021-10-05 16:23] vijtrip2 commented on #1005
@oxeye-schmil , Please correct me if my understanding below is incorrect.

You want to create a helm chart which has a k8s service(LoadBalancerType) and this k8s service's external IP will be used as uri in API resource.
The issue that you may be seeing are that API Gateway resource is not waiting for k8s service to be created and you'd like to have a dependency relation between them.

If above is

[2021-10-05 16:34] trgeiger opened #1009 "clusterserviceversion.yaml.tpl still contains reference to ServiceID in code-generator"
**Describe the bug**
A concise description of what the bug is.

Commit 15c7f5c730d71f54af0f42499d7f9196248a375f in code-generator removed the ServiceID metadata variable which is still being used in once in clusterserviceversion.yaml.tpl. This breaks the OLM build-controller process.

**Steps to reproduce**

Attempt to `ACK_GENERATE_OLM=true make build-controller SERVICE=$SERVICE` with latest `mai

[2021-10-05 16:51] vijtrip2 commented on #1009
Hi @trgeiger , there is already a PR open which brings ServiceID back
https://github.com/aws-controllers-k8s/code-generator/pull/213 so this OLM build will fix as soon as that PR merges.

----------------

For future changes to catch these errors before PR gets merged, I will add OLM tests that will run on every code-generator PR submission. This will make sure OLM functionality is not broken by t

[2021-10-05 16:57] acornett21 commented on #1009
Thanks @vijtrip2 let us know if you want us to review the tests you create.

[2021-10-05 17:11] vijtrip2 commented on #1009
Hi @acornett21 , does following qualify as a successful test ? If yes, then I can add success of this command as validation in PR tests.
[code]

-------------

* I used the s3 controller, but is there a candidate service-controller which you would like me to add for OLM functionality verification?
* I don't think any of the controller currently have "/olm/olmconfig.yaml". Do you add that config fi

[2021-10-05 17:20] acornett21 commented on #1009
@vijtrip2 we have been testing with `s3` and `elasticache` I think testing with either is fine. From an `OLM` prospective as long as the last line is `INFO[0000] All validation tests have completed successfully` this indicates a success, the `WARNS` in the middle we tend to ignore since the service API's (ie the actually s3 api's) move faster then the `yamls` everyone is pre-staging in the various

[2021-10-05 17:20] trgeiger commented on #1009
That's great news. Does #214 conflict with that or pose any issues? Or is it just complementary?

[2021-10-05 17:21] trgeiger commented on #1009
Whoops, mis-clicked!

[2021-10-05 17:29] vijtrip2 commented on #1009
Thanks @acornett21

Great, I will add the test to generate s3-controller with ACK_GENERATE_OLM = true

---------

Is this necessary step? If yes, Can you please add this file in s3-controller and raise a PR for it? @jaypipes , will that be alright?

If adding olmconfig.yaml files in `main` branch of `s3-controller` is not an option, I can add it in a separate GH branch and test can curl the file a

[2021-10-05 19:02] acornett21 commented on #1009
@vijtrip2 The file is in `main` in the `s3-controller` controller already. We might be talking about different things, the file I am talking about is below.

https://github.com/aws-controllers-k8s/s3-controller/blob/main/olm/olmconfig.yaml

[2021-10-05 20:48] trgeiger commented on #1009
Should we close this since the original bug is fixed now? Happy to keep open for the testing bit, but maybe we should track that in a separate issue?

[2021-10-05 20:49] vijtrip2 commented on #1009
Yeah, I will create a separate issue for adding the test.

[2021-10-05 20:49] #1009 closed

[2021-10-05 20:52] vijtrip2 opened #1010 "Add presubmit OLM test in code-generator repo"
Any PR in code-generator repo should validate that OLM functionality is not broken by new change.

Adding a new test which runs `ACK_GENERATE_OLM=true make build-controller SERVICE=s3` will be a very good start.

[2021-10-05 22:46] RedbackThomson commented on #1004
As @vijtrip2 said. There is also an open issue for using annotations to define the deletion policy for resources - https://github.com/aws-controllers-k8s/community/issues/82

[2021-10-05 23:11] RedbackThomson commented on #1005
I will also point you to the following issues:
https://github.com/aws-controllers-k8s/community/issues/20
https://github.com/aws-controllers-k8s/community/issues/740

[2021-10-06 18:58] #973 closed

[2021-10-06 23:00] acunabit commented on #1004
Thank you for your response @vijtrip2 @RedbackThomson.

[2021-10-07 06:27] acunabit opened #1011 "Duplicated DynamoDb backups"
**Describe the bug**
DynamoDB backups get created twice. First time it works as expected. Second time, two backups can be seen in the AWS console. We can see two create events in the  logs:

[code]

**Steps to reproduce**

cat <<EOF | kubectl apply -f -
apiVersion: dynamodb.services.k8s.aws/v1alpha1
kind: Backup
metadata:
  namespace: core
  name: manual-$(date +%Y-%m-%d-%H%M%s-m)
spec:
  backupNa

[2021-10-07 16:42] acornett21 commented on #763
/remove-lifecycle rotten

[2021-10-07 19:33] akartsky opened #1012 "[SageMaker] TrainingJobs not bubbling up errors properly"
**Describe the bug**
If you submit a TrainingJob with a name which already exists in SageMaker then the controller reconciles (and stops) without bubbling up any error to the user.

This might be happening with other resources too

**Steps to reproduce**
Submit a TrainingJob with a name which already exists in SageMaker

**Expected outcome**
Show the error in `kubectl describe trainingjob`

**Envi

[2021-10-07 19:38] jaypipes commented on #1012
Hi @akartsky! This is actually a duplicate of #1002. Closing this one out and poking @RedbackThomson :)

[2021-10-07 19:38] #1012 closed, assigned to nobody

[2021-10-07 20:31] RedbackThomson commented on #858
/lifecycle frozen

I'll get to it :)

[2021-10-07 21:53] ack-bot opened #1013 "Errors while generating `sagemaker-controller` for ACK runtime `v0.15.0`"
### Errors while generating `sagemaker-controller` for ACK runtime `v0.15.0`

#### stdout for `make build-controller`:
[code]

#### stderr for `make build-controller`:
[code]

#### Steps for closing this issue:
1. Update `go.mod` file to update `aws-controllers-k8s/runtime` to v0.15.0
2. Successfully generate the service controller locally using latest release of
`aws-controllers-k8s/code-generato

[2021-10-08 02:04] vijtrip2 commented on #1011
Please reopen if you still see the duplicate issue with v0.0.6 release

[2021-10-08 02:04] #1011 closed

[2021-10-08 17:47] jaypipes commented on #678
/remove-lifecycle stale
/lifecycle frozen

[2021-10-08 18:36] ack-bot opened #1014 "Errors while generating `sagemaker-controller` for ACK runtime `v0.15.1`"
### Errors while generating `sagemaker-controller` for ACK runtime `v0.15.1`

#### stdout for `make build-controller`:
[code]

#### stderr for `make build-controller`:
[code]

#### Steps for closing this issue:
1. Update `go.mod` file to update `aws-controllers-k8s/runtime` to v0.15.1
2. Successfully generate the service controller locally using latest release of
`aws-controllers-k8s/code-generato

[2021-10-08 19:40] acornett21 commented on #780
Optionally take this out of the template (and maybe other metadata fields) and the generate all metadata fields in scripts.

[2021-10-08 19:47] acornett21 commented on #777
Double check the below commit, test and verify:

https://github.com/komish/code-generator/commit/75cbebed04a3ade87b955923d9e88fc0d30b07d2

[2021-10-09 03:36] cparik opened #1015 "s3-controller error "x509: certificate signed by unknown authority""
**Describe the bug**
A concise description of what the bug is.
The S3-controller is unable to start with the following error

[code]

**Steps to reproduce**
Create a s3 controller with the environment variable "AWS_ENDPOINT_URL" and add the EKS cluster's endpoint URL.

[code]

**Expected outcome**
The S3 bucket should be created without any error.

**Environment**
* Kubernetes version: 1.19
* Usin

[2021-10-09 03:37] cparik commented on #1015
Issue is fixed by removing the "AWS_ENDPOINT_URL" environment variable's value.
The AWS_ENDPOINT_URL variable is confusing users may misunderstand it and put the EKS endpoint URL there which leads to this error.

[2021-10-11 10:13] dilankaapt opened #1016 "How to set S3 Block on Public Access"
I'm most likely not checking in the correct spot but how do I Block public access permissions on an S3 bucket using ACK S3 helm chart.

E.g:

Block all public access
 Off **<<< How do I set this On**
Block public access to buckets and objects granted through new access control lists (ACLs)
 Off **<<< How do I set this On**
Block public access to buckets and objects granted through any access contr

[2021-10-11 10:42] dilankaapt opened #1017 "Deletion Protection For ACK Provisioned Resources"
Worried someone will accidentally delete an ACK provisioned ACK resource like an RDS or an S3 bucket and delete state which they are not meant to.

Would like to see something like deletion protection implemented on all ACK resources via a property.
Maybe deleting a resource needs to be something like set the deleteProtection option to false and then delete.

For now, was contemplating removing de

[2021-10-11 20:08] rbranche opened #1019 "Need a new release of elasticache controller so it has helm v3.7.0 release artifacts"
Need a new release of elasticache controller so it has helm v3.7.0 release artifacts

[code]

[2021-10-11 20:09] vijtrip2 commented on #1005
No, you'll need to create the stage resource for invocation. It is possible to create the stage with name "$default", which will allow you to skip stage-name in invocation url.

[2021-10-11 22:13] #1014 closed, assigned to nobody

[2021-10-11 22:18] brycahta commented on #178
Another data point is [CreateDhcpOptions](https://github.com/aws/aws-sdk-go/blob/main/models/apis/ec2/2016-11-15/api-2.json#L497).

* In the request, users provide [NewDhcpConfigurationList](https://github.com/aws/aws-sdk-go/blob/main/models/apis/ec2/2016-11-15/api-2.json#L8090)

* In the response, configurations are returned as [DhcpConfigurationList](https://github.com/aws/aws-sdk-go/blob/main/m

[2021-10-11 22:20] #1013 closed, assigned to nobody

[2021-10-11 22:21] #1001 closed, assigned to vijtrip2

[2021-10-11 23:08] RedbackThomson commented on #1016
Ah I see there is yet another field that needs to be attached to the S3 bucket to support the `PublicAccessBlock` attribute. It can be called using [PutPublicAccessBlock](https://docs.aws.amazon.com/sdk-for-go/api/service/s3/#S3.PutPublicAccessBlock).

Unfortunately each of these `Put*` methods needs to be added manually, and a corresponding hook to support it, so this has not been set up, yet.

[2021-10-12 11:37] dilankaapt opened #1021 "Unable to adopt S3 resource "Specifying both Canned ACLs and Header Grants is not allowed""
While trying to adopt/import an existing S3 bucket get the following error `"InvalidRequest: Specifying both Canned ACLs and Header Grants is not allowed\n\tstatus code: 400,`

Unsure what these Canned ACLs and Header Grants mean. The S3 bucket I was trying to adopt was created brand new with no specific permissions added. Just specified the Bucket Name and check the `Block all public access` opti

[2021-10-12 13:11] A-Hilaly commented on #844
/remove-lifecycle stale

[2021-10-12 16:44] #1019 closed, assigned to vijtrip2

[2021-10-12 19:20] brycahta opened #1023 "Operation Renames Config does not consume `output_fields` override"
**Describe the bug**
* The `output_fields` of an operation rename override does **not** work because it never gets consumed/used anywhere in [code](https://github.com/search?q=org%3Aaws-controllers-k8s+output_fields&type=code)

**Steps to reproduce**
* Add the following block to ec2-controller _generator.yaml_:

[code]

**Expected outcome**
* I expect both fields to be renamed; however, upon inspe

[2021-10-12 21:24] RedbackThomson opened #1024 "Support multiple recommended policies"
**Is your feature request related to a problem?**
Some services either have:
- Multiple policies that combine together to form a FullAccess policy equivalent
- No managed policy for FullAccess

The `recommended-policy-arn` file does not support these services, and therefore there is no guidance for how to give them the correct privileges.

**Describe the solution you'd like**
The `recommended-poli

[2021-10-12 23:29] #1024 closed

[2021-10-14 15:57] eamonnfaherty opened #1026 "ServiceCatalog service controller"
## New ACK Service Controller

Support for AWS Service Catalog

### List of API resources

List the API resources in order of importance to you:

I am working with a team who would like to provision products from an AWS Service Catalog portfolio.

[2021-10-14 19:48] rbranche opened #1027 "GlobalCluster (with sourceDBClusterIdentifier specification) is not created properly if created at same time as DBCluster"
**Describe the bug**
`GlobalCluster` (with`sourceDBClusterIdentifier` specification) is not created properly if created at same time as `DBCluster`.

**Steps to reproduce**
1. Create combined yaml file with `GlobalCluster` and `DBCluster`

`cluster.yaml`
[code]

2. Apply changes to k8s
[code]

**Expected outcome**
`GlobalCluster` is created properly.

**Actual outcome**
`GlobalCluster` fails to cr

[2021-10-15 06:34] cloudbow commented on #480
Very much looking forward to creating recordsets along with rules injected from alb ingress . Probably can be integrated with alb ingress controller itself and stand as a separate entity.

[2021-10-15 15:44] jaypipes opened #1028 "When DBInstance has non-nil `dbClusterIdentifier`, must not set `allocatedStorage`"
For the `DBInstance` RDS resource, if you set the `spec.dbClusterIdentifer` field to a non-nil value, you cannot set the `allocatedStorage` field to a non-nil value otherwise you will get an error from the `ModifyDBInstance` API call:

[code]

Unfortunately, `DescribeDBInstances` returns a value of `1` for `allocatedStorage` for a `DBInstance` with a non-nil `dbClusterIdentifier` field.

This mean

[2021-10-15 16:34] #1016 closed

[2021-10-15 16:34] A-Hilaly opened #1029 "Add DynamoDB update code path"
Currently the DynamoDB controller only support create and delete operations. We should add Update operation code path as well.
/assign

[2021-10-15 16:38] #991 closed

[2021-10-15 18:52] #992 closed

[2021-10-15 18:53] A-Hilaly opened #1030 "Missing `ConditionTypeResourceSynced` after updating a CR"
(Issue only tested with only s3 for now)

**Describe the bug**
After updating a CR, it looks like the update code path doesn't append a `ConditionTypeResourceSynced` to the conditions list.

**Steps to reproduce**

- Create an s3 bucket resource
- Add a `tagging` Spec field
- Run `k describe bucket <name>` /  `k get bucket <name> -o yaml`

**Expected outcome**
Expecting to see `ConditionTypeResour

[2021-10-15 18:55] A-Hilaly commented on #1030
/priority awaiting-more-evidence

[2021-10-15 19:05] #993 closed

[2021-10-15 21:16] vijtrip2 opened #1031 "Add release automation for first release"
* Currently if `controller-release-tag` job could not find latest git tag on repository, it does not cut a new patch release. However, this case can arise during first release of any service controller. The script for `controller-release-tag` should be updated to handle the scenario of very first release.

* Release documentation of ACK controllers should also be updated to take note of this new a

[2021-10-16 17:36] ops-hummus opened #1033 "Reconciler error after updating apigateway controller from 0.0.2 to 0.0.6"
**Describe the bug**
We use apigateway controller helm chart v0.0.2. After trying to upgrade to version 0.0.6 I noticed that stage resources is not being accepted by the controller. In order to solve it I used kubectl delete and then apply.

`
2021-10-16T17:23:20.037Z	INFO	ackrt	desired resource state has changed	{"kind": "", "namespace": "data", "name": "data-stress-default", "generation": 3, "ac

[2021-10-18 04:40] acunabit opened #1034 "Table not found when creating GlobalTable resource"
**Describe the bug**

I am trying to create a global table and I am getting the following error:

[code]

Does the DynamoDb controller uses  DynamoDB Global Tables V2 (version 2019.11.21) or  DynamoDB Global Tables V1 (version 2017.11.29)?

If it's using V1, could you confirm if I need to create the table in both regions before creating the global table resource? Is V2 going to be supported in the

[2021-10-18 18:00] vijtrip2 opened #1035 "enable aws credential auto-rotation for long running e2e tests"
elasticache controller tests can run for more than an hour. However there is static duration of 3600 seconds mentioned in test-infra for assuming temporary aws credentials.

Service teams should be able to configure temporary credentials duration for their service controller e2e test.

[2021-10-18 23:08] acunabit commented on #1034
Thank you very much for your response @A-Hilaly.

[2021-10-19 20:05] brycahta commented on #999
Closing; fix was merged

[2021-10-20 06:52] ops-hummus commented on #1033
Thank you!

[2021-10-20 08:19] ops-hummus opened #1038 "Add affinity and toleration option to api gateway controller"
I'm using the apigatewayv2 controller and I'm trying to control where my application is being created. I have a specific nodes for controllers but since I don't have an affinity attribute I need to save the chart locally and add the affinity attribute by myself. It's a bit frustrating since I don't want to manage this chart.

**Describe the solution you'd like**
Saved the chart locally and added a

[2021-10-20 17:18] trgeiger opened #1039 "Add Openshift/OLM specific installation instructions"
**What is the URL of the document?**

**Which section(s) is the issue in?**

I think this needs to be determined. My impulse is to add the instructions as a section under Tutorials like the machine learning example, but I could see it existing under Getting Started I guess, or a new section entirely.

**What needs fixing?**

Adding documentation and determining the appropriate section for the new

[2021-10-20 18:10] RedbackThomson commented on #202
/lifecycle frozen

[2021-10-20 23:57] RedbackThomson commented on #249
/lifecycle frozen

[2021-10-20 23:58] RedbackThomson commented on #470
Generated into https://github.com/aws-controllers-k8s/sqs-controller

[2021-10-20 23:58] #470 closed

[2021-10-21 15:09] A-Hilaly commented on #471
/remove-lifecycle stale

[2021-10-21 17:55] svmundada opened #1040 "regional STS endpoint not getting used even after providing `AWS_STS_REGIONAL_ENDPOINTS=regional`"
**Describe the bug**
I am trying to access the regional sts endpoint instead of the global one (sts.apple.com), still getting an error saying connection timeout for `sts.apple.com`

[code]

**Steps to reproduce**
Add `AWS_STS_REGIONAL_ENDPOINTS=regional` to environment variable of ack-s3-controller.

**Expected outcome**
As per go aws sdk, above environment variable change should be visible.

ref

[2021-10-21 19:35] vijtrip2 opened #1041 "Support single command Helm installation with AWS credentials"
As of currently, Helm is the recommended way of installing ACK service controller(s). ACK Helm charts support the fields for `IRSA` in `values.yaml` , which makes it possible to execute single `helm install` command and get ACK service controller up and running with IRSA.

This is a very good experience however this does not extend to authorization mechanism other than IRSA.

If ACK customers do n

[2021-10-22 01:18] #1035 closed

[2021-10-22 19:43] phanimullapudi opened #1042 "Elasticache Redis Controller status not updated - v0.0.3"
**Describe the bug**
We have created an Elasticache Redis Cluster Elasticache v0.0.3 controller. Noticed the latest state of cluster is not shown correctly. The cluster is created many minutes before and the ACK state is still not reflected.

**Steps to reproduce**
Use the [ElasticRedis-status-notupdated-yaml.txt](https://github.com/aws-controllers-k8s/community/files/7401017/ElasticRedis-status-n

[2021-10-25 11:59] svmundada opened #1043 "ECR Lifecycle policies"
**Is your feature request related to a problem?**
As per the [spec](https://pkg.go.dev/github.com/aws-controllers-k8s/ecr-controller/apis/v1alpha1#RepositorySpec) for `ecr.services.k8s.aws/v1alpha1.Repository` we cannot create [lifecycle policies]( https://docs.aws.amazon.com/AmazonECR/latest/userguide/LifecyclePolicies.html). This feature would really help us ( mono-repo users).

**Describe the s

[2021-10-25 16:27] RedbackThomson opened #1044 "Role assumption uses custom service endpoint"
**Describe the bug**
As discovered in https://github.com/aws-controllers-k8s/community/issues/1040, the STS assume role operation uses a client that is configured with the custom endpoint. This endpoint is typically designed to only be used with the service and will fail when using it with STS.

**Steps to reproduce**
1. Add a custom service endpoint (try S3)
2. Add a role ARN, either as a command

[2021-10-25 16:31] #1040 closed, assigned to vijtrip2

[2021-10-25 16:54] trgeiger opened #1045 "Add ACK operators to Community Operators (OperatorHub.io and Openshift OperatorHub)"
**Is your feature request related to a problem?**
A description of what the problem is. For example: I'm frustrated when [...]

It would be great to add to the ACK automation pipelines the ability to publish the ACK operators to the Community Operator repositories.

**Describe the solution you'd like**
A description of what you want to happen.

The initial publication will require opening PRs in 2

[2021-10-27 17:05] rbranche opened #1048 "Support GlobalReplicationGroup in elasticache-controller"
**Is your feature request related to a problem?**
GlobalReplicationGroup is not currently supported in elasticache-controller.

https://docs.aws.amazon.com/AmazonElastiCache/latest/APIReference/API_CreateGlobalReplicationGroup.html

**Describe the solution you'd like**
Add support GlobalReplicationGroup into elasticache-controller

**Describe alternatives you've considered**

[2021-10-29 18:04] #795 closed

[2021-10-29 18:04] #789 closed

[2021-10-31 09:13] eminalemdar opened #1051 "AWS App Mesh service controller"
## New ACK Service Controller

Support for [**AWS App Mesh**]

### List of API resources

List the API resources in order of importance to you:

1) [Proxy]
2) [Traffic Routing]
3) [Service to Service Authentication]
4) [Traffic Policies]

[2021-10-31 18:04] #261 closed

[2021-11-01 13:30] jaypipes commented on #1051
Hi @eminalemdar! Thanks for submitting this service controller request!

Were you aware of the existing AppMesh controller for Kubernetes project?

https://github.com/aws/aws-app-mesh-controller-for-k8s/

I'm wondering if perhaps you want to see support for proxy, traffic routing, service-to-service authentication and traffic policy custom resources in that controller? Currently, it only supports

[2021-11-01 14:14] eminalemdar commented on #1051
Hello @jaypipes! I wasn't aware of the AppMesh Controller but does this controller works like the controllers in here?

[2021-11-01 20:09] acornett21 opened #1052 "Make Config and Secretes Required for OpenShift Deployments"
**Is your feature request related to a problem?**
I'm frustrated when I forget to configure a new cluster with proper Config/Secretes for a controller to run properly and have to wait for a crashback loop to figure out the issue.

**Describe the solution you'd like**
I would like OpenShift to not fully provision a pod when, so when a cluster admin looks at the pod, or at events the error as to why

[2021-11-01 20:10] acornett21 commented on #1052
/assign

[2021-11-01 22:57] #1052 closed

[2021-11-02 17:55] a-hilaly opened #1053 "Examples of deploying a serverless application using ACK"
We need to complete/publish the manifests for the ACK serverless example that was presented during the [AWS Container Day](https://youtu.be/3f0Tv7IiQQw?t=13717). This will require:

- [x] Adding API Gateway manifests to the demo, and use `curl` commands instead of `aws lambda invoke-function`
- [ ] Updating the application architecture diagram with the new resources (From API Gateway)
- [ ] Record

[2021-11-03 05:50] svmundada commented on #1043
@RedbackThomson Sorry for the delayed response.
Understood, we were just looking for a way to manage ECR policies with ACK. It's not critical but any timelines?

[2021-11-04 14:16] A-Hilaly commented on #41
/remove-lifecycle stale

[2021-11-04 18:04] #818 closed

[2021-11-04 18:53] deepk2u opened #1055 "Produce a set of standard Sagemaker Prometheus metrics"
From the existing metrics, ACK controller publishes on `/metrics` URL, we don't get observability around Sagemaker jobs.

**What is needed?**

at minimum, there should be the following metrics:

For every job type, metrics should be published so that we can infer the following:
1. Total
2. Successes
3. Failures
4. Duration

**What metrics do we want to track?**

[code]

similarly for `processingjo

[2021-11-05 15:23] jaypipes commented on #1055
Hi @deepk2u!

The metrics that are exposed by ACK service controllers are metrics about the service controller itself, including how many times AWS API calls were made. The metrics you refer to are *data plane metrics* for SageMaker. In other words, the ACK controller has no ability to provide these metrics for you because the ACK controller isn't executing the training jobs. The ACK controller is

[2021-11-05 16:19] buzzsurfr opened #1056 "Protocol buffers support"
**Is your feature request related to a problem?**
I want to use [protocol buffers](https://developers.google.com/protocol-buffers) for the various AWS resources.

**Describe the solution you'd like**
Add support to code-generator for proto files.

**Describe alternatives you've considered**
https://github.com/src-d/proteus (abandoned and no longer maintained)
https://github.com/kubernetes/gengo (c

[2021-11-05 16:42] A-Hilaly commented on #1051
/lifecycle frozen

[2021-11-05 16:44] A-Hilaly commented on #1048
cc @kumargauravsharma @nmvk @echen-98

[2021-11-05 16:44] jaypipes commented on #1051
No, the AppMesh controller for Kubernetes is a hand-built Kubernetes controller, not a code-generated one like ACK controllers are. However, functionally, the AppMesh controller for Kubernetes I linked above is more feature-rich than a control-plane-only controller like ACK.

[2021-11-05 16:44] #1051 closed

[2021-11-05 16:54] A-Hilaly commented on #1043
@svmundada i'm taking this next week
/assign

[2021-11-05 16:55] #1042 closed

[2021-11-05 17:07] #1034 closed

[2021-11-05 17:18] A-Hilaly commented on #1026
Hey @eamonnfaherty, can you please provide more information on what resources you want to manage using ACK?

[2021-11-05 17:19] A-Hilaly commented on #1023
Thanks @brycahta !!

[2021-11-05 17:19] #1023 closed

[2021-11-05 17:24] RedbackThomson commented on #82
/lifecycle frozen

[2021-11-05 17:26] A-Hilaly commented on #1017
related to #82

[2021-11-05 17:26] #1015 closed

[2021-11-05 17:31] RedbackThomson commented on #985
The code-generator now supports setting a different "model name" as part of the `generator.yaml` file - https://github.com/aws-controllers-k8s/code-generator/pull/216

See the `opensearchservice` generator file as reference - https://github.com/aws-controllers-k8s/opensearchservice-controller/blob/6b4a9e6aad9f15411f6c6380f05c27211466427b/generator.yaml#L1

Since the AWS SDK Go references the API a

[2021-11-05 17:31] #985 closed

[2021-11-08 10:45] A-Hilaly commented on #893
/remove-lifecycle stale

[2021-11-08 11:16] A-Hilaly commented on #1056
Hey @buzzsurfr, I personally think this is a good idea and at least worst to experiment and play with. Generating proto files to define the messages would be a simple and straightforward task. However, if you're looking into generating proto rpc's ( create a proxy to interact with AWS APIs) and their Go server implementation it might need more work and investment.

[2021-11-09 16:44] smcavallo opened #1059 "update sdk for FIPS endpoint support -> AWS SDK 1.42.0 [crossplane/provider-aws]"
aws sdk released new method of configuring FIPS endpoints
See - https://github.com/aws/aws-sdk-go/pull/3938

crossplane/provider-aws bound to the SDK version that the code-generator uses because its output is used in this repo and SDK versions have to match.  See (crossplane/provider-aws#918)

Describe the solution you'd like
update aws-go-sdk 1.37.10 to 1.42.0

https://github.com/aws/aws-sdk-go/r

[2021-11-11 08:36] haarchri opened #1060 "generate cognito-identity via code-gen for crossplane failed"
**Describe the bug**
generate cognito-identity https://github.com/crossplane/provider-aws/issues/720 via code-gen for crossplane is not working

https://github.com/haarchri/provider-aws/tree/feat/cognito/apis/cognitoidentity/v1alpha1
https://github.com/haarchri/provider-aws/tree/feat/cognito/pkg/controller/cognitoidentity/identitypool

[code]

**Steps to reproduce**
make generate

**Environment**

[2021-11-12 17:16] #1039 closed

[2021-11-12 17:27] A-Hilaly opened #1062 "Lambda `Function` update code path"
Currently the Lambda controller only supports create and delete operations. We should add Update operation code path as well.

- [ ] Move `Layers` to Spec fields
- [ ] Custom update function
- [ ] e2e tests for update operations

/assign

[2021-11-12 17:29] vijtrip2 opened #1063 "[Resource-Relationship] Implement referencing resource(s) from same api-group"
Parent task: https://github.com/aws-controllers-k8s/community/issues/545

This issue will track implementation for adding reference of another resource or list of resources within same API Group of a resource.

Example: ApiGatewayv2 `Integration` resource should be able to provide reference of `API` resource to find `APIID`.

[2021-11-12 17:40] RedbackThomson commented on #1030
Condition of at least "Synced" should now be present on all resources as per https://github.com/aws-controllers-k8s/runtime/pull/61

[2021-11-12 17:40] #1030 closed

[2021-11-12 17:44] jaypipes opened #1064 "Generate ACK.ResourceSynced handlers"
Currently, the ACK core runtime has a fallback mechanism (after aws-controllers-k8s/runtime#61) to ensure that all CRs have an `ACK.ResourceSynced` condition, however it defaults to Unknown status.

We need the code generator to be able to output code that sets ACK.ResourceSynced on CRs depending on some conditional.

Currently, each service controller is responsible for doing this, and most contr

[2021-11-12 17:44] RedbackThomson commented on #178
Closing since https://github.com/aws-controllers-k8s/code-generator/pull/232 implements basis of issue. Follow-ups to come

[2021-11-12 17:44] #178 closed

[2021-11-12 17:47] jaypipes opened #1065 "Handle nested fields in SetFieldConfig"
While implementing the solution for #178, Bryan [pointed out](https://github.com/aws-controllers-k8s/code-generator/pull/232#pullrequestreview-801911964) that the solution would not work for nested field paths.

We should address this gap in functionality.

[2021-11-14 23:16] ops-hummus commented on #1033
@vijtrip2
Thank you very much my friend!
I will update the helm chart :)

[2021-11-15 18:33] jaypipes commented on #120
This is done now.

[2021-11-15 18:33] #120 closed

[2021-11-15 22:36] rbranche opened #1067 "DynamoDB controller cannot update any Table information if provisionedThroughput contains the original values"
**Describe the bug**
DynamoDB controller cannot update any Table information if `provisionedThroughput` contains the original values

**Steps to reproduce**
1. Create Table object
[code]
2. Try to add new Global Secondary Indexes to Table object
[code]
3. Controller fails to update Table with new GSI because `spec.provisionedThroughput` values didn't change

[code]

**Expected outcome**
GSI for Ta

[2021-11-16 00:40] A-Hilaly commented on #888
/remove-lifecycle stale

[2021-11-16 00:43] A-Hilaly commented on #1067
Hey @rbranche, this is currently part of #1029 - all the fields will support updates once it's closed

[2021-11-16 00:45] A-Hilaly commented on #637
Thanks for reporting the issue! Global table deletion is currently supported in dynamodb-controller (using `UpdateGlobalTable`)

[2021-11-16 00:45] #637 closed

[2021-11-16 01:12] rbranche commented on #1067
Thanks @A-Hilaly. Duplicate of #1029.

[2021-11-16 01:12] #1067 closed

[2021-11-16 17:52] jaypipes commented on #1028
Well, the good news is that I've reproduced this with an e2e test. The bad news is that the solution is going to add a bunch of custom code :(

[2021-11-16 18:07] RedbackThomson opened #1068 "Errors in S3 custom generated code"
**Describe the bug**
As reported by @brycahta :
- The `get{{$memberRefName}}Action` func takes no action when the inputs [have differences](https://github.com/aws-controllers-k8s/s3-controller/blob/main/templates/hooks/bucket/sdk_file_end.go.tpl#L120-L122)
- API calls are being recorded as `UPDATE`. Ex: [`rm.metrics.RecordAPICall("UPDATE", "DeleteBucket{{ $memberRefName }}", err)`](https://github.

[2021-11-17 00:29] muvaf opened #1069 "Generated code does not compile if all fields are ignored"
**Describe the bug**

There are some resources with very few fields, like KMS `Alias`, and we may end up adding all of their fields to the ignore list. However, since there are `for` loops running for resources like KMS Alias where the read function returns a list, the `for` loop ends up having empty content and since `elem` is not used, the code does not compile.

An example `for` loop generated

[2021-11-17 16:01] jaypipes commented on #1069
@muvaf Hi! So, in the case you highlighted here, if we did an throwaway assignment of `elem` to `_` directly after the `for` loop, the code would compile but if there are multiple Aliases returned from the call to `ListAliases`, the cr returned would be an empty `svcapitypes.Alias` struct. Is that what you would want? Seems like buggy behaviour to me.

[2021-11-17 18:52] akartsky commented on #385
v0.3.0 Released

ACK SageMaker is now GA and is marked stable
https://github.com/aws-controllers-k8s/sagemaker-controller/releases

[2021-11-17 19:43] #385 closed

[2021-11-17 20:48] RedbackThomson opened #1072 "Expand the `stable` release process in the documentation"
**What is the URL of the document?**

[Release - ACK](https://aws-controllers-k8s.github.io/community/docs/contributor-docs/release/)

**Which section(s) is the issue in?**

[Release Steps](https://aws-controllers-k8s.github.io/community/docs/contributor-docs/release/#release-steps)

**What needs fixing?**

The release steps for the `stable` branch are only mentioned briefly in a note box at the b

[2021-11-17 22:07] RedbackThomson opened #1073 "Generator does not strip empty structures fields"
**Describe the bug**
If a structure has no members in the API model, the code generator will not generate the respective empty Go structure. This causes issues when other structures attempt to create fields of that type, with an invalid pointer type exception.

**Steps to reproduce**
1. Generate SageMaker with `v1.42.7`
2. See that the deepcopy `controller-gen` fails with `invalid pointer element

[2021-11-17 22:47] muvaf commented on #1069
Yes, and that's because there is no field remained on the resource to set anyway. So, it's already bound to return an empty struct.

In our case, those fields are ignored because we needed special handling of them, hence moved them to `CustomAliasParameters` that is inlined in spec, so, we process that empty `svcapitypes.Alias` in another function called right after this one.

[2021-11-18 16:30] A-Hilaly commented on #1043
@svmundada we just released ecr-controller `v0.0.10` which adds support of lifecycle policies. A new field is added to the resource spec now: `spec.LifecyclePolicy`

[2021-11-18 16:30] #1043 closed

[2021-11-19 05:43] Pitta commented on #482
I came here looking for exactly this workflow. Would prefer to not use a wildcard cert. Use wise, being able to include an annotation to create the cert in acm would be useful.
[code]
The `aws-load-balancer-controller` should wait till there is a valid cert if using the certificate lookup method. So if this listened for ingress objects and acted on that annotation, it would jive with the workflow

[2021-11-19 10:42] svmundada opened #1074 "Release artifacts on github"
**Is your feature request related to a problem?**
At present, ACK controllers don't host any artifacts (yamls), so we have to clone the controller repo and translate changes to our repo.

**Describe the solution you'd like**
Having release artifacts like https://github.com/tektoncd/pipeline/releases/tag/v0.30.0 would easy out the process to update controllers.
Use case: Additional patches required

[2021-11-19 13:45] A-Hilaly commented on #1074
@svmundada Did you try our public helm charts? we publish them in our public ECR repository.

[2021-11-19 16:57] A-Hilaly commented on #1029
Since ACK treats `GlobalTables` and `Tables` as two different and independent resources, we still need to understand what are about the boundaries between these two resources from the DynamoDB `Table`/`GlobalTable` controller plane view, and what are/are there any overlapping calls that might impact two different resources (`Table` and `GlobalTable`).

Questions to answer/investigate:
- How does t

[2021-11-19 22:44] RedbackThomson commented on #1074
If you would like to reference the `Kustomization` files that are generated for each controller, and for every release, you can do that directly using `kubectl apply -k` like so:

[code]

[2021-11-22 04:22] svmundada commented on #1074
@A-Hilaly
I am yet to try it out, but yes it looks promising.

@RedbackThomson
Thanks, the above kustomization feature works perfectly fine. One small request apart from the regular update, if we can get `image: ack-s3-controller:latest` updated according to specific `ref` that'd be great to have.

[2021-11-23 01:56] vijtrip2 commented on #204
/lifecycle frozen

[2021-11-23 18:57] RedbackThomson commented on #1074
That's interesting. I didn't realise these Kustomizations point to this seemingly arbitrary image.

Realistically we would want it to be `image: public.ecr.aws/aws-controllers-k8s/s3-controller:v0.0.7`. I think these manifests are just from an outdated version.

I'll make this into a separate bug report and assign myself

[2021-11-23 19:01] RedbackThomson opened #1076 "Kustomization points to outdated image and tag"
**Describe the bug**
The [image](https://github.com/aws-controllers-k8s/s3-controller/blob/main/config/controller/kustomization.yaml#L6-L9) used in the Kustomization deployment manifest point to `ack-$SERVICE-controller:latest`. If you attempt to deploy this Kustomization directly (`kubectl apply -k config/default`), the pod will fail to even start since the image does not exist.

**Expected outco

[2021-11-23 19:01] RedbackThomson commented on #1074
https://github.com/aws-controllers-k8s/community/issues/1076

[2021-11-23 19:19] ack-bot opened #1077 "Missing `olmconfig.yaml` in `lambda-controller`"
### Missing `olmconfig.yaml` in `lambda-controller`

#### Steps for closing this issue:
1. Checkout [`lambda-controller`](https://github.com/aws-controllers-k8s/lambda-controller) repository
2. Add `olm/olmconfig.yaml` file in [`lambda-controller`](https://github.com/aws-controllers-k8s/lambda-controller) repository.
You can look at [`s3-controller`](https://github.com/aws-controllers-k8s/s3-contr

[2021-11-23 19:25] vijtrip2 commented on #1077
cc: @acornett21

[2021-11-23 19:47] vijtrip2 commented on #974
Changing field names will break backward compatibility. Closing.

[2021-11-23 19:47] #974 closed

[2021-11-23 19:54] vijtrip2 commented on #1045
The above automation PR will create separate issues for each service controller whenever there is missing olmconfig.yaml or ci.yaml or when automatic olm bundle generation fails.

Closing this parent issue.

[2021-11-23 19:54] #1045 closed

[2021-11-23 23:35] RedbackThomson commented on #1044
I tested S3 using `--aws-endpoint-url=https://s3.us-west-2.amazonaws.com` and I see that it correctly applies the endpoint and it also calls `NewCredentials` which correctly returns credentials.

I don't believe STS is affected by the `--aws-endpoint-url` option, since our custom endpoint resolver conditionally applies the endpoint only if the service matches the controller service ID (see https:/

[2021-11-23 23:35] #1044 closed

[2021-11-23 23:46] RedbackThomson commented on #1068
I believe this isn't a bug. The code in this scenario calls `rm.delete{{ $memberRefName }}(ctx, desired, *l)` (see https://github.com/aws-controllers-k8s/s3-controller/blob/main/templates/hooks/bucket/sdk_file_end.go.tpl#L230). The delete method requires a resource and a `svcapitypes.{{ $memberRefName }}`, and constructs a `DeleteBucket{{ $specFieldName }}Payload` using those values. The only valu

[2021-11-24 07:18] svmundada commented on #1074
@RedbackThomson Thanks, also can we check for other fields in kustomize generated artifacts if they are similar to helm?

[2021-11-24 15:51] #1068 closed

[2021-11-24 17:20] elgalu commented on #16
/remove-lifecycle stale

[2021-11-24 21:56] AaronME opened #1078 "SetResource does not handle String Pointers properly in `GenerateCrawler`"
**Describe the bug**
https://github.com/aws-controllers-k8s/code-generator/pull/232 introduced the ability to support different goTypes for input/output shapes with the same name. This code is not working for all fields on all resources.

The Crawler Resource on the Glue API exposes a field "Schedule."

In CreateCrawlerInput, "Schedule" is a [string](https://docs.aws.amazon.com/sdk-for-go/api/serv

[2021-11-24 22:48] vijtrip2 commented on #1078
Hi @AaronME , thanks for pointing this out.

This issue of different go types for same named field was recently fixed. Please take a look at this [fix](https://github.com/aws-controllers-k8s/code-generator/commit/30510fcc39c8de2c65ad65c385c52c8153924e8d)

You'll need to update generator.yaml to provide code-generator the instructions on how to handle this field. See the above mentioned fix's commi

[2021-11-24 23:50] AaronME commented on #1078
@vijtrip2 Thank you for the fast reply.

I had already tried running generation with the following:
[code]

This did not change any generated code.

I have two theories about this:

1. This is a known issue with [nested fields](https://github.com/aws-controllers-k8s/community/issues/1065), since the Schedule field needs to be set from Schedule.ScheduleExpression.
2. https://github.com/aws-controll

[2021-11-25 18:07] A-Hilaly commented on #27
/remove-lifecycle stale

[2021-11-26 00:05] #846 closed

[2021-11-28 21:45] RedbackThomson commented on #491
/lifecycle frozen

[2021-11-29 09:55] A-Hilaly commented on #919
/remove-lifecycle stale

[2021-11-29 09:56] A-Hilaly commented on #921
/remove-lifecycle stale

[2021-11-29 09:57] A-Hilaly commented on #657
/remove-lifecycle stale

[2021-11-29 09:59] A-Hilaly commented on #20
related to https://github.com/aws-controllers-k8s/community/pull/1057
/remove-lifecycle stale

[2021-11-29 09:59] A-Hilaly commented on #119
/remove-lifecycle stale

[2021-11-29 10:00] A-Hilaly commented on #741
/remove-lifecycle stale

[2021-11-29 10:00] A-Hilaly commented on #490
/lifecycle frozen

[2021-11-29 10:00] A-Hilaly commented on #390
/lifecycle frozen

[2021-11-29 10:00] A-Hilaly commented on #628
/lifecycle frozen

[2021-11-29 10:00] A-Hilaly commented on #552
/lifecycle frozen

[2021-11-29 10:01] A-Hilaly commented on #635
/remove-lifecycle stale
/cc @kumargauravsharma @nmvk

[2021-11-29 10:08] A-Hilaly commented on #148
/lifecycle frozen

[2021-11-29 10:10] A-Hilaly commented on #297
/lifecycle frozen
/cc @bwagner5 @brycahta

[2021-11-29 10:11] A-Hilaly commented on #125
/remove-lifecycle stale

[2021-11-29 14:55] acornett21 commented on #1077
@vijtrip2 Did all the controllers missing this file get a issue created automatically? If so that's awesome, I was just keeping a list. This is way better!

[2021-11-29 15:15] jaypipes commented on #1078
Hi @AaronME! It's this second one. I will try to push a fix for this ASAP.

[2021-11-29 16:50] vijtrip2 commented on #27
This work is being tracked in this issue. https://github.com/aws-controllers-k8s/community/issues/545

[2021-11-29 16:50] #27 closed

[2021-11-29 16:57] vijtrip2 commented on #1077
Hi @acornett21 , These issues are cut on new release of controller automatically. So next time a new ACK runtime release is cut, controllers will be auto-generated, released and then these issues will surface up.

You can proactively use your list to add `olmconfig.yaml` to ACK controllers repo but in future this automation will point us to missing `olmconfig` in any controller.

[2021-11-29 17:45] jaypipes commented on #1078
Actually, it turns out that Glue's GetCrawler (Singular form/ReadOne) is used and not the list form of GetCrawlers (ReadMany) so this must be some other problem. Looking further into it...

[2021-11-29 19:08] AaronME commented on #1078
@jaypipes I appreciate you taking a look at it.

[2021-11-29 22:30] acornett21 commented on #1077
/assign

[2021-11-29 22:39] acornett21 opened #1081 "Missing `olmconfig.yaml` in `ecr-controller`"
### Missing `olmconfig.yaml` in `ecr-controller`
#### Steps for closing this issue:
1. Checkout [`ecr-controller`](https://github.com/aws-controllers-k8s/ecr-controller) repository
2. Add `olm/olmconfig.yaml` file in [`lambda-controller`](https://github.com/aws-controllers-k8s/lambda-controller) repository.    You can look at [`s3-controller`](https://github.com/aws-controllers-k8s/s3-controller/b

[2021-11-29 22:39] acornett21 commented on #1081
/assign

[2021-11-30 15:16] liger1978 opened #1082 "rds-controller: `status.activityStreamStatus` continually updated for Aurora serverless `DBCluster` resource"
**Describe the bug**

With the rds-controller, the  `status.activityStreamStatus` field (and the `metadata.generation` field) is continually updated by the controller for PostgreSQL Aurora serverless `DBCluster` resources

I guess this is because activity streams are not supported for serverless.

**Steps to reproduce**

[code]

Create resource similar to above. Watch generation of resource contin

[2021-11-30 15:21] jaypipes commented on #1082
Hi @liger1978! Thanks very much for submitting this report! May I ask if you could potentially paste a snippet from the rds-controller Pod logs? In particular, I'm curious whether the controller is detecting a particular change in a desired state field between reconciler runs...

[2021-11-30 15:56] liger1978 commented on #1082
@jaypipes Sure, here are three `metadata.generation` bumps in the controller logs. One has a state change, but the other two don't:

[code]

[2021-11-30 16:31] liger1978 commented on #1082
@jaypipes If you want more log entries, please let me know.

[2021-11-30 16:40] jaypipes commented on #1082
OK, @liger1978 thanks for the detailed logs. Will look into this further. From a cursory glance, the generation should only have incremented once (the one time you see `desired resource state has changed` in the log...)

[2021-11-30 16:41] jaypipes commented on #1082
@liger1978 one more quick question... what version of the rds-controller are you using?

[2021-11-30 16:59] liger1978 commented on #1082
v0.0.11
[code]

Here's a couple more reconciliations where nothing should have changed but has:
[code]

In the meantime, is there are a way to make the controller check the AWS API for changes less often?

[2021-11-30 17:20] jaypipes commented on #1082
@liger1978 unfortunately, it looks like there is a major flaw in the controller that is causing it to loop repeatedly and call the DescribeDBClusters API lots of times (instead of once every 30 seconds). I'm surprised you aren't seeing rate-limiting errors in the logs at this point, considering it's calling DescribeDBClusters so often :(

I'm working to identify a fix ASAP.

[2021-11-30 17:27] jaypipes commented on #1082
No need to apologize at all! I will make a note to look at the composable operator and see if we need to coordinate with that contributor community better!

[2021-11-30 17:35] liger1978 commented on #1082
@jaypipes My use of composable was a hack anyway.

What would be much better is if properties that require AWS IDs, such as [vpcSecurityGroupIDs](https://github.com/aws-controllers-k8s/rds-controller/blob/main/helm/crds/rds.services.k8s.aws_dbclusters.yaml#L351) in this case, could take names rather than IDs. Then the IDs wouldn't need to be known in advance.

Alternatively, it would be great if t

[2021-11-30 18:30] jaypipes commented on #1082
You're in luck :) We're currently working on this ability!

https://github.com/aws-controllers-k8s/runtime/pull/62

[2021-11-30 19:31] RedbackThomson commented on #482
@Pitta
I think these are good suggestions, I'm just not sure if ACK is the place for them.

AWS already supports using ACM for private certificates through the cert-manager issuer - https://github.com/cert-manager/aws-privateca-issuer/

Perhaps some integration between that issuer and the `aws-load-balancer-controller` would be more appropriate? It is not within the scope of ACK to interact with I

[2021-11-30 19:34] RedbackThomson commented on #924
/remove-lifecycle stale

[2021-12-01 08:48] liger1978 commented on #1082
@jaypipes That's great!

[2021-12-01 15:07] #1081 closed

[2021-12-01 17:50] A-Hilaly commented on #835
/remove-lifecycle stale

[2021-12-02 00:40] jamesseo-alation opened #1084 "Can you share rds-controller tutorial to create a DB Instance?"
**What is the URL of the document?**

**Which section(s) is the issue in?**

**What needs fixing?**

**Additional context**
I am trying to create a DBInstance w/ rds-controller after setup.

[code]

I have prepared ackpassword.rdspassword in default namespace like this:
[code]

But my DB instance shows ACK.Terminal and "InvalidParameterValue: The input isn't valid. Input can't contain control char

[2021-12-02 10:08] A-Hilaly commented on #1084
Hey @jamesseo-alation, i was able to reproduce the same behavior using the exact manifests you provided.

The reason the RDS control plane is returning a `InvalidParameterValue: The input isn't valid. Input can't contain control characters.` error, is that the secret password you are using is containing a new line `\n`. Try to encode your password using `echo -n` instead of just `echo`. e.g: `echo

[2021-12-03 17:40] A-Hilaly commented on #1084
@jamesseo-alation Please reopen the issue if you still need anything about rds-controller/manifests

[2021-12-03 17:40] #1084 closed

[2021-12-03 17:46] #1074 closed

[2021-12-03 17:51] #1017 closed

[2021-12-03 17:53] jamesseo-alation commented on #1084
I also verified that the below encoding works for me.
[code]
Thanks @A-Hilaly .

[2021-12-03 17:55] #997 closed

[2021-12-03 18:27] RedbackThomson commented on #841
/remove-lifecycle rotten

[2021-12-03 18:27] RedbackThomson commented on #841
https://github.com/aws-controllers-k8s/test-infra/pull/64

[2021-12-06 17:13] jamesseo-alation opened #1086 "DBParameterGroup doesn't have the requested parameter value"
**What is the URL of the document?**

**Which section(s) is the issue in?**

**What needs fixing?**

**Additional context**
I am currently trying to create the below DBParameterGroup. It can create james-rds-parametergroup-test, but when I check rds.logical_replication in AWS console, it doesn't have 1, but 0 (default value). Could you share exact example to create the parameter group w/ custom pa

[2021-12-06 17:58] philnichol commented on #1038
Hi @jaypipes , hope you don't mind but I raised this that should address this https://github.com/aws-controllers-k8s/code-generator/pull/249
Thanks in advance for your review, and it's my first contribution to this project, so apologies for any missing stemps!

[2021-12-06 18:56] #1038 closed

[2021-12-06 19:31] muvaf opened #1087 "Integration tests for Crossplane pipeline"
**Is your feature request related to a problem?**

Crossplane code generation pipeline does not have any integration tests and changes in code generator may break the pipeline without author having a way of knowing.

**Describe the solution you'd like**

We can implement integration tests for at least one type of resource (`ReadOne`) to make sure pipeline is working.

This issue will probably be t

[2021-12-06 20:57] #880 closed

[2021-12-06 21:09] jaypipes commented on #1086
Hi @jamesseo-alation! Unfortunately, this is a known issue (see #869) :( I'm trying to figure out a clean solution to this...

[2021-12-07 10:24] A-Hilaly commented on #936
/remove-lifecycle stale

[2021-12-07 20:47] phanimullapudi opened #1088 "Opensearchservice Domain controller taking password as plain text"
**Describe the bug**
ACK OS controller accepting password in plain text. It suppose to be inline with other controllers like RDS where the password has to be read from K8s secret instead of accepting as value in manifest/yaml.

**Steps to reproduce**

1. Create an OS domain - Elasticsearch version 7.9+
2. Pass the masterUserPassword as text and it allows to create domain using the plain text passw

[2021-12-07 20:55] muvaf opened #1089 "Ability to provide API version as resource-specific configuration"
**Is your feature request related to a problem?**

Currently, you can give version input, i.e. `v1alpha1`, as a flag to the CLI but that means all members of that API group get to use the same version. However, there are cases where only a few resources in the given group are meant to be bumped to `v1beta1` for example.

**Describe the solution you'd like**

A new configuration field in [`Resource

[2021-12-07 21:57] muvaf commented on #1078
We have similar situation in `lambda.Function` where `Layers` field is `[]*string` in `CreateFunctionInput` but `[]*Layer` in `FunctionConfiguration` which is the struct returned by `CreateFunctionWithContext`.

[2021-12-07 22:49] muvaf commented on #1089
If this sounds good to you all, I can dive into the code to see how we can implement it for both ACK and Crossplane. cc @jaypipes and friends

[2021-12-08 13:43] A-Hilaly commented on #1089
Sounds great @muvaf, i believe this will also have an impact on https://github.com/aws-controllers-k8s/code-generator/pull/122. We will have to generate webhooks for specific resource rather than full api versions

[2021-12-08 13:46] A-Hilaly commented on #1078
I am aware of this issue. For now our lambda controller is ignoring the Layers field. Will /cc you one the PR fixing that once it's open

[2021-12-08 22:56] ack-bot opened #1090 "Missing `olmconfig.yaml` in `opensearchservice-controller`"
### Missing `olmconfig.yaml` in `opensearchservice-controller`

#### Steps for closing this issue:
1. Checkout [`opensearchservice-controller`](https://github.com/aws-controllers-k8s/opensearchservice-controller) repository
2. Add `olm/olmconfig.yaml` file in [`opensearchservice-controller`](https://github.com/aws-controllers-k8s/opensearchservice-controller) repository.
You can look at [`s3-contr

[2021-12-09 06:30] vijtrip2 opened #1091 "[Resource-Relationship] Implement referencing resource(s) from another api-group"
[Resource-Relationship] Implement referencing resource(s) from another api-group
Parent issue: #545

[2021-12-09 17:13] project0 opened #1093 "CloudWatch service controller"
## New ACK Service Controller

Support for Cloudwatch resources.

We currently use [cloudformation-operator](https://github.com/linki/cloudformation-operator) to automatically create alarms from within a kubernetes controller.

### List of API resources

List the API resources in order of importance to you:

1) [MetricAlarm](https://docs.aws.amazon.com/AmazonCloudWatch/latest/APIReference/API_PutM

[2021-12-09 17:56] #1055 closed

[2021-12-10 22:08] #1077 closed

[2021-12-10 22:22] ack-bot opened #1094 "Missing `olmconfig.yaml` in `iam-controller`"
### Missing `olmconfig.yaml` in `iam-controller`

#### Steps for closing this issue:
1. Checkout [`iam-controller`](https://github.com/aws-controllers-k8s/iam-controller) repository
2. Add `olm/olmconfig.yaml` file in [`iam-controller`](https://github.com/aws-controllers-k8s/iam-controller) repository.
You can look at [`s3-controller`](https://github.com/aws-controllers-k8s/s3-controller/blob/main

[2021-12-11 16:58] vijtrip2 commented on #1094
cc: @acornett21

[2021-12-13 10:00] A-Hilaly commented on #869
/remove-lifecycle stale

[2021-12-13 14:13] acornett21 commented on #1094
/assign

[2021-12-13 14:13] acornett21 commented on #1090
/assign

[2021-12-13 16:52] #1094 closed

[2021-12-13 17:18] #1090 closed

[2021-12-13 19:46] sbkg0002 commented on #482
Why the forced push on the private ca?

If cloudformation or the cli can do it, this should also be able right?

[2021-12-13 20:11] acornett21 opened #1095 "Missing `olmconfig.yaml` in `ec2-controller`"
### Missing `olmconfig.yaml` in `ec2-controller`
#### Steps for closing this issue:
1. Checkout [`ec2-controller`](https://github.com/aws-controllers-k8s/ec2-controller) repository
2. Add `olm/olmconfig.yaml` file in [`ec2-controller`](https://github.com/aws-controllers-k8s/iam-controller) repository.
You can look at [`s3-controller`](https://github.com/aws-controllers-k8s/s3-controller/blob/main/

[2021-12-13 20:11] acornett21 commented on #1095
/assign

[2021-12-13 20:58] #1095 closed

[2021-12-13 21:13] ack-bot opened #1096 "Missing ci.yaml file for `ec2-controller` in `k8s-operatorhub/community-operators`"
### Missing ci.yaml file for `ec2-controller` in `k8s-operatorhub/community-operators`

#### Steps for closing this issue:
1. Checkout [`community-operators`](https://github.com/k8s-operatorhub/community-operators) repository
2. Add `operators/ack-ec2-controller/ci.yaml` file in [`community-operators`](https://github.com/k8s-operatorhub/community-operators) repository.
You can look at `operators/a

[2021-12-13 21:14] acornett21 opened #1097 "Missing `olmconfig.yaml` in `sfn-controller`"
### Missing `olmconfig.yaml` in `sfn-controller`
### Steps for closing this issue:
1. Checkout [`sfn-controller`](https://github.com/aws-controllers-k8s/sfn-controller) repository
2. Add `olm/olmconfig.yaml` file in [`sfn-controller`](https://github.com/aws-controllers-k8s/sfn-controller) repository.
  You can look at [`s3-controller`](https://github.com/aws-controllers-k8s/s3-controller/blob/main

[2021-12-13 21:14] acornett21 commented on #1097
/assign

[2021-12-13 21:15] vijtrip2 commented on #1096
/assign @acornett21

[2021-12-13 21:34] acornett21 opened #1098 "Missing `olmconfig.yaml` in `kms-controller`"
### Missing `olmconfig.yaml` in `kms-controller`
#### Steps for closing this issue:
1. Checkout [`kms-controller`](https://github.com/aws-controllers-k8s/kms-controller) repository
2. Add `olm/olmconfig.yaml` file in [`kms-controller`](https://github.com/aws-controllers-k8s/iam-controller) repository.
   You can look at [`s3-controller`](https://github.com/aws-controllers-k8s/s3-controller/blob/ma

[2021-12-13 21:34] acornett21 commented on #1098
/assign

[2021-12-13 21:48] acornett21 opened #1099 "Missing `olmconfig.yaml` in `sqs-controller`"
### Missing `olmconfig.yaml` in `sqs-controller`
### Steps for closing this issue:
1. Checkout [`sqs-controller`](https://github.com/aws-controllers-k8s/sqs-controller) repository
2. Add `olm/olmconfig.yaml` file in [`sqs-controller`](https://github.com/aws-controllers-k8s/sfn-controller) repository.
   You can look at [`s3-controller`](https://github.com/aws-controllers-k8s/s3-controller/blob/mai

[2021-12-13 21:48] acornett21 commented on #1099
/assign

[2021-12-14 09:17] ack-bot opened #1101 "Missing `olmconfig.yaml` in `kms-controller`"
### Missing `olmconfig.yaml` in `kms-controller`

#### Steps for closing this issue:
1. Checkout [`kms-controller`](https://github.com/aws-controllers-k8s/kms-controller) repository
2. Add `olm/olmconfig.yaml` file in [`kms-controller`](https://github.com/aws-controllers-k8s/kms-controller) repository.
You can look at [`s3-controller`](https://github.com/aws-controllers-k8s/s3-controller/blob/main

[2021-12-14 09:22] A-Hilaly commented on #1101
Duplicate of #1098

[2021-12-14 09:22] #1101 closed

[2021-12-14 09:27] #1098 closed

[2021-12-14 12:03] A-Hilaly commented on #489
/lifecycle frozen

[2021-12-14 12:05] A-Hilaly commented on #957
@haarchri Are you still experiencing the same issue? i see that https://github.com/haarchri/provider-aws/blob/ec2-transitgateway/pkg/controller/ec2/transitgateway/zz_conversions.go#L209-L272 got the correct field names

[2021-12-14 12:12] haarchri commented on #957
@A-Hilaly we skip the fields in generator-config - in general i think we have a problem with 4 fields:
https://github.com/haarchri/provider-aws/blob/ec2-transitgateway/apis/ec2/v1alpha1/generator-config.yaml#L86-L89

[2021-12-14 12:22] A-Hilaly commented on #957
/remove-lifecycle stale

[2021-12-14 14:16] ack-bot opened #1102 "Missing `olmconfig.yaml` in `sfn-controller`"
### Missing `olmconfig.yaml` in `sfn-controller`

#### Steps for closing this issue:
1. Checkout [`sfn-controller`](https://github.com/aws-controllers-k8s/sfn-controller) repository
2. Add `olm/olmconfig.yaml` file in [`sfn-controller`](https://github.com/aws-controllers-k8s/sfn-controller) repository.
You can look at [`s3-controller`](https://github.com/aws-controllers-k8s/s3-controller/blob/main

[2021-12-14 14:17] #1102 closed

[2021-12-14 14:58] #1097 closed

[2021-12-14 15:59] A-Hilaly opened #1103 "Lambda controller should not attempt to update a `Function` that is in a pending state"
**Describe the bug**
Currently, the lambda controller e2e tests are failing for `Function` resources. The reason is that controller tries update a `Function` that just got created.

**logs**

[code]

/assign

[2021-12-14 16:24] jaypipes commented on #1103
Perhaps some fields on the Function resource need `late_initialize: {}` in the `generator.yaml` config file?

[2021-12-14 16:25] A-Hilaly commented on #1103
What's weird is that tests used to pass before. Trying to fix with late_initializers and some custom code

[2021-12-14 17:45] ack-bot opened #1104 "Errors while generating olm bundle for `iam-controller-v0.0.2`"
### Errors while generating olm bundle for `iam-controller-v0.0.2`

#### stdout for `olm-create-bundle.sh iam v0.0.2`:
[code]

#### stderr for `olm-create-bundle.sh iam v0.0.2`:
[code]

#### Steps for closing this issue:
1. Checkout [`code-generator`](https://github.com/aws-controllers-k8s/code-generator) and [`iam-controller`](https://github.com/aws-controllers-k8s/iam-controller) repositories
2.

[2021-12-14 17:58] acornett21 opened #1105 "Missing `olmconfig.yaml` in `sns-controller`"
### Missing `olmconfig.yaml` in `sns-controller`
### Steps for closing this issue:
1. Checkout [`sns-controller`](https://github.com/aws-controllers-k8s/sns-controller) repository
2. Add `olm/olmconfig.yaml` file in [`sns-controller`](https://github.com/aws-controllers-k8s/sns-controller) repository.
   You can look at [`s3-controller`](https://github.com/aws-controllers-k8s/s3-controller/blob/mai

[2021-12-14 17:58] acornett21 commented on #1105
/assign

[2021-12-14 19:47] acornett21 opened #1106 "Missing `olmconfig.yaml` in `dynamodb-controller`"
### Missing `olmconfig.yaml` in `dynamodb-controller`
### Steps for closing this issue:
1. Checkout [`dynamodb-controller`](https://github.com/aws-controllers-k8s/dynamodb-controller) repository
2. Add `olm/olmconfig.yaml` file in [`dynamodb-controller`](https://github.com/aws-controllers-k8s/dynamodb-controller) repository.
   You can look at [`s3-controller`](https://github.com/aws-controllers-k

[2021-12-14 19:47] acornett21 commented on #1106
/assign

[2021-12-14 20:12] #1106 closed

[2021-12-14 22:30] wszarmach-koia commented on #207
Could someone tell me whether there are plans to consider the controller as generally available any time soon ?

[2021-12-15 17:31] vijtrip2 commented on #207
Hi @wszarmach-koia , thanks for reaching out! We definitely want to graduate all our service controllers to GA in future.
Unfortunately, I cannot give you specific date but ACK team will reach out to APIGateway team next year regarding promoting controller to GA.

[2021-12-16 20:14] rbranche commented on #1027
This issue has been mitigated with aws-controllers-k8s/rds-controller#40

[2021-12-16 20:53] vijtrip2 commented on #1027
/close

[2021-12-16 20:53] #1027 closed

[2021-12-16 21:34] rbranche opened #1107 "If DBCluster is in `modifying` when changes are made to the k8s object, then it stays in `modifying` forever"
**Describe the bug**
If DBCluster is in `modifying` when changes are made to the k8s object, then it stays in `modifying` forever

**Steps to reproduce**
1. Make change to RDS DBCluster object that takes a longer time (20-30s) to modify in the AWS Console. Wait for `DBCluster.Status.status` to show `modifying`.
2. Make another change to RDS DBCluster k8s object.

**Expected outcome**
1. Controller

[2021-12-16 21:53] rbranche commented on #1107
`InvalidDBClusterStateFault` is a terminal condition (correctly), so the change needed here might need to be a polling function that waits for the DBCluster to be in `available` state before calling ModifyDBCluster to make additional changes.

[2021-12-18 00:05] #868 closed

[2021-12-18 07:02] sbkg0002 commented on #482
Thanks for sharing @Pitta !looking forward.

[2021-12-19 19:16] haarchri opened #1108 "code-gen crossplane - iam - Group redeclared in this block / other declaration of Group"
**Describe the bug**
A concise description of what the bug is.

![image](https://user-images.githubusercontent.com/21083497/146687728-9102e5f4-e326-407c-b585-cb860774b62b.png)

**Steps to reproduce**
create iam generator-config.yaml
make generate

[code]

**Expected outcome**
A concise description of what you expected to happen.

**Environment**
https://github.com/crossplane/provider-aws/issues/47

[2021-12-20 11:39] A-Hilaly commented on #859
/remove-lifecycle stale

[2021-12-20 11:40] A-Hilaly commented on #859
/remove-lifecycle rotten

[2021-12-20 17:05] vijtrip2 commented on #1108
Thank you @haarchri

[2021-12-20 17:05] #1108 closed

[2021-12-21 23:29] jamesseo-alation opened #1109 "Does rds-controller cover read replica?"
**What is the URL of the document?**

**Which section(s) is the issue in?**

**What needs fixing?**

**Additional context**

I need to append read replica instance on a db instance and need to check if rds-constroller can support this feature.
When I read dbInstnace CRD, it doesn't include read replica related property. Can you share any doc about read replica setup by rds-controller?

[2021-12-21 23:30] philnichol commented on #899
@RedbackThomson @vijtrip2 hope you don't mind, I've raised the above PR which should address this, left a couple of questions in the description, please let me know if you'd like me to address them?

[2021-12-21 23:54] #899 closed

[2021-12-22 11:29] #1103 closed

[2021-12-22 11:30] A-Hilaly commented on #1103
Fixed in aws-controllers-k8s/lambda-controller#15

[2021-12-22 14:44] haarchri opened #1110 "TransitGatewayRouteObservation is missing DestinationCidrBlock"
**Describe the bug**
if we run code-generator in crossplane to create ec2 TransitGatewayRoute it will generate a struct for TransitGatewayRouteObservation

[code]

but it is missing:
[code]

 without DestinationCidrBlock it is very hard to implement updates - because we didn't know the last state of the DestinationCidrBlock - so we thought that the DestinationCidrBlock is missing and we will creat

[2021-12-22 14:52] A-Hilaly commented on #1110
@haarchri Did you try to generate the CRDs using the latest aws-sdk-go version?

[2021-12-22 14:58] haarchri commented on #1110
no we only tried latest code-generator master and here we have  `1.37.10` if i am correct
https://github.com/aws-controllers-k8s/code-generator/blob/main/go.mod#L7

[2021-12-22 15:05] A-Hilaly commented on #1110
@haarchri I tried to generate `TransitGatewayRoute` and here is the Spec field that was generated:

[code]

Using latest code-gen commit and https://github.com/aws-controllers-k8s/ec2-controller/blob/main/go.mod#L7

[2021-12-22 15:17] A-Hilaly commented on #1110
Here the `Status` field generated (equivalent of Observation struct):

[code]

As you can see the `DestinationCidrBlock` field exists in the Spec struct but not in the status one.

[2021-12-22 15:19] haarchri commented on #1110
thanks for sharing - is this SDK specific that the `DestinationCidrBlock` is missing in TransitGatewayRouteStatus ?
because this is the important field if we publish routes for status 👯

[2021-12-22 15:22] haarchri commented on #1110
at the end the API for `TransitGatewayRoute` is special if we want to Describe the `TransitGatewayRoute` - we need to use [SearchTransitGatewayRoutes](https://docs.aws.amazon.com/sdk-for-go/api/service/ec2/#EC2.SearchTransitGatewayRoutes)
and here we get back for Routes  `Routes []*TransitGatewayRoute ` and then we have `DestinationCidrBlock` but our Struct for Status/Observation is without

[2021-12-22 15:44] A-Hilaly commented on #1110
The way ACK code-generator determines whether a field should be part of `status` or `spec` is the following:
- If a field is part of the Create shape (structs) it's a Spec. e.g [`CreateTransitGatewayRouteRequest`](https://github.com/aws/aws-sdk-go/blob/v1.37.10/models/apis/ec2/2016-11-15/api-2.json#L8749-L8762)
- If a field is part of the Output but not of the Create shapes it's a status

More det

[2021-12-22 16:10] A-Hilaly commented on #816
/remove-lifecycle rotten

[2021-12-22 16:13] A-Hilaly commented on #1110
@haarchri Do you have a `DestinationCidrBlock` in the Spec struct? I believe you still need it in the Spec and not the observation because that field is part of the `CreateTransitGatewayRoute` shape.

[2021-12-22 16:15] haarchri commented on #1110
Yes we have but - what If someone changed it we lose the information and lost the old entry because the DestinationBlock is not part of Status after Creation

[2021-12-22 16:37] A-Hilaly commented on #1110
That field is required and should not be deleted by the user who is managing it. Same thing goes with dynamodb table names, s3 bucket names etc... ACK controllers use a kubebuilder option (`// +kubebuilder:validation:Required`) to mark fields as required and instruct the kubeap to validate resources before applying the updates

Are you requesting to replicate `DestinationCIDRBlock` in both Status

[2021-12-22 16:51] haarchri commented on #1110
Are you requesting to replicate DestinationCIDRBlock in both Status and Spec? - this would be the perfect case

[2021-12-22 20:01] vijtrip2 commented on #816
/lifecycle frozen

[2021-12-22 20:25] vijtrip2 commented on #1110
Just a note, This is not the pattern we have followed any where in ACK controller CRD generation. To handle custom logic, ACK supports code hooks and for storing additional metadata and previous states, ACK team has preferred using `metadata.Annotations`

Currently, if a user updates the identifier, the ACK controller will search for a resource with the identifier mentioned in desired state, recei

[2021-12-22 20:33] vijtrip2 opened #1111 "Deletion of old resource when `spec.Identifier` field is updated"
There should be a standard defined across ACK service controllers on how to handle reconciliation of a resource if the `spec.Identifier` field is updated.

For Example, Currently if K8s user updates the `Name` of s3 Bucket resource, ACK reconciler will create a new bucket and not delete the old bucket.

As part of this issue, it should be decided,
a) Is it ACK service controller's responsibility t

[2021-12-24 19:03] philnichol opened #1112 "Improve controller container security"
Hi and thanks in advance for reading this 😄

**Is your feature request related to a problem?**
Currently if I scan the ACK controller images for vulnerabilities and CIS standards it does not pass, this means introducing potential vulnerabilities, and forcing me to raise Risk Acceptance requests with security in order to use this in production

Output from live container image:
[code]

**Describe t

[2021-12-27 16:14] A-Hilaly commented on #920
/remove-lifecycle rotten

[2021-12-27 17:08] vijtrip2 commented on #1112
Hi @philnichol, Thank you so much fo bringing this to our attention.

We have plans to enable regular image scan on ACK controller images in near future, and we will work for patching the security vulnerabilities that are currently present ASAP.

[2021-12-28 04:27] A-Hilaly commented on #930
/lifecycle frozen

[2021-12-28 21:49] RedbackThomson commented on #1111
Yeah I'd love to see an open discussion on what a user would expect, here.

My assumption would be that it would delete a previously created resource, since an "update" to the name would be the equivalent of taking the current resource and recreating it with a new name (deleting the old one in the process). But whenever dealing with automated deletion of resources, I agree we need to take care. Pe

[2021-12-28 21:53] RedbackThomson commented on #1109
The RDS controller spec contains the [`replicationSourceIdentifier`](https://github.com/aws-controllers-k8s/rds-controller/blob/main/config/crd/bases/rds.services.k8s.aws_dbclusters.yaml#L309) field. As per the [RDS documentation](https://docs.aws.amazon.com/AmazonRDS/latest/AuroraUserGuide/AuroraMySQL.Replication.CrossRegion.html#AuroraMySQL.Replication.CrossRegion.Creating), you are expected to

[2021-12-28 22:00] RedbackThomson commented on #482
@sbkg0002 Yes CloudFormation and the CLI are both able to create certs, and an ACM ACK controller would be able too as well. However, we don't have plans to extend ACK out any further than the control plane of ACM, for example attaching certificates within a Kubernetes environment.

I think there are other good tools (like cert-manager) that handle the K8s part of it once the certificate has been

[2021-12-30 00:04] Pitta commented on #482
If cert-manager did what I was asking for in a way that was clear that others have done, I'm all for it.
Nothing I've found in my travels suggests that anything out of the box will do ACM public cert management.

[2021-12-30 18:14] philnichol commented on #1112
I've pushed this draft just in case it helps at all since the work had been done, but no worries if it's not the direction you're after :) https://github.com/aws-controllers-k8s/code-generator/pull/254

[2022-01-02 12:21] haarchri opened #1113 "crossplane: Kinesis Stream Status Struct is empty"
**Describe the bug**

Kinesis Stream Status struct is empty - think because CreateStreamOutput is empty:
https://github.com/crossplane/provider-aws/pull/857

check:
https://github.com/crossplane/provider-aws/pull/857/files#diff-7b8e02c9bf79e827467652ee7f8c5a713396532f93d57ecd83162129248c447bR47

think `StreamDescription` needs to be part of  Status struct:

https://github.com/crossplane/provider-a

[2022-01-03 09:12] haarchri opened #1114 "crossplane: unable to generate prometheusservice"
**Describe the bug**
https://github.com/crossplane/provider-aws/issues/977
we are unable to generate new service prometheusservice via code-generator - which is part of 1.37.10 go-sdk

`Error: service prometheusservice not found`

https://github.com/aws/aws-sdk-go/tree/v1.37.10/service/prometheusservice
https://docs.aws.amazon.com/sdk-for-go/api/service/prometheusservice/

**Steps to reproduce**
m

[2022-01-03 14:21] jaypipes commented on #1114
Hi @haarchri! Try `amp` :)

https://github.com/aws/aws-sdk-go/blob/v1.37.10/models/apis/amp/2020-08-01/api-2.json

[2022-01-03 14:24] haarchri commented on #1114
thanks looks like this is working ;)

[2022-01-03 14:25] jaypipes commented on #1114
no prob! it's a common issue... where the serviceID doesn't match the service long-form package name...

[2022-01-03 14:54] haarchri commented on #1114
but i think we need to set .ServicePackageName via generator-config.yaml otherwise the generated code will use `amp` as .ServicePackageName  but here we need `prometheusservice`
https://github.com/aws-controllers-k8s/code-generator/blob/main/templates/crossplane/pkg/controller.go.tpl#L14

[2022-01-03 15:09] #1114 closed

[2022-01-03 15:09] haarchri commented on #1114
[code]
and in makefile we can use `prometheusservice`

[2022-01-03 20:22] RedbackThomson commented on #879
/remove-lifecycle rotten

[2022-01-03 20:26] #847 closed

[2022-01-03 20:29] RedbackThomson commented on #935
/remove-lifecycle stale

[2022-01-03 21:05] RedbackThomson commented on #1113
Yes, [`CreateStreamOutput`](https://docs.aws.amazon.com/sdk-for-go/api/service/kinesis/#CreateStreamOutput) does not export any fields. I wouldn't say this is a bug in the code-generator, as we would expect it to not associate any status fields in this scenario. You would have to unpack each of the fields from the describe call into status fields in the generator, kind of like we do for the [SageM

[2022-01-03 21:12] haarchri commented on #1113
Thanks for comment

Something like this ?

 ​  ```
  ​fields​:
 ​      ​EndpointStatus​:
 ​        ​is_read_only​: ​true
 ​        ​print​:
 ​          ​name​: ​STATUS
 ​        ​from​:
 ​          ​operation​: ​DescribeEndpoint
 ​          ​path​: ​EndpointStatus
[code]

[2022-01-03 21:18] RedbackThomson commented on #1113
More specifically, as an example for a Kinesis stream:
[code]

[2022-01-03 21:22] haarchri commented on #1113
Okay i need to check if crossplane pipeline can handle this

[2022-01-05 15:17] jaypipes commented on #1109
@jamesseo-alation please see #893. Closing this as duplicate.

[2022-01-05 15:17] #1109 closed

[2022-01-05 15:49] jaypipes commented on #1110
This is actually not what we recommend doing (and AFAIK, isn't the way that Crossplane's modeling works either [0]). The guidance is to not duplicate the same field in Spec and Status. Instead, if the field is *settable* (either in Create or in Update calls), it should go in Spec. If not, it should go in Status.

[0] refer to @muvaf and my discussion on https://groups.google.com/g/kubernetes-sig-a

[2022-01-05 15:53] jaypipes commented on #814
Refer to https://github.com/aws-controllers-k8s/community/issues/1110#issuecomment-1005844199

[2022-01-05 17:22] haarchri commented on #1113
thanks it is working with:

[code]

and reflects in:

[code]

[2022-01-05 17:22] #1113 closed

[2022-01-06 21:06] acornett21 commented on #1096
/assign

[2022-01-06 21:08] acornett21 commented on #1096
@vijtrip2 I raised both PR's and they were merged, this issue can be closed now.

- https://github.com/k8s-operatorhub/community-operators/tree/main/operators/ack-ec2-controller
- https://github.com/redhat-openshift-ecosystem/community-operators-prod/tree/main/operators/ack-ec2-controller

[2022-01-06 21:52] vijtrip2 commented on #1096
/close

[2022-01-06 21:52] #1096 closed

[2022-01-07 08:01] miseyu opened #1117 "When lambda type `docker image` causes `code sign` error when registering manifest."
**Describe the bug**
When lambda Type `docker image` causes `code sign` error when registering manifest.

[code]

**Steps to reproduce**
[code]

**Expected outcome**

**Environment**
us-west-2

* Kubernetes version 1.21
* Using EKS (yes/no), if so version?  yes eks.4
* AWS service targeted (S3, RDS, etc.) lambda

[2022-01-07 17:04] vijtrip2 commented on #812
/lifecycle frozen

[2022-01-07 20:58] ack-bot opened #1118 "Errors while generating `iam-controller` for ACK runtime `v0.16.0`"
### Errors while generating `iam-controller` for ACK runtime `v0.16.0`

#### stdout for `make build-controller`:
[code]

#### stderr for `make build-controller`:
[code]

#### Steps for closing this issue:
1. Update `go.mod` file to update `aws-controllers-k8s/runtime` to v0.16.0
2. Successfully generate the service controller locally using latest release of
`aws-controllers-k8s/code-generator`
3.

[2022-01-09 16:09] jaypipes opened #1119 "support updating tags for Role and Policy resources in IAM"
In order to update the tags applied to an IAM Role and Policy resource, one must call the [`TagRole`](https://docs.aws.amazon.com/IAM/latest/APIReference/API_TagRole.html), [`TagPolicy`](https://docs.aws.amazon.com/IAM/latest/APIReference/API_TagPolicy.html), [`UntagRole`](https://docs.aws.amazon.com/IAM/latest/APIReference/API_UntagRole.html) and [`UntagPolicy`](https://docs.aws.amazon.com/IAM/la

[2022-01-10 14:38] #1088 closed

[2022-01-10 15:18] faganihajizada opened #1120 "The `recommended-inline-policy` file does not exist in opensearchservice-controller repository"
**Describe the bug**
According to [documentation](https://aws-controllers-k8s.github.io/community/docs/user-docs/irsa/#:~:text=the%20IAM%20role-,%23,-Note) `INLINE_POLICY` can be set by executing:
[code]
But the `recommended-inline-policy` file does not exist in repository https://github.com/aws-controllers-k8s/opensearchservice-controller

**Steps to reproduce**

Set `BASE_URL=https://raw.githubu

[2022-01-10 16:53] jaypipes commented on #1120
Hi @faganihajizada! The documentation you linked above states that an inline policy is optional but should be present if `config/iam/recommended-policy-arn` file is missing from the controller repo. In the case of the opensearchservice-controller repository, the recommend-policy-arn file is indeed present, though:

https://github.com/aws-controllers-k8s/opensearchservice-controller/blob/main/confi

[2022-01-10 16:53] #1120 closed

[2022-01-10 16:57] faganihajizada commented on #1120
Thanks, @jaypipes!

[2022-01-10 18:04] vijtrip2 commented on #824
/lifecycle frozen

[2022-01-10 18:45] philnichol opened #1121 "Reorder Getting Started/install docs"
**What is the URL of the document?**

https://aws-controllers-k8s.github.io/community/docs/community/overview/

**Which section(s) is the issue in?**

**What needs fixing?**

Currently the instructions order is unintuitive, we install the controller (which would fail due to lack of permissions), then we set up IAM, and then restart the controller, I think it would be better if the IAM setup came f

[2022-01-10 18:59] vijtrip2 commented on #1121
We chose to go this way because setting up IRSA is a more involved process for new users and we did not want them to jump into deep water straight away. Hence first install the controller, get familiar with it and then setup IAM permissions.

But I understand your thinking about this too and we have this issue https://github.com/aws-controllers-k8s/community/issues/1041 in backlog to help new user

[2022-01-10 19:02] philnichol commented on #1121
@vijtrip2 makes sense, hadn't thought about it that way, and hadn't spotted that issue, I'll close this one in that case 🙂

[2022-01-10 19:02] #1121 closed

[2022-01-10 19:27] vijtrip2 opened #1122 "Enable image scanning for ACK controller images"
**Is your feature request related to a problem?**
* Currently there is no automated way of finding security vulnerabilities in the latest ACK service controller images.

**Describe the solution you'd like**
* Running periodic jobs to scan the latest controller images and if any security vulnerability is surfacing.
* ACK core team will be informed about security vulnerability through a private comm

[2022-01-10 19:32] vijtrip2 opened #1123 "Configure Dependabot for ACK core libraries"
Add `dependabot` for ACK code-generator and ACK runtime repositories to detect any security vulnerabilities amongst the dependencies.

[2022-01-10 20:10] RedbackThomson commented on #1123
These have already been enabled for both repositories! I guess we just haven't seen any vulnerabilities yet?

[2022-01-10 20:11] #1123 closed

[2022-01-11 17:20] vijtrip2 commented on #931
Current solution does not cover the cases where resource status needs patching before it is marked as managed. See https://github.com/aws-controllers-k8s/runtime/pull/64

Reopening this issue and I will propose some more solution to this problem.

[2022-01-11 19:11] doctorpangloss commented on #222
Policies are consistently the most painful part of using AWS services this way. `eksctl` has bugs that are blocking how this is used. I think the security concerns are kind of abstract for a component like this, and it's better to just make something simple that works.

[2022-01-11 19:22] jaypipes commented on #222
@doctorpangloss I've published a preview version of the IAM controller, including support for Roles and Policies along with associating Policies with Roles.

See here: https://gallery.ecr.aws/aws-controllers-k8s/iam-controller

[2022-01-11 19:49] vijtrip2 commented on #931
### Context

ACK reconciler patches resource status only once at the end of reconciler loop using `HandleReconcilerError(ctx, desired, latest, err)` method.
This works great because all the error handling, requeue logic is present at one place for CUD operations. This also provides reconciler opportunity to keep updating resource Status throughout reconciler loop, and then status is efficiently up

[2022-01-11 20:31] doctorpangloss commented on #222
I would try this, I see that it meets my use case. But how do I create the role for this thing to work? We're so close to something great.

[2022-01-11 23:04] jaypipes commented on #222
Ah, I see, you're referring to the "bootstrapping problem", right? In other words, a chicken-and-egg problem of needing an IAM Role already created for the Service Account of the IAM controller for ACK to run properly so that *it* can create other IAM Roles?

[2022-01-11 23:49] jaypipes commented on #931
@vijtrip2 thank you for the **excellent and very clear** description of the problem and alternative solutions above!

I agree with you that the proposed solution of keeping the existing code but checking for the NotFound in the `Status.Patch()` error is the simplest approach with the least risk of introducing additional problems in the code.

[2022-01-12 01:34] #931 closed

[2022-01-12 12:27] TBBle commented on #222
@jaypipes The links on that gallery page on the Usage tab are both wrong, they start with https://aws-controllers-k8s.github.io/community/user-docs/  but should start with https://aws-controllers-k8s.github.io/community/docs/user-docs/, i.e. there's a `/docs` missing in the path.

[2022-01-12 12:41] TBBle commented on #222
@doctorpangloss https://github.com/aws-controllers-k8s/iam-controller/blob/v0.0.2/config/iam/recommended-inline-policy looks like the policy it needs.

You should be able to specify that for a service account named `ack-iam-controller` in eksctl in the namespace where you will install the controller, i.e.

[code]

Then when installing with Helm, pass `--set serviceAccount.create=false` (or [equiva

[2022-01-12 16:11] Woitekku opened #1124 "support updating Policy resources in IAM controller"
**Describe the bug**
Using apiVersion: iam.services.k8s.aws/v1alpha1 for `Policy` is failing, comparing to `Role` which works just perfect.
First of all, the policy is not always created, once created it doesn't discover difference in `policyDocument`.
Logs from iam-controller pod does not show any changes, other time throw an error similar to this:

[code]

**Steps to reproduce**
Manifest:
[code]

[2022-01-12 17:09] jaypipes commented on #1124
related: #1119

[2022-01-12 18:08] narcosis commented on #461
Hi,
Still having the original issue when trying to add the helm repository for S3.
Has this issue been resolved?
"helm repo add ack https://aws.github.io/aws-controllers-k8s/charts"

`Error: looks like "https://aws.github.io/aws-controllers-k8s/charts" is not a valid chart repository or cannot be reached: failed to fetch https://aws.github.io/aws-controllers-k8s/charts/index.yaml : 404 Not Found`

[2022-01-12 18:34] jaypipes commented on #461
Please see the doc that @vijtrip2 linked. The correct repository URL for you would be public.ecr.aws/aws-controllers-k8s/s3-chart

[2022-01-13 06:56] narcosis commented on #461
Hi Jaypipes,
Thank you for the quick response.

I saw the document but Im looking for a public path to download a specific version during my landscape creation.
The flow as described in the doc (downloading the package and extracting it) is not really how we wanted to run.

p.s while trying ``helm repo add ack-s3 public.ecr.aws/aws-controllers-k8s/s3-chart'  I get the this error
`Error: could not

[2022-01-13 16:32] palisado opened #1125 "Provision AWS Rest API using ACK for Amazon API Gateway v2"
Hi All,

I have question regarding ACK for Amazon API Gateway v2. I was following this guide to integrate AWS HTTP API Gateway from our K8s cluster using ACK for Amazon API Gateway v2: https://aws.amazon.com/blogs/containers/integrate-amazon-api-gateway-with-amazon-eks/
The guide worked fine and I was able to create AWS HTTP API Gateway.

Now, I have a requirement to have AWS WAF attached to API G

[2022-01-13 17:22] vijtrip2 commented on #1125
Thanks for reaching out!

No, apigatewayv2 controller is built from `aws-sdk-go/apigatewayv2` and those API do not support creation of REST APIs.
ACK team will need to build another "apigateway" controller (NOTE: no v2), which will support REST API creation.

I will create a GH issue which you can follow but it's not on our priority list right now.

[2022-01-13 17:22] #1125 closed

[2022-01-13 17:24] vijtrip2 opened #1126 "APIGateway service controller"
## New ACK Service Controller

Support for APIGateway

### List of API resources

List the API resources in order of importance to you:

1) RestApi
2) Integration
3) Resource
4) Stage
5) VPCLink

[2022-01-13 17:24] vijtrip2 commented on #1126
/lifecycle frozen

[2022-01-13 17:25] vijtrip2 commented on #1125
https://github.com/aws-controllers-k8s/community/issues/1126

[2022-01-13 17:46] palisado commented on #1125
Thanks for the info and quick reply Vijay.
I will check the GH #1126 issue that you created.

Cheers,
Budi

[2022-01-14 12:14] ack-bot opened #1127 "Errors while generating `iam-controller` for ACK runtime `v0.16.1`"
### Errors while generating `iam-controller` for ACK runtime `v0.16.1`

#### stdout for `make build-controller`:
[code]

#### stderr for `make build-controller`:
[code]

#### Steps for closing this issue:
1. Update `go.mod` file to update `aws-controllers-k8s/runtime` to v0.16.1
2. Successfully generate the service controller locally using latest release of
`aws-controllers-k8s/code-generator`
3.

[2022-01-14 17:31] vijtrip2 commented on #1118
/close

[2022-01-14 17:31] #1118 closed

[2022-01-14 17:43] jaypipes commented on #1063
Remaining (as of 2022-01-14) part to do is ResourceSynced condition generation, which is waiting on #1064

[2022-01-14 17:44] vijtrip2 opened #1128 "`aws-sdk-go` upgrade to `v1.42.0` for ACK repositories"
Update `aws-sdk-go` dependency to `v1.42.0` in ACK core libraries and controllers.

I will create a separate issue for automation of `aws-sdk-go` upgrades

[2022-01-14 17:44] #1031 closed

[2022-01-14 17:46] vijtrip2 commented on #1112
All these vulnerabilities are resolved now and ACK controller image now run as non-root. I am closing this issue and creating new issue for aws-sdk-go upgrade . https://github.com/aws-controllers-k8s/community/issues/1128

[2022-01-14 17:46] #1112 closed

[2022-01-14 18:41] vijtrip2 opened #1130 "Automate `aws-sdk-go` upgrades for ACK"
There should be an automation which updates `aws-sdk-go` in ACK core libraries, runs tests and creates pull requests

Design decisions will include
a) How to trigger the `aws-sdk-go` update in ACK core libraries? Periodic or Event driven?
b) Presubmit tests that validate whether `aws-sdk-go` update will break existing functionality in service controllers?
c) How to automatically create PRs for `aw

[2022-01-14 18:58] sergey-telpuk commented on #205
Hello, any updates?

[2022-01-14 21:14] rbranche commented on #1107
I spent this week trying to get a simple reproducible case, but failed.

This is what the `DBCluster` looks like after it fails:

[code]

This particular cluster in us-east-1 and is part of a GlobalCluster with a secondary Cluster in us-west-2, so maybe that's why the `modifying` takes longer.

[2022-01-14 22:14] acornett21 commented on #1122
I think this is a great idea, maybe hook [Clair](https://quay.github.io/clair/whatis.html) into the existing prow process / infrastructure that ACK team uses? Quay uses this for its scanning. Just a thought so the entire wheel doesn't have to be re-invented for this.

[2022-01-14 22:18] acornett21 commented on #777
/assign

[2022-01-14 22:49] jaypipes commented on #205
Apologies @sergey-telpuk, but SQS has lagged behind :( I hope to get back to working on it this quarter.

[2022-01-15 00:34] vijtrip2 commented on #1128
I am planning to use following strategy:
1. Update ACK runtime to `aws-sdk-go v1.42.35` , which is the latest version. Locally testing code generation for some cheery-picked controllers will give confidence that there are no major issues with this `aws-sdk-go` version
2. Create new release of ACK `runtime v0.16.2`
3. Update `code-generator` to new ACK runtime version. This will update `aws-sdk-go`

[2022-01-15 06:05] #229 closed

[2022-01-15 06:48] sergey-telpuk commented on #205
@jaypipes Hello, thanks for answer. I really want to start using SQS with help of this operator. I'll be waiting for work done

[2022-01-15 08:44] paulermo commented on #205
@jaypipes we will wait too, hope things will go well and coding wil be fast:)

[2022-01-17 17:16] ops-hummus opened #1131 "IAM controller typo in policy example"
Hi,
You need to replace the end of the line of the policy, from . to ,

https://github.com/aws-controllers-k8s/iam-controller/blob/8330444befbbced91561cdf090553f1322c9e2ae/config/iam/recommended-inline-policy#L11

[2022-01-18 01:32] vijtrip2 commented on #777
/lifecycle frozen

[2022-01-18 01:35] vijtrip2 commented on #1131
Thanks for pointing out the error.
Fixed now!

[2022-01-18 01:35] #1131 closed

[2022-01-18 09:25] ops-hummus commented on #1131
@vijtrip2
Glad to help :)
Do you have an ETA on when you are going to release a stable build?

[2022-01-18 17:13] vijtrip2 commented on #1131
No ETA yet.

[2022-01-18 17:25] doctorpangloss opened #1132 "Hexchars in endpoint names for `rds` blocks use in GitOps workflow"
**Describe the bug**
When creating a `DBCluster` instance, endpoints appear in status of the form:

[code]

`hexchars` are the name given by AWS employees by this deterministic but not-known-ahead-of-time string appearning in the endpoint. See https://stackoverflow.com/a/35000722/1757994

Because hexchars are not known at the time the cluster is created, although it is constant, end users of any A

[2022-01-19 08:51] vijtrip2 opened #1133 "`ACK.ResourceSynced` condition gets removed in ACK runtime `v0.16.0`"
**Describe the bug**
`ACK.ResourceSynced` gets removed after successful creation of the resource in ACK runtime `v0.16.0`

### Context

In the new release `v0.16.0`, ACK runtime had a [change](https://github.com/aws-controllers-k8s/runtime/commit/5afdd00a4bf2587efa53dbf7693f4a550f43fea4) to reset(remove) old `Status.Conditions` at the start of reconciler loop, and set latest `Status.Conditions` ag

[2022-01-19 12:07] A-Hilaly commented on #1059
Closing in favor of https://github.com/aws-controllers-k8s/community/issues/1128

[2022-01-19 12:07] #1059 closed

[2022-01-19 14:19] jaypipes commented on #1133
@vijtrip2 for solution (2), could we potentially change that to: "Set True or False depending on whether there was any reconciler error AND whether there was no Diff found in the Delta"? In other words, set ACK.ResourceSynced=True when there was no error in the ReadOne and the returned resource from ReadOne matches the Spec fields of the originally-supplied resource?

[2022-01-19 20:01] acornett21 commented on #1133
I feel that clearing out the statuses completely on each reconcile leads to a bad UI/UX experience. IE a user sees `Success` in the Status for a `Bucket` for example, then the Status would become not present and the user would no longer see what they preciously say 'Ready/Failed/etc', which is confusing.

[2022-01-19 20:19] vijtrip2 commented on #1133
That is not correct :) Only `Status.Conditions` is cleared and calculated again during reconciler loop.

This is not correct either, Status is patched. The flow is not like
"remove -> add again" but it's more like
 "in-memory remove -> in-memory add latest conditions ->  patch on disk"

[2022-01-19 20:33] philnichol opened #1134 "Add security flags to go build step"
**Is your feature request related to a problem?**
The way the controller binary is compiled could include security flags.

**Describe the solution you'd like**
For example, we could include the `-buildmode=pie` flag to `go build` to get ASLR, improving security of the binary with minimal effort, the only cost being a small increase in final image size.
Some more info on this flag can be found in [

[2022-01-19 20:48] philnichol opened #1135 "Add NOTES.txt to helm chart"
**Is your feature request related to a problem?**
As a user deploying this controller, having a useful message after installation/upgrade would be nice. It could include info on more possible values, links to documentation, or an example to get started.

**Describe the solution you'd like**
A good example is the [nginx-ingress-controller helm chart](https://github.com/kubernetes/ingress-nginx/blob

[2022-01-19 22:01] acornett21 commented on #1133
I was referring to `Status.Conditions`, sorry to not state that clearly.

Doing the below I never see any value being written to `Status.Conditions`
`kubectl get bucket example-8675309 -oyaml -w`

yields the below
[code]

Am I missing something?

[2022-01-19 22:52] vijtrip2 commented on #1133
Thanks @acornett21 , for detailed explanation.

This may be a specific bug for S3 controller, but the new [patch](https://github.com/aws-controllers-k8s/runtime/commit/c0254e470c2a905f5f984d735c1c49d9fef7d982) we just made, will make sure at least 'ACK.ResourceSynced' condition will always be present. If "True" or "False" synced status cannot be determined, atleast "Unknown" status will be populat

[2022-01-19 22:53] RedbackThomson commented on #1133
After reading articles like the following: https://maelvls.dev/kubernetes-conditions/ , it seems that the way we handle conditions does not match the upstream Kubernetes standard. I have also looked at the fluxcd/pkg repository (https://github.com/fluxcd/pkg/tree/main/runtime/conditions) and see that they handle conditions in the same way as `Pod`.

Would it be possible to align our designs more s

[2022-01-19 23:18] ack-bot opened #1136 "Errors while generating `iam-controller` for ACK runtime `v0.16.2`"
### Errors while generating `iam-controller` for ACK runtime `v0.16.2`

#### stdout for `make build-controller`:
[code]

#### stderr for `make build-controller`:
[code]

#### Steps for closing this issue:
1. Update `go.mod` file to update `aws-controllers-k8s/runtime` to v0.16.2
2. Successfully generate the service controller locally using latest release of
`aws-controllers-k8s/code-generator`
3.

[2022-01-20 05:45] svmundada opened #1137 "ECR - Repository CR tags not reflecting"
**Describe the bug**
Updating tags on `Repository` CR is not reflecting, at least in the console.
In the debug logs i do see reconcile happen but resource metadata is not getting updated.

**Steps to reproduce**
- Create a Repository without tags.
- Update a Repository by adding tags.

**Expected outcome**
If CR is updated, tags should also be reflected.

**Environment**

* Kubernetes version 1.20

[2022-01-20 10:52] svmundada commented on #1021
@RedbackThomson We are also seeing this behavior, any updates on this one?

[2022-01-20 11:40] muvaf commented on #835
@A-Hilaly If I understand correctly, the apiVersion is specified per-group, right? Not per-CRD? In Crossplane, we go for per-CRD to comply with Kubernetes and also CRDs in the same group usually don't have the same maturity level. Do you see that case arising in ACK as well or do you consider the whole group as a unit that will be versioned together?

[2022-01-20 15:57] acornett21 commented on #1133
@vijtrip2 After testing other controllers (elasticache/mq) it does look like this error is specific in S3, which doesn't really make sense, as all controllers share the same runtime code. I'll test that patch against S3 to see if that solves the issue in that controller as well.

Below is an output from elasticache
[code]

  The article that @RedbackThomson shared is how I've seen conditions handl

[2022-01-20 17:41] doctorpangloss opened #1138 "[rds] Changing availabilityZones in a DBCluster causes ackrt to loop on failure"
**Describe the bug**
Change the `availabilityZones:` in a `DBCluster` and the controlller will never make the change nor any others.

**Steps to reproduce**
1. Create a `DBCluster`
2. Change the `availabilityZones`
3. Observe the following in the logs for the controller: (abbreviated):

[code]
**Expected outcome**
Throw an error if this isn't possible.

**Environment**

* Kubernetes version 1.21
*

[2022-01-20 18:19] RedbackThomson opened #1139 "`DBInstance` does not retry Create for invalid spec values"
**Describe the bug**
If a password is not specified when first creating an RDS `DBInstance` CR, the `Create*` call fails and sets the CR into a terminal condition. If you update the password field after this, the call is not re-attempted and the instance is forever stuck in a terminal state.

**Steps to reproduce**
1. Create a `DBInstance` with an invalid `masterUserPassword` value
2. Watch for th

[2022-01-20 18:20] RedbackThomson commented on #1139
From our Slack conversation regarding this issue:

[2022-01-20 18:27] vijtrip2 commented on #1133
Thanks for diving deeper, @acornett21 !!

In the current state of world, individual service controller code is responsible for adding `ResourceSynced` conditions, that's why some services show it and some not.

First step to bring consistency across controllers is setting these condition from ACK runtime when the service controller code is not setting them. ACK runtime will set `Unknown` status. A

[2022-01-20 18:51] vijtrip2 commented on #581
/lifecycle frozen

[2022-01-20 18:55] vijtrip2 commented on #624
This is implemented in mq-controller now.

[2022-01-20 18:55] #624 closed

[2022-01-20 18:56] vijtrip2 commented on #471
/lifecycle frozen

[2022-01-20 18:57] vijtrip2 commented on #532
/lifecycle frozen

[2022-01-20 19:28] RedbackThomson opened #1140 "`OpenIDConnectProvider` in IAM controller"
**Is your feature request related to a problem?**
The EKS SDK supports associating identity providers to a given cluster. Ideally, these would be referenced from an IAM OIDC provider created through the IAM controller.

**Describe the solution you'd like**
The introduction of the `OpenIDConnectProvider` type in the IAM controller

[2022-01-20 19:37] RedbackThomson commented on #1138
It appears that `AvailabilityZones` is not a member of the [`ModifyDBClusterInput` struct](https://docs.aws.amazon.com/sdk-for-go/api/service/rds/#ModifyDBClusterInput). Therefore any changes made to that part of the spec cannot be updated on the AWS resource. The resource would need to be deleted and re-created to support that operation, which I would probably assume is not the intended behaviour

[2022-01-20 19:44] RedbackThomson commented on #1134
This does seem like an easy win. Our controllers have a fairly small memory overhead, so hopefully the Kubernetes issue doesn't surface for us. Interested to see the binary size increase, too.

[2022-01-20 19:45] RedbackThomson commented on #1021
Haven't made any progress on this. If it is blocking, I can look into it more

[2022-01-20 19:46] philnichol commented on #1134
Thanks @RedbackThomson ! I'll have a go and get some side-by-side comparisons.

[2022-01-20 20:07] doctorpangloss commented on #1138
@jaypipes how do you feel about separate resources for unmodifiable (i.e., kubernetes immutable) and modifiable properties? I am sure this is something you've already considered. I'm most limited by what my IDE tells me about the properties, not the underlying mechanics.

[2022-01-20 20:29] philnichol commented on #1134
@RedbackThomson not a trivial difference TBF:

As is:
[code]
with Pie flag:
[code]

What do you reckon? Probably worth evaluating performance also?

[2022-01-20 22:48] RedbackThomson commented on #1134
That does seem fairly substantial. But to be fair it was only a 64MB binary to begin with. Thoughts @jaypipes @vijtrip2 @A-Hilaly ?

[2022-01-20 23:59] doctorpangloss opened #1141 "[RDS] Creating a `DBInstance` will spin fail aksrt if it happens to try to create the instance before the `DBCluster` it's attached to"
**Describe the bug**
Specifying a manifest of the form

[code]

will sometimes fail with a retry loop of the form (censored)

[code]

**Steps to reproduce**

 1. Create a manifest that specifies both a provisioned aurora `DBCluster` and an instance `DBInstance` attached to it.
 2. Observe that the ackrt will fail to create it due to idiosyncratically trying to create the DBInstance before the clus

[2022-01-21 00:09] doctorpangloss commented on #1141
Sorry, this was due to the cluster failing to be created

[2022-01-21 00:09] #1141 closed

[2022-01-21 00:47] rbranche commented on #1107
We are still seeing this pretty consistently with our pilot project's Aurora cluster. I have to manually kick the DBCluster k8s object every time they perform a deployment.

@jaypipes
Any updates on this issue? Is there anything I can help with?

[2022-01-21 11:41] faganihajizada opened #1142 "Access policy for Fine-grained access control"
**Is your feature request related to a problem?**
When creating an OpenSearch domain with OpenSearch service-controller Fine-grained access control is enabled but there is no access policy assigned by default.

**Describe the solution you'd like**
Can we make it possible to add an IAM policy to the domain?

**Describe alternatives you've considered**
When you try to enable fine-grained access cont

[2022-01-21 19:13] RedbackThomson opened #1143 "`IdentityProviderConfig` support for EKS"
**Is your feature request related to a problem?**
The current EKS controller does not support `AssociateIdentityProviderConfig` for the EKS `Cluster` resource. This feature is not necessary for IRSA configuration, but is instead used for connecting third party OIDC providers onto the cluster.

Supporting the `IdentityProviderConfig` SDK requires a fair amount of custom hook code, because:
- You ca

[2022-01-21 19:17] RedbackThomson commented on #1132
I have an open issue for taking fields from an ACK CRD, and injecting them into native K8s resources: https://github.com/aws-controllers-k8s/community/issues/740

This is something that is actively being discussed by the team, and we hope to have a plan for it coming soon.

[2022-01-21 20:54] vijtrip2 commented on #1133
The newly released v0.16.2 worked as expected for most controllers but it changed the `ACK.ResourceSynced` condition behavior for some asynchronous APIs.

### What Changed in `v0.16.2`?

In the release `v0.16.2`, ACK runtime added the `ACK.ResourceSynced = True` condition, when the `desired` and `latest` spec were identical. IOW, if there is no delta between desired and latest resource, mark the r

[2022-01-21 22:44] vijtrip2 commented on #1134
I believe if we can improve security posture of controller, which will allow more customers to adopt the controllers and run in their production cluster, we should go for it.

For the above specific case, I believe ~10MB increase in size will not be a bad trade-off. We should do it : )

and Thanks @philnichol for always raising our security standards. We will try to take this knowledge and impleme

[2022-01-21 22:50] RedbackThomson commented on #1133
Would you mind clarifying what the `IsSynced` method actually does? Is this more than just the getter for the `ResourceSynced` condition?

[2022-01-21 22:53] RedbackThomson commented on #1142
I see a [`Spec.AccessPolicies`](https://aws-controllers-k8s.github.io/community/reference/opensearchservice/v1alpha1/domain/#spec) field for the `Domain` resource. Is this what you are referring to?

[2022-01-22 02:11] vijtrip2 commented on #1133
Updated comment above with following,

[2022-01-22 02:36] doctorpangloss commented on #1132
Sick

[2022-01-23 13:29] faganihajizada commented on #1142
Yes, that's the one 👍🏻  Thanks!

[2022-01-23 13:29] #1142 closed

[2022-01-24 12:40] jaypipes commented on #1134
Reading the associated blog post now... from first glance, seems like 10MB image size is a perfectly acceptable trade-off. Will finalize decision after reading the article fully and we'll chat about this at today's ACK community meeting.

[2022-01-24 12:48] jaypipes commented on #1134
OK, after fully reading the article, seems like yes, PIE is an easy win and with an acceptable increase in binary size. We could also look into using CGO but then we'd open up the door to attacks with modified dynamically-loaded libs.

[2022-01-24 13:58] philnichol commented on #1134
yeah, the CGO stuff seemed way less trivial, and potentially could bring in other security issues?

[2022-01-24 15:26] jaypipes commented on #1133
@RedbackThomson specifically what are you referring to in the above article that we do not align with?

In what way exactly? The Flux `conditions` package is generic to any Condition-like structs and is mostly there to give Flux an idea of the "polarity" of different ConditionTypes.

We already have this: https://github.com/aws-controllers-k8s/runtime/blob/f142275219901dfc48c3787db3f49145c559f489/

[2022-01-24 16:11] jaypipes commented on #1133
The ACK.ResourceSynced condition should have been set to True if and only if there was no ACK.ResourceSynced condition already set on the `latest` resource. The rds-controller should have set ACK.ResourceSynced to False in the ReadOne resource manager method, so it's a bug if the code added in 0.16.2 *reset* the ACK.ResourceSynced to True instead of ignoring the existing (set by the ReadOne method

[2022-01-24 16:44] jaypipes commented on #1107
Apologies @rbranche we are trying to fix [an issue with ACK.ResourceSynced](https://github.com/aws-controllers-k8s/community/issues/1133) condition behaviour common to all the controllers. Will tackle this once that is fixed and we can verify correct behaviour of controllers in the update code path.

[2022-01-24 17:57] vijtrip2 commented on #1133
This is correct, v0.16.2 was overriding irrespective of checking if the condition already exists. That's why the e2e tests started failing.

However if we solely start to determine the `ACK.ResourceSynced` condition from `IsSynced` call inside `reconciler.Sync()` method, It will give us opportunity to remove all the hook code from ReadOne/Create/Update methods. It will also make debugging easier,

[2022-01-24 19:00] #1135 closed

[2022-01-24 20:39] #1136 closed

[2022-01-24 20:59] ack-bot opened #1145 "Errors while generating `iam-controller` for ACK runtime `v0.16.3`"
### Errors while generating `iam-controller` for ACK runtime `v0.16.3`

#### stdout for `make build-controller`:
[code]

#### stderr for `make build-controller`:
[code]

#### Steps for closing this issue:
1. Update `go.mod` file to update `aws-controllers-k8s/runtime` to v0.16.3
2. Successfully generate the service controller locally using latest release of
`aws-controllers-k8s/code-generator`
3.

[2022-01-24 21:12] vijtrip2 commented on #1145
/close

I will generate new controller locally

[2022-01-24 21:12] #1145 closed

[2022-01-24 22:45] RedbackThomson commented on #1133
Is that not what `Pod` follows as well? I believe you that `ObservedGeneration` is limiting, I think I just don't understand the technical points for how it is.

Yeah ... you make a good point with this one. I think what events are probably the better place for something like this.

[2022-01-25 16:28] svmundada commented on #1021
@RedbackThomson Yeah that'd be great to have.

[2022-01-25 17:10] philnichol commented on #1134
Not needed:
https://github.com/aws-controllers-k8s/code-generator/pull/273#issuecomment-1021149860

[2022-01-25 17:10] #1134 closed

[2022-01-25 20:05] #777 closed

[2022-01-25 22:52] #914 closed

[2022-01-25 22:52] #858 closed

[2022-01-26 13:15] ezgidemirel commented on #1069
Hi @jaypipes, I encountered the same issue with Neptune DB Instance resource. Is there a solution/workaround you may suggest?

[code]

[2022-01-26 16:28] brycahta opened #1146 "`SetFieldConfig` is not being consumed for nested Resource fields"
**Describe the bug**
* code-generator does not consume `SetFieldConfig` for *nested* Resource fields

**Steps to reproduce**
* Add `SetFieldConfig` to `ec2-controller/generator.yaml` to properly generate DhcpOptions:

[code]
* `export SERVICE=ec2 && make build-controller`

**Actual outcome**
* excerpt from `sdkFind/sdkCreate`:

[code]
* **issues**: `f0elemf1iter` is unused and `f0elemf1elem` is ne

[2022-01-26 16:33] brycahta commented on #1146
#### Some Root Causes
1. `f.SetterConfig` is never called for nested fields; only fields that are members of outputShape
2. In `SetResourceForStruct`, we iterate over sourceShape fields. So if we are trying to set a targetShape that's a primitive (i.e. `String`) from a sourceShape that's a struct (hence the call to `SetResourceForStruct`), the loop will `continue` and skip generating code for the

[2022-01-26 22:39] A-Hilaly commented on #1137
Thanks for reporting this issue @svmundada , indeed ecr is missing the update code path for repositories. Sending a fix soon.

[2022-01-26 23:05] RedbackThomson commented on #1021
@svmundada Should be fixed in the latest version of the S3 controller code. When we release the next version, you'll be able to adopt S3 buckets without this error!

[2022-01-26 23:05] #1021 closed

[2022-01-27 12:28] aws-patrickc opened #1147 "[rds] RDS DBInstance created successfully but ack-rds-controller shows errors."
**Describe the bug**
RDS DBInstance created successfully, however the *ack-rds-controller* logs shows the error **InvalidVPCNetworkStateFault: The specified DB instance is already in the target DB subnet group.

Using CloudTrail I could see that the **ModifyDBInstance** API call shows the *dBSubnetGroupName* getting passed a parameter. This shouldn't occur as the same parameter was passed on **Cre

[2022-01-28 12:20] jaypipes commented on #1076
There's history behind the way the kustomization files currently work. When I wrote the original Bash-based e2e tests, I used KinD to create the local test k8s cluster, built a Docker image containing the local source code of the controller under test, tagged said Docker image with `ack-$SERVICE-controller:latest` (note: there is no registry/repository component to the tag like there is for the He

[2022-01-28 16:12] muvaf commented on #1089
Fixed in https://github.com/aws-controllers-k8s/code-generator/pull/266

[2022-01-28 16:12] #1089 closed

[2022-01-28 16:22] A-Hilaly commented on #507
/lifecycle frozen

[2022-01-28 17:10] A-Hilaly commented on #1137
@svmundada we just release a new ecr-controller version fixing this issue: https://github.com/aws-controllers-k8s/ecr-controller/releases/tag/v0.0.16

[2022-01-28 17:23] vijtrip2 commented on #1133
/close

[2022-01-28 17:23] #1133 closed

[2022-01-28 17:23] vijtrip2 commented on #1127
/close

[2022-01-28 17:23] #1127 closed

[2022-01-28 17:24] vijtrip2 commented on #1104
/close

[2022-01-28 17:24] #1104 closed

[2022-01-28 17:25] vijtrip2 commented on #983
/close

[2022-01-28 17:25] #983 closed

[2022-01-28 17:34] #1076 closed

[2022-01-28 17:35] #1064 closed

[2022-01-28 17:37] A-Hilaly commented on #1065
/assign @brycahta

[2022-01-28 17:42] #545 closed

[2022-01-28 18:26] acornett21 opened #1149 "Add support for controller specific `secrets` and `configmaps`"
**Is your feature request related to a problem?**
Currently there is one secret and one configmap in the `ack-system` that is used by every controller installed on OpenShift. A user may want to use different IAM `keys/secret` per controller.

**Describe the solution you'd like**
- Update the `user-env.yaml.tpl` found [here](https://github.com/aws-controllers-k8s/code-generator/blob/main/templates/

[2022-01-28 18:26] acornett21 commented on #1149
/assign

[2022-01-30 19:47] haarchri opened #1150 "crossplane - skip region for iam group resources"
**Describe the bug**
for crossplane the region parameter is hard-coded - but for iam group resources we don't need region
https://github.com/aws-controllers-k8s/code-generator/blob/main/templates/crossplane/apis/crd.go.tpl#L21-L23

**Steps to reproduce**

**Expected outcome**
A concise description of what you expected to happen.

**Environment**

* Kubernetes version
* Using EKS (yes/no), if so ve

[2022-01-31 03:01] vijtrip2 commented on #20
closing in favor of https://github.com/aws-controllers-k8s/community/issues/740

[2022-01-31 03:01] #20 closed

[2022-01-31 03:02] vijtrip2 commented on #41
This is implemented now

[2022-01-31 03:02] #41 closed

[2022-01-31 03:08] vijtrip2 commented on #119
/close

[2022-01-31 03:08] #119 closed

[2022-01-31 03:16] vijtrip2 commented on #138
/lifecycle frozen

[2022-01-31 15:49] franroa opened #1151 "DBCluster stucks on "Cluster cannot be deleted, it still contains DB instances in non-deleting state""
**Describe the bug**
When a DBCluster is removed together with the corresponding DBInstances and DBSubnetGroup there is an error because kubernetes tries to remove the cluster before the instances are removed, then when the instances are finally removed, the cluster does not reconcile the state and stucks on "Cluster cannot be deleted, it still contains DB instances in non-deleting state". There a

[2022-01-31 16:56] vijtrip2 commented on #1151
Hi @franroa , thanks for reaching out. If you have this scenario reproducible, can you please `kubectl describe` the DBCluster resource and paste in the comment here(trimming any sensitive fields)

I am interested to see what the `Status` looks like and does the reconciliation for `DBCluster` stop due to any `Status.Conditions` . Thanks!

[2022-01-31 18:06] #928 closed

[2022-01-31 20:51] #1107 closed

[2022-01-31 20:54] vijtrip2 opened #1152 "Alerts For Failed Prow Jobs"
ACK Prow runs CI jobs on pull requests created for various service controllers and ACK core libraries.
ACK prow also runs other periodic jobs and some important CD jobs which enable automation of service controller release.

Currently, ACK team does not have any feedback/alerting mechanism to track if any periodic/CD jobs fail. CI job failure gets reflected on corresponding Github pull requests

-

[2022-02-01 08:55] franroa commented on #1151
Hi, thank you for the quick reply. This is the status of my resources.

`Status:
  Ack Resource Metadata:
    Arn:                   arn:aws:rds:eu-west-1:xxxxxxxxxxxxxxxxxxxxxxx
    Owner Account ID:      xxxxxxxxxxxxxx
  Activity Stream Status:  stopped
  Allocated Storage:       1
  Cluster Create Time:     2022-01-31T15:12:36Z
  Conditions:
    Last Transition Time:  2022-01-31T15:29:39Z
    S

[2022-02-01 15:41] acornett21 opened #1154 "code-generator is duplicating the `v` in `image:` tag in cluster service version files"
**Describe the bug**
With the latest changes to code generator all `image:` tags in each services `CSV` is incorrect. The `v` is duplicated. See below:
`public.ecr.aws/aws-controllers-k8s/ecr-controller:vv0.0.16`

**Steps to reproduce**
1. checkout code-generator `0.16.3`.
2. run `ACK_GENERATE_OLM=true make build-controller SERVICE=$SERVICE` against any service.
3. look at `CSV` file in `/aws-cont

[2022-02-01 15:41] acornett21 commented on #1154
/assign

[2022-02-01 16:58] ddmedvedev opened #1155 "RDS: can't change tags after database creation"
**Describe the bug**
Can't change tags after database creation.

**Steps to reproduce**
1. Run `kubectl logs your_pod_rds_chart_name -f`
2. Create somewhere file `db.yaml` with such contents
[code]

3. Run `kubectl apply -f db.yaml`
4. Verify that database have been created and there are some output from rds-chart pod.
5. Change tags or remove them
6. Run `kubectl apply -f db.yaml`
7. Verify that

[2022-02-01 17:48] vijtrip2 commented on #1151
Thanks @franroa , it seems like cluster is placed in Terminal State when it encounters this error, hence does not reconcile after that.
Yesterday a new release of rds controller was published, which handles similar error during Update. I will take a look at this soon and attempt to fix this.

[2022-02-01 20:37] vijtrip2 commented on #1128
There was a delay in rolling out this upgrade because of multiple e2e test failures due to new v0.16.0-v0.16.2 releases. Working on this now.

[2022-02-01 22:27] #841 closed

[2022-02-01 23:50] vijtrip2 commented on #1128
aws-sdk-go now updated in runtime and code-gen. Waiting for some OLM bug-fixes before cutting a new code-generator v0.16.4 release

[2022-02-02 08:50] franroa commented on #1151
thank you so much @vijtrip2

[2022-02-02 09:57] ddmedvedev opened #1156 "RDS: can't change single az to multi az in certain conditions"
**Describe the bug**
Can't change single az to multi az in certain conditions

**Steps to reproduce**
1. Run `kubectl logs your_pod_rds_chart_name -f`
2. Create somewhere file `db.yaml` with such contents
[code]

3. Run `kubectl apply -f db.yaml`
4. Verify that database have been created and there are some output from rds-chart pod.
5. Change `multiAZ` from `true` to `false`
6. Run `kubectl apply

[2022-02-02 14:06] ddmedvedev opened #1157 "RDS: dbSubnetGroupName not working"
**Describe the bug**
After setting value for `dbSubnetGroupName` controller constantly shows `InvalidVPCNetworkStateFault` error and can't modify db instance.

**Steps to reproduce**
1. Create VPC, some subnets and DB subnet group
2. Run `kubectl logs your_pod_rds_chart_name -f`
3. Create somewhere file `db.yaml` with such contents
[code]

4. Run `kubectl apply -f db.yaml`
5. Verify that database

[2022-02-02 14:12] ddmedvedev commented on #1157
Duplicate https://github.com/aws-controllers-k8s/community/issues/1147

[2022-02-02 14:12] #1157 closed

[2022-02-02 14:14] ddmedvedev commented on #1147
Facing the same issue on Kubernetes 1.21, eks.4 and rds-controller 0.0.15

After creating DB instance with `dbSubnetGroupName` option this instance became unmanageable. Change something is manifest and you will look that despite `desired resource state has changed` message, nothing will actually change because of repeatable `InvalidVPCNetworkStateFault` error.
Seems that there is no correct way to

[2022-02-02 17:31] svmundada opened #1158 "S3 controller delete message"
**Describe the bug**
We tried to update the tags on our bucket and in return, we are seeing the controller continuously reconciling on delete event.

bucket status
[code]

controller logs
[code]
Any suggestions on how to figure out what caused this?
Looks like the deletion timestamp got set somehow and which is causing this.

**Steps to reproduce**
Not sure what caused it, but we definitely didn't

[2022-02-02 18:19] #780 closed

[2022-02-02 18:19] #1154 closed

[2022-02-02 18:35] RedbackThomson commented on #1158
I don't believe any part of the ACK runtime should ever **set** a deletion timestamp. I wonder if some other system inside your cluster issued this delete?

[2022-02-02 21:19] RedbackThomson commented on #1119
Both are now supported! Woo hoo.

[2022-02-02 21:19] #1119 closed

[2022-02-02 21:33] ack-bot opened #1159 "Errors while generating `ec2-controller` for ACK runtime `v0.16.4`"
### Errors while generating `ec2-controller` for ACK runtime `v0.16.4`

#### stdout for `make build-controller`:
[code]

#### stderr for `make build-controller`:
[code]

#### Steps for closing this issue:
1. Update `go.mod` file to update `aws-controllers-k8s/runtime` to v0.16.4
2. Successfully generate the service controller locally using latest release of
`aws-controllers-k8s/code-generator`
3.

[2022-02-02 21:44] ack-bot opened #1160 "Errors while generating `rds-controller` for ACK runtime `v0.16.4`"
### Errors while generating `rds-controller` for ACK runtime `v0.16.4`

#### stdout for `make build-controller`:
[code]

#### stderr for `make build-controller`:
[code]

#### Steps for closing this issue:
1. Update `go.mod` file to update `aws-controllers-k8s/runtime` to v0.16.4
2. Successfully generate the service controller locally using latest release of
`aws-controllers-k8s/code-generator`
3.

[2022-02-02 21:45] ack-bot opened #1161 "Errors while generating `sagemaker-controller` for ACK runtime `v0.16.4`"
### Errors while generating `sagemaker-controller` for ACK runtime `v0.16.4`

#### stdout for `make build-controller`:
[code]

#### stderr for `make build-controller`:
[code]

#### Steps for closing this issue:
1. Update `go.mod` file to update `aws-controllers-k8s/runtime` to v0.16.4
2. Successfully generate the service controller locally using latest release of
`aws-controllers-k8s/code-generato

[2022-02-02 22:10] vijtrip2 commented on #1159
/cc @brycahta

[2022-02-02 22:48] vijtrip2 commented on #1161
This failed because of a new empty struct "RSessionAppSettings" in API Model. After ignoring that struct code-generation works fine for sagemaker controller with v0.16.4

---------

I will keep this issue on hold and first update sagemaker controller from v0.15.2 to v0.16.3, then work on this issue

[2022-02-03 05:54] svmundada commented on #1158
@RedbackThomson Our cluster updating process just does the "apply", so a bit confused about what caused this.
Any suggestions on where to look? The last applied configuration is just empty ( and every reconciliation generated version is getting updated )

Also, now that deletion timestamp is added to the resource, the controller is going in an endless loop, is there any way to fix this? Or should

[2022-02-03 09:23] PrasadTelasula opened #1162 "Add a feature like writing a secret with the RDS connection string details."
In crossplane we have a great feature to create the secret after RDS Instance created with all the required parameter os a connection string.

[code]

[2022-02-03 09:27] PrasadTelasula opened #1163 "Add yaml anchors as default in the manifest schema like crossplane"
Requesting a feature request to include yaml anchors by default to call the resources using refs like in crossplane.

[code]

[2022-02-03 11:08] muvaf commented on #1150
@jaypipes Does ACK now allow generation of IAM resources?

@haarchri if we are sure IAM is the only one, we can hard-code the if condition in the template. Addition of a config parameter (add region or not) to main config object is high cost given that it's used by both ACK and Crossplane. In that case, I don't think ACK uses CRD spec for region so it'd be a Crossplane-specific option, which is a

[2022-02-03 11:13] haarchri commented on #1150
@muvaf i have an working ACK generated resource - `ServiceLinkedRole` without Problems but with `region` i can publish the PR in provider-aws if it helps

[2022-02-03 11:23] muvaf commented on #1150
@haarchri do you think having `if CRD.Group == iam` [here](https://github.com/aws-controllers-k8s/code-generator/blob/main/templates/crossplane/apis/crd.go.tpl#L21-L23) would be future-proof enough?

[2022-02-03 11:26] haarchri commented on #1150
think we have here something more? https://github.com/aws-controllers-k8s/code-generator/blob/main/templates/crossplane/pkg/controller.go.tpl#L47

[2022-02-03 15:27] vijtrip2 commented on #1163
Hi @PrasadTelasula , this is already work in progress and will be available in service controllers very soon.

[2022-02-03 16:24] jaypipes commented on #1150
Hi @muvaf! Yes, we have an IAM controller for ACK now:

https://github.com/aws-controllers-k8s/iam-controller

Currently only Role and Policy resources are supported, with support for attaching and detaching Polcies (non-inline) to a Role resource via the `Role.Spec.Policies` field.

We're working on supporting other resources like User, Group, etc.

[2022-02-03 16:28] ack-bot opened #1164 "Errors while generating olm bundle for `lambda-controller-v0.0.8`"
### Errors while generating olm bundle for `lambda-controller-v0.0.8`

#### stdout for `olm-create-bundle.sh lambda v0.0.8`:
[code]

#### stderr for `olm-create-bundle.sh lambda v0.0.8`:
[code]

#### Steps for closing this issue:
1. Checkout [`code-generator`](https://github.com/aws-controllers-k8s/code-generator) and [`lambda-controller`](https://github.com/aws-controllers-k8s/lambda-controller)

[2022-02-03 19:27] RedbackThomson commented on #1162
This can be included as part of another feature request #740. We have work being done on this design at the moment.

[2022-02-03 20:05] RedbackThomson commented on #1160
The newest APIs in `rds` support a new operation called [`CreateCustomDBEngineVersion`](https://docs.aws.amazon.com/sdk-for-go/api/service/rds/#RDS.CreateCustomDBEngineVersion). Along with this, there is also [`ModifyCustomDBEngineVersion`](https://docs.aws.amazon.com/sdk-for-go/api/service/rds/#RDS.ModifyCustomDBEngineVersion) and [`DeleteCustomDBEngineVersion`](https://docs.aws.amazon.com/sdk-fo

[2022-02-03 21:09] RedbackThomson commented on #1002
I have verified that this bug no longer exists:
[code]

[2022-02-03 21:09] #1002 closed

[2022-02-03 21:53] #1160 closed

[2022-02-03 22:08] muvaf commented on #1150
@jaypipes great! do you do anything special for region there?

@haarchri What do you think about adding if statements to cover `iam` for now and later if we ever need it for another group, we can make it behave by looking at something in config. As far as I can tell, there has not been a resource that doesn't require region other than IAM, so we might be fine there.

[2022-02-04 00:01] vijtrip2 commented on #1128
ACK core libraries are now updated to aws-sdk-go v1.42.0 . Cheers!

[2022-02-04 00:01] #1128 closed

[2022-02-04 05:53] svmundada commented on #1021
@RedbackThomson can we please get a release with this fix ?

[2022-02-04 07:30] svmundada commented on #1158
@vijtrip2 Thanks for the suggestion.
Although it didn't work. I removed `deletionTimestamp` and `deletionGracePeriodSeconds` fields and did kubectl replace. After that again when I do kubectl get on the bucket, I see deletion `deletionTimestamp` to be set.
Another weird thing I observed, kubectl replace with `--force` takes kubectl into some kind of loop ( based on `-v 8`) and it never returns.
An

[2022-02-04 10:13] haarchri commented on #1150
added PR for iam https://github.com/aws-controllers-k8s/code-generator/pull/285

[2022-02-04 10:15] svmundada commented on #1137
@A-Hilaly Can we please reopen this? We are using `v0.0.17` and after updating the tags on `Repository` we are seeing random 503 errors. Also tags are not getting updated in ECR on console.

[code]
If you see the tags section it's just key/value pairs are mixed up.
Any help would be much appreciated ?

[2022-02-04 13:36] jaypipes commented on #1160
@RedbackThomson would you mind creating a new GH issue for the above mentioned describe operation discrepancy? I'd like to pass this to the RDS team to comment on.

[2022-02-04 15:36] vijtrip2 commented on #1041
/lifecycle frozen

[2022-02-04 15:54] A-Hilaly commented on #1137
@svmundada i'm investigating this issue RN

[2022-02-04 16:32] A-Hilaly commented on #1137
Hey @svmundada i am not able to reproduce the issue with ecr-controller v0.0.17 - can you please provide the manifests of the ECR repositories you're creating and/or the controller logs your observing?

[2022-02-04 16:39] brycahta commented on #1159
`SubnetCIDRReservation` may have been brought into sdk-model with this latest release. Will update `generator.yaml` to add this to `ignore` config and follow instructions to close

[2022-02-04 17:22] A-Hilaly commented on #975
/lifecycle frozen

[2022-02-04 18:06] #1159 closed

[2022-02-04 18:06] vijtrip2 commented on #763
/lifecycle frozen

[2022-02-04 19:28] vijtrip2 commented on #1151
This should get fixed in the next release of rds controller. Most probably we will do another release for controllers next week.

[2022-02-04 20:20] vijtrip2 commented on #1137
This looks like an error from ECR side and nothing wrong with how controller is trying to reconcile. This should resolve as ECR service recovers from this issue on their side.

@svmundada , please verify again and reopen if the issue does not resolve.

[2022-02-04 20:20] #1137 closed

[2022-02-04 20:23] vijtrip2 commented on #1158
Not really :/ . I wonder what is marking the resource as deleted.

[2022-02-04 20:30] vijtrip2 commented on #1147
Thanks for reaching out. I recently made a change to remove "InvalidDBClusterStateFault", "InvalidDBInstanceStateFault", "InvalidSubnet", "InvalidVPCNetworkStateFault" as Terminal states.

This means when the DBSubnetGroup is updated to resolve the error, the DBCluster's constant reconciliation will eventually succeed with Create/Update call.

The new release of rds-controller should be available

[2022-02-07 04:38] svmundada commented on #1137
@vijtrip2 Makes sense on the ECR part side. Btw did you try to update tags on the already existing ECR repo? because that's what failed for us ( 2 times ).

[2022-02-07 04:52] svmundada commented on #1158
I am not sure too, but this is becoming a pain point for us. I'd check again how `kubectl apply --force` works in background and if causes any delete operation.

[2022-02-07 11:39] A-Hilaly commented on #1137
Yes the ecr e2e tests creates a repository with no tags and then starts adding/updating tags: https://github.com/aws-controllers-k8s/ecr-controller/blob/main/test/e2e/tests/test_repository.py#L218-L244

[2022-02-08 10:28] oleg-yudovich opened #1166 "OpenSearch CRDs"
**Describe the bug**
During the chart installation there are 2 different CRDs added to the cluster:
1. opensearchservice.services.k8s.aws
2. opensearch.services.k8s.aws

When applying my Domain yaml - under API version `opensearchservice.services.k8s.aws/v1alpha1` (as described in [docs](https://aws-controllers-k8s.github.io/community/reference/opensearchservice/v1alpha1/domain/)) and try to get m

[2022-02-08 12:02] narcosis commented on #1166
@following

[2022-02-08 16:18] jaypipes commented on #1166
@oleg-yudovich Hi! Thank you for this issue! I've noticed the same in building out and debugging the Opensearchservice controller. It's super annoying behaviour and I suspect this is because the name of the service package in aws-sdk-go is different from the name of the *model* for the service in aws-sdk-go. In this case, the [name of the service package is `opensearchservice`](https://github.com/

[2022-02-08 20:08] ack-bot opened #1167 "Errors while generating `sagemaker-controller` for ACK runtime `v0.16.5`"
### Errors while generating `sagemaker-controller` for ACK runtime `v0.16.5`

#### stdout for `make build-controller`:
[code]

#### stderr for `make build-controller`:
[code]

#### Steps for closing this issue:
1. Update sagemaker-controller `go.mod` file to update `aws-controllers-k8s/runtime` to v0.16.5
2. Run `go mod tidy` for sagemaker-controller
3. Successfully generate the service controller

[2022-02-08 22:28] vijtrip2 opened #1168 "`Status.Conditions` not being cleared inside AdoptionReconciler"
ACK Reconciler inside `reconciler.go` clears all the _Status.Conditions_ at the start of reconciliation loop and calculates those _Conditions_ again. This is the correct approach but missing from `adoption_reconciler.go`.

To fix this _AdoptionReconciler_ should also clear all _Conditions_ at the beginning of adoption reconciliation loop and if there was any reconciliation logic dependency on exis

[2022-02-08 22:51] jaypipes commented on #1168
I don't quite understand what the problem is here. Please update the title of this issue to reflect what the actual issue is.

If I understand correctly, what SageMaker team is looking for is the *historical record of a resource being adopted by ACK*. As mentioned elsewhere, `Status.Conditions` is not a historical record of all state transitions for a resource. Instead, `Status.Conditions` is the

[2022-02-08 23:01] vijtrip2 commented on #1168
Exactly and this is missing from AdoptionReconciler. AdoptionReconciler does not clear the conditions at beginning of reconciler loop.

[2022-02-08 23:36] RedbackThomson commented on #1021
[s3-controller v0.0.12](https://github.com/aws-controllers-k8s/s3-controller/releases/tag/v0.0.12) now supports this as the default. Thanks

[2022-02-09 01:24] surajkota commented on #1168
Since the conditions will be cleared on every reconcile loop in future, what is the new mechanism for a user to know if the resource adoption is complete? and the `AdoptedResource` CR can be cleaned up

(not visible to user) adopted resource reconciler also needs a new implementation to determine if this reconcile loop is a no-op or it needs to create the target resource

I propose to introduce a

[2022-02-09 01:35] senior88oqz opened #1169 "Unable to pull ack-s3 charts manifest from ecr"
**Describe the bug**

I was following the installation [instruction](https://aws-controllers-k8s.github.io/community/docs/user-docs/install/#install-an-ack-service-controller-with-helm-recommended) and unable to pull the chart manifest for s3-controller with version `v0.0.5` and above.

Also, it seems the link to the `installation docs` under the [usage](https://gallery.ecr.aws/aws-controllers-k8s

[2022-02-09 13:47] ddmedvedev commented on #1147
@vijtrip2 version 0.0.16 still has this issue

[2022-02-09 15:00] jaypipes commented on #1168
@surajkota the mechanism is actually the same as it used to be: the custom resource exists with the referred-to AWS identifier. @RedbackThomson do you think we should add something to the adopted resource reconciler that deletes the AdoptedResource CR when it successfully creates the target "real" CR?

@surajkota you mean a new field in the *AdoptedResource*'s Status, right?

[2022-02-09 15:22] oleg-yudovich opened #1170 "ACK Controllers installScope"
**Is your feature request related to a problem?**

Hey guys.
When installing ACK controllers in our cluster, there is `ClusterRole` created for each one of them.
We can see it as the default behavior for example in the s3 controller.

https://github.com/aws-controllers-k8s/s3-controller/blob/2153e6d2cf34cd9d68cf0f27dbc3c3610644a7e3/helm/values.yaml#L62
https://github.com/aws-controllers-k8s/s3-con

[2022-02-09 16:43] vijtrip2 commented on #1170
Hi, you can update the value using --set option of helm install OR you can manually edit your local values.yaml

The configuration is present in values.yaml file https://github.com/aws-controllers-k8s/s3-controller/blob/main/helm/values.yaml#L62

[2022-02-09 17:04] vijtrip2 commented on #1147
Hi @ddmedvedev , the match made sure the "InvalidVPCNetworkStateFault" error is not a terminal condition and if the underlying root-cause is fixed, the controller should continue to reconcile and come to a synced state.

This looks like a problem with how delta is being calculated to determine Update call.I can take a look at that logic.

Can you please post the controller logs which show the delt

[2022-02-09 18:05] brycahta opened #1171 "User Agent String is not being populated correctly"
**Describe the bug**
When querying EC2-controller usage data, the user-agent string returns:
`aws-controller-k8s/- (GitCommit/; BuildDate/; CRDKind/; CRDVersion/) aws-sdk-go/1.37.10 (go1.17.5; linux; amd64)`

**Steps to reproduce**
* Query `aws-controller-k8s` user-agent string in metrics/dashboard (I am using internal service).

**Expected outcome**
I expect `$SERVICE-controller` to be denoted so

[2022-02-09 21:43] vijtrip2 commented on #1169
Hi @senior88oqz , I was wondering what is version of helm that are using.

The recommended way to install an ACK service controller for Kubernetes is to use [Helm 3.7+](https://helm.sh/docs/intro/install/).

[2022-02-09 23:29] haarchri opened #1172 "ack go-sdk-v1.42.0 ClientToken Field in VPCEndpointObservation"
**Describe the bug**
in crossplane we bumped the go-sdk-v1 to 1.42.0 (https://github.com/crossplane/provider-aws/pull/1122) and code-generator to commit `76bb8df5f54ad3791f93f4aa4d805f61fccb3591` we see now that for VPCEndpointObservation an Field ClientToken is added: https://github.com/crossplane/provider-aws/pull/1122/files#diff-ed0977533addb34c49a5d80220f52ca5975f5e24fb39df5f0bb7e47f685e3e08R7

[2022-02-10 07:01] oleg-yudovich commented on #1170
Thanks you @vijtrip2

[2022-02-10 07:01] #1170 closed

[2022-02-10 17:51] phanimullapudi opened #1173 "Avoid Caching of Secrets and Configmaps when Controller Starts"
**Is your feature request related to a problem?**
Having caching of sensitive information like ConfigMaps and Secrets causing us to provide Clusterwide access to both of these Kinds. These Clusterwide Role and ClusterRoleBinding wouldn't fly in our Security model as we use our K8s cluster shared with other teams.

**Describe the solution you'd like**
Avoid caching of these Kinds and retrieve the S

[2022-02-10 20:19] vijtrip2 opened #1174 "UpdateRequest payload should ONLY include Spec fields with Delta"
In the current implementation of `newUpdateRequestPayload` method inside `sdk_update.go.tpl` file, all the Spec fields from desired resource are included in the UpdateRequest.

For the most part this works well because AWS APIs ignore update of a field to similar value in the backend. But there are some minority of cases where the Update API can return `ValidationError`(or have some other unknown

[2022-02-10 21:14] surajkota commented on #1168
yes

previously, we relied on `ACK.Adopted` condition to be set to `true` before checking if target CR exists. I think this mechanism is more user friendly because AdoptedResource reconciler would show an error if user specified a conflicting name for target CR(i.e. a CR with same name already exists). We can change it to some other field under AdoptedResource's Status

[2022-02-11 03:06] mcbarzi opened #1175 "EKS Controller - Cluster Creation InvalidParameterException"
**Describe the bug**
When creating a cluster resource, I'm getting eventhough keyARN is provided in the spec file
`InvalidParameterException: KeyArn is required `

**Steps to reproduce**

1. Installed eks-contoller v.0.0.6
2. Created the ff cluster ack resource
[code]
**Expected outcome**
A concise description of what you expected to happen.
Expected EKS cluster will be created but got the ff erro

[2022-02-11 06:13] #1175 closed

[2022-02-11 06:13] mcbarzi commented on #1175
Resolved by fixing ack resource
spec:
  encryptionConfig:
    - provider:
       keyARN: "arn:aws:kms:{omitted}"
       resources:
        - "secrets"

[2022-02-11 15:23] jaypipes commented on #898
Hi @kelvinwijaya! :) I re-opened this auto-closed issue and will try to determine a potential fix.

[2022-02-11 17:14] A-Hilaly commented on #1029
This issue also includes:
- Enabling table stream https://github.com/aws-controllers-k8s/community/issues/1000 (part of (table update path)
- Adding `TImeToLive` field https://github.com/aws-controllers-k8s/community/issues/911  (extra API calls during the update code path)

[2022-02-11 17:37] A-Hilaly commented on #1065
/assign @brycahta

[2022-02-11 17:40] #1151 closed

[2022-02-11 17:50] A-Hilaly opened #1176 "setup and run soak tests for ecr-controller"
Setup and run soak tests for ecr-controller

[2022-02-11 20:39] samruthr opened #1177 "IAM Controller v0.0.5 Doesn't Update Policies"
**Describe the bug**
Updating an existing policy spec doesn't update the IAM policy itself. We no longer see the "not implemented" reconciliation error, however a new policy version isn't created nor does the policy change. I do see that the spec has been updated successfully:
`
status:
  ackResourceMetadata:
    arn: 'arn:aws:iam::<ACCTID>:policy/test'
    ownerAccountID: '<ACCTID>'
  attachmentC

[2022-02-13 02:48] vijtrip2 commented on #482
/lifecycle frozen

[2022-02-13 03:00] vijtrip2 commented on #581
tags are now supported for ECR repository custom resource
https://github.com/aws-controllers-k8s/ecr-controller/commit/81f131f6e61de5dbcf62df105a5cc1d416d77a48

[2022-02-13 03:00] #581 closed

[2022-02-13 03:02] vijtrip2 commented on #635
Please reopen if this is still relevant.

/close

[2022-02-13 03:02] #635 closed

[2022-02-13 03:07] #678 closed

[2022-02-13 03:20] vijtrip2 commented on #814
/close

[2022-02-13 03:20] #814 closed

[2022-02-14 01:13] kelvinwijaya commented on #898
Hi @jaypipes, thanks for looking into this :)

[2022-02-14 01:27] A-Hilaly commented on #1172
@haarchri Apparently this is not a bug. According to [`CreateVPCEndpoint` ](https://docs.aws.amazon.com/AWSEC2/latest/APIReference/API_CreateVpcEndpoint.html)API call documentation, both of the Input and the Output contains `ClientToken`.
One of the solutions would be to add `- CreateVpcEndpointOutput.ClientToken` to the list of ignored `field_path` in your `generator-config.yaml`. However ideally

[2022-02-14 01:49] A-Hilaly commented on #1124
The iam-controller only supports tags update for the moment. Reopening
/open

[2022-02-14 01:51] A-Hilaly commented on #1177
Thanks for opening this issue @samruthr, the iam-controller still doesn't support updates for all the fields. It only supports tags updates for the moment.

[2022-02-14 01:52] A-Hilaly commented on #1124
related #1177

[2022-02-14 06:27] haarchri commented on #1172
Thanks for clarification that the CreateOutput will add the ClientToken to Observation - i will test

[2022-02-14 06:31] haarchri commented on #888
/remove-lifecycle stale

[2022-02-14 10:22] senior88oqz commented on #1169
Thanks @vijtrip2 , i was on `v3.6.0`, working fine now after upgrading to `v3.8.0`

[2022-02-14 10:22] #1169 closed

[2022-02-14 15:02] jaypipes commented on #1177
Closing as this is a duplicate of #1124

[2022-02-14 15:02] #1177 closed

[2022-02-14 15:05] jaypipes commented on #1124
Also see https://github.com/aws-controllers-k8s/iam-controller/blob/2db7dd223595ea7278d999139e93dca6a0394951/templates/hooks/policy/sdk_create_post_set_output.go.tpl

This is something I will try to complete this or the next sprint cycle.

[2022-02-14 22:14] vijtrip2 commented on #1174
As per @jaypipes, The flip side for only adding a field in UpdateRequestPayload when there is delta(between desired & latest state), is that whether AWS Update API will remove the fields absent in UpdateRequest from the AWS Resource in some cases.

So there should be a configuration option per resource in `generator.yaml` that will control whether to consider delta before adding a field inside Upd

[2022-02-14 23:18] vijtrip2 commented on #1161
/close

duplicate of https://github.com/aws-controllers-k8s/community/issues/1167

[2022-02-14 23:18] #1161 closed

[2022-02-14 23:24] vijtrip2 commented on #1156
I will make a new release of RDS controller tomorrow and will try to reproduce this problem.

[2022-02-15 16:32] jaypipes commented on #1069
@ezgidemirel apologies for the super-late response on this :(

The above is likely not the same issue. If I were to guess, the Neptune API shares a lineage with the RDS API and the shape of the DBSecurityGroups field in the Create Input and Output shapes is a different type, which is what is leading to the above problem.

We solved this in the RDS controller using [this block of YAML in the `gener

[2022-02-15 20:20] ack-bot opened #1179 "Errors while generating `sagemaker-controller` for ACK runtime `v0.17.0`"
### Errors while generating `sagemaker-controller` for ACK runtime `v0.17.0`

#### stdout for `make build-controller`:
[code]

#### stderr for `make build-controller`:
[code]

#### Steps for closing this issue:
1. Update sagemaker-controller `go.mod` file to update `aws-controllers-k8s/runtime` to v0.17.0
2. Run `go mod tidy` for sagemaker-controller
3. Successfully generate the service controller

[2022-02-15 20:24] haarchri commented on #1172
thanks its working

[2022-02-15 20:24] #1172 closed

[2022-02-15 21:13] RedbackThomson commented on #1168
I think this is still the way to go. We can calculate this on every reconciliation loop by searching for the target CR and checking that it has the adoption annotation (so that we know it was not created manually).

I don't see a whole lot of value to it? AdoptedResource acts as the declaration that our controller should adopted an existing resource. It's status shows whether we are in that state

[2022-02-15 22:03] vijtrip2 commented on #1179
Solved here : https://github.com/aws-controllers-k8s/sagemaker-controller/pull/152

[2022-02-15 22:03] #1179 closed

[2022-02-16 00:33] vijtrip2 opened #1180 "Support TargetRef field inside apigatewayv2 Route resource"
APIGatewayv2 `Route` resource has a field named `Target`, which accepts input in the form of "integrations/*$INTEGRATION_ID*" .

APIGateway Route CR should support a custom field called `TargetRef`, which can take the *Reference* of an *Integration* custom resource and populate the `Target` field in `RouteSpec` with "integrations/*TargetRef.Status.IntegrationID*" value.

This will allow ACK custom

[2022-02-16 07:36] olemarkus commented on #482
The ACM + route53 validation + Load balancer controller use case is definitely very interesting to us. Not having this functionality prohibits us from using ACM and ALBs.

[2022-02-16 08:47] faganihajizada opened #1181 "It is not possible to update opensearch domain configuration by adjusting YAML file"
**Describe the bug**

How to add new OpenSearch warm instances or update the version of the domain? After deploying an OpenSearch domain with UltraWarm instances enabled I wanted to add one more warm node to the domain (increase it from 3 to 4). I adjusted the YAML file and applied change.
When I describe the resource in Kubernetes I can see that changes applied but in AWS Console I still see only

[2022-02-16 09:19] ezgidemirel commented on #1069
Thanks @jaypipes! I'll give it a try.

[2022-02-16 10:09] ohookins commented on #482
I also have this use case and the most recently linked issue is mine. Like another previous commenter I'm a bit mystified why there seems to be more support in the ecosystem for ACMPCA rather than public ACM certificates - so many use cases for dynamic environments require a load balancer, publicly-verifiable certificates and matching DNS.

To be honest I don't know why the ALB, ACM and Route53 se

[2022-02-16 11:31] A-Hilaly commented on #1181
Hello @faganihajizada, currently the opensearch controller doesn't support update operations for `Domain` CRs.

[2022-02-16 12:08] faganihajizada commented on #1181
Thanks for the info, @A-Hilaly

[2022-02-17 08:44] ddmedvedev commented on #1147
Checked with 0.0.17, issue fixed.

[2022-02-17 08:57] satdeveloping commented on #205
@jaypipes Do you have a roadmap/list of issues that the community can work on? A lot of us are looking for a well supported SQS operator.

[2022-02-17 13:10] #1147 closed

[2022-02-17 17:33] jeffeland opened #1182 "Create resource like DynamoDB tables S3 buckets with IAM Policy and Role in one go"
I'd like to be able to provision in one single helm chart my application and a dynamoDB table using the corresponding controller and so that there is no extra step to allow the pod running with a specific SA to have access to this dynamoDB table.

A possibly implementation would be to specify the SA that should have access to the dynamoDB table in the definition of the table.
The controller wouldn

[2022-02-17 21:06] RedbackThomson commented on #1182
Please let me know if I'm understanding this correctly:
You'd like a Helm chart that can create a DynamoDB table, create an IAM role that only has access to that table, attach that role to a service account (using IRSA) and then bind that service account to a deployment?

The IAM controller does not yet support referencing fields between resources, so we can't yet link a newly created policy to a

[2022-02-17 21:25] RedbackThomson commented on #205
The SQS controller needs to be updated in the form of:
- Updating the runtime from a very old version ([`v0.0.6`](https://github.com/aws-controllers-k8s/sqs-controller/blob/main/go.mod#L6)) to the latest version, and re-generating to fit that runtime
- Updating to Go v1.17
- Adding tests for the `Queue` resource

[2022-02-18 01:23] A-Hilaly commented on #1060
/lifecycle frozen

[2022-02-18 06:23] haarchri commented on #1060
We have it with the latest Changes running https://github.com/crossplane/provider-aws/pull/1125

[2022-02-18 06:23] #1060 closed

[2022-02-18 15:37] jeffeland commented on #1182
@RedbackThomson, thanks for this.
This is one way to do it.
I'll test this.
However, it feels like that the developer of the helm chart has too much power because she/he would be able to create a iam role and policies to access resources she/he haas not created.
Probably this could be controlled by OPA and rego rules.
I was looking for a shortcut to create the IAM part and also to restrict the acc

[2022-02-18 18:43] #1173 closed, assigned to jaypipes

[2022-02-20 18:05] doctorpangloss commented on #1182
This sounds great. Even guidance on how to use `Status` would go a long way in putting together these great pieces.

Are you saying that AWS IAM has been around for a decade but its security model has always been illusory? Have you ascended? :)

[2022-02-21 17:54] vijtrip2 commented on #1072
/lifecycle frozen

[2022-02-21 19:14] vijtrip2 commented on #1158
Please reopen if you still need assistance from ACK team. We were unable to reproduce this any of the ACK controllers.

[2022-02-21 19:14] #1158 closed

[2022-02-21 19:14] vijtrip2 commented on #1164
Done!

/close

[2022-02-21 19:14] #1164 closed

[2022-02-21 21:37] RedbackThomson commented on #1182
I have no clue what this means haha. I was trying to allude that we don't want to reinvent existing, superior (and more granular) authorisation systems, so we will attempt to fall back to RBAC and/or IAM when we can.

[2022-02-22 16:15] jaypipes commented on #205
Unfortunately, the code generator needs to be refreshed to work with attribute-based field definitions like SNS and SQS. This refresh work is not easy and I need to find time to get it done in the next couple sprint cycles as Bryan works on refactoring other parts of the code generator.

[2022-02-22 18:40] brycahta opened #1184 "Refactor `ackgenconfig` into 2 categories: Generate & API Inference"
### Summary
`ackgenconfig` is used and implemented in a variety of ways throughout the *code-generator* codebase. Due to this dispersion and inconsistency, it is becoming increasingly difficult to navigate and contribute to *code-generator*. The updated encapsulations as a result of splitting `ackgenconfig` into 2 categories will result in a cleaner, more intuitive codebase to alleviate these conc

[2022-02-22 18:41] brycahta opened #1185 "Update `ackgenconfig` to be field-focused"
### Summary
Some `ackgenconfig` - such as [renames](https://github.com/aws-controllers-k8s/code-generator/blob/c7b19a3ec651b287477e7330d0ea1c725a904310/pkg/generate/config/resource.go#L237-L240) - use an *operation-centric* approach meaning an *operation* is required to define a `rename` config and consume it in code. This current experience is not optimal because it increases cognitive load for b