[2022-08-15 21:57] A-Hilaly commented on #1402
@bjoernw this issue have been fixed in `v0.0.17` release

[2022-08-15 22:13] #1422 closed

[2022-08-16 16:19] #1406 closed

[2022-08-16 16:50] A-Hilaly commented on #1405
Hi @karmingc - I just realized that there are no API calls to describe function permissions... hence I don't think this feature is possible to implement, for now.

[2022-08-16 16:51] A-Hilaly commented on #1405
/priority need-investigation

[2022-08-16 16:51] A-Hilaly commented on #1405
/priority awaiting-more-evidence

[2022-08-16 18:54] karmingc commented on #1405
ok no worries, thank you for your response!

[2022-08-16 19:26] A-Hilaly commented on #1271
It's going to show whatever is found in `status.Status`

[2022-08-16 19:27] A-Hilaly commented on #1166
/remove-lifecycle stale

[2022-08-16 22:53] A-Hilaly opened #1430 "Add a `post-submit` prow job that publishes examples to community website"
Currently, we have a repository where we publish [ACK CR examples](https://github.com/aws-controllers-k8s/examples) for various controllers. It would be very useful if we could publish those into the [community website](https://aws-controllers-k8s.github.io/community/) right after a PR is merged.

[2022-08-16 23:07] A-Hilaly opened #1431 "Standardize ACK Github labels"
Currently, we manually create and manage labels in the community repository. Ideally, we could have a script/prow job that periodically syncs the Github labels.

Here is a list of requirements/nice-to-have things I'm thinking of:
- We need to prefix all label names with their type: `kind`, `area`, `priority`, `service`, etc...
- We need a label for each service controller named `service/$SERVICE`

[2022-08-16 23:18] A-Hilaly commented on #1419
Hey @ShacharMalachi. Thanks a lot for bringing this! I truly believe that we should (at least) document everything mentioned in this Issue.

https://github.com/cert-manager/cert-manager/blob/6947696b12428a1f9e5823c2e69de84b8dd08c1c/make/manifests.mk#L95

We also copy the CRDs to every [service controller repository](https://github.com/aws-controllers-k8s/eks-controller/tree/main/helm/crds). I didn

[2022-08-16 23:26] A-Hilaly opened #1432 "Document the process of upgrading ACK controllers"
Currently, we only provide documentation on how to install controllers, but not how to upgrade them. Even though the process sounds straightforward, it might get complicated and messy and sometimes ACK users might face some delicate issues to solve, especially when it comes to CRD/CR updates.

Let's meticulously document the process of upgrading a controller (either locally or by using helm))

On

[2022-08-16 23:29] A-Hilaly commented on #1407
Hey @mjlumetta ,i'm not very familiar with s3 API, but my first assumption is that it is possible to implement this feature as you described. Let me investigate the feasibility of this feature and get back to you as soon as I have more confidence in this.

[2022-08-17 05:41] ShacharMalachi commented on #1419
Just to clarify, it's not a special value that helm provides, in this example of cert-manager it's just some boolean value they added to their helm-chart values.yaml that lets the users decide if they want to upgrade CRDs or not. As far as I understand, what prevents CRDs from being upgraded (in helm) is their placement in "crd/" folder. If you'll put them in "templates" folder they will be upgrad

[2022-08-17 17:24] brycahta commented on #1198
My plan is to align VPC controller `Update` functionality with what's currently available in the AWS VPC console/cli; improvements to follow as separate tasks. Attached are the following actions one can take on an existing VPC:

![image](https://user-images.githubusercontent.com/61433408/185200729-ae200b4a-eb0b-4347-acb7-0a102a74c9bc.png)

I will implement **Edit CIDRs** and **Manage tags** from t

[2022-08-17 19:38] mjlumetta commented on #1407
Thanks @A-Hilaly! Much appreciated. For some additional context, here are a few other things we found.

- First, `UnsupportedArgument` is _not_ listed as an error code in the [S3 Error Responses](https://docs.aws.amazon.com/AmazonS3/latest/API/ErrorResponses.html) documentation. This was a bit confusing to us, since we are getting that error code (unless it is intended to be documented elsewhere,

[2022-08-17 20:26] yahavb opened #1434 "aws-controllers-k8s/rds-controller aarch64/arm64 support"
**Is your feature request related to a problem?**
Support rds-controller on Graviton instances

**Describe the solution you'd like**
1/ Run the rds-controller on aarch64 instances
2/ Provision graviton-based RDS database instances

**Describe alternatives you've considered**
Use CDK e.g.,
https://github.com/aws-samples/amazon-aurora-call-to-amazon-sagemaker-sample/tree/master/multiplayer-matchmake

[2022-08-17 20:31] A-Hilaly commented on #1434
We're tracking this feature in this issue: https://github.com/aws-controllers-k8s/community/issues/138
Currently @santyamzn is working on a PoC

[2022-08-17 21:52] jaypipes commented on #1434
As @A-Hilaly pointed out, we're working on this in issue #138.

Please note that you can do this today. The EC2 instance type that an RDS DB instance is housed on does not have anything to do with where the ACK controller for RDS is placed.

[2022-08-17 22:02] A-Hilaly commented on #1266
/lifecycle frozen

[2022-08-18 08:01] gazal-k commented on #237
The RDS resources are looking pretty great. Are there any milestones to achieve before it becomes GA?

[2022-08-18 08:08] kskzk opened #1436 "Script install-helm.sh does not exist"
**Describe the bug**
Hi,

When I try to build a controller by using code-generator in an environment where Helm is not installed, an error message to install Helm using scripts/install-helm.sh, but scripts/install-helm.sh does not exist.
[code]

Thanks.

**Steps to reproduce**
Run ```make build-controller SERVICE=$SERVICE``` in an environment where Helm is not installed.

**Expected outcome**
Show

[2022-08-18 11:47] A-Hilaly commented on #1436
Good catch, thank you @kskzk.

[2022-08-18 18:13] acornett21 opened #1438 "Controllers Fail Generation When Golang 1.19 is Used Locally"
**Describe the bug**
After updating to version `1.19` for local development all of the controllers fail to code generation.

**Steps to reproduce**
[code]

**Expected outcome**
I'd expect that the controllers would be able to be built no matter the go-version that a developer has installed locally. As a workaround a specific version of go can be downloaded and the follow steps taken

Step 1.
[code

[2022-08-18 18:28] dalbhanj opened #1439 "[emr-containers] Create separate e2e tests for VirtualCluster & JobRuns"
**Is your feature request related to a problem?**
A description of what the problem is. For example: I'm frustrated when [...]
Parent Issue: https://github.com/aws-controllers-k8s/community/issues/1267
Relevant PR: https://github.com/aws-controllers-k8s/emrcontainers-controller/pull/11
Currently both custom resources (VirtualClusters & JobRuns) are tested in single e2e test. It would be great to c

[2022-08-18 19:14] gazal-k commented on #237
Looks like it's pretty close 🙂. If I'm reading that right. Just 1 in progress item and 1 to-do.

We are just waiting on this to be GA to use it in our applications. Right now, cloud infra like RDS and S3 are provisioned separately for our k8s applications.

[2022-08-18 20:11] yahavb commented on #1434
I will close this as it is already tracked. Created https://github.com/aws-controllers-k8s/code-generator/pull/358 for "Run the rds-controller on aarch64 instances"

[2022-08-18 20:11] #1434 closed

[2022-08-19 12:46] A-Hilaly commented on #1292
/lifecycle frozen

[2022-08-19 12:49] matheushent commented on #482
If it matters, there still are people interested in this, e.g. me!

[2022-08-19 14:57] A-Hilaly opened #1440 "Complete rds-controller e2e tests"
Currently, `rds-controller` is missing few pieces in the e2e tests:

- [x] e2e tests for `dbproxy`
- [x] e2e tests for `global_cluster`
- [x] Patch operations e2e tests for `db_parameter_group`

/cc @brucegucode @jkatz

[2022-08-19 14:59] A-Hilaly commented on #1440
I will resume the work on https://github.com/aws-controllers-k8s/rds-controller/pull/107 and add e2e tests for `db_paramater_group`

[2022-08-19 18:37] brucegucode commented on #1440
trying to understand the requirement, is it necessary before GA? like each CRD needs a e2e test ? or it can be delayed after GA?

[2022-08-19 19:21] haarchri opened #1441 "AWS Go SDK bump to >=1.43.43"
For crossplane provider-aws we have one request to bump AWS Go SDK - so we need first the change Herr - something planned for update ?

https://github.com/crossplane-contrib/provider-aws/issues/1414

[2022-08-19 21:46] A-Hilaly commented on #1440
Yes, it is required for each CRD to go GA.

Correct.

We can't delay it after GA (we can't release untested CRDs). In case we don't have e2e tests for some CRDs. We believe will have to remove them before releasing the controller.

Note that these tests will be executed during the soak tests for the `rds-controller`

[2022-08-19 21:50] A-Hilaly opened #1442 "Add `KMS` Key bootstrappable resource"
We need to add a `KMS` Key bootstrappable resource in https://github.com/aws-controllers-k8s/test-infra/tree/main/src/acktest/bootstrapping.

[2022-08-19 22:10] A-Hilaly commented on #1299
/lifecycle frozen

[2022-08-20 15:07] #1436 closed

[2022-08-21 18:34] A-Hilaly commented on #1205
/reopen

[2022-08-22 11:45] A-Hilaly commented on #1441
Hi @haarchri i seet that the errors are related to the generated `zz` files. How is this related to the aws-sdk-go version?

[2022-08-22 12:10] haarchri commented on #1441
Normally we use the same Go SDK Version in ack-codegen / provider-aws ?
The problem in provider-aws is more because new resources and custom structs missing -

[2022-08-22 16:14] A-Hilaly commented on #1441
Mmmm wouldn't `--aws-sdk-go-version` flag be enough? If not i can work on upgrading this right after we go GA for few controllers (scheduled for this Friday)

[2022-08-22 16:28] A-Hilaly commented on #1407
Hi @mjlumetta, sorry for the delay and thank you for providing all this information above.

I just took sometime to carefully go through the code and this issue. And i don't see any problem with the solution you are proposing here. I believe it is correct and definitely wouldn't hurt to have an extra check for `UnsupportedArgument` in https://github.com/aws-controllers-k8s/s3-controller/blob/v0.1.

[2022-08-22 16:31] A-Hilaly commented on #1423
@ramnamy would you be interested in contributing and adding a Terraform example to https://github.com/aws-controllers-k8s/examples?

[2022-08-22 22:00] brucegucode commented on #1440
dbproxy e2e here https://github.com/aws-controllers-k8s/rds-controller/pull/115

[2022-08-23 02:08] apmclean opened #1443 "EC2 SecurityGroup v0.18 fails when ingressRules are defined using `userIDGroupPairs` and `groupID`"
**Describe the bug**
Using release .18 of EC2 SecurityGroup where an IngressRule is defined to use an existing Security Group via `groupID` - the SecurityGroup creation is continuously retried even though it exists.  No IngressRules are present.

**Steps to reproduce**

1) Create a non-Default VPC, and note the VPC ID.
2) Create a Security Group within the VPC created in step 1.  Note the Security

[2022-08-24 18:09] mjlumetta commented on #1407
Thanks for this response @A-Hilaly – that's great news. My team and I would definitely be interested in contributing back to the s3-controller. We'll take a look at it shortly and can circle back with any new questions here or in the Kubernetes slack. Appreciate your follow-up and feedback.

[2022-08-24 20:41] 13013SwagR commented on #1312
Hi,
Just wondering what's the approximative timeline for the GA release?
Thanks

[2022-08-24 21:21] dalbhanj opened #1444 "[emr-containers] Include deletion of OIDC providers in e2e tests"
**Is your feature request related to a problem?**
Parent Issue: https://github.com/aws-controllers-k8s/community/issues/1267
Relevant PR: https://github.com/aws-controllers-k8s/emrcontainers-controller/pull/11

OIDC providers are not deleted after you run e2e tests. There was huge number of OIDC providers from previous tests pending deletion.

**Describe the solution you'd like**
We need to add au

[2022-08-24 22:25] A-Hilaly commented on #1281
/lifecycle frozen

[2022-08-24 23:27] jaypipes commented on #1312
I'm looking for a Q4 2022 timeframe for the IAM controller GA.

[2022-08-25 17:50] A-Hilaly commented on #1301
/lifecycle frozen

[2022-08-25 17:51] A-Hilaly commented on #1303
Ideally we should provide examples in the [examples repository](https://github.com/aws-controllers-k8s/examples/tree/main/resources)
/lifecycle frozen

[2022-08-25 17:51] A-Hilaly commented on #1304
/lifecycle frozen

[2022-08-25 17:52] A-Hilaly commented on #1291
/lifecycle frozen

[2022-08-25 20:05] dalbhanj opened #1445 "[emr-containers] Add support to "configuration-overrides" in JobRun CRD"
**Describe the bug**
ACK runtime doesn't support cyclic structure. This impacts adding API attributes under "configuration-overrides" in JobRun CRD. "configuration-overrides" has key features from EMR such as logging, monitoring, pod template features.

**Steps to reproduce**
code-generator goes into memory leak if "configuration-overrides" is enabled

**Expected outcome**
After cyclic structure i

[2022-08-25 22:11] shancz opened #1446 "MemoryDB is not created in non default VPC"
**Describe the bug**
While using the MemoryDB Cluster API via AWS Kubernetes one can only use the default VCP to create a MemoryDB cluster in.

**Steps to reproduce**
Create a EKS cluster in AWS.
Then try to create a MemoryDB cluster in it via the custom resource.

Here is the YAML file
apiVersion: memorydb.services.k8s.aws/v1alpha1
kind: Cluster

metadata:
  name: "ack-test"

spec:
  aclName: ope

[2022-08-26 00:04] A-Hilaly commented on #1446
I assume this is not an ACK error. I don't a way of setting a Clusters vpc here https://docs.aws.amazon.com/memorydb/latest/APIReference/API_CreateCluster.html

Thoughts @nmvk @kumargauravsharma ?

[2022-08-26 11:49] shancz commented on #1446
Amie,

Thank you for the quick response. The API only needs a valid subnet group,
there is no option to specify the VPC name. So there should not be a check
beyond the existence of the subnet group.
Based on the error message the subnet is verified as to which VPC it
belongs to but that may not be necessary. It correctly reports that the
subnet group  belongs to a different VPC other than the defa

[2022-08-26 14:14] A-Hilaly commented on #1446
Interesting. I did a quick search and found something [very similar using CDK](https://stackoverflow.com/questions/59643874/aws-cdk-error-when-deploying-redis-elasticache-subnet-group-belongs-to-a-diffe). My first assumption here is that maybe you should use `Status.Subnets` instead of `Spec.SubnetGroups` (if you are using `SubnetGroup` CRD to create them)?

[2022-08-26 16:01] shancz commented on #1446
Amine,

Thank you for the response. Yes I am using  CRD . so the yaml file has to
follow the syntax/options available here
https://aws-controllers-k8s.github.io/community/reference/memorydb/v1alpha1/cluster/
I'm not sure how I can use Status.Subnets instead.

Here is my YAML file:

apiVersion: memorydb.services.k8s.aws/v1alpha1
kind: Cluster

metadata:
  name: "ack-test"

spec:
  aclName: open-acc

[2022-08-26 22:39] riddhi2910 opened #1447 "ACK Controller DBCluster Failure logs not showing"
**Describe the bug**
I am trying to deploy RDS AURORA DBCluster and GlobalCluster in a single file. While ACK is creating the GlobaclCluster, it fails to find the DB cluster since DBCluster is not ready or failed to create.

1) The errors in the ACK manager pods only point to why GlobalCluster failed to create which is `ERROR	controller.globalcluster	Reconciler error	{"reconciler group": "rds.serv

[2022-08-29 13:51] 13013SwagR opened #1448 "Updating a role with a bad `assumeRolePolicyDocument` is not reflected in the object status"
**Describe the bug**
Updating a role with a bad `assumeRolePolicyDocument` is not reflected in the object status
Also, tested a proper update and it doesn't sync either.

**Steps to reproduce**
[code]
**Expected outcome**
`status.condition` should print an error like
[code]
**Actual outcome**
[code]
**Environment**

* Kubernetes version: 1.21
* Using EKS (yes/no), if so version? yes 1.21
* AWS ser

[2022-08-29 14:34] baijum commented on #1289
I have created a proof of concept support for Provisioned Service in the ACK RDS controller. The demo video is here: https://www.youtube.com/watch?v=AXXWv7N12JM
I intend to demonstrate the end-user experience of the ACK RDS controller with support for Provisioned Service. If there is interest, I would be happy to work on a proposal to submit here: https://github.com/aws-controllers-k8s/community/t

[2022-08-29 15:55] A-Hilaly commented on #1448
Hi @13013SwagR , thank you for reporting this. It looks like the generator terminal errors are properly configured so this is indeed not the expected behavior https://github.com/aws-controllers-k8s/iam-controller/blob/main/generator.yaml#L78-L81.

[2022-08-29 18:35] brucegucode opened #1450 "Support state less APIs"
**Is your feature request related to a problem?**
It's not related to a problem

**Describe the solution you'd like**
Not sure if it's possible for k8s, but there are some state less APIs from say RDS service. like rebootdbinstance/cluster api. These are only status of db, not related to any Spec of an actual db instance. Not sure if we can achieve this through ACK framework.

probably customer ca

[2022-08-29 20:07] jkatz commented on #1375
related #1376

[2022-08-29 21:12] brycahta commented on #1443
@apmclean I can't seem to reproduce the issue locally. I tried using **default vpc** for `vpcID` and **default security group** for `userIDGroupPairs.groupID` and saw the ingress rule created as expected. Per your instruction, I created a new vpc and security group and used those IDs, but again saw expected behavior.

Let me check with some members of the team to see if they can repro

[2022-08-29 21:37] riddhi2910 commented on #1447
@jkatz any pointers here?

[2022-08-29 21:45] apmclean commented on #1443
The only other nuance is my default VPC is deleted. Don't think that will have any bearing though. I also upgraded from .17. Let me tear it all down and re-try from fresh.

[2022-08-29 22:25] brucegucode commented on #1440
rds proxy e2e tests are already in, I'm adding e2e test for global cluster https://github.com/aws-controllers-k8s/rds-controller/pull/116

The 3rd one will be finished by Amine

[2022-08-29 23:40] riddhi2910 commented on #1141
@doctorpangloss I am also facing the same, how did you resolve this?

[2022-08-30 09:51] amolsr opened #1451 "SNS-Controller throwing error when installing with kustomization"
**Describe the bug**
When using the kustomization script for installation of sns-controller. There is a usage of default service account which is not suggested by most of the security scans. The image mentioned in Kustomization.yaml inside config/controller/ does not exist.

**Steps to reproduce**
kubectl apply -k github.com/aws-controllers-k8s/sns-controller/config/default?ref=main
**Expected out

[2022-08-30 09:55] amolsr commented on #1451
https://github.com/aws-controllers-k8s/sns-controller/pull/4  Created PR for the same

[2022-08-30 12:47] apmclean commented on #1443
Apologies, my reproduction steps were incomplete.  When I encounter the issue I'm using `groupName` and not `groupID`.

Same steps as above, but instead use the `groupName` for the security group you created within that VPC.

ie:
[code]

[2022-08-30 13:37] dalbhanj opened #1452 "[emr-containers] add tutorial for getting started with ACK service controller for EMR on EKS"
This will be new tutorial for getting started with ACK service controller for EMR on EKS
Related Issue: https://github.com/aws-controllers-k8s/community/issues/1267

We are announcing **developer preview** for ACK service controller for EMR on EKS. This tutorial would walk the customers through how to create EMR on EKS controller and run Spark Jobs

[2022-08-30 14:25] brycahta commented on #1443
From the UserIdGroupPair [docs](https://docs.aws.amazon.com/AWSEC2/latest/APIReference/API_UserIdGroupPair.html):

The name of the security group. In a request, use this parameter for a security group in EC2-Classic or a default VPC only. For a security group in a nondefault VPC, use the security group ID. For a referenced security group in another VPC, this value is not returned if the referenced

[2022-08-30 15:01] apmclean commented on #1443
Ah - I think I miss-understood the ACK API Documentation.  I didn't resolve mentally that EC2 Classic would be even considered given its age.  I had understood / expected that ACK would look the group name up for me as needed to fulfill the request.  Working with a group-name is far more friendly than needing to look the ID up every request for automation.

ie (using CLI):
[code]

Which would reso

[2022-08-30 15:01] jkatz commented on #1447
@riddhi2910 We're currently investigating. In your tests, were you able to create a `GlobalCluster` and associated objects one-at-a-time, i.e. adding on each object once the other was available?

[2022-08-30 15:34] brycahta commented on #1443
Depending on the use case, I believe *resource references* could help bridge this gap. This feature is implemented for some ec2 resources already such as [subnet](https://github.com/aws-controllers-k8s/ec2-controller/blob/484c27cee4295679ae2e5d4d78bb28590c7c099c/generator.yaml#L391-L394). This allows the Subnet's `vpcID` field to be populated via a VPC resource that may not exist yet. An example o

[2022-08-30 17:16] riddhi2910 commented on #1447
@jkatz we wait 1800s for Dbcluster to be available before creating `GlobalCluster` once the 1800s done, ACk only shows errors `{"reconciler group": "rds.services.k8s.aws", "reconciler kind": "GlobalCluster", "name": "servicename", "namespace": "namespace", "error": "DBClusterNotFoundFault: The source cluster could not be found or cannot be accessed: arn:aws:rds:us-east-1:{accountname}:cluster:{dbn

[2022-08-30 17:19] riddhi2910 commented on #1447
@jkatz one thing to note here is that we are doing cross-account provisioning, I could create `DBSubnetGroup` but not the `dbcluster` .

[2022-08-30 17:45] riddhi2910 commented on #1447
however other ack controllers (elasticache and dynamodb ) work just fine with cross-account provisioning with VPC peering.

[2022-08-31 16:46] absmith82 commented on #328
IT seems that this Kubernetes-sigs issue has been closed without a resolution to create EFS filesystems.  Currently only EFS access points are able to be created dynamically.  This is still an option that should be looked into, even if the CSI driver does end up implementing it in the future it is something that currently doesn't exist hand there is a need for.

[2022-08-31 18:28] A-Hilaly commented on #1284
/lifecycle frozen

[2022-08-31 23:38] riddhi2910 commented on #1447
@jkatz I checked the destination account, the AWS calls at that account are for `DBSubnetGroup `  and `DBReplicationGroup` and those resources are getting created. I don't see a call to create a `DBCluster `.

In the ack controller also does not show that it is trying to create the `DBCluster`. Are there any conditions/configs that ack is checking before creating a DBCluster? Can you provide some

[2022-09-01 17:46] #1246 closed

[2022-09-01 18:04] grameshtwilio commented on #1448
Hi @A-Hilaly , as @13013SwagR mentioned, that an update to the `assumeRolePolicyDocument` with a valid document doesn't update the IAM role

[2022-09-01 19:12] bberzinskas-tw opened #1454 "API Gateway - Allow integrationURI to ref a targetGroupBinding"
I'm trying to avoid using a hardcoded integrationURI but that doesn't seem possible.    I can parameterize it in helm but thats a bit clunky, I'd love to be able to refer to targetGroupBinding but it's unclear how to do that.

[2022-09-02 11:03] baijum commented on #1410
The PR implementing this feature has merged. https://github.com/aws-controllers-k8s/runtime/pull/100

[2022-09-02 11:03] #1410 closed

[2022-09-02 19:14] mjlumetta commented on #1407
Hi @A-Hilaly, we opened up a [PR](https://github.com/aws-controllers-k8s/s3-controller/pull/85) in the s3-controller repo. It's just adding that additional condition to the if statement, so very small in terms of changes, but please let us know if there's anything else we need to do in terms of process, testing, stylistically, etc. Thank you!

[2022-09-02 20:05] A-Hilaly commented on #1407
Thanks a lot @mjlumetta - just /lgtm-ed the PR will send a release PR very soon. For now i don't think this is possible to test using our prow infra :)

[2022-09-02 20:12] #1407 closed

[2022-09-03 09:12] A-Hilaly commented on #1440
DBParameterGroups update operation just have been merged. Rds v0.1.0 is out.
/close

[2022-09-03 09:12] #1440 closed

[2022-09-03 09:15] A-Hilaly commented on #1315
Released lambda controller `v0.1.0`
/close

[2022-09-03 09:15] #1315 closed

[2022-09-03 09:16] A-Hilaly commented on #1316
Released sfn-controller `v0.1.0`
/close

[2022-09-03 09:16] #1316 closed

[2022-09-06 05:34] amolsr commented on #1451
https://github.com/aws-controllers-k8s/sns-controller/pull/5

[2022-09-06 09:48] Swalloow commented on #1452
Hi @dalbhanj, Thanks for the awesome work!
We planning to use a streaming application at EMR on EKS.
Are there any options like `failureRetries`, `retryInterval` available? (in spark-on-k8s-operator)

[2022-09-06 17:33] brycahta commented on #1203
![image](https://user-images.githubusercontent.com/61433408/188701696-fefe96bd-a2a4-42d8-b05b-d6c930a72f97.png)

Will prioritize update functionality related to _Edit subnet settings_ in the _Console_. Note, for fields backed by [modify-subnet-attribute](https://awscli.amazonaws.com/v2/documentation/api/latest/reference/ec2/modify-subnet-attribute.html) **You can only modify one attribute at a tim

[2022-09-06 17:38] brycahta commented on #1199
/reopen

`updateTags` functionality needs to be implemented

[2022-09-06 17:40] brycahta commented on #1200
/reopen

`updateTags` functionality needs to be implemented

[2022-09-06 17:46] brycahta commented on #1201
![image](https://user-images.githubusercontent.com/61433408/188704195-fd079f8e-2515-4f4a-967e-51df8b117174.png)

* Only [`Edit routes`](https://github.com/aws-controllers-k8s/ec2-controller/blob/22e80dc1bf371c0be9abff8727bf68f889d88f86/pkg/resource/route_table/hooks.go#L198) from the list of _Console Actions_ is implemented

* This issue is **blocking**: https://github.com/aws-controllers-k8s/comm

[2022-09-06 17:55] brycahta commented on #1202
/reopen

* `updateTags` functionality needs to be implemented
* Support resource referencing for [`UserIDGroupPair`](https://github.com/aws-controllers-k8s/ec2-controller/blob/22e80dc1bf371c0be9abff8727bf68f889d88f86/apis/v1alpha1/types.go#L4036) ?

[2022-09-06 17:59] brycahta commented on #1204
/reopen

* [`sdkUpdate`](https://github.com/aws-controllers-k8s/ec2-controller/blob/22e80dc1bf371c0be9abff8727bf68f889d88f86/pkg/resource/transit_gateway/sdk.go#L388) returns ackerr.NotImplemented
* `updateTags` functionality needs to be implemented

[2022-09-06 18:07] brycahta commented on #1205
/reopen

![image](https://user-images.githubusercontent.com/61433408/188707653-6df82e48-ec95-4040-97d5-3bfbef164d2f.png)

* [`sdkUpdate`](https://github.com/aws-controllers-k8s/ec2-controller/blob/22e80dc1bf371c0be9abff8727bf68f889d88f86/pkg/resource/transit_gateway/sdk.go#L388) returns ackerr.NotImplemented

[2022-09-06 18:08] brycahta commented on #1204
![Image](https://user-images.githubusercontent.com/61433408/188707778-70e95c10-9c39-443f-b11a-49fff968c0fc.png)

[2022-09-06 18:12] jkatz opened #1457 "Add resource reference in RDS => DBSubnetGroup"
**Is your feature request related to a problem?**

To support GitOps workflows, we need to add resource references to the RDS CRDs. Most of these were added as a result of #1378 but one in `DBSubnetGroup` was missed.

**Describe the solution you'd like**

We should create the following resource references on each CRD. (The non-referenced field is listed in parentheses).

* `DBSubnetGroup`
  * `[]s

[2022-09-06 18:14] #1326 closed

[2022-09-06 18:15] brycahta commented on #1370
Basically duplicate of https://github.com/aws-controllers-k8s/community/issues/1370 as the tests are expected with the PR

[2022-09-06 18:15] #1370 closed

[2022-09-06 18:17] #1362 closed

[2022-09-06 20:34] riddhi2910 commented on #1447
@jkatz  any pointers? I only see the status on was console now that I am able to create the dbcluster. But, the k8s objects for the dbcluster and globaclcluster do not show any status. Any pointers on why that could be?

[2022-09-06 21:27] A-Hilaly commented on #1454
Hi @bberzinskas-tw , thank you for raising this issue. I'm trying to understand more what are you trying to achieve here.
- Are you using `apigatewayv2-controller` and a `aws-load-balancer-controller` ?
- Can you please try to provide some examples of manifests you're trying to deploy?

[2022-09-06 22:16] RedbackThomson commented on #1445
Hey Peter. Sadly, it's just not possible to support cyclic references for anything within a K8s CRD. By their design, a CRD must be describable using an OpenAPIv3 schema. That means, each spec can be broken down into its constituent primitive types. There is no way to (finitely) decompose any cyclic properties.

Ignoring all ACK limitations, kubebuilder (the CLI package we use to transform Go code

[2022-09-06 22:45] brucegucode commented on #1457
closing this as code is merged

[2022-09-06 22:45] #1457 closed

[2022-09-06 22:56] #1438 closed

[2022-09-07 00:55] A-Hilaly commented on #1321
/lifecycle frozen

[2022-09-07 13:29] ack-bot opened #1458 "Errors while generating olm bundle for `eks-controller-v0.1.6`"
### Errors while generating olm bundle for `eks-controller-v0.1.6`

#### stdout for `olm-create-bundle.sh eks v0.1.6`:
[code]

#### stderr for `olm-create-bundle.sh eks v0.1.6`:
[code]

#### Steps for closing this issue:
1. Checkout [`code-generator`](https://github.com/aws-controllers-k8s/code-generator) and [`eks-controller`](https://github.com/aws-controllers-k8s/eks-controller) repositories
2.

[2022-09-07 13:30] ack-bot opened #1459 "Errors while generating olm bundle for `kms-controller-v0.1.1`"
### Errors while generating olm bundle for `kms-controller-v0.1.1`

#### stdout for `olm-create-bundle.sh kms v0.1.1`:
[code]

#### stderr for `olm-create-bundle.sh kms v0.1.1`:
[code]

#### Steps for closing this issue:
1. Checkout [`code-generator`](https://github.com/aws-controllers-k8s/code-generator) and [`kms-controller`](https://github.com/aws-controllers-k8s/kms-controller) repositories
2.

[2022-09-07 13:37] ack-bot opened #1460 "Errors while generating olm bundle for `iam-controller-v0.0.20`"
### Errors while generating olm bundle for `iam-controller-v0.0.20`

#### stdout for `olm-create-bundle.sh iam v0.0.20`:
[code]

#### stderr for `olm-create-bundle.sh iam v0.0.20`:
[code]

#### Steps for closing this issue:
1. Checkout [`code-generator`](https://github.com/aws-controllers-k8s/code-generator) and [`iam-controller`](https://github.com/aws-controllers-k8s/iam-controller) repositories

[2022-09-07 13:37] ack-bot opened #1461 "Errors while generating olm bundle for `apigatewayv2-controller-v0.1.4`"
### Errors while generating olm bundle for `apigatewayv2-controller-v0.1.4`

#### stdout for `olm-create-bundle.sh apigatewayv2 v0.1.4`:
[code]

#### stderr for `olm-create-bundle.sh apigatewayv2 v0.1.4`:
[code]

#### Steps for closing this issue:
1. Checkout [`code-generator`](https://github.com/aws-controllers-k8s/code-generator) and [`apigatewayv2-controller`](https://github.com/aws-controllers

[2022-09-07 13:40] ack-bot opened #1462 "Errors while generating olm bundle for `sagemaker-controller-v0.4.4`"
### Errors while generating olm bundle for `sagemaker-controller-v0.4.4`

#### stdout for `olm-create-bundle.sh sagemaker v0.4.4`:
[code]

#### stderr for `olm-create-bundle.sh sagemaker v0.4.4`:
[code]

#### Steps for closing this issue:
1. Checkout [`code-generator`](https://github.com/aws-controllers-k8s/code-generator) and [`sagemaker-controller`](https://github.com/aws-controllers-k8s/sagemak

[2022-09-07 13:40] ack-bot opened #1463 "Errors while generating olm bundle for `applicationautoscaling-controller-v0.2.13`"
### Errors while generating olm bundle for `applicationautoscaling-controller-v0.2.13`

#### stdout for `olm-create-bundle.sh applicationautoscaling v0.2.13`:
[code]

#### stderr for `olm-create-bundle.sh applicationautoscaling v0.2.13`:
[code]

#### Steps for closing this issue:
1. Checkout [`code-generator`](https://github.com/aws-controllers-k8s/code-generator) and [`applicationautoscaling-cont

[2022-09-07 13:40] ack-bot opened #1464 "Errors while generating olm bundle for `prometheusservice-controller-v0.1.1`"
### Errors while generating olm bundle for `prometheusservice-controller-v0.1.1`

#### stdout for `olm-create-bundle.sh prometheusservice v0.1.1`:
[code]

#### stderr for `olm-create-bundle.sh prometheusservice v0.1.1`:
[code]

#### Steps for closing this issue:
1. Checkout [`code-generator`](https://github.com/aws-controllers-k8s/code-generator) and [`prometheusservice-controller`](https://github

[2022-09-07 14:06] ack-bot opened #1465 "Errors while generating olm bundle for `sfn-controller-v0.1.1`"
### Errors while generating olm bundle for `sfn-controller-v0.1.1`

#### stdout for `olm-create-bundle.sh sfn v0.1.1`:
[code]

#### stderr for `olm-create-bundle.sh sfn v0.1.1`:
[code]

#### Steps for closing this issue:
1. Checkout [`code-generator`](https://github.com/aws-controllers-k8s/code-generator) and [`sfn-controller`](https://github.com/aws-controllers-k8s/sfn-controller) repositories
2.

[2022-09-07 14:06] ack-bot opened #1466 "Errors while generating olm bundle for `lambda-controller-v0.1.1`"
### Errors while generating olm bundle for `lambda-controller-v0.1.1`

#### stdout for `olm-create-bundle.sh lambda v0.1.1`:
[code]

#### stderr for `olm-create-bundle.sh lambda v0.1.1`:
[code]

#### Steps for closing this issue:
1. Checkout [`code-generator`](https://github.com/aws-controllers-k8s/code-generator) and [`lambda-controller`](https://github.com/aws-controllers-k8s/lambda-controller)

[2022-09-07 14:36] ack-bot opened #1467 "Errors while generating olm bundle for `ec2-controller-v0.0.19`"
### Errors while generating olm bundle for `ec2-controller-v0.0.19`

#### stdout for `olm-create-bundle.sh ec2 v0.0.19`:
[code]

#### stderr for `olm-create-bundle.sh ec2 v0.0.19`:
[code]

#### Steps for closing this issue:
1. Checkout [`code-generator`](https://github.com/aws-controllers-k8s/code-generator) and [`ec2-controller`](https://github.com/aws-controllers-k8s/ec2-controller) repositories

[2022-09-07 14:40] dalbhanj commented on #1452
Hi @Swalloow, we have plans to make emr on eks controller more robust by adding features like job retries and add additional customization. Can you please create new Github issue for this? Please tag it `'[emr-containers]'`in title so that we can drive this discussion and track it. Thank you!

[2022-09-07 14:49] dalbhanj opened #1468 "[emr-containers] add recommended controller IAM policy to recommended-inline-policy"
**Is your feature request related to a problem?**
Not really a problem but the feature will simplify getting started experience.

**Describe the solution you'd like**
Add recommended IAM policy to https://github.com/aws-controllers-k8s/emrcontainers-controller/blob/main/config/iam/recommended-inline-policy and reference in getting started tutorial
This is referenced in this PR: https://github.com/

[2022-09-07 15:59] brycahta commented on #1222
`ClientToken` field removed in [v0.0.19](https://github.com/aws-controllers-k8s/ec2-controller/releases/tag/v0.0.19)

[2022-09-07 15:59] #1222 closed

[2022-09-07 16:00] brycahta commented on #1198
VPC `Update` is implemented as of [v0.0.19](https://github.com/aws-controllers-k8s/ec2-controller/releases/tag/v0.0.19)

[2022-09-07 16:00] #1198 closed

[2022-09-07 18:47] RedbackThomson commented on #1468
We consider this a blocker for GA, since the recommended policy files are used in the installation instructions

[2022-09-07 18:51] RedbackThomson commented on #1289
This is awesome! Often we are only thinking about the experience for the DevOps teams that use and maintain these operators, so I'm glad you are able to understand how developers would interact with the final result. It'd be great to see a proposal. Before you submit one though, would you mind just summarising what those changes would be?

[2022-09-07 21:49] brycahta commented on #1203
Update: **We are blocked on aligning Update functionality with Console due to older version of aws-sdk-go**

The AWS Console 'Edit subnet settings' contains functionality (resource-based naming, DNS settings) that is not yet supported by the version of `aws-sdk-go` being used in _code-generator_, `v1.42.0`.

`ModifySubnetAttribute` input shape in `aws-sdk-go v1.42.0`:

[code]

*latest* `ModifySubn

[2022-09-07 22:52] CorreyS opened #1469 "Add REST API Gateway support"
**Is your feature request related to a problem?**
Add REST API Gateway to API Gateway V2

**Describe the solution you'd like**
Ability to configure a REST API gateway instead of only HTTP.

[2022-09-08 06:37] baijum commented on #1289
I modified the generated code in the RDS controller for the POC. The changes are here: https://github.com/baijum/ack-rds-controller/commit/98da817f099022c5a1e49a0b2cedcf6bec171f57

1. Updated the `DBInstanceStatus` to make the `DBIntance` a Provisioned Service (`.status.binding.name` attribute)
2. Updated the `ClusterRole` with ` create` and `update` permissions
3. Updated the controller code to c

[2022-09-08 18:29] ack-bot opened #1470 "Errors while generating olm bundle for `emrcontainers-controller-v0.0.7`"
### Errors while generating olm bundle for `emrcontainers-controller-v0.0.7`

#### stdout for `olm-create-bundle.sh emrcontainers v0.0.7`:
[code]

#### stderr for `olm-create-bundle.sh emrcontainers v0.0.7`:
[code]

#### Steps for closing this issue:
1. Checkout [`code-generator`](https://github.com/aws-controllers-k8s/code-generator) and [`emrcontainers-controller`](https://github.com/aws-control

[2022-09-08 21:04] A-Hilaly commented on #1394
/assign @Vandita2020

[2022-09-08 21:06] A-Hilaly commented on #1394
/assign @Vandita2020

[2022-09-08 21:42] ack-bot opened #1471 "Errors while generating olm bundle for `mq-controller-v0.0.21`"
### Errors while generating olm bundle for `mq-controller-v0.0.21`

#### stdout for `olm-create-bundle.sh mq v0.0.21`:
[code]

#### stderr for `olm-create-bundle.sh mq v0.0.21`:
[code]

#### Steps for closing this issue:
1. Checkout [`code-generator`](https://github.com/aws-controllers-k8s/code-generator) and [`mq-controller`](https://github.com/aws-controllers-k8s/mq-controller) repositories
2. F

[2022-09-09 15:19] A-Hilaly commented on #1469
Hi @CorreyS , not an `apigatewayv2` expert here, but trying to understand what's not support in the current `apigatewayv2-controller`. Is https://github.com/aws-controllers-k8s/apigatewayv2-controller/blob/main/apis/v1alpha1/api.go#L23-L58 not enough to create "REST" API Gateway? Do you have examples on how to create one using API Calls, CDK or CF?

[2022-09-09 15:47] A-Hilaly commented on #1450
I don't think ACK should deal with the data plane for any service even thought it sounds simple and straightforward to implement (and i don't believe it's the case here).
I just can't imagine having to deal with EC2 boot/reboot operations, manage s3 objects, dynamodb table raws etc... unless if we want to create a new set of controller that will exclusively deal with the data plane (and complete t

[2022-09-09 15:49] A-Hilaly commented on #1447
Hi @riddhi2910 , can you please provide more information on how did you setup the cross-account? i'll try to reproduce the same in my local environment and see if i can get any answers.

[2022-09-09 16:31] jaypipes commented on #1291
@RedbackThomson @brycahta @vijtrip2 seems to me that the root of the problem is that the runtime reconciler is modifying the `Spec` when resolving references (this is regardless of whether the reference field is in a list of structs or not). I think a safer approach would be to resolve the references but not save the resolved identifiers in the `Spec`, instead saving the resolved references in a s

[2022-09-09 17:37] riddhi2910 commented on #1447
Thanks, @A-Hilaly for your reply. We have a `VPC` peering between two accounts. We have a cilium policy to talk to the cross-account security groups. We use deploy rds objects combined via a home-grown tool. I see the calls have been made to the destination accounts and DB is also up and running on the same account. But, I don't see status reported back, and k8s objects of the rds DB do not have `

[2022-09-09 19:20] dalbhanj opened #1472 "[emr-containers] add resource reference to custom resources"
**Is your feature request related to a problem?**
add resource reference to custom resources
see PR for reference: https://github.com/aws-controllers-k8s/community/pull/1453#discussion_r966354005

**Describe the solution you'd like**
Once we add resource reference, emr-containers jobruns can reference virtualcluster custom resources directly. This is more k8s friendly and avoids exporting and impo

[2022-09-09 19:36] dalbhanj commented on #1445
I understand @RedbackThomson . I think we need clever solution for sure to mitigate the issue. `ConfigurationOverrides` is an important part of JobRun API and we can't use complete features of EMR on EKS without this capability

[2022-09-09 22:19] A-Hilaly commented on #1394
We're having issues assigning people that are not part of @aws-controllers-k8s/community-maintainers  @Vandita2020 will own this ticket.

[2022-09-09 22:24] A-Hilaly commented on #1394
/unassign

[2022-09-12 12:41] #1444 closed

[2022-09-12 16:34] #1466 closed

[2022-09-12 17:08] A-Hilaly commented on #1471
Restarted prow job and the PRs were created successfully

[2022-09-12 17:08] #1471 closed

[2022-09-12 17:08] A-Hilaly commented on #1470
Restarted prow job and the PRs were created successfully

[2022-09-12 17:08] #1470 closed

[2022-09-12 17:08] A-Hilaly commented on #1467
Restarted prow job and the PRs were created successfully

[2022-09-12 17:08] #1467 closed

[2022-09-12 17:08] A-Hilaly commented on #1465
Restarted prow job and the PRs were created successfully

[2022-09-12 17:08] #1465 closed

[2022-09-12 17:08] A-Hilaly commented on #1464
Restarted prow job and the PRs were created successfully

[2022-09-12 17:08] #1464 closed

[2022-09-12 17:08] A-Hilaly commented on #1463
Restarted prow job and the PRs were created successfully

[2022-09-12 17:08] #1463 closed

[2022-09-12 17:09] A-Hilaly commented on #1462
Restarted prow job and the PRs were created successfully

[2022-09-12 17:09] #1462 closed

[2022-09-12 17:09] A-Hilaly commented on #1461
Restarted prow job and the PRs were created successfully

[2022-09-12 17:09] #1461 closed

[2022-09-12 17:09] A-Hilaly commented on #1460
Restarted prow job and the PRs were created successfully

[2022-09-12 17:09] #1460 closed

[2022-09-12 17:09] A-Hilaly commented on #1459
Restarted prow job and the PRs were created successfully

[2022-09-12 17:09] #1459 closed

[2022-09-12 17:09] A-Hilaly commented on #1458
Restarted prow job and the PRs were created successfully

[2022-09-12 17:09] #1458 closed

[2022-09-12 18:31] riddhi2910 commented on #1447
@A-Hilaly @jkatz So I was able to enable `debug` logs and found this

`1.663006596896689e+09	DEBUG	ackrt	<< kc.Patch (status)	{"account": "ssss", "role": "", "region": "us-east-1", "kind": "DBCluster", "namespace": "preview", "name": "rdscanary", "is_adopted": false, "generation": 2, "error": "DBCluster.rds.services.k8s.aws \"rdscanary\" is invalid: status.ackResourceMetadata.region: Required valu

[2022-09-12 18:57] A-Hilaly commented on #1447
Hey @riddhi2910,

So the way we set regions in ACK land is by setting annotations, similar to this config https://github.com/aws-controllers-k8s/lambda-controller/blob/main/test/e2e/resources/alias.yaml#L6.

Are also setting CARM using namespaces and the "carm" configmap? as mentioned here https://aws-controllers-k8s.github.io/community/docs/user-docs/cross-account-resource-management/

Also happy

[2022-09-12 19:27] ack-bot opened #1473 "Errors while generating `ec2-controller` for ACK runtime `v0.20.1`, code-generator `v0.20.1`"
### Errors while generating `ec2-controller` for ACK runtime `v0.20.1`, code-generator `v0.20.1`

#### stdout for `make build-controller`:
[code]

#### stderr for `make build-controller`:
[code]

#### Steps for closing this issue:
1. Update ec2-controller `go.mod` file to update `aws-controllers-k8s/runtime` to v0.20.1
2. Run `go mod tidy` for ec2-controller
3. Successfully generate the service co

[2022-09-12 19:31] ack-bot opened #1474 "Errors while generating `prometheusservice-controller` for ACK runtime `v0.20.1`, code-generator `v0.20.1`"
### Errors while generating `prometheusservice-controller` for ACK runtime `v0.20.1`, code-generator `v0.20.1`

#### stdout for `make build-controller`:
[code]

#### stderr for `make build-controller`:
[code]

#### Steps for closing this issue:
1. Update prometheusservice-controller `go.mod` file to update `aws-controllers-k8s/runtime` to v0.20.1
2. Run `go mod tidy` for prometheusservice-controll

[2022-09-12 19:43] ack-bot opened #1475 "Errors while generating `s3-controller` for ACK runtime `v0.20.1`, code-generator `v0.20.1`"
### Errors while generating `s3-controller` for ACK runtime `v0.20.1`, code-generator `v0.20.1`

#### stdout for `make build-controller`:
[code]

#### stderr for `make build-controller`:
[code]

#### Steps for closing this issue:
1. Update s3-controller `go.mod` file to update `aws-controllers-k8s/runtime` to v0.20.1
2. Run `go mod tidy` for s3-controller
3. Successfully generate the service contr

[2022-09-12 19:55] ack-bot opened #1476 "Errors while generating `sagemaker-controller` for ACK runtime `v0.20.1`, code-generator `v0.20.1`"
### Errors while generating `sagemaker-controller` for ACK runtime `v0.20.1`, code-generator `v0.20.1`

#### stdout for `make build-controller`:
[code]

#### stderr for `make build-controller`:
[code]

#### Steps for closing this issue:
1. Update sagemaker-controller `go.mod` file to update `aws-controllers-k8s/runtime` to v0.20.1
2. Run `go mod tidy` for sagemaker-controller
3. Successfully gener

[2022-09-12 19:57] ack-bot opened #1477 "Errors while generating `route53-controller` for ACK runtime `v0.20.1`, code-generator `v0.20.1`"
### Errors while generating `route53-controller` for ACK runtime `v0.20.1`, code-generator `v0.20.1`

#### stdout for `make build-controller`:
[code]

#### stderr for `make build-controller`:
[code]

#### Steps for closing this issue:
1. Update route53-controller `go.mod` file to update `aws-controllers-k8s/runtime` to v0.20.1
2. Run `go mod tidy` for route53-controller
3. Successfully generate th

[2022-09-12 20:41] chlunde commented on #1441
Thanks, created a PR for using `--aws-sdk-go-version`!

[2022-09-12 21:22] A-Hilaly commented on #1441
@chlunde @haarchri We also just release `code-generator` `v0.20.1` that bumps aws-sdk-go version to `v1.44.93`, release described here https://github.com/aws-controllers-k8s/code-generator/releases/tag/v0.20.1

[2022-09-13 06:14] ozbillwang opened #1478 "No inline policy for s3 bucket"
In this document

https://aws-controllers-k8s.github.io/community/docs/user-docs/irsa/#attach-iam-policy-to-the-iam-role

I can't follow, because the inline policy file is missed in `s3-controllers` (https://github.com/aws-controllers-k8s/s3-controller/tree/main/config/iam)
[code]
I checked other controllers, seems it is not a must-have policy, please confirm

[2022-09-13 06:20] ozbillwang commented on #1478
ignore, this is in if condition, can be ignore if not exist.

[2022-09-13 06:20] #1478 closed

[2022-09-13 09:30] rgarrigue opened #1479 "FieldExport unknown field "key""
**Describe the bug**

The documentation says one can specify to.key https://aws-controllers-k8s.github.io/community/reference/common/v1alpha1/fieldexport/#spec

Trying to use it, got the error

**Steps to reproduce**

Something like this (working on it atm so not sure it's functional)

[code]

**Expected outcome**

I expect to have my strapi-cms-database-host CM created with the endpoint address i

[2022-09-13 11:14] stevewhitaker-oc opened #1480 "Error when trying to adopt lambda function"
**Describe the bug**
When trying to adopt an existing lambda function I am getting the following error in the status
[code]

And the following error on the controller pod which causes it to go in a crash/restart loop

[code]

**Steps to reproduce**
Here is the adopted resource I'm using.
I believe `nameOrId` is the only field that is needed to retrieve the lambda
[code]

**Expected outcome**
For t

[2022-09-13 12:39] rgarrigue opened #1481 "Automatic adoption of ACK created resources"
**Is your feature request related to a problem?**

We're running ArgoCD. And using ACK RDS to create a service's database along with it. To avoid any accident, termination protection is enabled. The accident did happened, the database was properly safeguarded, but now the DBInstance resource says in its status

**Describe the solution you'd like**

I'ld like ACK to auto adopt back the resource.

I

[2022-09-13 12:58] A-Hilaly commented on #1479
Hi @rgarrigue can you please try with rds-controller [v0.1.0](https://github.com/aws-controllers-k8s/rds-controller/releases/tag/v0.1.0) ?

[2022-09-13 13:03] A-Hilaly commented on #1481
Hi @rgarrigue i am not able to fully understand why adopted resources don't work for your case? could you please provide the yaml manifests of your trying to apply?

[2022-09-13 13:44] #1472 closed

[2022-09-13 13:45] #1468 closed

[2022-09-13 14:02] jkatz commented on #1481
@A-Hilaly I think I would term this under "autodiscovery" of resources. I believe the suggested workflow would be:

1. There exists AWS resources (e.g. an RDS DBInstance) with tags that follow a user-defined pattern (e.g. "managed-by": "ack").
2. In the ACK controller, we either 1/ allow a user to set an environmental variable called `AUTODISCOVER_TAGS` or 2/ have a new custom resource called `Aut

[2022-09-13 20:29] jaypipes commented on #1421
Hi @grameshtwilio! Sorry for delay in commenting on this.

I'm not in favor of adding back the `--aws-account-id` CLI arg for the reasons noted in the PR you linked: it was causing confusion for users during the install/startup process.

I'm similarly not keen to add a flag that skips verification steps for the same reasons that @A-Hilaly mentioned.

From looking at the localstack docs, it looks l

[2022-09-14 04:24] #1451 closed

[2022-09-14 12:25] rgarrigue opened #1482 "RDS aurora postgresql - doc says allocatedStorage isn't applicable, resource status sais must be provided, and fails if provided"
**Describe the bug**

The doc state you shouldn't provide allocatedStorage for aurora. But when done as recommended it fails

If I specified one nonetheless

So I tried with IOPS, why not

Checkmate.

**Steps to reproduce**

Something like that, but I believe there's no valid combination allowing to create an aurora postgresql anyway

[code]

**Expected outcome**

As the doc says : no allocatedSto

[2022-09-14 12:38] rgarrigue commented on #1482
:facepalm:

Gosh ... DBCluster exist, and I've been trying with DBInstance ...

I guess, forget the above. But rip off any mention of aurora in the DBInstance doc -___-

[2022-09-14 14:29] rgarrigue commented on #1481
@A-Hilaly AdoptedResource will most likely work : from my first trial I see the AdoptedResource return ✅ if nothing to do, so once properly setup it should do the job of adopting back a previously created DB if needed & no breaking the whole argocd app with a failure. I can't provide the manifest atm, still got moving parts

@jkatz not exactly. What I want is a sort of idempotence / declarative be

[2022-09-14 14:31] jkatz commented on #1482
@rgarrigue Glad you were able to figure this out!

The Amazon RDS API docs do state that `AllocatedStorage` is not applicable for Aurora: [https://docs.aws.amazon.com/AmazonRDS/latest/APIReference/API_CreateDBInstance.html](https://docs.aws.amazon.com/AmazonRDS/latest/APIReference/API_CreateDBInstance.html). This information is also in the docs ACK provides for [`DBInstance`](https://aws-controlle

[2022-09-14 17:36] A-Hilaly commented on #1479
`rds-controller v0.1.1` have been released https://github.com/aws-controllers-k8s/rds-controller/releases/tag/v0.1.1, this version adds support for the feature you're looking for. If you are using helm to deploy your controllers, you will have to manually update the `FieldExport` CRD (https://helm.sh/docs/chart_best_practices/custom_resource_definitions/#some-caveats-and-explanations)

[2022-09-14 21:04] A-Hilaly commented on #1447
This issue was solved by using rds-controller `v0.1.0`
/close

[2022-09-14 21:04] #1447 closed

[2022-09-16 07:55] rgarrigue commented on #1482
About the documentation question, I've one : add examples.

Terraform does this reaaaally well. Here's a random example from a resource I didn't even paid attention what it is, but I know I can get something running straight away https://registry.terraform.io/providers/hashicorp/aws/latest/docs/resources/appflow_connector_profile. And I know there are examples there for all the scenarios. Another

[2022-09-16 08:03] rgarrigue opened #1484 "RDS DBCluster endpoints stuck at creating"
**Describe the bug**

My Aurora PostgreSQL endpoints have been stuck creating forever. I created a "test" one in the UI, which quickly became available.

![image](https://user-images.githubusercontent.com/1872031/190587693-72eb94f5-8e54-4759-bff8-70e9803d7564.png)

I see no config option that could be relevant to be fixed

**Steps to reproduce**

Here are my quickly cleaned manifest

[code]

**Exp

[2022-09-16 12:23] rgarrigue commented on #1484
Got the reason why from the support

I guess I'll fiddle with the capacities ...

One followup question though, how do I pick between serverless v1 & v2 ?

[2022-09-19 08:08] olemarkus commented on #348
Is Kafka still on this year's roadmap?

[2022-09-19 09:19] nicc777 opened #1485 "FSX service controller"
## New ACK Service Controller

Support for [FSX](https://aws.amazon.com/fsx/) would be really great, especially when deploying Pods with [NFS](https://kubernetes.io/docs/concepts/storage/volumes/#nfs) PVC's

### List of API resources

List the API resources in order of importance to you:

1) [FSX](https://docs.aws.amazon.com/fsx/latest/APIReference/welcome.html)

[2022-09-19 14:12] #1473 closed

[2022-09-19 17:48] brucegucode commented on #1484
hey @rgarrigue . if i understand correctly, you can specify the allowed aurora engine version to choose v1 or v2. Also v2 has some more params need be configured. This is more like a rds question looks like .i'm going to close it if there is no extra questions to the controller itself.

[2022-09-19 17:48] #1484 closed

[2022-09-19 22:44] A-Hilaly commented on #1235
/remove-lifecycle stale

[2022-09-20 12:14] idanovo opened #1486 "Adding rds-controller a support for automated backups cross-region replication management"
I would like to have a way to manage cross-region replication for RDS automated backups in the rds-controller

If there is already a way to do so, I suggest updating the rds-controller documentation because I didn't find it.

[2022-09-20 13:20] chobostar opened #1487 "s3-controller hung after failing to delete bucket"
**Describe the bug**

I executed:
[code]
on not empty bucket.

after some attempts to delete bucket it hunged. ack-s3-controller.v0.1.5 logs:
[code]
I cleared bucket:
[code]
And still no effect. Last log entry the same as above.

I waited 10 minutes and decided to delete pod with s3-controller:
[code]
And finally it deleted bucket...

controller did nothing between:
2022-09-20T12:39:48.046Z
2022-0

[2022-09-20 14:29] biosugar0 opened #1488 "Support automatically creates a resource-based policies for FunctionURLConfig authType:NONE"
I noticed that when I tried to use [FunctionURLConfig](https://aws-controllers-k8s.github.io/community/reference/lambda/v1alpha1/functionurlconfig/) with `authType: NONE`, the `FunctionURLAllowPublicAccess` policy was not created. It would be useful if this policy was created automatically.

https://docs.aws.amazon.com/lambda/latest/dg/urls-auth.html#urls-auth-none

[code]

Probably use these APIs

[2022-09-20 15:53] biosugar0 commented on #1488
I realized later that this is a similar request.
Currently, it is difficult because we can't get the policy. Right?

https://github.com/aws-controllers-k8s/community/issues/1405

[2022-09-20 17:32] jaypipes commented on #1443
@brycahta I agree that using resource references would be the best user experience here. Potentially also removing the `groupName` field entirely since it's only used for EC2 Classic...

[2022-09-20 23:34] A-Hilaly commented on #1359
/lifecycle frozen

[2022-09-21 18:45] brycahta commented on #1199
Available as of [`v0.0.20`](https://github.com/aws-controllers-k8s/ec2-controller/releases/tag/v0.0.20)

[2022-09-21 18:45] #1199 closed

[2022-09-21 18:45] brycahta commented on #1200
Available as of [`v0.0.20`](https://github.com/aws-controllers-k8s/ec2-controller/releases/tag/v0.0.20)

[2022-09-21 18:45] #1200 closed

[2022-09-21 22:46] A-Hilaly commented on #1405
I think @biosugar0 raised a good point in #1488 - it look's like `GetPolicy` is what we need to call to describe function permissions.

[2022-09-22 16:03] #1272 closed

[2022-09-22 17:07] brucegucode commented on #1486
I'm trying to understand, are you asking for creating cross region replica, or creating cross region replica from a backup in source region ? or it's something else

[2022-09-22 17:52] idanovo commented on #1486
@brucegucode When creating an RDS using the rds-controller, there's an option to configure an automated backup, for this backup, I want to enable a cross-region replica.

[2022-09-23 12:29] A-Hilaly commented on #1366
/remove-lifecycle stable

[2022-09-23 12:29] A-Hilaly commented on #1366
/remove-lifecycle stale

[2022-09-24 19:52] Swalloow opened #1489 "[emr-containers] Add retries, state for JobRun"
**Is your feature request related to a problem?**
1. **JobRun state**
    JobRun is used to process batch or streaming jobs.
    State is required to manage the JobRun lifecycle.
    Ref: [SparkOperator - SparkApplicationStatus](https://github.com/GoogleCloudPlatform/spark-on-k8s-operator/blob/master/docs/api-docs.md#sparkoperator.k8s.io/v1beta2.SparkApplicationStatus
)

2. **JobRun retries**

[2022-09-27 15:06] vshunkov opened #1490 "IAM policy resource late initialization does not complete for `Description` field"
**Describe the bug**
Hello team, we recognised that iam-controller does not sync properly iam-policy resource and causing constant reconciliation with message "Late initialization did not complete, requeuing with delay of 5 seconds", full log attached bellow.

**Steps to reproduce**
Deploy iam policy with iam-controller, check resource status.

**Expected outcome**
IAM policy resource state synced

[2022-09-27 15:58] A-Hilaly commented on #1490
Hi @vshunkov could you provide an example of a resource that's triggering this error message?

[2022-09-27 22:41] #1480 closed

[2022-09-28 07:20] vshunkov commented on #1490
Hi @A-Hilaly, here you are [policy.txt](https://github.com/aws-controllers-k8s/community/files/9662408/policy.txt)

[2022-09-28 12:36] rj425 opened #1491 "Creating SNS subscription with SQS Protocol"
I have a SNS topic and SQS queue. I would like to have my SQS queue subscribed to SNS topic. I have looked at the list of CRDs that SQS and SNS controller offer. But i am unable to find the right CRD that can help me do so.

What have i tried so far:
- I created a subscription object from the AWS console to understand the configuration changes that takes place in the policy. I tried to make these

[2022-09-28 15:43] brycahta commented on #1202
`updateTags` is available as of [`v0.0.20`](https://github.com/aws-controllers-k8s/ec2-controller/releases/tag/v0.0.20). Referencing for `UserIDGroupPair` can be opened as its own issue/request and implemented post-GA.

[2022-09-28 15:43] #1202 closed

[2022-09-28 16:31] brycahta opened #1492 "`Instance` resource contains ACK Service Tags in `Spec.Tags` upon creation"
**Describe the bug**
I create an `Instance` tagged with `producer: ACK` via _ec2-controller_ and when I inspect the resource `Spec.Tags` contains 3 tags, **ACK Service tags** + my tag:

[code]

**Steps to reproduce**
* run `ec2-controller v0.0.20` or later
* `kubectl apply -f` [`instance-test.yaml`](https://github.com/aws-controllers-k8s/ec2-controller/blob/main/test/e2e/resources/instance.yaml)
*

[2022-09-28 16:33] brycahta commented on #1492
related: https://github.com/aws-controllers-k8s/community/issues/1291

[2022-09-28 17:20] acornett21 opened #1493 "Latest EC2 Controller Forces `tags` to be in CRs"
**Describe the bug**
With the latest release of the EC2 controller, [tags](https://github.com/aws-controllers-k8s/ec2-controller/blob/main/apis/v1alpha1/vpc.go#L83-L86) were added to the VPC CR. With this addition, the controller now fails if a user does not give the `tags` attribute when applying the CR.

**Steps to reproduce**
1. Install the operator on OpenShift (I assume the same issue is on k

[2022-09-29 16:54] ryansteakley opened #1494 "Sagemaker PipelineExecution"
**Is your feature request related to a problem?**
Pipeline Execution Operations

* [StartPipelineExecution](https://docs.aws.amazon.com/sagemaker/latest/APIReference/API_StartPipelineExecution.html)  - > Create (Creates a pipelineExeuctionArn unique identifier)
* `StopPipelineExecution` → Delete
* `UpdatePipelineExecution` → Update
* `DescribePipelineExecution`  → Describe
* `RetryPipelineExecutio

[2022-09-29 17:37] brycahta commented on #1493
Hi @acornett21 , I'm testing on my EKS cluster with `ec2-controller v0.0.20` and **cannot reproduce** the issue. I'm not too familiar with OpenShift-- is the Operator using the latest controller version?

[code]

[2022-09-29 17:37] brycahta commented on #1493
+1 , improvements to e2e tests are ongoing; I'll be sure to include this.

[2022-09-29 18:36] surajkota commented on #1494
Some more information,

Each pipeline execution is a 1-1 mapping which has a resource identifier(ARN) in SageMaker. The resource once created has a states like `'Executing'|'Stopping'|'Stopped'|'Failed'|'Succeeded'` which is similar to a TrainingJob resource in SageMaker.

We are not planning to support retry, only plan to support CRUD operations. User creates new CRs if they want to retry. (altho

[2022-09-29 19:34] acornett21 commented on #1493
The OpenShift operator is packaged on release of the controller code, so whatever is in the controller image for the runtime version, it's the same in OpenShift as k8s. Are any flags/params to pass to the controller to get more logs other than the `400 bad request`?

[2022-09-29 22:08] acornett21 commented on #1493
@brycahta How are you deploying into your k8s cluster? Helm or k8s manifests?

[2022-09-30 16:55] brycahta commented on #1493
If you have the **code locally**, I usually use this `go` command:

[code]

If you're installing from **helm**:

[code]

[2022-09-30 16:59] brycahta commented on #1493
I'm using k8s manifest. I have the code checked out, use `go run` command above, then  `kubectl apply -f vpc-test.yaml`  (manifest in first comment)

[2022-09-30 17:02] vardhanv opened #1495 "S3 Endpoint Configuration"
**Is your feature request related to a problem?**
I want to use the AWS S3 operator with an onperm S3 storage, and need to be able to configure the S3 endpoint, but the S3 configuration spec does not allow an S3 endpoint to be created.

**Describe the solution you'd like**
Add a configuration to allow an S3 endpoint that is not AWS

**Describe alternatives you've considered**
No alternatives

[2022-09-30 17:03] jaypipes commented on #1490
Apologies on delayed response... Still digging out from hurricane...

Can you please paste the results of kubectl describe? Thanks!

On Wed, Sep 28, 2022, 3:20 AM vshunkov ***@***.***> wrote:

[2022-09-30 18:25] A-Hilaly commented on #1495
Hi @vardhanv you can set a service endpoint by passing the `--aws-endpoint-url` flag. If you're deploying your controller using helm, you can set this value https://github.com/aws-controllers-k8s/s3-controller/blob/main/helm/values.yaml#L52

[2022-09-30 19:45] acornett21 commented on #1493
Here is some more info for the requests that end up in AWS...I think `tagSpecificationSet` is always being included in the request and on OpenShift it would be empty
[code]

    and on k8s it is not
[code]

    since the k8 install is would have the below values
    https://github.com/aws-controllers-k8s/ec2-controller/blob/main/config/controller/deployment.yaml#L69
    feed into the controller, b

[2022-10-01 05:15] srikanthmalyala opened #1496 "Add installation and example for aws ack elastic cache"
** https://github.com/aws-controllers-k8s/elasticache-controller**

[2022-10-01 10:54] A-Hilaly commented on #1496
Hi @srikanthmalyala we have documented the steps for installing an ACK controller, please refer to https://aws-controllers-k8s.github.io/community/docs/user-docs/install/

[2022-10-01 16:18] srikanthmalyala commented on #1496
Yes I see it, thank you but I didn’t find any document for elastic cache CRD resource examples.

[2022-10-02 07:53] neeltom92 opened #1497 "Custom Lambda using AWS Controllers for Kubernetes"
I'm using[ Serverless framework ](https://www.serverless.com/) with CICD built around Jenkins to deploy my Lambda.
Serverless yaml has provision to add triggers like API gw and Env variables etc for the Lambda Im using.

Trying to explore ACK for Lambda and was checking  [this Doc ](https://aws.amazon.com/blogs/compute/deploying-aws-lambda-functions-using-aws-controllers-for-kubernetes-ack/ ) to s

[2022-10-03 10:28] redradrat opened #1498 "Custom Endpoint not used during initial Account fetch"
**Describe the bug**
The initial account id check does not take into account a customized session config.

https://github.com/aws-controllers-k8s/runtime/blob/ae946aa1e0dd309db0064c2c347b724074725c60/pkg/config/config.go#L165-L167

Specifically the session creation here, without taking into account a custom awscfg is the issue:
https://github.com/aws-controllers-k8s/runtime/blob/ae946aa1e0dd309db0

[2022-10-03 15:07] brycahta commented on #1493
@acornett21 appreciate the help with deep diving this. I'm looking more on my end and [`runtime::GetDefaultTags`](https://github.com/aws-controllers-k8s/runtime/blob/ae946aa1e0dd309db0064c2c347b724074725c60/pkg/runtime/tags.go#L81) seems like it can handle nil config values for `ResourceTags`. However, the [configuring-default-tags documentation](https://github.com/aws-controllers-k8s/community/bl

[2022-10-03 15:40] vijtrip2 commented on #1493
I will take a look at complete issue later today. But i can clarify the default behavior below:

If you do not provide any command-line override for resource tags during helm installations, these [defaults from helm values.yaml ](https://github.com/aws-controllers-k8s/code-generator/blob/main/templates/helm/values.yaml.tpl#L75) are used. ACK team wanted this to be default controller behavior.

A p

[2022-10-03 17:15] jaypipes commented on #1494
@ryansteakley @surajkota seems fairly straightforward and similar to `TrainingJob` to me... Ryan, did you need assistance generating the resource manager for `PipelineExecution` resources?

[2022-10-03 17:38] acornett21 commented on #1493
This is the confusing part for me, if we say that `CR.Tags` is `optional` then give a `default` value, then the field is _not_ `optional` it's a _required_ field with a `default value`.

If we need a `default` value in OpenShift as well, the `olm` [template](https://github.com/aws-controllers-k8s/code-generator/blob/main/templates/config/controller/olm-kustomization.yaml.tpl) would need to change

[2022-10-03 22:09] vijtrip2 commented on #1493
Good feedback, @acornett21 . During the release of this feature i did not test with open-shift, and forgot to take it's behavior and templates into account. I primarily focussed on customer behavior with helm installations. It's a good learning.

@A-Hilaly , will it be it alright if i explain the issue to you offline and you can own the fix?

[2022-10-03 22:31] acornett21 commented on #1493
@vijtrip2 No worries The template update would look something like this

[code]

but not sure how these values would be populated (ie code olm.go) or during the build process (olm sh files). Let me know if you all need more help.

[2022-10-04 07:42] #1497 closed

[2022-10-04 14:57] vshunkov commented on #1490
Hi @jaypipes,

I hope none of your loved ones got hurt. Here is [describe output](https://github.com/aws-controllers-k8s/community/files/9708048/describe.txt).

Regards,
Vladimir.

[2022-10-04 16:43] ryansteakley commented on #1494
@jaypipes Thanks, don't currently need help on it.

[2022-10-05 15:20] dalbhanj commented on #1452
Closing this issue since the tutorial is merged

[2022-10-05 15:20] #1452 closed

[2022-10-05 15:22] Swalloow commented on #1452
Hi @dalbhanj, I create GitHub issue here. https://github.com/aws-controllers-k8s/community/issues/1489
Thanks

[2022-10-05 21:33] RedbackThomson commented on #1494
You might want to think about what customers expect here. I imagine that creating a single pipeline execution, and then it fails, they would delete the resource (`kubectl delete`) and then recreate it, in which case you wouldn't restart it?

(I see @surajkota has already spoken about this, but that's my $0.02)

[2022-10-06 00:47] riddhi2910 opened #1500 "ack dynamodb v0.1.6 not able to update status."
**Describe the bug**
Dynamodb controller (v0.1.6) is not able to update `Dynamodb table status`

Debug logs:
Error: ```2022-10-06T00:41:43.260Z	DEBUG	ackrt	< r.patchResourceStatus	{"account": "", "role": "", "region": "us-east-1", "kind": "Table", "namespace": "preview", "name": "batchjob", "is_adopted": false, "generation": 1}
2022-10-06T00:41:43.260Z	DEBUG	ackrt	requeueing	{"account": "", "role"

[2022-10-06 16:09] RedbackThomson commented on #1481
I feel like this discussion is inline with a previous issue - https://github.com/aws-controllers-k8s/community/issues/1381

[2022-10-06 16:26] brycahta commented on #1493
**root cause** for the invalid request is hook code in _ec2-controller_, specifically [`updateTagSpecificationsInCreateRequest`](https://github.com/aws-controllers-k8s/ec2-controller/blob/5414fc242d29af59309b4191b5a085439bf8730a/pkg/resource/vpc/hooks.go#L411):
[code]

This is always assigned even if `desiredTagSpecs` is empty. The **fix** will be to update all resources' hook code to move this as

[2022-10-06 17:55] jaypipes commented on #1490
@vshunkov OK, there's at least a couple bugs that I've found. The first is that the delta comparison for Tags is incorrectly returning a difference between lists that contain identical structs but are ordered differently. The fix for this bug will avoid the repeated lines in the controller log that look like this:

[code]

The controller isn't actually calling any AWS APIs for changing tags, but i

[2022-10-06 20:53] cogren1 opened #1501 "Final Snapshot Creation on RDS DB Deletion"
**Is your feature request related to a problem?**
We lost a database once via a manifest getting deleted. We got lucky in that the data loss was not a major problem, but it would have been a huge problem for other databases we have. As automated backups are deleted with the database, it would be a lot more reassuring if we could set it to create a final snapshot on deletion.

**Describe the soluti

[2022-10-06 22:02] #1204 closed

[2022-10-07 09:45] embano1 opened #1502 "Document `generator.yaml` schema"
Bootstrapping a new controller which requires customization via `generator.yaml`, e.g. to override methods, is not clearly documented. Slack discussion: https://kubernetes.slack.com/archives/C0402D8JJS1/p1665057847630139

**What is the URL of the document?**

Perhaps should go here (https://aws-controllers-k8s.github.io/community/docs/contributor-docs/building-controller/) or a new page where we d

[2022-10-07 12:15] jaypipes opened #1503 "IAM controller improperly determining delta in Tags"
As discovered in #1490, the IAM controller is erroneously considering two identical lists of tag structs (identical, save for the ordering, which does not matter) as different in the Delta comparisons.

Write a custom comparator for lists of tag structs that ignores ordering differences.

[2022-10-07 12:16] jaypipes commented on #1490
OK, awesome. You can use that as a workaround in the meantime while I fix the IAM controller's late initialization of the `Description` field. I've also created a new issue (#1503) for the tag comparison bug.

[2022-10-07 16:42] jaypipes commented on #1500
@A-Hilaly Synced state should only be True if tableStatus == 'ACTIVE'

[2022-10-08 10:45] srikanthmalyala opened #1504 "Aws elastic cache - Enable log delivery using CRD’s"
enabling log delivery for cache engine and slow log for aws elastic cache
It would be good to have if we can enable the log delivery to log systems like cloud watch via CRD configuration.

It’s not ideal to configure it manually.

[2022-10-10 10:25] A-Hilaly commented on #1313
/lifecycle frozen

[2022-10-11 15:08] A-Hilaly commented on #1367
/lifecycle frozen

[2022-10-12 15:23] brycahta commented on #1492
Resolved after introducing a [workaround](https://github.com/aws-controllers-k8s/ec2-controller/blob/5414fc242d29af59309b4191b5a085439bf8730a/pkg/resource/instance/sdk.go#L633-L638) to maintain `Tags` order and refactoring `Tags` [e2e test](https://github.com/aws-controllers-k8s/ec2-controller/blob/main/test/e2e/tests/test_instance.py#L193-L196) to validate service tags are NOT in the `Spec`

[2022-10-12 15:23] #1492 closed

[2022-10-12 17:09] jaypipes commented on #1203
Closing as completed.

[2022-10-12 17:09] #1203 closed

[2022-10-13 18:20] dalbhanj commented on #1439
closing due to PR merge

[2022-10-13 18:20] #1439 closed

[2022-10-13 20:22] cogren1 opened #1505 "sseAlgorithm isn't Parsing as Expected"
**Describe the bug**
I have the following spec for adding encryption to a bucket:
[code]
It produces the following condition:
[code]
This error only appears when `sseAlgorithm` is present, which it has to be if `applyServerSideEncryptionByDefault` is present. I tried every permutation I could think of as a value. I made sure that the key itself is able to be used by the right IAM roles, although t

[2022-10-15 18:59] yaroslavkasatikov opened #1506 "S3 Controller and Minio"
Hi team,

Would it be possible to configure s3-controller and MiniO (or other s3 solution)?

I tried to change endpoint URL but got error:

2022-10-15T18:55:56.183Z        ERROR   setup   Unable to create controller manager     {"aws.service": "s3", "error": "unable to determine account ID: unable to get caller identity: InvalidClientTokenId: The security token included in the request is invalid.\

[2022-10-16 18:00] A-Hilaly commented on #1506
Hi @yaroslavkasatikov i'm don't think minio and s3 control plane APIs are compatible. s3-controller is expected to talk to the s3 API.

[2022-10-17 07:59] chakch opened #1507 "add subnetRefs and vpcSecurityGroupRefs for mq broker"
**Is your feature request related to a problem?**

To create a MQ controller, I need to provide securityGroupId and subnetIds. It's more flexible to provide subnets and SGs name

**Describe the solution you'd like**
add a new fields in the broker spec:
[code]

[2022-10-17 10:37] sudohikumar opened #1508 "Support for Key Rotation in KMS ACK Controller"
**Is your feature request related to a problem?**
As there is already a support of Key Rotation in [cloudformation](https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-resource-kms-key.html#aws-resource-kms-key-properties) and [terraform](https://registry.terraform.io/providers/hashicorp/aws/latest/docs/resources/kms_key), there should also be a feature parity in ACK Controller.
Hen

[2022-10-17 15:48] nonoy-suguitan opened #1509 "End-to-end (e2e) tests for the ACK service controller for EKS fails to clean up VPC resources that were created during test bootstrapping."
**Describe the bug**
As part of the e2e testing for the EKS, AWS VPC resources are generated during the bootstrapping step.
The last step of testing, which attempts to clean up the generated resources, fails due to dependency errors:

[INFO] Running test cleanup ...
INFO:root:🧹 Cleaning up resources ...
INFO:root:Attempting cleanup Role
INFO:root:Successfully cleaned up Role
INFO:root:Attempting c

[2022-10-17 21:33] knguyenst opened #1510 "Missing recommended-inline-policy"
Per documentation at https://aws-controllers-k8s.github.io/community/docs/user-docs/irsa/  - the following file is missing from the repo:

https://raw.githubusercontent.com/aws-controllers-k8s/kms-controller/main/config/iam/recommended-inline-policy

[code]

Thus INLINE_POLICY is empty - what is the recommended inline policy - anyone?

[2022-10-17 22:40] A-Hilaly commented on #1510
Hi @knguyenst for kms-controller we have [recommended-policy-arn](https://github.com/aws-controllers-k8s/kms-controller/blob/main/config/iam/recommended-policy-arn) :)

[2022-10-17 22:43] A-Hilaly commented on #1509
Hi @nonoy-suguitan , thank you for reporting this. It's a little bit surprising because we have a lot of other controllers who are using the same bootstrapping constructs.. and do not experience any clean up errors. Were you able to reproduce these errors more than one time?

[2022-10-17 23:09] A-Hilaly commented on #1505
Hi @cogren1 , thank you for raising this issue. I just checked the code setting the "Encryption" request and it looks good to me https://github.com/aws-controllers-k8s/s3-controller/blob/main/pkg/resource/bucket/sdk.go#L936-L956. Just to understand whether this bug is ACK specific or not, can you please try to create a bucket with the same configuration using CDK, CF or CLI? If you get the error b

[2022-10-17 23:10] A-Hilaly commented on #1504
/cc @aws-controllers-k8s/elasticache-maintainer

[2022-10-17 23:11] nonoy-suguitan commented on #1509
Hi @A-Hilaly,
Yes, I've execute the EKS e2e testing multiple times, and they all produced the same errors.
However, the manual process of cleaning up the VPC resources using the AWS management console differs.
In one case, I was able to clean up VPC resources from the VPCs page > Actions > Delete VPC.
In another case, the above actions fails due to an ENI resource still attached to one of the subn

[2022-10-18 00:27] A-Hilaly commented on #1509
Thank you @nonoy-suguitan , looks like this is something we also have in our prow job for eks-controller e2e tests https://prow.ack.aws.dev/view/s3/ack-prow-logs/pr-logs/pull/aws-controllers-k8s_eks-controller/51/eks-kind-e2e/1569459373091065856

[2022-10-18 07:33] A-Hilaly commented on #1500
Fixed in `dynamodb-controller` `v0.1.7`
/close

[2022-10-18 07:44] chakch opened #1511 "EC2: support SecurityGroup IDs in ingress and egress rules"
**Is your feature request related to a problem?**
when I create a security group, I want to specify a rule based on other security group

**Describe the solution you'd like**
in the securitygroup spec, we can add in the rule:
ingressRules/EgressRules:
- fromPort: integer
  ipProtocol: string
  ipRanges:
  - cidrIP: string
    description: string
  ipv6Ranges:
  - cidrIPv6: string
    description:

[2022-10-18 09:39] A-Hilaly commented on #1511
Hi @chakch , QQs:

1- is this something supported by CF/CDK or the CLI?
2- Could you provide complete manifests for the current experience and the one you'd like to have? because i can't find securityGroupIDs in the [IPrange struct](https://github.com/aws-controllers-k8s/ec2-controller/blob/main/apis/v1alpha1/types.go#L1512-L1521)

[2022-10-18 11:58] a-hilaly opened #1512 "Goroutine leak in `aws-sdk-go` library"
@embano1 brought to our attention this issue that reported a goroutine leak in the `aws-sdk-go` library see https://github.com/aws/aws-sdk-go/issues/3606. It looks like the bug was fixed in `aws-sdk-go-v2` but no the v1 library. We need to bring this in our next community meeting 10-20-22.
/cc @aws-controllers-k8s/runtime-maintainer

[2022-10-18 13:16] chakch commented on #1511
hi @A-Hilaly I not in the IP range section (sorry for that), it's on the ingress section
fromPort: integer
securityGroupIDs:
    - string
securityGroupRefs:
    - from:
      name: string
In the cloudformation, https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-properties-ec2-security-group-rule-1.html we can provide https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aw

[2022-10-18 13:28] matteo-magni opened #1513 "InvalidParameterCombination error when creating ReplicationGroup with cluster mode enabled"
**Describe the bug**
A cluster-enabled `ReplicationGroup` with 2 (or more) nodes would fail if created along with its `CacheParameterGroup`.
The `CacheParameterGroup` gets created and, before it can set the actual value for the `cluster-enabled` parameter, the ACK controller attempts to create the `ReplicationGroup`. This leads to a non-recoverable error (ACK.Terminal is "True") because the `Repli

[2022-10-18 19:03] Vandita2020 opened #1514 "Errorneous generated code for `ResolveReferences` for nested non array types"
**Describe the bug**
While generating the code for references for the Lambda function, specifically more for the S3 bucket field, we observe that there is like use of array keywords with a non-array field which is like len(S3.Bucket) which is incorrect. While doing some debugging we found that there was some missing if-else conditions, a specific case where this should be handled.

Trying to run t

[2022-10-18 19:04] Vandita2020 commented on #1514
\assign

[2022-10-18 19:05] Vandita2020 commented on #1514
/assign

[2022-10-19 07:50] A-Hilaly commented on #1356
/remove-lifecycle stale

[2022-10-19 14:10] A-Hilaly commented on #1511
Hi @chakch thank you for the clarification! Looks like to support this we need to add a custom field and make extra [`{Authorize/Revoke}SecurityGroupIngress` API Calls](https://docs.aws.amazon.com/AWSEC2/latest/APIReference/API_AuthorizeSecurityGroupIngress.html).
/cc @LikithaVemulapalli

[2022-10-19 14:12] A-Hilaly commented on #1509
Looks like ec2 e2e tests are also impacted. Thank you for pointing out this @nonoy-suguitan

[2022-10-19 14:16] A-Hilaly commented on #1502
++ to document `generator.yaml`.

Adding two points here:
- We're having in mind the project of reworking all the configuration model so perhaps let's target this once sure about the design of next version. (#1184 and #1185)
- We could also start by generating some basic documentation by parsing the Go code comments :)

[2022-10-19 14:23] A-Hilaly commented on #1507
This fairly easy to implement, we gonna need to add something similar to https://github.com/aws-controllers-k8s/rds-controller/blob/main/generator.yaml#L124-L128 in rds-controller. Would you be down to give it a shot @chakch? :)

[2022-10-19 14:26] A-Hilaly commented on #1496
Sadly we do not have any examples regarding elasticache CRDs in https://github.com/aws-controllers-k8s/examples/tree/main/resources. However you can always check the samples used in elasticache e2e tests like https://github.com/aws-controllers-k8s/elasticache-controller/blob/main/test/e2e/snapshot/e2e.sh#L52-L73.
/cc @aws-controllers-k8s/elasticache-maintainer

[2022-10-19 14:26] A-Hilaly commented on #1496
Or even better you can take a look at the ACK generated API Reference docs https://aws-controllers-k8s.github.io/community/reference/elasticache/v1alpha1/cacheparametergroup/ :)

[2022-10-19 18:32] cogren1 commented on #1505
Your suggestion led me to the answer. According to the CLI documentation, "SSEAlgorithm" can be either "AES256" or "aws:kms". "SSE-KMS" is not a valid string despite being in a lot of places in AWS. My bucket has encryption now. Thank you for your help!

[2022-10-19 18:32] #1505 closed

[2022-10-20 20:35] sarasensible commented on #480
Is it possible to get a status on this?  Wondering if we are talking months away or years.

[2022-10-21 12:30] mcanevet commented on #1510
Maybe https://github.com/aws-controllers-k8s/kms-controller/blob/main/config/iam/recommended-policy-arn?

[2022-10-21 21:24] dalbhanj opened #1516 "[emr-containers] add test cases for configurationOverrides in JobRun"
**Is your feature request related to a problem?**
Its a feature for this PR: https://github.com/aws-controllers-k8s/emrcontainers-controller/pull/21

**Describe the solution you'd like**
add test cases for configurationOverrides in JobRun

[2022-10-21 22:54] chakch opened #1517 "Create a MQ broker in non-default vpc"
**Describe the bug**
I'm not able to create a broker in a different VPC than the default one

**Steps to reproduce**
Create an MQ broker using the following manifest:
apiVersion: mq.services.k8s.aws/v1alpha1
kind: Broker
metadata:
  name: my-broker
spec:
  name: my-broker
  autoMinorVersionUpgrade: false
  deploymentMode: SINGLE_INSTANCE
  engineType: RabbitMQ
  engineVersion: "3.9.16"
  hostInsta

[2022-10-23 18:11] embano1 commented on #1502
Yeah, there's certainly multiple levels of how to doc the `generator.yaml` structure. MVP IMHO would be to list all available fields/structs and give a short explanation of required/optional and use case.

[2022-10-24 13:49] a-hilaly opened #1518 "Rewrite elasticache controller e2e tests using `acktest` framework"
Currently elasticache e2e tests are still written in bash... To simplify and fasten the development process for this controller we need to rewrite those in python using `acktest` framework

A.C:
- rewriting all e2e tests in ack testing framework
- update the hooks, fix the generation instructions
- patching runtime & dependencies

/cc @aws-controllers-k8s/elasticache-maintainer

[2022-10-25 16:37] dalbhanj commented on #1516
added e2e tests in [PR](https://github.com/aws-controllers-k8s/emrcontainers-controller/pull/21)

[2022-10-25 16:37] #1516 closed

[2022-10-25 16:46] knguyenst commented on #1510
I'm good with it.  Was just wondering if the recommended policy is different than the one that is managed.

Special thanks

[2022-10-25 16:46] #1510 closed

[2022-10-25 17:46] riddhi2910 opened #1519 "`tableStatus: CREATING` when adding a global secondary index in the table using ACK DynamoDB Controller"
**Describe the bug**
While creating the Dynamodb table using ACK Dynamodb Controller we add a global secondary index, and it is causing the table's status to be not updated, and it stays in the `CREATING` mode.

[code]

**Steps to reproduce**

Table:

[code]

**Expected outcome**
A concise description of what you expected to happen.

**Environment**

* Kubernetes version 1.22
* Using EKS (yes/no),

[2022-10-25 17:47] gagan-eg commented on #1405
Yeah we also need this feature to allow setting up lambda's which are invoked by other AWS services.

[2022-10-25 17:48] riddhi2910 commented on #1519
@jaypipes

[2022-10-27 18:36] karmingc commented on #1413
apologies for the very late reply @A-Hilaly, I recently deployed `v0.1.2` to our cluster and the issue is still persisting...
I tried updating the description and the timeout but no changes reflected on the lambda...

Here's the event with
[code]

[2022-10-27 18:49] A-Hilaly commented on #1413
Ohh thank you for reporting this. Reopening and investigating soon :)
/reopen

[2022-10-27 21:22] A-Hilaly opened #1521 "Inform users about `NotImplemented` features using conditions"
Currently when a feature (e.g `sdkUpdate`) is not implemented, the controller will return an `ackerr.NotImplemented` error which is a simple `interface error {}` implementation. This can only be observed in the logs of the controllers and users will never be able to see this through the status of their resources.

We should be able to inform ACK users that a controller is not being able to update

[2022-10-27 21:23] A-Hilaly commented on #1521
Again thanks to @embano1 for bringing this to our attention.

[2022-10-28 05:14] dexye-apt opened #1522 "Failed to sync the DynamoDB resource"
**Describe the bug**
The DynamoDB table was created successfully, however the DynamoDB controller failed to sync the table.

Based on my tests, it only happens to `PAY_PER_REQUEST` table, the `PROVISIONED` table was synced successfully.

**Steps to reproduce**
[code]
The table was created successfully. The status is:
[code]
From the controller logs:
[code]

**Expected outcome**
Resource synced suc

[2022-10-28 06:58] embano1 commented on #1281
+1 on this (though `SYNCED` is already there with `print.add_synced_column: true` now.
Would love to see this feature so I can reference "arbitrary" fields of the resource (from `spec` and `status`), e.g. `ARN` or [`state`](https://docs.aws.amazon.com/eventbridge/latest/APIReference/API_PutRule.html#API_PutRule_RequestSyntax) from an EventBridge `rule` and project it into a printer column.

I rais

[2022-10-28 13:51] aljoshare opened #1523 "[S3] The status field of the lifecycle rules is required"
**Describe the bug**
The documentation says that the status field of the lifecycle rules is optional but in fact it is required. It needs to be set to Enabled or Disabled.

Documentation: https://aws-controllers-k8s.github.io/community/reference/s3/v1alpha1/bucket/
![image](https://user-images.githubusercontent.com/12294054/198621959-e3f1bc46-0b5b-4726-868b-e247c5a4355f.png)

Error message:
[code]

[2022-10-31 16:47] jljaco commented on #747
Are there any other examples of AWS resources that can be adopted cross-region but not deleted (or updated) cross-region?

[2022-11-01 13:42] csantanapr opened #1524 "[doc] API Reference rds DBInstance spec vpcSecurityGroupRefs is array"
**What is the URL of the document?**

https://aws-controllers-k8s.github.io/community/reference/rds/v1alpha1/dbinstance/

**Which section(s) is the issue in?**

DBInstance spec

**What needs fixing?**

The field `vpcSecurityGroupRefs` and is missing the `-` to indicate is an array
![image](https://user-images.githubusercontent.com/1094878/199247418-9068807e-8377-4944-b861-89475fd5b35e.png)

[2022-11-01 13:43] csantanapr commented on #1524
I was trying to find where is this content in the doc repo but I was not able to find it, if you let me know I can submit a PR

[2022-11-01 13:47] csantanapr opened #1525 "[doc] Table of spec field description is malformed"
**What is the URL of the document?**

https://aws-controllers-k8s.github.io/community/reference/rds/v1alpha1/dbinstance/

**Which section(s) is the issue in?**

Table of field descriptions for DBInstance, starting at `processorFeatures.[]`

**What needs fixing?**

table is corrupted starting from this point

**Additional context**

![image](https://user-images.githubusercontent.com/1094878/1992483

[2022-11-01 15:49] csantanapr opened #1526 "AmazonMQ broker not sync due to permission problem ec2:ModifyNetworkInterfaceAttribute"
**Describe the bug**
Trying to create Amazon MQ for new EKS workshop using ACK, and resources doesn't sync correctly.

Trying to create broker on the same VPC as the EKS cluster, using private subnet, and creating security group.

**Steps to reproduce**

Create Security Group
[code]

Create Broker
[code]

**Expected outcome**
Resource to be sync

**Environment**
Installed MQ controller, and setup

[2022-11-01 16:03] csantanapr opened #1527 "AmazonMQ to add support for vpcSecurityGroupRefs and subnetRefs fields spec subnetRefs"
**Is your feature request related to a problem?**
I'm frustrated when [...] :-)
I'm trying to create a AmazonMQ with a security group and subnet.
The securityGroup and Subnet I'm creating with ACK EC2 controller https://aws-controllers-k8s.github.io/community/reference/ec2/v1alpha1/securitygroup/

I want to be able to reference the resources created with ACK when creating the Broker.
I'm able to d

[2022-11-01 16:30] csantanapr commented on #1527
Duplicate of https://github.com/aws-controllers-k8s/community/issues/1507

[2022-11-01 16:30] #1527 closed

[2022-11-01 21:26] jljaco commented on #1502
/assign

[2022-11-01 21:38] TheRockyOng opened #1528 "Creating SNS FifoTopic"
**Is your feature request related to a problem?**
Currently SNS FifoTopic doesn't seem to be supported in the sns-controller

**Describe the solution you'd like**
Ability to create FifoTopic using sns-controller

[2022-11-02 17:23] A-Hilaly opened #1529 "Resources references for AMP controller"
**Is your feature request related to a problem?**

Pieces of the AMP controller can have resources that it may need to reference. For example, an AMP `Workspace` can be referenced in `RuleGroupsNamespace`

**Describe the solution you'd like**

Here are a list of refs that can be added in each of the CRD specs:

`AlertManagerDefinition`
* `spec.workspaceID` from `workspace.status.workspaceID`

`Rul

[2022-11-02 17:30] A-Hilaly opened #1530 "Support `LoggingConfiguration` for AMP Workspace resources"
Recently AMP added support for Workspace logging configuration. We need to support that in the prometheusservice-controller as well.
There are two possible solutions:
- Adding a new field to the `Workspace` allowing users to attach a logging configuration to an existing workspace.
- Introducing a new resource called `LoggingConfiguration`

Second option matches better the existing model we have in

[2022-11-02 18:40] A-Hilaly commented on #1413
Hi @karmingc , i am not able to reproduce the same bug with the latest version of lambda-controller.
Here is the function manifest i'm deploying
[code]
I run `kubectl edit functions` and change memory to 256, timeout to 5 and the description.

Executing `aws lambda get-function --function-name ack-img-function --region eu-west-2` shows that the fields have been updated correctly.

Am I missing som

[2022-11-02 18:44] A-Hilaly commented on #1405
I discussed with few folks from the lambda team about this issue. Looks like it's gonna be more complicated to support `Permissions`, `ProvisionConcurencyConfig` and `FunctionInvokeConfig` than i initially thought. I will create a Github issue explaining why and how are we going to support them.

[2022-11-02 18:47] A-Hilaly commented on #1528
Currently we are not able to regenerate the sns-controller and any new resource because of the issues mentioned in https://github.com/aws-controllers-k8s/community/issues/1292

[2022-11-02 18:48] A-Hilaly commented on #1491
Currently we are not able to regenerate the sns-controller/sqs-controller and any new resource because of the problems mentioned in https://github.com/aws-controllers-k8s/community/issues/1292

[2022-11-02 18:51] A-Hilaly commented on #1526
We have to update the iam recommended policy to be a `recommended-inline-policy` like we have here https://github.com/aws-controllers-k8s/lambda-controller/blob/main/config/iam/recommended-inline-policy

[2022-11-02 19:22] rocky1201 commented on #1292
@jaypipes jsut curious what the status of this issue is. Looks like this is still a hard blocker for the SNS and SQS controller? Our team is adopting ACK as much as possible, would be cool to understand if there is a light at the end of the tunnel on SNS and SQS controller

[2022-11-02 21:38] karmingc commented on #1413
Hi @A-Hilaly,

I can confirm that using `kubectl edit functions`, it does update function. However, I'm actually deploying this k8s manifest through helm and i'm not quite sure why it's not propagating when doing so with `helm upgrade`... I'll look into it, but if you have any suggestions, happy to listen!

[2022-11-02 22:22] A-Hilaly commented on #1413
May I ask what version of helm are you using? one thing i would start with is checking the output using `helm cmd --dry-run`

[2022-11-02 23:21] A-Hilaly commented on #1525
Good catch! thank you @csantanapr.
Looks like the rendered HTML is broken at the `processorFeatures.[]` and `dbParameterGroups.[]` fields. A good starting point i would be to try to understand if what is the component responsible for this issue.
- [`community-docs-release`](https://prow.ack.aws.dev/?job=community-docs-release) is the prow job publishing the docs
- We use [`docs-2.json`](https://gi

[2022-11-02 23:24] A-Hilaly commented on #1524
The documentation is released in: https://github.com/aws-controllers-k8s/community/tree/gh-pages by `community-docs-release` prow job, that executes at somepoint [gen_references.py](https://github.com/aws-controllers-k8s/community/blob/main/docs/scripts/gen_reference.py) (which uses a jinja template here https://github.com/aws-controllers-k8s/community/blob/main/docs/scripts/templates/resource.jin

[2022-11-03 01:17] A-Hilaly commented on #1376
/lifecycle-frozen

[2022-11-03 01:18] A-Hilaly commented on #1376
/lifecycle stale

[2022-11-03 01:18] A-Hilaly commented on #1376
/remove-lifecycle stale

[2022-11-03 13:46] karmingc commented on #1413
We use version `v3.5.3` and I'm able to see that the manifest deployed on the server are indeed updated..

[code]

However, on the actual lambda itself, it's still the original value of 10 seconds for timeout and the original description.

[2022-11-03 14:24] karmingc commented on #1413
Ah I should specify that we are using `helm upgrade` command... After a bit of searching, found this old answer that Helm uses the [Patch API](https://github.com/helm/helm/issues/5915#issuecomment-505389394). Though, I was converted my yaml file to json and applied the `patch` using `kubectl patch function <function_name> --patch-file lambda.json --type merge` and the lambda config changes updated

[2022-11-03 17:17] dalbhanj commented on #1445
We can close this issue bcoz workaround fix is deployed via PR

[2022-11-03 17:17] #1445 closed

[2022-11-04 13:57] tirelibirefe opened #1531 "Multi-AZ DB cluster parameter?"
Hello,
I don't know ACK RDS Controller supports Multi-AZ DB cluster or not. It looks like ACK pretends support multi-AZ DB cluster but I couldn't have found any installation parameters. I would like to install a multi-AZ DB cluster but have been looking for the necessary parameter in documentation. It would be nice if you can put cpl of sentence explain this.

Thanks & Regars

[2022-11-04 16:27] kennethredler commented on #628
Existing solutions allow AWS Secrets to be exposed as k8s secrets.

- [`external-secrets` Operator](https://external-secrets.io/v0.6.1/provider/aws-secrets-manager/)
- [AWS Secrets Manager and Config Provider for Secret Store CSI Driver](https://github.com/aws/secrets-store-csi-driver-provider-aws#aws-secrets-manager-and-config-provider-for-secret-store-csi-driver)

Nice gap to fill first might be

[2022-11-04 17:47] A-Hilaly commented on #1383
/lifecycle frozen

[2022-11-04 23:28] A-Hilaly commented on #1531
Hi @tirelibirefe currently Multi-Az DB Cluster is not supported due to https://github.com/aws-controllers-k8s/community/issues/1376 - please subscribe to this issue to know get notified when the bug is fixed.

[2022-11-04 23:28] #1531 closed

[2022-11-04 23:29] A-Hilaly commented on #1517
Hi @chakch are you able reproduce this issue using CDK or aws cli? just trying to understand if this ACK related or an API behaviour

[2022-11-05 00:27] A-Hilaly opened #1532 "Ability to set an SDK input from a specific CR field"
**Is your feature request related to a problem?**
Currently it is not possible to instruct the code-generator to set a set the input of an sdk operation from a specific field. How ever is it possible to set a CR field from a specific sdk operation output. Using something like:
[code]

**Describe the solution you'd like**
The same way i would like to be able to set an sdk input using a specific fie

[2022-11-05 04:11] askulkarni2 commented on #1417
This would help with IRSA annotations for `ServiceAccount`.

[code]

[2022-11-05 14:18] nstogner opened #1533 "Force Destroy S3 Buckets"
**Is your feature request related to a problem?**

Destroying S3 buckets with objects in them requires automation outside of ACK.

**Describe the solution you'd like**

It would be nice to have a force-destroy option for s3 buckets. Something similar to the force-destroy directive in GCP [Storage Bucket](https://cloud.google.com/config-connector/docs/reference/resource-docs/storage/storagebucket).

[2022-11-05 14:19] nstogner commented on #1533
This would prevent issues like https://github.com/aws-controllers-k8s/community/issues/1487

[2022-11-05 14:39] nstogner opened #1534 "Bundled Controller Manager"
**Is your feature request related to a problem?**

Installing a controller per AWS service is tedious and resource inefficient.

**Describe the solution you'd like**

Support an additional controller that bundles all service controllers into a single binary. This would allow for efficiency gains similar to the core kubernetes controller manager which shares caches, etc.

**Describe alternatives yo

[2022-11-05 22:02] #1295 closed

[2022-11-06 22:02] #1182 closed

[2022-11-07 00:57] A-Hilaly commented on #1417
I know that `ConfigMaps` and `Secrets` were designed for pods to consume, not for the other resources. What's worrying me here is extending the scope of ACK controllers permissions to be able to patch/edit more native resources such as externalname services.

The original idea was to keep ACK controllers permissions as tiny as possible (for both AWS side and k8s resources), i would like to hear mo

[2022-11-07 01:04] A-Hilaly commented on #1417
spec:
  to:
    name: myserviceaccount
    kind: ServiceAccount
    key: metadata.annotations[eks.amazonaws.com/role-arn]
  from:
    path: ".status.ackResourceMetadata.arn"
    resource:
      group: iam.services.k8s.aws
      kind: Role
      name: ack-irsa-role

@askulkarni2 Unfortunately the ACK FieldExport feature doesn't support exporting metadata annotations (which could be a good idea in t

[2022-11-07 07:45] #1494 closed

[2022-11-07 14:50] yarelm opened #1535 "Importing SNS controller as helm dependency fails"
**Describe the bug**
A concise description of what the bug is.

I'm trying to import the SNS controller as an [helm dependency](https://helm.sh/docs/topics/charts/#chart-dependencies).

It works well with other AWS ACK controllers (s3, dynamodb) but not with SNS.

**Steps to reproduce**

Add the following to `Chart.yaml`:
[code]

**Expected outcome**

`helm dependency build` works and then `helm i

[2022-11-07 18:10] LikithaVemulapalli commented on #1511
Hi @chakch, as per the [{Authorize/Revoke}SecurityGroupEgress API calls](https://docs.aws.amazon.com/AWSEC2/latest/APIReference/API_AuthorizeSecurityGroupEgress.html) `sourceSecurityGroupName` and `sourceSecurityGroupOwnerId` are not supported. We can add the SecurityGroup in the Egress rules using IPPermissions only. As per the existing functionality, we can add SecurtiyGroup in the Ingress/Egres

[2022-11-07 20:25] jljaco opened #1536 "Advisory condition for attempted modifications to immutable fields"
**Is your feature request related to a problem?**
Currently, if the user attempts to modify an immutable field (i.e., one generated from a configuration marked as `is_immutable: true` in `generator.yaml`), the system will return a Terminal Error (see [here](https://github.com/aws-controllers-k8s/code-generator/blob/f9ab7cca7c2ea2ac77d0c4d2dfeb0b42ade56f38/templates/pkg/resource/sdk_update.go.tpl#L

[2022-11-07 20:29] jljaco commented on #1536
/assign

[2022-11-07 21:06] jaypipes commented on #1536
yeah, it's a tricky one. I would agree with you if the code resets the `Spec.XXXField` back to its original pre-mutation value, but since the code is not currently doing that, I think `ACK.Terminal` is more appropriate than `ACK.Advisory` because `ACK.Terminal` means without changing something in the `Spec`, the resource will never be able to get to `ACK.ResourceSynced=True` state, which means the

[2022-11-07 23:26] jljaco commented on #1536
Won't do

[2022-11-07 23:26] #1536 closed

[2022-11-08 13:15] pankajingarud opened #1537 "Create multiple Database in Postgres RDS"
**Is your feature request related to a problem?**
We were trying to create multiple database through ACK for our product.But there is no such feature we can use for now.

**Describe the solution you'd like**
Currently dbName attribute is there through which we can create single database but Postgres has the ability to create multiple database and there is no attribute to add those directly. Can we

[2022-11-08 18:18] A-Hilaly commented on #1380
/remove-lifecycle rotten

[2022-11-08 18:19] RedbackThomson commented on #1534
I don't think we'll ever ship all of the controllers as a single binary, because it would change our permissions model. We like that each controller is managed under a separate service account and typically those are given permissions by separate IAM roles. Managing all controllers in a single pod would require a pod with essentially sudo AWS access.

However installing multiple controllers is an

[2022-11-08 18:26] RedbackThomson commented on #1533
I have a proposal out for semantics of destructive operations - https://github.com/aws-controllers-k8s/community/pull/1148/files#diff-6e6cfbb642a073caacb99831656bf31c1e6874113edf94122237ec99c52fa124

This proposal focuses more on whether to retain or delete the underlying AWS resource when an ACK resource is deleted, but I see parallels with this issue. We are always skeptical of putting configura

[2022-11-08 19:43] #1140 closed

[2022-11-08 22:18] jljaco commented on #1430
/assign

[2022-11-09 10:31] AljoschaP opened #1540 "[s3-controller] Improve description for id and status field of the bucket lifecycle spec"
**What is the URL of the document?**

https://aws-controllers-k8s.github.io/community/reference/s3/v1alpha1/bucket/#spec

**Which section(s) is the issue in?**

- lifecycle.rules.[].status
- lifecycle.rules.[].id

**What needs fixing?**

- lifecycle.rules.[].status
This field is described as optional but in fact its mandatory and needs to be set to `Enabled` or `Disabled.` As a user I would like t

[2022-11-09 11:09] rj425 opened #1541 "Unable to update tags for existing SQS queue"
**Describe the bug**
I have a SQS queue that has few tags already. On adding new tags to the `.spec.tags`, i can see the new tags appearing in manifest and everything. But, the AWS console shows otherwise. New tags are not reflected.

[code]

**Steps to reproduce**
- Create a queue
- Add new tags to that queue
- New tags don't appear in AWS console.

**Expected outcome**
New tags should appear in

[2022-11-09 14:33] karmingc commented on #1413
@A-Hilaly it seems that it's consistent with the IAM controller too when using the `upgrade` function with helm

[2022-11-09 14:52] csantanapr opened #1542 "FieldExport unable to export from secret to secret"
**Describe the bug**
I'm working on the ACK tutorial for the EKS Workshop, and hit this problem with both RDS and MQ

Following documentation best practices, I create a password in a "protected" namespace, then create a RDS DBInstance on this namespace with a reference to the password.

Then using FieldExports to export the DBInstance endpoint, username, and password to a secret in the "app" names

[2022-11-10 10:15] adm-mkarakas commented on #1531
Hello again,
If I install single-zone DBCluster by using ACK, will I be able to convert to multi-AZ DBCluster later after the [problem ](https://github.com/aws-controllers-k8s/community/issues/1376)is fixed ?

Thanks & Regards

[2022-11-10 10:17] tirelibirefe commented on #1531
Hello again,
If I install single-zone DBCluster by using ACK, will I be able to convert to multi-AZ DBCluster later after the problem is fixed ?

Thanks & Regards

[2022-11-10 10:17] tirelibirefe commented on #1376
Hello,
If I install single-zone DBCluster by using ACK, will I be able to convert to multi-AZ DBCluster later after the problem is fixed ?

Thanks & Regards

[2022-11-10 14:00] jaypipes commented on #747
@RedbackThomson @jljaco resurrecting this long-buried thread...

The correct behaviour should be that the controller creates a Session against the regional endpoint that the resource is in. All resources should have the `Status.ACKResourceMetadata.Region` field set to the region that the resource is in. We should be calling [`NewSession`](https://github.com/aws-controllers-k8s/runtime/blob/13496a8

[2022-11-10 16:20] embano1 opened #1543 "Immutable fields broken under certain operations"
As per a discussion with @A-Hilaly and @jaypipes here's a description of how immutable fields are currently broken under some circumstances and what we should do to fix them on the long term.

**Describe the bug**

Scenario: As a user, I want to make the `name` field of my `resource` immutable after object creation in the Kubernetes API.
Example:

[code]

When I do `kubectl edit eventbus ...` and

[2022-11-10 22:34] A-Hilaly commented on #1413
This is a normal behaviour. Helm upgrade will upgrade your controller (deployment, service etc..) but your lambda function is a separate resource. You'll have to manually trigger a reconciliation by updating one of the fields (description for example)

[2022-11-11 00:03] karmingc commented on #1413
Apologies, that's a typo, i'm referring to the custom resources, not the controller itself, such the IAM [role](https://aws-controllers-k8s.github.io/community/reference/iam/v1alpha1/role/) and IAM [policy](https://aws-controllers-k8s.github.io/community/reference/iam/v1alpha1/policy/).

[2022-11-11 11:01] sudohikumar opened #1544 "Add support for SourceSecurityGroupName and SourceSecurityGroupId in Ingress in EC2 SecurityGroup kind"
**Is your feature request related to a problem?**
As I understand from `AuthorizeSecurityGroupIngress` API, there is a request parameter `GroupName` and `GroupId ` which defines the name of the security group and ID of the security group respectively. This should also be present in ACK Controller in my opinion.
Right now, in Ingress, it takes an array of `IPPermission` object.
Cloudformation [refe

[2022-11-11 11:32] sudohikumar opened #1545 "Add support for RecordSet in Route53 controller"
**Is your feature request related to a problem?**
Route53 [API](https://docs.aws.amazon.com/Route53/latest/APIReference/API_ChangeResourceRecordSets.html) supports creating record sets.
This is missing from the Route53 controller.

**Describe the solution you'd like**
Add a new resource in Route53 controller for RecordSets.

**Describe alternatives you've considered**
None

[2022-11-11 15:22] jaypipes commented on #1508
This is completed.

[2022-11-11 15:22] #1508 closed

[2022-11-11 16:58] jaypipes commented on #1519
@riddhi2910 apologies for the super-long delay on this. Working on it now.

[2022-11-11 17:27] #1475 closed

[2022-11-11 17:35] A-Hilaly commented on #1474
Fixed https://github.com/aws-controllers-k8s/prometheusservice-controller/pull/18
/close

[2022-11-11 17:35] #1474 closed

[2022-11-11 17:47] jljaco commented on #433
/remove-lifecycle stale

[2022-11-11 17:48] jljaco commented on #835
/remove-lifecycle stale

[2022-11-11 17:49] jaypipes commented on #433
Closing this out as a duplicate of #1432 (and yes, I know this one is earlier than that one...)

[2022-11-11 17:49] #433 closed

[2022-11-11 17:51] jaypipes commented on #1432
rel: #835

[2022-11-11 22:33] A-Hilaly commented on #1426
/lifecycle frozen

[2022-11-12 15:11] Kras4ooo commented on #1423
@ramnamy This is just an example with `s3`

[code]

[2022-11-14 13:21] sudohikumar opened #1547 "Add support for Route API in EC2 controller"
**Is your feature request related to a problem?**
Add support for Route API in EC2 controller. This is in parity with [cloudformation](https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-resource-ec2-route.html) and [API](https://docs.aws.amazon.com/AWSEC2/latest/APIReference/API_CreateRoute.html).

**Describe the solution you'd like**
Add new resource for Route.

**Describe alterna

[2022-11-14 17:51] csantanapr commented on #1507
/assign

[2022-11-14 17:51] csantanapr commented on #1507
I'm currently working on this

[2022-11-14 21:07] #1507 closed

[2022-11-14 21:25] kyriechen96 opened #1549 "tags.go.tpl file in code-generator doesn't handle some edge cases"
**Describe the bug**
By using v0.20.1 version of code generator to generate controller, the function of ToACKTags cannot handle edge case of tag that both key and value are nil.

**Steps to reproduce**
applying yaml file:
[code]

**Expected outcome**
Controller works well.

**Outcome**
Controller stops running after applying a tag with nil key and nil value.

[2022-11-14 22:52] A-Hilaly commented on #1271
/remove-lifecycle stale

[2022-11-14 22:52] A-Hilaly commented on #1166
/remove-lifecycle stale

[2022-11-14 23:58] A-Hilaly commented on #1549
Fixed in  aws-controllers-k8s/code-generator#374

[2022-11-14 23:58] #1549 closed

[2022-11-15 00:02] A-Hilaly commented on #1542
Related #1417

[2022-11-15 05:27] timam opened #1550 "Can't deploy updated deployment package for Lambda with ACK"
**Describe the bug**
I have created a lambda fuction with ACK. I am using a file from s3 to deploy lambda.
Now, I have a new deployment package and want ack to deploy the new package. Unfortunately, ack is giving me following error.
[code]

**Steps to reproduce**
Create deployment package and upload it to s3
Create a lambda fuction with ACK with newly updated deployment package to s3
Make any code

[2022-11-15 16:45] A-Hilaly commented on #1431
/lifecycle frozen

[2022-11-15 18:36] A-Hilaly commented on #1419
/lifecycle frozen

[2022-11-15 20:22] A-Hilaly commented on #1413
Yes. If you are calling helm upgrade with a helm chart containing a lambda function, without modifying it. The upgrade will not trigger any reconciliation.
To trigger resource update you will to do one of the following:
- Upgrade the controller version (will restart a new controller hence trigger a reconciliation)
- Update your custom resource, either in the helm chart or directly using `kubectl e

[2022-11-15 20:53] A-Hilaly commented on #1431
Spent sometime brainstorming (mostly getting inspired from open source k/k style of labeling) what labels can be helpful fo r us to support.

**Service labels (issues and PRs)**
- `service/$AWS_SERVICE` (when an issue or PR is related to one service and/or one service controller)
- `service/none` (when an issue or PR a not related to any service specifically)
- `service/all` (when an issue is rela

[2022-11-15 22:42] karmingc commented on #1413
Yes, i'm suggesting that we are indeed updating the custom resource in the helm chart by modifying some fields of it, such as `description`, `timeout`, etc... But the upgrade is not triggering any reconciliation.

[2022-11-15 22:44] karmingc commented on #1413
For example, in the first upgrade
[code]

then in the second upgrade

[code]

But the lambda configuration still indicates a 5 seconds `timeout`.

[2022-11-16 01:07] csantanapr opened #1551 "Add link to ack website at the top of github org"
Please add the link to the [ack website](https://aws-controllers-k8s.github.io/community/) at the top of the [github org](https://github.com/aws-controllers-k8s)
![image](https://user-images.githubusercontent.com/1094878/202058241-1f23cc3a-4b79-4775-8a1d-283da090f272.png)

[2022-11-16 01:57] csantanapr opened #1552 "Adopted VPC resource missing conditions"
**Describe the bug**
Security Group doesn't reconcile because vpc referenced is never synced state

**Steps to reproduce**

Create a vpc using AdoptedResource
[code]

Create Security Group, using vpc name from above `vpc-eks-workshop`

[code]
The problem is that security group never syncs

[code]

The problem is that vpc status conditions is empty **conditions: []**
[code]

**Expected outcome**
Th

[2022-11-16 09:46] sudohikumar opened #1553 "NetworkFirewall operator doesn't support LoggingConfiguration construct"
**Is your feature request related to a problem?**
AWS::NetworkFirewall::LoggingConfiguration construct is not supported.
[Cloudformation ref](https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-resource-networkfirewall-loggingconfiguration.html)

As per my understanding, there is an [API](https://docs.aws.amazon.com/network-firewall/latest/APIReference/API_UpdateLoggingConfiguration

[2022-11-16 09:50] sudohikumar opened #1554 "Route53 Operator - HostedZone spec should have tags support in Spec"
**Is your feature request related to a problem?**
As per the [API](https://docs.aws.amazon.com/Route53/latest/APIReference/API_CreateHostedZone.html#API_CreateHostedZone_RequestBody), we don't have this support. But, there is an additional [API](https://docs.aws.amazon.com/Route53/latest/APIReference/API_ChangeTagsForResource.html) which does this.
Probably, we should have this as part of CreateHo

[2022-11-16 14:26] jaypipes opened #1555 "Change in code-generator v0.20.0 breaks operation overrides"
The [top part of kinesis-controller's `generator.yaml`](https://github.com/jaypipes/ack-kinesis-controller/blob/2dbf9a725282f612b5ca330c567927da362b480f/generator.yaml#L1-L9) file looks like this:

[code]

If I execute `make build-controller SERVICE=kinesis` with v0.20.0 of code-generator, I get a failure:

[code]

However, if I check out v0.19.3 of the code-generator, I get no errors:

[code]

So

[2022-11-16 14:33] jaypipes commented on #1555
Hmm, seems I was wrong... it looks like it's a non-deterministic failure. Just re-ran `make build-controller SERVICE=kinesis` again with `v0.19.3` after seeing there were no real changes between v0.19.3 and v0.20.0 that could have impacted code generation and get a failure:

[code]

I suspect something isn't sorting deterministically somewhere..

[2022-11-16 15:58] jaypipes commented on #1555
There are two bugs in the code generator's construction of the
OperationMap during API inference.

The first bug was a non-deterministic behaviour that showed itself when
an API had multiple Operations of a single operation type (say,
READ_ONE). The code that was responsible for determining which Operation
mapped to which operation type for a particular resource was looping
over the `aws-sdk-go` `

[2022-11-16 20:05] csantanapr commented on #1517
I'm able to create a broker in a specific vpc other than the default one. the requirement is that if you specify a security group from a vpc you also need to specify the subnet ids on that vpc.

Here is a yaml that I used to create a broker
[code]

/close

[2022-11-16 21:10] RedbackThomson commented on #1551
Added! Thanks

[2022-11-16 21:10] #1551 closed

[2022-11-16 22:17] ack-bot opened #1556 "Errors while generating olm bundle for `kinesis-controller-v0.0.1`"
### Errors while generating olm bundle for `kinesis-controller-v0.0.1`

#### stdout for `olm-create-bundle.sh kinesis v0.0.1`:
[code]

#### stderr for `olm-create-bundle.sh kinesis v0.0.1`:
[code]

#### Steps for closing this issue:
1. Checkout [`code-generator`](https://github.com/aws-controllers-k8s/code-generator) and [`kinesis-controller`](https://github.com/aws-controllers-k8s/kinesis-control

[2022-11-16 22:49] A-Hilaly commented on #1431
kubernetes org have a periodic prow job that calls [`label_sync` ](https://github.com/kubernetes/test-infra/tree/master/label_sync) to sync labels from a labels.yaml file. We can either adopt the same script or build something simpler (`label_sync` was built to sync labels a cross multiple organizations and repositories and support deprecation)

[2022-11-17 17:10] acornett21 commented on #1556
/assign

[2022-11-17 17:31] ack-bot opened #1558 "Missing `olmconfig.yaml` in `cloudtrail-controller`"
### Missing `olmconfig.yaml` in `cloudtrail-controller`

#### Steps for closing this issue:
1. Checkout [`cloudtrail-controller`](https://github.com/aws-controllers-k8s/cloudtrail-controller) repository
2. Add `olm/olmconfig.yaml` file in [`cloudtrail-controller`](https://github.com/aws-controllers-k8s/cloudtrail-controller) repository.
You can look at [`s3-controller`](https://github.com/aws-cont

[2022-11-17 19:39] p3nda opened #1559 "Add Network ACL support to the EC2 Controller"
**Is your feature request related to a problem?**
The EC2 ACK Controller does not have the Network ACL API resource.

API reference: https://docs.aws.amazon.com/AWSEC2/latest/APIReference/API_CreateNetworkAcl.html

**Describe the solution you'd like**
I would like to be able to create Network ACLs through the EC2 Controller. For example, I can create Security Groups through the EC2 controller - ht

[2022-11-17 19:43] p3nda opened #1560 "Add support for VPC Flow Logs to the EC2 operator"
**Is your feature request related to a problem?**
The EC2 ACK Controller does not have support for creating VPC Flow Logs.

API reference: https://docs.aws.amazon.com/AWSEC2/latest/APIReference/API_CreateFlowLogs.html

**Describe the solution you'd like**
I would like to be able to create VPC Flow Logs through the EC2 Controller. For example, I can create Security Groups through the EC2 controller

[2022-11-17 19:58] timam commented on #1550
Hey @A-Hilaly

I have created a helm chart with following yam.

[code]

Next i have created a argocd pipeline. To deploy this helm chart. I supply all the helm values from a seperate (deployment) git repo.

I was able to successfully create lambda with this approch. The problem is, when I update the value of artifact_tag in deployment git repo, argocd syncs it but the updated package doesn't get d

[2022-11-17 20:29] acornett21 commented on #1556
@A-Hilaly This error is happening because a operator-sdk expects a URL for this value https://github.com/aws-controllers-k8s/kinesis-controller/blob/main/olm/olmconfig.yaml#L34

I'll fully update the OLM file and raise a pr, but is this value created in a template somewhere when new repos are created?

[2022-11-17 22:11] A-Hilaly commented on #1556
Yesir! The value is coming from https://github.com/aws-controllers-k8s/controller-bootstrap/blob/main/templates/olm/olmconfig.yaml.tpl

[2022-11-17 22:12] #1556 closed

[2022-11-17 22:18] acornett21 commented on #1556
@A-Hilaly I'll update that template as well and link it to this issue .

[2022-11-18 17:36] A-Hilaly commented on #1356
/lifecycle frozen

[2022-11-18 19:15] jaypipes opened #1561 "DynamoDB flaky test for TTL"
Running the DynamoDB e2e test often produces a failure that looks like this:

[code]

The test needs to be fixed up to wrap the call to `dynamodb_client.describe_time_to_live()` in a try/except block and catch `dynamodb_client.exceptions.ResourceNotFoundException` which is returned by the DynamoDB API when the Table or Index is not in an ACTIVE state.

Another test is also flaky and produces the f

[2022-11-21 00:14] A-Hilaly commented on #1314
/reopen
/lifecycle frozen

[2022-11-22 01:23] csantanapr commented on #1517
@chakch I didn't read closely the first time.
I was able to create a ActiveMQ specifying subnet and security-group from a non default vpc and worked, but now I tried to create a RabbitMQ and I can't create it on a none-default vpc

@A-Hilaly here is a yaml with specifying subnet and security-group for rabbitmq
[code]

The broker will be created fine, you can see it in the console with the in Runni

[2022-11-22 03:29] elasticdotventures opened #1564 "ENI for AWS CNI"
**Is your feature request related to a problem?**

We are attempting to migrate portions of our infrastructure to EKS.    Specifically one requirement - IPSEC VPN.

Our application must communicate with external trading partners over a IPSEC VPN to a fixed address.
This requires we reserving an IPv4 Elastic IP, then mapping it to an ENI and then attaching that ENI to a container (inside K8s/EKS)

[2022-11-22 18:45] jljaco opened #1565 "Prow in test-infra: migrate to using a GitHub app"
**Is your feature request related to a problem?**
As of XXXX, Prow supports integration with a GitHub app for XXXXX.  See [here](https://github.com/kubernetes-sigs/prow/blob/main/site/content/en/docs/Legacy%20Snapshot/prow/getting_started_deploy.md) for more information.

Since this change, spinning up new Prow environments (e.g., for dev testing) using existing infrastructure deployment scripts i

[2022-11-22 20:56] jaypipes commented on #1431
@A-Hilaly I love this.

[2022-11-23 11:40] A-Hilaly commented on #1404
/lifecycle frozen

[2022-11-24 09:44] jrake-revelant commented on #249
It would be great to get support for CloudFront in ACK.

[2022-11-24 11:41] zalejus opened #1567 "DomainName and APIMapping for HTTP APIs"
**Describe the solution you'd like**

Could you add DomainName and APIMapping resources for HTTP APIs? It seems to me incomplete without these two elements. I tested it and all works fine for me, but it is useless without these two parts.

[2022-11-26 13:56] nicobass86 opened #1568 "timestream service controller"
## New ACK Service Controller

Support for Timestream

### List of API resources

List the API resources in order of importance to you:

1) CreateDatabase
1) DescribeDatabase
1) ListDatabases
1) DeleteDatabase
1) CreateTable
1) DescribeTable
1) ListTables
1) DeleteTable

[2022-11-27 18:16] A-Hilaly commented on #1411
/lifecycle frozen

[2022-11-27 18:19] A-Hilaly commented on #1446
ping @aws-controllers-k8s/elasticache-maintainer
/lifecycle frozen

[2022-11-27 18:20] A-Hilaly commented on #1403
/lifecycle frozen

[2022-11-27 18:27] A-Hilaly commented on #1567
Thank you for opening this ticket @zalejus. We'll put this in out bucket. These resources can be generated and we can quickly support at least the create/delete operations. Are you interested in contributing to the apigateway controller?

[2022-11-27 19:25] orubel commented on #1567
if you are creating domain/controller in gateway, its no longer a 'gateway'; it's now the app.

You'll now need to Remove load balancer then and abstract other components to a proxy. :)

[2022-11-27 23:53] A-Hilaly commented on #1375
/remove-lifecycle stale

[2022-11-29 14:12] faganihajizada commented on #1181
/remove-lifecycle stale

[2022-11-29 15:27] #1555 closed

[2022-11-29 21:47] LikithaVemulapalli commented on #1560
Hello @p3nda , thanks for opening this issue, we discussed offline regarding the approach, let me know if you need any further help with the implementation. Thanks once again :)

[2022-11-29 21:49] LikithaVemulapalli commented on #1559
Hello @p3nda, thanks for opening the issue, as we discussed offline regarding the approach, let me know if you need any further help with the implementation. Thank you :)

[2022-11-30 14:37] A-Hilaly commented on #1281
Giving more context on this issue:
`PrinterColumns` is a [CRD attribute](https://github.com/aws-controllers-k8s/prometheusservice-controller/blob/main/config/crd/bases/prometheusservice.services.k8s.aws_workspaces.yaml#L18-L21) that allows extending `kubectl get` table result. In ACK land our CRD yaml files are generated using [`controller-gen`](https://github.com/kubernetes-sigs/controller-tools/

[2022-11-30 17:05] blakeromano opened #1571 "Snapstart for ACK Lambda"
Lambda just came out with Snapstart to reduce cold start times on Java lambdas by 90%. I'd love to see a new attribute added to the Lambda CRD to be able to support that.